{:SiteSummaryResponse {:id "SiteSummaryResponse",
                       :description "Response message for GetSiteSummary.",
                       :type "object",
                       :properties {:reviewedSite {:description "The name of the reviewed site, e.g. `google.com`.",
                                                   :type "string"},
                                    :lastChangeTime {:description "The time at which the site's status last changed.",
                                                     :type "string",
                                                     :format "google-datetime"},
                                    :abusiveStatus {:description "The site's Abusive Experience Report status.",
                                                    :type "string",
                                                    :enumDescriptions ["Not reviewed."
                                                                       "Passing."
                                                                       "Failing."],
                                                    :enum ["UNKNOWN"
                                                           "PASSING"
                                                           "FAILING"]},
                                    :underReview {:description "Whether the site is currently under review.",
                                                  :type "boolean"},
                                    :enforcementTime {:description "The time at which [enforcement](https://support.google.com/webtools/answer/7538608) against the site began or will begin. Not set when the filter_status is OFF.",
                                                      :type "string",
                                                      :format "google-datetime"},
                                    :reportUrl {:description "A link to the full Abusive Experience Report for the site. Not set in ViolatingSitesResponse. Note that you must complete the [Search Console verification process](https://support.google.com/webmasters/answer/9008080) for the site before you can access the full report.",
                                                :type "string"},
                                    :filterStatus {:description "The site's [enforcement status](https://support.google.com/webtools/answer/7538608).",
                                                   :type "string",
                                                   :enumDescriptions ["N/A."
                                                                      "Enforcement is on."
                                                                      "Enforcement is off."
                                                                      "Enforcement is paused."
                                                                      "Enforcement is pending."],
                                                   :enum ["UNKNOWN"
                                                          "ON"
                                                          "OFF"
                                                          "PAUSED"
                                                          "PENDING"]}}},
 :ViolatingSitesResponse {:id "ViolatingSitesResponse",
                          :description "Response message for ListViolatingSites.",
                          :type "object",
                          :properties {:violatingSites {:description "The list of violating sites.",
                                                        :type "array",
                                                        :items {:$ref "SiteSummaryResponse"}}}}}
