{:AccessApprovalSettings {:description "Settings on a Project/Folder/Organization related to Access Approval.",
                          :type "object",
                          :properties {:name {:type "string",
                                              :description "The resource name of the settings. Format is one of:\n<ol>\n  <li>\"projects/{project_id}/accessApprovalSettings\"</li>\n  <li>\"folders/{folder_id}/accessApprovalSettings\"</li>\n  <li>\"organizations/{organization_id}/accessApprovalSettings\"</li>\n<ol>"},
                                       :enrolledAncestor {:description "Output only. This field is read only (not settable via\nUpdateAccessAccessApprovalSettings method). If the field is true, that\nindicates that at least one service is enrolled for Access Approval in one\nor more ancestors of the Project or Folder (this field will always be\nunset for the organization since organizations do not have ancestors).",
                                                          :type "boolean"},
                                       :enrolledServices {:description "A list of Google Cloud Services for which the given resource has Access\nApproval enrolled. Access requests for the resource given by name against\nany of these services contained here will be required to have explicit\napproval. If name refers to an organization, enrollment can be done for\nindividual services. If name refers to a folder or project, enrollment can\nonly be done on an all or nothing basis.\n\nIf a cloud_product is repeated in this list, the first entry will be\nhonored and all following entries will be discarded. A maximum of 10\nenrolled services will be enforced, to be expanded as the set of supported\nservices is expanded.",
                                                          :type "array",
                                                          :items {:$ref "EnrolledService"}},
                                       :notificationEmails {:description "A list of email addresses to which notifications relating to approval\nrequests should be sent. Notifications relating to a resource will be sent\nto all emails in the settings of ancestor resources of that resource. A\nmaximum of 50 email addresses are allowed.",
                                                            :type "array",
                                                            :items {:type "string"}}},
                          :id "AccessApprovalSettings"},
 :EnrolledService {:type "object",
                   :properties {:cloudProduct {:description "The product for which Access Approval will be enrolled. Allowed values are\nlisted below (case-sensitive):\n<ol>\n  <li>all</li>\n  <li>appengine.googleapis.com</li>\n  <li>bigquery.googleapis.com</li>\n  <li>bigtable.googleapis.com</li>\n  <li>cloudkms.googleapis.com</li>\n  <li>compute.googleapis.com</li>\n  <li>dataflow.googleapis.com</li>\n  <li>iam.googleapis.com</li>\n  <li>pubsub.googleapis.com</li>\n  <li>storage.googleapis.com</li>\n<ol>",
                                               :type "string"},
                                :enrollmentLevel {:description "The enrollment level of the service.",
                                                  :type "string",
                                                  :enumDescriptions ["Default value for proto, shouldn't be used."
                                                                     "Service is enrolled in Access Approval for all requests"],
                                                  :enum ["ENROLLMENT_LEVEL_UNSPECIFIED"
                                                         "BLOCK_ALL"]}},
                   :id "EnrolledService",
                   :description "Represents the enrollment of a cloud resource into a specific service."},
 :DismissApprovalRequestMessage {:type "object",
                                 :properties {},
                                 :id "DismissApprovalRequestMessage",
                                 :description "Request to dismiss an approval request."},
 :DismissDecision {:description "A decision that has been made to dismiss an approval request.",
                   :type "object",
                   :properties {:dismissTime {:description "The time at which the approval request was dismissed.",
                                              :format "google-datetime",
                                              :type "string"}},
                   :id "DismissDecision"},
 :AccessReason {:type "object",
                :properties {:type {:description "Type of access justification.",
                                    :type "string",
                                    :enumDescriptions ["Default value for proto, shouldn't be used."
                                                       "Customer made a request or raised an issue that required the principal to\naccess customer data. `detail` is of the form (\"#####\" is the issue ID):\n<ol>\n  <li>\"Feedback Report: #####\"</li>\n  <li>\"Case Number: #####\"</li>\n  <li>\"Case ID: #####\"</li>\n  <li>\"E-PIN Reference: #####\"</li>\n  <li>\"Google-#####\"</li>\n  <li>\"T-#####\"</li>\n</ol>"
                                                       "The principal accessed customer data in order to diagnose or resolve a\nsuspected issue in services or a known outage. Often this access is used\nto confirm that customers are not affected by a suspected service issue\nor to remediate a reversible system issue."
                                                       "Google initiated service for security, fraud, abuse, or compliance\npurposes."],
                                    :enum ["TYPE_UNSPECIFIED"
                                           "CUSTOMER_INITIATED_SUPPORT"
                                           "GOOGLE_INITIATED_SERVICE"
                                           "GOOGLE_INITIATED_REVIEW"]},
                             :detail {:description "More detail about certain reason types. See comments for each type above.",
                                      :type "string"}},
                :id "AccessReason"},
 :Empty {:description "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`.",
         :type "object",
         :properties {},
         :id "Empty"},
 :ListApprovalRequestsResponse {:description "Response to listing of ApprovalRequest objects.",
                                :type "object",
                                :properties {:approvalRequests {:description "Approval request details.",
                                                                :type "array",
                                                                :items {:$ref "ApprovalRequest"}},
                                             :nextPageToken {:description "Token to retrieve the next page of results, or empty if there are no more.",
                                                             :type "string"}},
                                :id "ListApprovalRequestsResponse"},
 :ApproveDecision {:description "A decision that has been made to approve access to a resource.",
                   :type "object",
                   :properties {:approveTime {:description "The time at which approval was granted.",
                                              :format "google-datetime",
                                              :type "string"},
                                :expireTime {:description "The time at which the approval expires.",
                                             :format "google-datetime",
                                             :type "string"}},
                   :id "ApproveDecision"},
 :AccessLocations {:description "Home office and physical location of the principal.",
                   :type "object",
                   :properties {:principalOfficeCountry {:description "The \"home office\" location of the principal. A two-letter country code\n(ISO 3166-1 alpha-2), such as \"US\", \"DE\" or \"GB\" or a region code. In some\nlimited situations Google systems may refer refer to a region code instead\nof a country code.\nPossible Region Codes:\n<ol>\n  <li>ASI: Asia</li>\n  <li>EUR: Europe</li>\n  <li>OCE: Oceania</li>\n  <li>AFR: Africa</li>\n  <li>NAM: North America</li>\n  <li>SAM: South America</li>\n  <li>ANT: Antarctica</li>\n  <li>ANY: Any location</li>\n</ol>",
                                                         :type "string"},
                                :principalPhysicalLocationCountry {:description "Physical location of the principal at the time of the access. A\ntwo-letter country code (ISO 3166-1 alpha-2), such as \"US\", \"DE\" or \"GB\" or\na region code. In some limited situations Google systems may refer refer to\na region code instead of a country code.\nPossible Region Codes:\n<ol>\n  <li>ASI: Asia</li>\n  <li>EUR: Europe</li>\n  <li>OCE: Oceania</li>\n  <li>AFR: Africa</li>\n  <li>NAM: North America</li>\n  <li>SAM: South America</li>\n  <li>ANT: Antarctica</li>\n  <li>ANY: Any location</li>\n</ol>",
                                                                   :type "string"}},
                   :id "AccessLocations"},
 :ResourceProperties {:description "The properties associated with the resource of the request.",
                      :type "object",
                      :properties {:excludesDescendants {:type "boolean",
                                                         :description "Whether an approval will exclude the descendants of the resource being\nrequested."}},
                      :id "ResourceProperties"},
 :ApprovalRequest {:description "A request for the customer to approve access to a resource.",
                   :type "object",
                   :properties {:approve {:$ref "ApproveDecision",
                                          :description "Access was approved."},
                                :name {:type "string",
                                       :description "The resource name of the request. Format is\n\"{projects|folders|organizations}/{id}/approvalRequests/{approval_request_id}\"."},
                                :requestedResourceName {:description "The resource for which approval is being requested. The format of the\nresource name is defined at\nhttps://cloud.google.com/apis/design/resource_names. The resource name here\nmay either be a \"full\" resource name (e.g.\n\"//library.googleapis.com/shelves/shelf1/books/book2\") or a \"relative\"\nresource name (e.g. \"shelves/shelf1/books/book2\") as described in the\nresource name specification.",
                                                        :type "string"},
                                :dismiss {:$ref "DismissDecision",
                                          :description "The request was dismissed."},
                                :requestedReason {:description "The justification for which approval is being requested.",
                                                  :$ref "AccessReason"},
                                :requestTime {:type "string",
                                              :description "The time at which approval was requested.",
                                              :format "google-datetime"},
                                :requestedExpiration {:description "The requested expiration for the approval. If the request is approved,\naccess will be granted from the time of approval until the expiration time.",
                                                      :format "google-datetime",
                                                      :type "string"},
                                :requestedResourceProperties {:$ref "ResourceProperties",
                                                              :description "Properties related to the resource represented by requested_resource_name."},
                                :requestedLocations {:description "The locations for which approval is being requested.",
                                                     :$ref "AccessLocations"}},
                   :id "ApprovalRequest"},
 :ApproveApprovalRequestMessage {:description "Request to approve an ApprovalRequest.",
                                 :type "object",
                                 :properties {:expireTime {:description "The expiration time of this approval.",
                                                           :format "google-datetime",
                                                           :type "string"}},
                                 :id "ApproveApprovalRequestMessage"}}
