{:PlatformSummary {:type "object",
                   :id "PlatformSummary",
                   :properties {:lastChangeTime {:type "string",
                                                 :description "The time at which the site's status last changed on this platform.",
                                                 :format "google-datetime"},
                                :enforcementTime {:format "google-datetime",
                                                  :description "The time at which [enforcement](https://support.google.com/webtools/answer/7308033) against the site began or will begin on this platform. Not set when the filter_status is OFF.",
                                                  :type "string"},
                                :filterStatus {:enumDescriptions ["N/A."
                                                                  "Ad filtering is on."
                                                                  "Ad filtering is off."
                                                                  "Ad filtering is paused."
                                                                  "Ad filtering is pending."],
                                               :description "The site's [enforcement status](https://support.google.com/webtools/answer/7308033) on this platform.",
                                               :type "string",
                                               :enum ["UNKNOWN"
                                                      "ON"
                                                      "OFF"
                                                      "PAUSED"
                                                      "PENDING"]},
                                :reportUrl {:type "string",
                                            :description "A link to the full Ad Experience Report for the site on this platform.. Not set in ViolatingSitesResponse. Note that you must complete the [Search Console verification process](https://support.google.com/webmasters/answer/9008080) for the site before you can access the full report."},
                                :region {:items {:enumDescriptions ["Ad standard not yet defined for your region."
                                                                    "Region A."
                                                                    "Region B."
                                                                    "Region C."],
                                                 :type "string",
                                                 :enum ["REGION_UNKNOWN"
                                                        "REGION_A"
                                                        "REGION_B"
                                                        "REGION_C"]},
                                         :type "array",
                                         :description "The site's regions on this platform. No longer populated, because there is no longer any semantic difference between sites in different regions."},
                                :betterAdsStatus {:description "The site's Ad Experience Report status on this platform.",
                                                  :type "string",
                                                  :enum ["UNKNOWN"
                                                         "PASSING"
                                                         "WARNING"
                                                         "FAILING"],
                                                  :enumDescriptions ["Not reviewed."
                                                                     "Passing."
                                                                     "Warning. No longer a possible status."
                                                                     "Failing."]},
                                :underReview {:type "boolean",
                                              :description "Whether the site is currently under review on this platform."}},
                   :description "A site's Ad Experience Report summary on a single platform."},
 :SiteSummaryResponse {:properties {:desktopSummary {:$ref "PlatformSummary",
                                                     :description "The site's Ad Experience Report summary on desktop."},
                                    :mobileSummary {:$ref "PlatformSummary",
                                                    :description "The site's Ad Experience Report summary on mobile."},
                                    :reviewedSite {:type "string",
                                                   :description "The name of the reviewed site, e.g. `google.com`."}},
                       :type "object",
                       :description "Response message for GetSiteSummary.",
                       :id "SiteSummaryResponse"},
 :ViolatingSitesResponse {:description "Response message for ListViolatingSites.",
                          :type "object",
                          :id "ViolatingSitesResponse",
                          :properties {:violatingSites {:description "The list of violating sites.",
                                                        :items {:$ref "SiteSummaryResponse"},
                                                        :type "array"}}}}
