{:UsageReport {:id "UsageReport",
               :properties {:kind {:type "string",
                                   :description "The type of API resource. For a usage report, the value is `admin#reports#usageReport`.",
                                   :default "admin#reports#usageReport"},
                            :parameters {:type "array",
                                         :description "Output only. Parameter value pairs for various applications. For the Entity Usage Report parameters and values, see [the Entity Usage parameters reference](/admin-sdk/reports/v1/reference/usage-ref-appendix-a/entities).",
                                         :readOnly true,
                                         :items {:type "object",
                                                 :properties {:msgValue {:items {:additionalProperties {:type "any",
                                                                                                        :description "Properties of the object."},
                                                                                 :type "object"},
                                                                         :description "Output only. Nested message value of the parameter.",
                                                                         :readOnly true,
                                                                         :type "array"},
                                                              :intValue {:type "string",
                                                                         :format "int64",
                                                                         :description "Output only. Integer value of the parameter.",
                                                                         :readOnly true},
                                                              :datetimeValue {:type "string",
                                                                              :description "The RFC 3339 formatted value of the parameter, for example 2010-10-28T10:26:35.000Z.",
                                                                              :readOnly true,
                                                                              :format "date-time"},
                                                              :stringValue {:description "Output only. String value of the parameter.",
                                                                            :readOnly true,
                                                                            :type "string"},
                                                              :boolValue {:type "boolean",
                                                                          :readOnly true,
                                                                          :description "Output only. Boolean value of the parameter."},
                                                              :name {:description "The name of the parameter. For the User Usage Report parameter names, see the User Usage parameters reference.",
                                                                     :type "string"}}}},
                            :date {:type "string",
                                   :readOnly true,
                                   :description "Output only. The date of the report request."},
                            :entity {:type "object",
                                     :properties {:type {:description "Output only. The type of item. The value is `user`.",
                                                         :type "string",
                                                         :readOnly true},
                                                  :profileId {:type "string",
                                                              :description "Output only. The user's immutable Google Workspace profile identifier.",
                                                              :readOnly true},
                                                  :entityId {:type "string",
                                                             :description "Output only. Object key. Only relevant if entity.type = \"OBJECT\" Note: external-facing name of report is \"Entities\" rather than \"Objects\".",
                                                             :readOnly true},
                                                  :userEmail {:description "Output only. The user's email address. Only relevant if entity.type = \"USER\"",
                                                              :readOnly true,
                                                              :type "string"},
                                                  :customerId {:type "string",
                                                               :readOnly true,
                                                               :description "Output only. The unique identifier of the customer's account."}},
                                     :readOnly true,
                                     :description "Output only. Information about the type of the item."},
                            :etag {:description "ETag of the resource.",
                                   :type "string"}},
               :type "object",
               :description "JSON template for a usage report."},
 :UsageReports {:id "UsageReports",
                :type "object",
                :properties {:nextPageToken {:type "string",
                                             :description "Token to specify next page. A report with multiple pages has a `nextPageToken` property in the response. For your follow-on requests getting all of the report's pages, enter the `nextPageToken` value in the `pageToken` query string."},
                             :kind {:default "admin#reports#usageReports",
                                    :description "The type of API resource. For a usage report, the value is `admin#reports#usageReports`.",
                                    :type "string"},
                             :etag {:description "ETag of the resource.",
                                    :type "string"},
                             :warnings {:items {:type "object",
                                                :properties {:message {:type "string",
                                                                       :description "The human readable messages for a warning are: - Data is not available warning - Sorry, data for date yyyy-mm-dd for application \"`application name`\" is not available. - Partial data is available warning - Data for date yyyy-mm-dd for application \"`application name`\" is not available right now, please try again after a few hours. "},
                                                             :data {:description "Key-value pairs to give detailed information on the warning.",
                                                                    :items {:properties {:value {:type "string",
                                                                                                 :description "Value associated with a key-value pair to give detailed information on the warning."},
                                                                                         :key {:type "string",
                                                                                               :description "Key associated with a key-value pair to give detailed information on the warning."}},
                                                                            :type "object"},
                                                                    :type "array"},
                                                             :code {:description "Machine readable code or warning type. The warning code value is `200`.",
                                                                    :type "string"}}},
                                        :description "Warnings, if any.",
                                        :type "array"},
                             :usageReports {:items {:$ref "UsageReport"},
                                            :description "Various application parameter records.",
                                            :type "array"}}},
 :Activity {:properties {:kind {:description "The type of API resource. For an activity report, the value is `audit#activity`.",
                                :type "string",
                                :default "admin#reports#activity"},
                         :etag {:type "string",
                                :description "ETag of the entry."},
                         :id {:type "object",
                              :description "Unique identifier for each activity record.",
                              :properties {:applicationName {:description "Application name to which the event belongs. For possible values see the list of applications above in `applicationName`.",
                                                             :type "string"},
                                           :customerId {:type "string",
                                                        :description "The unique identifier for a Google Workspace account."},
                                           :time {:type "string",
                                                  :format "date-time",
                                                  :description "Time of occurrence of the activity. This is in UNIX epoch time in seconds."},
                                           :uniqueQualifier {:type "string",
                                                             :description "Unique qualifier if multiple events have the same time.",
                                                             :format "int64"}}},
                         :ipAddress {:description "IP address of the user doing the action. This is the Internet Protocol (IP) address of the user when logging into Google Workspace, which may or may not reflect the user's physical location. For example, the IP address can be the user's proxy server's address or a virtual private network (VPN) address. The API supports IPv4 and IPv6.",
                                     :type "string"},
                         :events {:type "array",
                                  :description "Activity events in the report.",
                                  :items {:properties {:name {:description "Name of the event. This is the specific name of the activity reported by the API. And each `eventName` is related to a specific Google Workspace service or feature which the API organizes into types of events. For `eventName` request parameters in general: - If no `eventName` is given, the report returns all possible instances of an `eventName`. - When you request an `eventName`, the API's response returns all activities which contain that `eventName`. It is possible that the returned activities will have other `eventName` properties in addition to the one requested. For more information about `eventName` properties, see the list of event names for various applications above in `applicationName`.",
                                                              :type "string"},
                                                       :parameters {:description "Parameter value pairs for various applications. For more information about `eventName` parameters, see the list of event names for various applications above in `applicationName`.",
                                                                    :type "array",
                                                                    :items {:type "object",
                                                                            :properties {:multiMessageValue {:description "List of `messageValue` objects.",
                                                                                                             :items {:properties {:parameter {:items {:$ref "NestedParameter"},
                                                                                                                                              :description "Parameter values",
                                                                                                                                              :type "array"}},
                                                                                                                     :type "object"},
                                                                                                             :type "array"},
                                                                                         :intValue {:type "string",
                                                                                                    :format "int64",
                                                                                                    :description "Integer value of the parameter."},
                                                                                         :value {:description "String value of the parameter.",
                                                                                                 :type "string"},
                                                                                         :boolValue {:description "Boolean value of the parameter.",
                                                                                                     :type "boolean"},
                                                                                         :multiIntValue {:description "Integer values of the parameter.",
                                                                                                         :type "array",
                                                                                                         :items {:type "string",
                                                                                                                 :format "int64"}},
                                                                                         :multiValue {:description "String values of the parameter.",
                                                                                                      :type "array",
                                                                                                      :items {:type "string"}},
                                                                                         :messageValue {:properties {:parameter {:items {:$ref "NestedParameter"},
                                                                                                                                 :description "Parameter values",
                                                                                                                                 :type "array"}},
                                                                                                        :type "object",
                                                                                                        :description "Nested parameter value pairs associated with this parameter. Complex value type for a parameter are returned as a list of parameter values. For example, the address parameter may have a value as `[{parameter: [{name: city, value: abc}]}]`"},
                                                                                         :name {:type "string",
                                                                                                :description "The name of the parameter."}}}},
                                                       :type {:type "string",
                                                              :description "Type of event. The Google Workspace service or feature that an administrator changes is identified in the `type` property which identifies an event using the `eventName` property. For a full list of the API's `type` categories, see the list of event names for various applications above in `applicationName`."}},
                                          :type "object"}},
                         :ownerDomain {:description "This is the domain that is affected by the report's event. For example domain of Admin console or the Drive application's document owner.",
                                       :type "string"},
                         :actor {:properties {:key {:description "Only present when `callerType` is `KEY`. Can be the `consumer_key` of the requestor for OAuth 2LO API requests or an identifier for robot accounts.",
                                                    :type "string"},
                                              :callerType {:description "The type of actor.",
                                                           :type "string"},
                                              :email {:description "The primary email address of the actor. May be absent if there is no email address associated with the actor.",
                                                      :type "string"},
                                              :profileId {:type "string",
                                                          :description "The unique Google Workspace profile ID of the actor. May be absent if the actor is not a Google Workspace user."}},
                                 :description "User doing the action.",
                                 :type "object"}},
            :description "JSON template for the activity resource.",
            :id "Activity",
            :type "object"},
 :NestedParameter {:properties {:multiIntValue {:description "Multiple integer values of the parameter.",
                                                :items {:format "int64",
                                                        :type "string"},
                                                :type "array"},
                                :intValue {:type "string",
                                           :description "Integer value of the parameter.",
                                           :format "int64"},
                                :name {:description "The name of the parameter.",
                                       :type "string"},
                                :value {:type "string",
                                        :description "String value of the parameter."},
                                :boolValue {:description "Boolean value of the parameter.",
                                            :type "boolean"},
                                :multiBoolValue {:description "Multiple boolean values of the parameter.",
                                                 :items {:type "boolean"},
                                                 :type "array"},
                                :multiValue {:description "Multiple string values of the parameter.",
                                             :items {:type "string"},
                                             :type "array"}},
                   :description "JSON template for a parameter used in various reports.",
                   :id "NestedParameter",
                   :type "object"},
 :Activities {:type "object",
              :properties {:nextPageToken {:description "Token for retrieving the follow-on next page of the report. The `nextPageToken` value is used in the request's `pageToken` query string.",
                                           :type "string"},
                           :items {:items {:$ref "Activity"},
                                   :type "array",
                                   :description "Each activity record in the response."},
                           :etag {:description "ETag of the resource.",
                                  :type "string"},
                           :kind {:default "admin#reports#activities",
                                  :description "The type of API resource. For an activity report, the value is `reports#activities`.",
                                  :type "string"}},
              :id "Activities",
              :description "JSON template for a collection of activities."},
 :Channel {:properties {:address {:type "string",
                                  :description "The address where notifications are delivered for this channel."},
                        :resourceUri {:type "string",
                                      :description "A version-specific identifier for the watched resource."},
                        :payload {:description "A Boolean value to indicate whether payload is wanted. Optional.",
                                  :type "boolean"},
                        :expiration {:description "Date and time of notification channel expiration, expressed as a Unix timestamp, in milliseconds. Optional.",
                                     :format "int64",
                                     :type "string"},
                        :params {:description "Additional parameters controlling delivery channel behavior. Optional.",
                                 :type "object",
                                 :additionalProperties {:type "string"}},
                        :type {:description "The type of delivery mechanism used for this channel. The value should be set to `\"web_hook\"`.",
                               :type "string"},
                        :resourceId {:description "An opaque ID that identifies the resource being watched on this channel. Stable across different API versions.",
                                     :type "string"},
                        :token {:description "An arbitrary string delivered to the target address with each notification delivered over this channel. Optional.",
                                :type "string"},
                        :id {:description "A UUID or similar unique string that identifies this channel.",
                             :type "string"},
                        :kind {:default "api#channel",
                               :description "Identifies this as a notification channel used to watch for changes to a resource, which is \"`api#channel`\".",
                               :type "string"}},
           :type "object",
           :description "A notification channel used to watch for resource changes.",
           :id "Channel"}}
