{:UsageReport {:description "JSON template for a usage report.",
               :properties {:date {:type "string",
                                   :readOnly true,
                                   :description "Output only. The date of the report request."},
                            :kind {:type "string",
                                   :default "admin#reports#usageReport",
                                   :description "The type of API resource. For a usage report, the value is `admin#reports#usageReport`."},
                            :entity {:properties {:type {:readOnly true,
                                                         :type "string",
                                                         :description "Output only. The type of item. The value is `user`."},
                                                  :profileId {:readOnly true,
                                                              :description "Output only. The user's immutable Google Workspace profile identifier.",
                                                              :type "string"},
                                                  :customerId {:readOnly true,
                                                               :description "Output only. The unique identifier of the customer's account.",
                                                               :type "string"},
                                                  :userEmail {:description "Output only. The user's email address. Only relevant if entity.type = \"USER\"",
                                                              :readOnly true,
                                                              :type "string"},
                                                  :entityId {:readOnly true,
                                                             :description "Output only. Object key. Only relevant if entity.type = \"OBJECT\" Note: external-facing name of report is \"Entities\" rather than \"Objects\".",
                                                             :type "string"}},
                                     :readOnly true,
                                     :description "Output only. Information about the type of the item.",
                                     :type "object"},
                            :parameters {:type "array",
                                         :readOnly true,
                                         :description "Output only. Parameter value pairs for various applications. For the Entity Usage Report parameters and values, see [the Entity Usage parameters reference](/admin-sdk/reports/v1/reference/usage-ref-appendix-a/entities).",
                                         :items {:type "object",
                                                 :properties {:stringValue {:description "Output only. String value of the parameter.",
                                                                            :type "string",
                                                                            :readOnly true},
                                                              :name {:description "The name of the parameter. For the User Usage Report parameter names, see the User Usage parameters reference.",
                                                                     :type "string"},
                                                              :datetimeValue {:description "The RFC 3339 formatted value of the parameter, for example 2010-10-28T10:26:35.000Z.",
                                                                              :format "date-time",
                                                                              :type "string",
                                                                              :readOnly true},
                                                              :intValue {:readOnly true,
                                                                         :type "string",
                                                                         :description "Output only. Integer value of the parameter.",
                                                                         :format "int64"},
                                                              :msgValue {:readOnly true,
                                                                         :type "array",
                                                                         :description "Output only. Nested message value of the parameter.",
                                                                         :items {:type "object",
                                                                                 :additionalProperties {:type "any",
                                                                                                        :description "Properties of the object."}}},
                                                              :boolValue {:readOnly true,
                                                                          :type "boolean",
                                                                          :description "Output only. Boolean value of the parameter."}}}},
                            :etag {:type "string",
                                   :description "ETag of the resource."}},
               :type "object",
               :id "UsageReport"},
 :NestedParameter {:type "object",
                   :description "JSON template for a parameter used in various reports.",
                   :id "NestedParameter",
                   :properties {:multiIntValue {:description "Multiple integer values of the parameter.",
                                                :type "array",
                                                :items {:format "int64",
                                                        :type "string"}},
                                :name {:description "The name of the parameter.",
                                       :type "string"},
                                :multiValue {:items {:type "string"},
                                             :type "array",
                                             :description "Multiple string values of the parameter."},
                                :intValue {:type "string",
                                           :description "Integer value of the parameter.",
                                           :format "int64"},
                                :value {:type "string",
                                        :description "String value of the parameter."},
                                :multiBoolValue {:items {:type "boolean"},
                                                 :description "Multiple boolean values of the parameter.",
                                                 :type "array"},
                                :boolValue {:type "boolean",
                                            :description "Boolean value of the parameter."}}},
 :Activities {:description "JSON template for a collection of activities.",
              :type "object",
              :properties {:kind {:default "admin#reports#activities",
                                  :type "string",
                                  :description "The type of API resource. For an activity report, the value is `reports#activities`."},
                           :nextPageToken {:type "string",
                                           :description "Token for retrieving the follow-on next page of the report. The `nextPageToken` value is used in the request's `pageToken` query string."},
                           :items {:description "Each activity record in the response.",
                                   :items {:$ref "Activity"},
                                   :type "array"},
                           :etag {:type "string",
                                  :description "ETag of the resource."}},
              :id "Activities"},
 :Activity {:properties {:events {:type "array",
                                  :items {:properties {:type {:description "Type of event. The Google Workspace service or feature that an administrator changes is identified in the `type` property which identifies an event using the `eventName` property. For a full list of the API's `type` categories, see the list of event names for various applications above in `applicationName`.",
                                                              :type "string"},
                                                       :name {:type "string",
                                                              :description "Name of the event. This is the specific name of the activity reported by the API. And each `eventName` is related to a specific Google Workspace service or feature which the API organizes into types of events. For `eventName` request parameters in general: - If no `eventName` is given, the report returns all possible instances of an `eventName`. - When you request an `eventName`, the API's response returns all activities which contain that `eventName`. It is possible that the returned activities will have other `eventName` properties in addition to the one requested. For more information about `eventName` properties, see the list of event names for various applications above in `applicationName`."},
                                                       :parameters {:items {:type "object",
                                                                            :properties {:multiIntValue {:items {:format "int64",
                                                                                                                 :type "string"},
                                                                                                         :type "array",
                                                                                                         :description "Integer values of the parameter."},
                                                                                         :boolValue {:description "Boolean value of the parameter.",
                                                                                                     :type "boolean"},
                                                                                         :multiMessageValue {:items {:type "object",
                                                                                                                     :properties {:parameter {:description "Parameter values",
                                                                                                                                              :type "array",
                                                                                                                                              :items {:$ref "NestedParameter"}}}},
                                                                                                             :description "List of `messageValue` objects.",
                                                                                                             :type "array"},
                                                                                         :multiValue {:type "array",
                                                                                                      :description "String values of the parameter.",
                                                                                                      :items {:type "string"}},
                                                                                         :messageValue {:type "object",
                                                                                                        :description "Nested parameter value pairs associated with this parameter. Complex value type for a parameter are returned as a list of parameter values. For example, the address parameter may have a value as `[{parameter: [{name: city, value: abc}]}]`",
                                                                                                        :properties {:parameter {:description "Parameter values",
                                                                                                                                 :items {:$ref "NestedParameter"},
                                                                                                                                 :type "array"}}},
                                                                                         :name {:description "The name of the parameter.",
                                                                                                :type "string"},
                                                                                         :value {:type "string",
                                                                                                 :description "String value of the parameter."},
                                                                                         :intValue {:description "Integer value of the parameter.",
                                                                                                    :type "string",
                                                                                                    :format "int64"}}},
                                                                    :description "Parameter value pairs for various applications. For more information about `eventName` parameters, see the list of event names for various applications above in `applicationName`.",
                                                                    :type "array"}},
                                          :type "object"},
                                  :description "Activity events in the report."},
                         :actor {:type "object",
                                 :properties {:key {:type "string",
                                                    :description "Only present when `callerType` is `KEY`. Can be the `consumer_key` of the requestor for OAuth 2LO API requests or an identifier for robot accounts."},
                                              :profileId {:type "string",
                                                          :description "The unique Google Workspace profile ID of the actor. May be absent if the actor is not a Google Workspace user."},
                                              :email {:type "string",
                                                      :description "The primary email address of the actor. May be absent if there is no email address associated with the actor."},
                                              :callerType {:type "string",
                                                           :description "The type of actor."}},
                                 :description "User doing the action."},
                         :ownerDomain {:type "string",
                                       :description "This is the domain that is affected by the report's event. For example domain of Admin console or the Drive application's document owner."},
                         :etag {:description "ETag of the entry.",
                                :type "string"},
                         :kind {:type "string",
                                :default "admin#reports#activity",
                                :description "The type of API resource. For an activity report, the value is `audit#activity`."},
                         :ipAddress {:type "string",
                                     :description "IP address of the user doing the action. This is the Internet Protocol (IP) address of the user when logging into Google Workspace, which may or may not reflect the user's physical location. For example, the IP address can be the user's proxy server's address or a virtual private network (VPN) address. The API supports IPv4 and IPv6."},
                         :id {:properties {:time {:type "string",
                                                  :description "Time of occurrence of the activity. This is in UNIX epoch time in seconds.",
                                                  :format "date-time"},
                                           :applicationName {:description "Application name to which the event belongs. For possible values see the list of applications above in `applicationName`.",
                                                             :type "string"},
                                           :customerId {:type "string",
                                                        :description "The unique identifier for a Google Workspace account."},
                                           :uniqueQualifier {:type "string",
                                                             :format "int64",
                                                             :description "Unique qualifier if multiple events have the same time."}},
                              :type "object",
                              :description "Unique identifier for each activity record."}},
            :id "Activity",
            :type "object",
            :description "JSON template for the activity resource."},
 :UsageReports {:id "UsageReports",
                :properties {:kind {:description "The type of API resource. For a usage report, the value is `admin#reports#usageReports`.",
                                    :default "admin#reports#usageReports",
                                    :type "string"},
                             :usageReports {:type "array",
                                            :items {:$ref "UsageReport"},
                                            :description "Various application parameter records."},
                             :nextPageToken {:description "Token to specify next page. A report with multiple pages has a `nextPageToken` property in the response. For your follow-on requests getting all of the report's pages, enter the `nextPageToken` value in the `pageToken` query string.",
                                             :type "string"},
                             :etag {:description "ETag of the resource.",
                                    :type "string"},
                             :warnings {:type "array",
                                        :description "Warnings, if any.",
                                        :items {:properties {:data {:type "array",
                                                                    :description "Key-value pairs to give detailed information on the warning.",
                                                                    :items {:properties {:key {:description "Key associated with a key-value pair to give detailed information on the warning.",
                                                                                               :type "string"},
                                                                                         :value {:description "Value associated with a key-value pair to give detailed information on the warning.",
                                                                                                 :type "string"}},
                                                                            :type "object"}},
                                                             :message {:type "string",
                                                                       :description "The human readable messages for a warning are: - Data is not available warning - Sorry, data for date yyyy-mm-dd for application \"`application name`\" is not available. - Partial data is available warning - Data for date yyyy-mm-dd for application \"`application name`\" is not available right now, please try again after a few hours. "},
                                                             :code {:description "Machine readable code or warning type. The warning code value is `200`.",
                                                                    :type "string"}},
                                                :type "object"}}},
                :type "object"},
 :Channel {:description "A notification channel used to watch for resource changes.",
           :id "Channel",
           :properties {:address {:description "The address where notifications are delivered for this channel.",
                                  :type "string"},
                        :resourceUri {:description "A version-specific identifier for the watched resource.",
                                      :type "string"},
                        :payload {:description "A Boolean value to indicate whether payload is wanted. Optional.",
                                  :type "boolean"},
                        :expiration {:description "Date and time of notification channel expiration, expressed as a Unix timestamp, in milliseconds. Optional.",
                                     :format "int64",
                                     :type "string"},
                        :params {:type "object",
                                 :additionalProperties {:type "string"},
                                 :description "Additional parameters controlling delivery channel behavior. Optional."},
                        :type {:type "string",
                               :description "The type of delivery mechanism used for this channel. The value should be set to `\"web_hook\"`."},
                        :resourceId {:description "An opaque ID that identifies the resource being watched on this channel. Stable across different API versions.",
                                     :type "string"},
                        :token {:description "An arbitrary string delivered to the target address with each notification delivered over this channel. Optional.",
                                :type "string"},
                        :id {:type "string",
                             :description "A UUID or similar unique string that identifies this channel."},
                        :kind {:description "Identifies this as a notification channel used to watch for changes to a resource, which is \"`api#channel`\".",
                               :type "string",
                               :default "api#channel"}},
           :type "object"}}
