{:Activity {:type "object",
            :properties {:events {:items {:type "object",
                                          :properties {:name {:type "string",
                                                              :description "Name of the event. This is the specific name of the activity reported by the API. And each eventName is related to a specific G Suite service or feature which the API organizes into types of events. For eventName request parameters in general: - If no eventName is given, the report returns all possible instances of an eventName. - When you request an eventName, the API's response returns all activities which contain that eventName. It is possible that the returned activities will have other eventName properties in addition to the one requested. For more information about eventName properties, see the list of event names for various applications above in applicationName."},
                                                       :type {:type "string",
                                                              :description "Type of event. The G Suite service or feature that an administrator changes is identified in the type property which identifies an event using the eventName property. For a full list of the API's type categories, see the list of event names for various applications above in applicationName."},
                                                       :parameters {:items {:type "object",
                                                                            :properties {:name {:description "The name of the parameter.",
                                                                                                :type "string"},
                                                                                         :multiIntValue {:type "array",
                                                                                                         :description "Integer values of the parameter.",
                                                                                                         :items {:format "int64",
                                                                                                                 :type "string"}},
                                                                                         :boolValue {:description "Boolean value of the parameter.",
                                                                                                     :type "boolean"},
                                                                                         :multiMessageValue {:type "array",
                                                                                                             :items {:type "object",
                                                                                                                     :properties {:parameter {:items {:$ref "NestedParameter"},
                                                                                                                                              :description "Parameter values",
                                                                                                                                              :type "array"}}},
                                                                                                             :description "List of messageValue objects."},
                                                                                         :multiValue {:type "array",
                                                                                                      :items {:type "string"},
                                                                                                      :description "String values of the parameter."},
                                                                                         :intValue {:type "string",
                                                                                                    :description "Integer value of the parameter.",
                                                                                                    :format "int64"},
                                                                                         :value {:type "string",
                                                                                                 :description "String value of the parameter."},
                                                                                         :messageValue {:type "object",
                                                                                                        :properties {:parameter {:items {:$ref "NestedParameter"},
                                                                                                                                 :description "Parameter values",
                                                                                                                                 :type "array"}},
                                                                                                        :description "Nested parameter value pairs associated with this parameter. Complex value type for a parameter are returned as a list of parameter values. For example, the address parameter may have a value as [{parameter: [{name: city, value: abc}]}]"}}},
                                                                    :description "Parameter value pairs for various applications. For more information about eventName parameters, see the list of event names for various applications above in applicationName.",
                                                                    :type "array"}}},
                                  :type "array",
                                  :description "Activity events in the report."},
                         :ipAddress {:type "string",
                                     :description "IP address of the user doing the action. This is the Internet Protocol (IP) address of the user when logging into G Suite which may or may not reflect the user's physical location. For example, the IP address can be the user's proxy server's address or a virtual private network (VPN) address. The API supports IPv4 and IPv6."},
                         :ownerDomain {:description "This is the domain that is affected by the report's event. For example domain of Admin console or the Drive application's document owner.",
                                       :type "string"},
                         :etag {:description "ETag of the entry.",
                                :type "string"},
                         :id {:properties {:time {:description "Time of occurrence of the activity. This is in UNIX epoch time in seconds.",
                                                  :type "string",
                                                  :format "date-time"},
                                           :customerId {:description "The unique identifier for a G suite account.",
                                                        :type "string"},
                                           :uniqueQualifier {:type "string",
                                                             :description "Unique qualifier if multiple events have the same time.",
                                                             :format "int64"},
                                           :applicationName {:description "Application name to which the event belongs. For possible values see the list of applications above in applicationName.",
                                                             :type "string"}},
                              :type "object",
                              :description "Unique identifier for each activity record."},
                         :kind {:description "The type of API resource. For an activity report, the value is audit#activity.",
                                :default "admin#reports#activity",
                                :type "string"},
                         :actor {:description "User doing the action.",
                                 :properties {:email {:description "The primary email address of the actor. May be absent if there is no email address associated with the actor.",
                                                      :type "string"},
                                              :profileId {:description "The unique G Suite profile ID of the actor. May be absent if the actor is not a G Suite user.",
                                                          :type "string"},
                                              :callerType {:type "string",
                                                           :description "The type of actor."},
                                              :key {:type "string",
                                                    :description "Only present when callerType is KEY. Can be the consumer_key of the requestor for OAuth 2LO API requests or an identifier for robot accounts."}},
                                 :type "object"}},
            :id "Activity",
            :description "JSON template for the activity resource."},
 :Activities {:properties {:items {:description "Each activity record in the response.",
                                   :type "array",
                                   :items {:$ref "Activity"}},
                           :nextPageToken {:description "Token for retrieving the follow-on next page of the report. The nextPageToken value is used in the request's pageToken query string.",
                                           :type "string"},
                           :etag {:description "ETag of the resource.",
                                  :type "string"},
                           :kind {:type "string",
                                  :description "The type of API resource. For an activity report, the value is reports#activities.",
                                  :default "admin#reports#activities"}},
              :description "JSON template for a collection of activities.",
              :id "Activities",
              :type "object"},
 :UsageReport {:id "UsageReport",
               :properties {:parameters {:type "array",
                                         :readOnly true,
                                         :items {:type "object",
                                                 :properties {:intValue {:type "string",
                                                                         :format "int64",
                                                                         :description "Output only. Integer value of the parameter.",
                                                                         :readOnly true},
                                                              :name {:type "string",
                                                                     :description "Name of the parameter."},
                                                              :stringValue {:readOnly true,
                                                                            :type "string",
                                                                            :description "Output only. String value of the parameter."},
                                                              :datetimeValue {:description "The RFC 3339 formatted value of the parameter, for example 2010-10-28T10:26:35.000Z.",
                                                                              :readOnly true,
                                                                              :format "date-time",
                                                                              :type "string"},
                                                              :boolValue {:description "Output only. Boolean value of the parameter.",
                                                                          :type "boolean",
                                                                          :readOnly true},
                                                              :msgValue {:description "Output only. Nested message value of the parameter.",
                                                                         :readOnly true,
                                                                         :type "array",
                                                                         :items {:type "object",
                                                                                 :additionalProperties {:description "Properties of the object.",
                                                                                                        :type "any"}}}}},
                                         :description "Output only. Parameter value pairs for various applications. For the Customers usage report parameters and values, see the customer usage parameters reference."},
                            :entity {:properties {:userEmail {:description "Output only. The user's email address. Only relevant if entity.type = \"USER\"",
                                                              :readOnly true,
                                                              :type "string"},
                                                  :customerId {:readOnly true,
                                                               :type "string",
                                                               :description "Output only. The unique identifier of the customer's account."},
                                                  :profileId {:readOnly true,
                                                              :type "string",
                                                              :description "Output only. The user's immutable G Suite profile identifier."},
                                                  :entityId {:readOnly true,
                                                             :type "string",
                                                             :description "Output only. Object key. Only relevant if entity.type = \"OBJECT\" Note: external-facing name of report is \"Entities\" rather than \"Objects\"."},
                                                  :type {:description "Output only. The type of item. The value is customer.",
                                                         :type "string",
                                                         :readOnly true}},
                                     :description "Output only. Information about the type of the item.",
                                     :type "object",
                                     :readOnly true},
                            :date {:readOnly true,
                                   :type "string",
                                   :description "Output only. The date of the report request."},
                            :kind {:default "admin#reports#usageReport",
                                   :type "string",
                                   :description "The type of API resource. For a usage report, the value is admin#reports#usageReport."},
                            :etag {:description "ETag of the resource.",
                                   :type "string"}},
               :type "object",
               :description "JSON template for a usage report."},
 :Channel {:description "A notification channel used to watch for resource changes.",
           :properties {:address {:type "string",
                                  :description "The address where notifications are delivered for this channel."},
                        :resourceUri {:type "string",
                                      :description "A version-specific identifier for the watched resource."},
                        :payload {:type "boolean",
                                  :description "A Boolean value to indicate whether payload is wanted. Optional."},
                        :expiration {:type "string",
                                     :description "Date and time of notification channel expiration, expressed as a Unix timestamp, in milliseconds. Optional.",
                                     :format "int64"},
                        :params {:additionalProperties {:type "string"},
                                 :description "Additional parameters controlling delivery channel behavior. Optional.",
                                 :type "object"},
                        :type {:description "The type of delivery mechanism used for this channel.",
                               :type "string"},
                        :resourceId {:description "An opaque ID that identifies the resource being watched on this channel. Stable across different API versions.",
                                     :type "string"},
                        :token {:description "An arbitrary string delivered to the target address with each notification delivered over this channel. Optional.",
                                :type "string"},
                        :id {:description "A UUID or similar unique string that identifies this channel.",
                             :type "string"},
                        :kind {:type "string",
                               :default "api#channel",
                               :description "Identifies this as a notification channel used to watch for changes to a resource, which is \"api#channel\"."}},
           :type "object",
           :id "Channel"},
 :NestedParameter {:id "NestedParameter",
                   :description "JSON template for a parameter used in various reports.",
                   :properties {:boolValue {:type "boolean",
                                            :description "Boolean value of the parameter."},
                                :multiBoolValue {:type "array",
                                                 :description "Multiple boolean values of the parameter.",
                                                 :items {:type "boolean"}},
                                :multiIntValue {:items {:type "string",
                                                        :format "int64"},
                                                :description "Multiple integer values of the parameter.",
                                                :type "array"},
                                :intValue {:description "Integer value of the parameter.",
                                           :type "string",
                                           :format "int64"},
                                :multiValue {:items {:type "string"},
                                             :type "array",
                                             :description "Multiple string values of the parameter."},
                                :value {:type "string",
                                        :description "String value of the parameter."},
                                :name {:type "string",
                                       :description "The name of the parameter."}},
                   :type "object"},
 :UsageReports {:id "UsageReports",
                :type "object",
                :properties {:warnings {:description "Warnings, if any.",
                                        :type "array",
                                        :items {:type "object",
                                                :properties {:data {:type "array",
                                                                    :description "Key-value pairs to give detailed information on the warning.",
                                                                    :items {:type "object",
                                                                            :properties {:value {:description "Value associated with a key-value pair to give detailed information on the warning.",
                                                                                                 :type "string"},
                                                                                         :key {:type "string",
                                                                                               :description "Key associated with a key-value pair to give detailed information on the warning."}}}},
                                                             :code {:description "Machine readable code or warning type. The warning code value is 200.",
                                                                    :type "string"},
                                                             :message {:description "The human readable messages for a warning are: - Data is not available warning - Sorry, data for date yyyy-mm-dd for application \"application name\" is not available. - Partial data is available warning - Data for date yyyy-mm-dd for application \"application name\" is not available right now, please try again after a few hours. ",
                                                                       :type "string"}}}},
                             :etag {:description "ETag of the resource.",
                                    :type "string"},
                             :kind {:type "string",
                                    :default "admin#reports#usageReports",
                                    :description "The type of API resource. For a usage report, the value is admin#reports#usageReports."},
                             :usageReports {:type "array",
                                            :description "Various application parameter records.",
                                            :items {:$ref "UsageReport"}},
                             :nextPageToken {:type "string",
                                             :description "Token to specify next page. A report with multiple pages has a nextPageToken property in the response. For your follow-on requests getting all of the report's pages, enter the nextPageToken value in the pageToken query string."}}}}
