{:AssociationSession {:type "object",
                      :properties {:websiteUrl {:type "string",
                                                :description "The URL of the user's hosted website."},
                                   :status {:description "Status of the completed association, available once the association callback token has been verified. One of ACCEPTED, REJECTED, or ERROR.",
                                            :type "string"},
                                   :productCodes {:description "The products to associate with the user. Options: AFC, AFG, AFV, AFS (deprecated), AFMC (deprecated)",
                                                  :type "array",
                                                  :items {:type "string"}},
                                   :id {:description "Unique identifier of this association session.",
                                        :type "string"},
                                   :kind {:description "Kind of resource this is, in this case adsensehost#associationSession.",
                                          :type "string",
                                          :default "adsensehost#associationSession"},
                                   :redirectUrl {:description "Redirect URL of this association session. Used to redirect users into the AdSense association flow.",
                                                 :type "string"},
                                   :accountId {:description "Hosted account id of the associated publisher after association. Present if status is ACCEPTED.",
                                               :type "string"},
                                   :websiteLocale {:type "string",
                                                   :description "The locale of the user's hosted website."},
                                   :userLocale {:type "string",
                                                :description "The preferred locale of the user themselves when going through the AdSense association flow."}},
                      :id "AssociationSession"},
 :UrlChannels {:type "object",
               :properties {:nextPageToken {:description "Continuation token used to page through URL channels. To retrieve the next page of results, set the next request's \"pageToken\" value to this.",
                                            :type "string"},
                            :kind {:description "Kind of list this is, in this case adsensehost#urlChannels.",
                                   :type "string",
                                   :default "adsensehost#urlChannels"},
                            :items {:description "The URL channels returned in this list response.",
                                    :type "array",
                                    :items {:$ref "UrlChannel"}},
                            :etag {:description "ETag of this response for caching purposes.",
                                   :type "string"}},
               :id "UrlChannels"},
 :UrlChannel {:type "object",
              :properties {:id {:description "Unique identifier of this URL channel. This should be considered an opaque identifier; it is not safe to rely on it being in any particular format.",
                                :type "string"},
                           :urlPattern {:description "URL Pattern of this URL channel. Does not include \"http://\" or \"https://\". Example: www.example.com/home",
                                        :type "string"},
                           :kind {:description "Kind of resource this is, in this case adsensehost#urlChannel.",
                                  :type "string",
                                  :default "adsensehost#urlChannel"}},
              :id "UrlChannel"},
 :Report {:type "object",
          :properties {:totals {:description "The totals of the report. This is the same length as any other row in the report; cells corresponding to dimension columns are empty.",
                                :type "array",
                                :items {:type "string"}},
                       :headers {:type "array",
                                 :items {:type "object",
                                         :properties {:name {:type "string",
                                                             :description "The name of the header."},
                                                      :type {:description "The type of the header; one of DIMENSION, METRIC_TALLY, METRIC_RATIO, or METRIC_CURRENCY.",
                                                             :type "string"},
                                                      :currency {:description "The currency of this column. Only present if the header type is METRIC_CURRENCY.",
                                                                 :type "string"}}},
                                 :description "The header information of the columns requested in the report. This is a list of headers; one for each dimension in the request, followed by one for each metric in the request."},
                       :rows {:description "The output rows of the report. Each row is a list of cells; one for each dimension in the request, followed by one for each metric in the request. The dimension cells contain strings, and the metric cells contain numbers.",
                              :type "array",
                              :items {:type "array",
                                      :items {:type "string"}}},
                       :kind {:description "Kind this is, in this case adsensehost#report.",
                              :type "string",
                              :default "adsensehost#report"},
                       :averages {:description "The averages of the report. This is the same length as any other row in the report; cells corresponding to dimension columns are empty.",
                                  :type "array",
                                  :items {:type "string"}},
                       :totalMatchedRows {:description "The total number of rows matched by the report request. Fewer rows may be returned in the response due to being limited by the row count requested or the report row limit.",
                                          :format "int64",
                                          :type "string"},
                       :warnings {:type "array",
                                  :items {:type "string"},
                                  :description "Any warnings associated with generation of the report."}},
          :id "Report"},
 :AdUnits {:id "AdUnits",
           :type "object",
           :properties {:nextPageToken {:type "string",
                                        :description "Continuation token used to page through ad units. To retrieve the next page of results, set the next request's \"pageToken\" value to this."},
                        :kind {:description "Kind of list this is, in this case adsensehost#adUnits.",
                               :type "string",
                               :default "adsensehost#adUnits"},
                        :items {:description "The ad units returned in this list response.",
                                :type "array",
                                :items {:$ref "AdUnit"}},
                        :etag {:description "ETag of this response for caching purposes.",
                               :type "string"}}},
 :AdCode {:id "AdCode",
          :type "object",
          :properties {:kind {:description "Kind this is, in this case adsensehost#adCode.",
                              :type "string",
                              :default "adsensehost#adCode"},
                       :adCode {:description "The ad code snippet.",
                                :type "string"}}},
 :CustomChannel {:type "object",
                 :properties {:code {:description "Code of this custom channel, not necessarily unique across ad clients.",
                                     :type "string"},
                              :id {:description "Unique identifier of this custom channel. This should be considered an opaque identifier; it is not safe to rely on it being in any particular format.",
                                   :type "string"},
                              :name {:description "Name of this custom channel.",
                                     :type "string"},
                              :kind {:type "string",
                                     :default "adsensehost#customChannel",
                                     :description "Kind of resource this is, in this case adsensehost#customChannel."}},
                 :id "CustomChannel"},
 :Accounts {:type "object",
            :properties {:kind {:description "Kind of list this is, in this case adsensehost#accounts.",
                                :type "string",
                                :default "adsensehost#accounts"},
                         :items {:type "array",
                                 :items {:$ref "Account"},
                                 :description "The accounts returned in this list response."},
                         :etag {:description "ETag of this response for caching purposes.",
                                :type "string"}},
            :id "Accounts"},
 :AdStyle {:id "AdStyle",
           :type "object",
           :properties {:colors {:description "The colors included in the style. These are represented as six hexadecimal characters, similar to HTML color codes, but without the leading hash.",
                                 :type "object",
                                 :properties {:title {:description "The color of the ad title.",
                                                      :type "string"},
                                              :border {:description "The color of the ad border.",
                                                       :type "string"},
                                              :text {:description "The color of the ad text.",
                                                     :type "string"},
                                              :background {:description "The color of the ad background.",
                                                           :type "string"},
                                              :url {:description "The color of the ad url.",
                                                    :type "string"}}},
                        :corners {:description "The style of the corners in the ad (deprecated: never populated, ignored).",
                                  :type "string"},
                        :kind {:type "string",
                               :default "adsensehost#adStyle",
                               :description "Kind this is, in this case adsensehost#adStyle."},
                        :font {:type "object",
                               :properties {:family {:type "string",
                                                     :description "The family of the font. Possible values are: ACCOUNT_DEFAULT_FAMILY, ADSENSE_DEFAULT_FAMILY, ARIAL, TIMES and VERDANA."},
                                            :size {:description "The size of the font. Possible values are: ACCOUNT_DEFAULT_SIZE, ADSENSE_DEFAULT_SIZE, SMALL, MEDIUM and LARGE.",
                                                   :type "string"}},
                               :description "The font which is included in the style."}}},
 :Account {:id "Account",
           :type "object",
           :properties {:status {:description "Approval status of this account. One of: PENDING, APPROVED, DISABLED.",
                                 :type "string"},
                        :name {:description "Name of this account.",
                               :type "string"},
                        :kind {:type "string",
                               :default "adsensehost#account",
                               :description "Kind of resource this is, in this case adsensehost#account."},
                        :id {:description "Unique identifier of this account.",
                             :type "string"}}},
 :AdClient {:type "object",
            :properties {:id {:description "Unique identifier of this ad client.",
                              :type "string"},
                         :supportsReporting {:description "Whether this ad client supports being reported on.",
                                             :type "boolean"},
                         :kind {:description "Kind of resource this is, in this case adsensehost#adClient.",
                                :type "string",
                                :default "adsensehost#adClient"},
                         :arcOptIn {:type "boolean",
                                    :description "Whether this ad client is opted in to ARC."},
                         :productCode {:description "This ad client's product code, which corresponds to the PRODUCT_CODE report dimension.",
                                       :type "string"}},
            :id "AdClient"},
 :AdUnit {:type "object",
          :properties {:mobileContentAdsSettings {:type "object",
                                                  :properties {:scriptingLanguage {:description "The scripting language to use for this ad unit.",
                                                                                   :type "string"},
                                                               :type {:type "string",
                                                                      :description "Type of this ad unit."},
                                                               :markupLanguage {:description "The markup language to use for this ad unit.",
                                                                                :type "string"},
                                                               :size {:type "string",
                                                                      :description "Size of this ad unit."}},
                                                  :description "Settings specific to WAP mobile content ads (AFMC - deprecated)."},
                       :id {:description "Unique identifier of this ad unit. This should be considered an opaque identifier; it is not safe to rely on it being in any particular format.",
                            :type "string"},
                       :customStyle {:$ref "AdStyle",
                                     :description "Custom style information specific to this ad unit."},
                       :kind {:description "Kind of resource this is, in this case adsensehost#adUnit.",
                              :type "string",
                              :default "adsensehost#adUnit"},
                       :code {:description "Identity code of this ad unit, not necessarily unique across ad clients.",
                              :type "string"},
                       :contentAdsSettings {:description "Settings specific to content ads (AFC) and highend mobile content ads (AFMC - deprecated).",
                                            :type "object",
                                            :properties {:type {:type "string",
                                                                :description "Type of this ad unit. Possible values are TEXT, TEXT_IMAGE, IMAGE and LINK."},
                                                         :backupOption {:description "The backup option to be used in instances where no ad is available.",
                                                                        :type "object",
                                                                        :properties {:color {:type "string",
                                                                                             :description "Color to use when type is set to COLOR. These are represented as six hexadecimal characters, similar to HTML color codes, but without the leading hash."},
                                                                                     :type {:description "Type of the backup option. Possible values are BLANK, COLOR and URL.",
                                                                                            :type "string"},
                                                                                     :url {:description "URL to use when type is set to URL.",
                                                                                           :type "string"}}},
                                                         :size {:description "Size of this ad unit. Size values are in the form SIZE_{width}_{height}.",
                                                                :type "string"}}},
                       :status {:description "Status of this ad unit. Possible values are:\nNEW: Indicates that the ad unit was created within the last seven days and does not yet have any activity associated with it.\n\nACTIVE: Indicates that there has been activity on this ad unit in the last seven days.\n\nINACTIVE: Indicates that there has been no activity on this ad unit in the last seven days.",
                                :type "string"},
                       :name {:description "Name of this ad unit.",
                              :type "string"}},
          :id "AdUnit"},
 :CustomChannels {:type "object",
                  :properties {:items {:description "The custom channels returned in this list response.",
                                       :type "array",
                                       :items {:$ref "CustomChannel"}},
                               :etag {:type "string",
                                      :description "ETag of this response for caching purposes."},
                               :nextPageToken {:description "Continuation token used to page through custom channels. To retrieve the next page of results, set the next request's \"pageToken\" value to this.",
                                               :type "string"},
                               :kind {:description "Kind of list this is, in this case adsensehost#customChannels.",
                                      :type "string",
                                      :default "adsensehost#customChannels"}},
                  :id "CustomChannels"},
 :AdClients {:type "object",
             :properties {:items {:description "The ad clients returned in this list response.",
                                  :type "array",
                                  :items {:$ref "AdClient"}},
                          :etag {:description "ETag of this response for caching purposes.",
                                 :type "string"},
                          :nextPageToken {:description "Continuation token used to page through ad clients. To retrieve the next page of results, set the next request's \"pageToken\" value to this.",
                                          :type "string"},
                          :kind {:description "Kind of list this is, in this case adsensehost#adClients.",
                                 :type "string",
                                 :default "adsensehost#adClients"}},
             :id "AdClients"}}
