{:GoogleCloudAdvisorynotificationsV1Text {:properties {:enText {:type "string",
                                                                :description "The English copy."},
                                                       :localizationState {:enumDescriptions ["Not used."
                                                                                              "Localization is not applicable for requested language. This can happen when: - The requested language was not supported by Advisory Notifications at the time of localization (including notifications created before the localization feature was launched). - The requested language is English, so only the English text is returned."
                                                                                              "Localization for requested language is in progress, and not ready yet."
                                                                                              "Localization for requested language is completed."],
                                                                           :type "string",
                                                                           :enum ["LOCALIZATION_STATE_UNSPECIFIED"
                                                                                  "LOCALIZATION_STATE_NOT_APPLICABLE"
                                                                                  "LOCALIZATION_STATE_PENDING"
                                                                                  "LOCALIZATION_STATE_COMPLETED"],
                                                                           :description "Status of the localization."},
                                                       :localizedText {:type "string",
                                                                       :description "The requested localized copy (if applicable)."}},
                                          :id "GoogleCloudAdvisorynotificationsV1Text",
                                          :type "object",
                                          :description "A text object containing the English text and its localized copies."},
 :GoogleCloudAdvisorynotificationsV1CsvCsvRow {:description "A representation of a single data row in a CSV file.",
                                               :id "GoogleCloudAdvisorynotificationsV1CsvCsvRow",
                                               :properties {:entries {:type "array",
                                                                      :items {:type "string"},
                                                                      :description "The data entries in a CSV file row, as a string array rather than a single comma-separated string."}},
                                               :type "object"},
 :GoogleCloudAdvisorynotificationsV1NotificationSettings {:type "object",
                                                          :description "Settings for each NotificationType.",
                                                          :id "GoogleCloudAdvisorynotificationsV1NotificationSettings",
                                                          :properties {:enabled {:type "boolean",
                                                                                 :description "Whether the associated NotificationType is enabled."}}},
 :GoogleCloudAdvisorynotificationsV1Subject {:properties {:text {:$ref "GoogleCloudAdvisorynotificationsV1Text",
                                                                 :description "The text content."}},
                                             :id "GoogleCloudAdvisorynotificationsV1Subject",
                                             :description "A subject line of a notification.",
                                             :type "object"},
 :GoogleCloudAdvisorynotificationsV1Message {:description "A message which contains notification details.",
                                             :id "GoogleCloudAdvisorynotificationsV1Message",
                                             :properties {:localizationTime {:type "string",
                                                                             :description "Time when Message was localized",
                                                                             :format "google-datetime"},
                                                          :createTime {:description "The Message creation timestamp.",
                                                                       :type "string",
                                                                       :format "google-datetime"},
                                                          :attachments {:type "array",
                                                                        :items {:$ref "GoogleCloudAdvisorynotificationsV1Attachment"},
                                                                        :description "The attachments to download."},
                                                          :body {:$ref "GoogleCloudAdvisorynotificationsV1MessageBody",
                                                                 :description "The message content."}},
                                             :type "object"},
 :GoogleCloudAdvisorynotificationsV1Settings {:type "object",
                                              :properties {:etag {:description "Required. Fingerprint for optimistic concurrency returned in Get requests. Must be provided for Update requests. If the value provided does not match the value known to the server, ABORTED will be thrown, and the client should retry the read-modify-write cycle.",
                                                                  :type "string"},
                                                           :notificationSettings {:type "object",
                                                                                  :description "Required. Map of each notification type and its settings to get/set all settings at once. The server will validate the value for each notification type.",
                                                                                  :additionalProperties {:$ref "GoogleCloudAdvisorynotificationsV1NotificationSettings"}},
                                                           :name {:description "Identifier. The resource name of the settings to retrieve. Format: organizations/{organization}/locations/{location}/settings or projects/{projects}/locations/{location}/settings.",
                                                                  :type "string"}},
                                              :description "Settings for Advisory Notifications.",
                                              :id "GoogleCloudAdvisorynotificationsV1Settings"},
 :GoogleCloudAdvisorynotificationsV1MessageBody {:properties {:text {:description "The text content of the message body.",
                                                                     :$ref "GoogleCloudAdvisorynotificationsV1Text"}},
                                                 :description "A message body containing text.",
                                                 :id "GoogleCloudAdvisorynotificationsV1MessageBody",
                                                 :type "object"},
 :GoogleCloudAdvisorynotificationsV1Csv {:type "object",
                                         :id "GoogleCloudAdvisorynotificationsV1Csv",
                                         :description "A representation of a CSV file attachment, as a list of column headers and a list of data rows.",
                                         :properties {:headers {:description "The list of headers for data columns in a CSV file.",
                                                                :type "array",
                                                                :items {:type "string"}},
                                                      :dataRows {:items {:$ref "GoogleCloudAdvisorynotificationsV1CsvCsvRow"},
                                                                 :type "array",
                                                                 :description "The list of data rows in a CSV file, as string arrays rather than as a single comma-separated string."}}},
 :GoogleCloudAdvisorynotificationsV1Attachment {:type "object",
                                                :id "GoogleCloudAdvisorynotificationsV1Attachment",
                                                :properties {:displayName {:type "string",
                                                                           :description "The title of the attachment."},
                                                             :csv {:$ref "GoogleCloudAdvisorynotificationsV1Csv",
                                                                   :description "A CSV file attachment. Max size is 10 MB."}},
                                                :description "Attachment with specific information about the issue."},
 :GoogleCloudAdvisorynotificationsV1ListNotificationsResponse {:description "Response of ListNotifications endpoint.",
                                                               :type "object",
                                                               :properties {:totalSize {:type "integer",
                                                                                        :format "int32",
                                                                                        :description "Estimation of a total number of notifications."},
                                                                            :nextPageToken {:type "string",
                                                                                            :description "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."},
                                                                            :notifications {:items {:$ref "GoogleCloudAdvisorynotificationsV1Notification"},
                                                                                            :description "List of notifications under a given parent.",
                                                                                            :type "array"}},
                                                               :id "GoogleCloudAdvisorynotificationsV1ListNotificationsResponse"},
 :GoogleCloudAdvisorynotificationsV1Notification {:properties {:name {:type "string",
                                                                      :description "The resource name of the notification. Format: organizations/{organization}/locations/{location}/notifications/{notification} or projects/{project}/locations/{location}/notifications/{notification}."},
                                                               :subject {:description "The subject line of the notification.",
                                                                         :$ref "GoogleCloudAdvisorynotificationsV1Subject"},
                                                               :messages {:items {:$ref "GoogleCloudAdvisorynotificationsV1Message"},
                                                                          :type "array",
                                                                          :description "A list of messages in the notification."},
                                                               :notificationType {:enum ["NOTIFICATION_TYPE_UNSPECIFIED"
                                                                                         "NOTIFICATION_TYPE_SECURITY_PRIVACY_ADVISORY"
                                                                                         "NOTIFICATION_TYPE_SENSITIVE_ACTIONS"
                                                                                         "NOTIFICATION_TYPE_SECURITY_MSA"
                                                                                         "NOTIFICATION_TYPE_THREAT_HORIZONS"],
                                                                                  :enumDescriptions ["Default type"
                                                                                                     "Security and privacy advisory notifications"
                                                                                                     "Sensitive action notifications"
                                                                                                     "General security MSA"
                                                                                                     "Threat horizons MSA"],
                                                                                  :description "Type of notification",
                                                                                  :type "string"},
                                                               :createTime {:format "google-datetime",
                                                                            :description "Output only. Time the notification was created.",
                                                                            :type "string",
                                                                            :readOnly true}},
                                                  :id "GoogleCloudAdvisorynotificationsV1Notification",
                                                  :type "object",
                                                  :description "A notification object for notifying customers about security and privacy issues."}}
