{:GoogleCloudAdvisorynotificationsV1Text {:id "GoogleCloudAdvisorynotificationsV1Text",
                                          :properties {:enText {:description "The English copy.",
                                                                :type "string"},
                                                       :localizedText {:description "The requested localized copy (if applicable).",
                                                                       :type "string"},
                                                       :localizationState {:enum ["LOCALIZATION_STATE_UNSPECIFIED"
                                                                                  "LOCALIZATION_STATE_NOT_APPLICABLE"
                                                                                  "LOCALIZATION_STATE_PENDING"
                                                                                  "LOCALIZATION_STATE_COMPLETED"],
                                                                           :enumDescriptions ["Not used."
                                                                                              "Localization is not applicable for requested language. This can happen when: - The requested language was not supported by Advisory Notifications at the time of localization (including notifications created before the localization feature was launched). - The requested language is English, so only the English text is returned."
                                                                                              "Localization for requested language is in progress, and not ready yet."
                                                                                              "Localization for requested language is completed."],
                                                                           :description "Status of the localization.",
                                                                           :type "string"}},
                                          :type "object",
                                          :description "A text object containing the English text and its localized copies."},
 :GoogleCloudAdvisorynotificationsV1CsvCsvRow {:properties {:entries {:description "The data entries in a CSV file row, as a string array rather than a single comma-separated string.",
                                                                      :items {:type "string"},
                                                                      :type "array"}},
                                               :type "object",
                                               :description "A representation of a single data row in a CSV file.",
                                               :id "GoogleCloudAdvisorynotificationsV1CsvCsvRow"},
 :GoogleCloudAdvisorynotificationsV1NotificationSettings {:id "GoogleCloudAdvisorynotificationsV1NotificationSettings",
                                                          :description "Settings for each NotificationType.",
                                                          :type "object",
                                                          :properties {:enabled {:description "Whether the associated NotificationType is enabled.",
                                                                                 :type "boolean"}}},
 :GoogleCloudAdvisorynotificationsV1Subject {:type "object",
                                             :description "A subject line of a notification.",
                                             :properties {:text {:$ref "GoogleCloudAdvisorynotificationsV1Text",
                                                                 :description "The text content."}},
                                             :id "GoogleCloudAdvisorynotificationsV1Subject"},
 :GoogleCloudAdvisorynotificationsV1Message {:type "object",
                                             :id "GoogleCloudAdvisorynotificationsV1Message",
                                             :properties {:body {:$ref "GoogleCloudAdvisorynotificationsV1MessageBody",
                                                                 :description "The message content."},
                                                          :createTime {:type "string",
                                                                       :format "google-datetime",
                                                                       :description "The Message creation timestamp."},
                                                          :localizationTime {:description "Time when Message was localized",
                                                                             :format "google-datetime",
                                                                             :type "string"},
                                                          :attachments {:type "array",
                                                                        :items {:$ref "GoogleCloudAdvisorynotificationsV1Attachment"},
                                                                        :description "The attachments to download."}},
                                             :description "A message which contains notification details."},
 :GoogleCloudAdvisorynotificationsV1Settings {:id "GoogleCloudAdvisorynotificationsV1Settings",
                                              :description "Settings for Advisory Notifications.",
                                              :type "object",
                                              :properties {:notificationSettings {:type "object",
                                                                                  :additionalProperties {:$ref "GoogleCloudAdvisorynotificationsV1NotificationSettings"},
                                                                                  :description "Required. Map of each notification type and its settings to get/set all settings at once. The server will validate the value for each notification type."},
                                                           :name {:description "Identifier. The resource name of the settings to retrieve. Format: organizations/{organization}/locations/{location}/settings.",
                                                                  :type "string"},
                                                           :etag {:description "Required. Fingerprint for optimistic concurrency returned in Get requests. Must be provided for Update requests. If the value provided does not match the value known to the server, ABORTED will be thrown, and the client should retry the read-modify-write cycle.",
                                                                  :type "string"}}},
 :GoogleCloudAdvisorynotificationsV1MessageBody {:id "GoogleCloudAdvisorynotificationsV1MessageBody",
                                                 :description "A message body containing text.",
                                                 :type "object",
                                                 :properties {:text {:description "The text content of the message body.",
                                                                     :$ref "GoogleCloudAdvisorynotificationsV1Text"}}},
 :GoogleCloudAdvisorynotificationsV1Csv {:description "A representation of a CSV file attachment, as a list of column headers and a list of data rows.",
                                         :type "object",
                                         :properties {:headers {:description "The list of headers for data columns in a CSV file.",
                                                                :items {:type "string"},
                                                                :type "array"},
                                                      :dataRows {:type "array",
                                                                 :description "The list of data rows in a CSV file, as string arrays rather than as a single comma-separated string.",
                                                                 :items {:$ref "GoogleCloudAdvisorynotificationsV1CsvCsvRow"}}},
                                         :id "GoogleCloudAdvisorynotificationsV1Csv"},
 :GoogleCloudAdvisorynotificationsV1Attachment {:description "Attachment with specific information about the issue.",
                                                :type "object",
                                                :properties {:csv {:$ref "GoogleCloudAdvisorynotificationsV1Csv",
                                                                   :description "A CSV file attachment. Max size is 10 MB."},
                                                             :displayName {:type "string",
                                                                           :description "The title of the attachment."}},
                                                :id "GoogleCloudAdvisorynotificationsV1Attachment"},
 :GoogleCloudAdvisorynotificationsV1ListNotificationsResponse {:id "GoogleCloudAdvisorynotificationsV1ListNotificationsResponse",
                                                               :type "object",
                                                               :properties {:nextPageToken {:type "string",
                                                                                            :description "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."},
                                                                            :totalSize {:type "integer",
                                                                                        :description "Estimation of a total number of notifications.",
                                                                                        :format "int32"},
                                                                            :notifications {:type "array",
                                                                                            :items {:$ref "GoogleCloudAdvisorynotificationsV1Notification"},
                                                                                            :description "List of notifications under a given parent."}},
                                                               :description "Response of ListNotifications endpoint."},
 :GoogleCloudAdvisorynotificationsV1Notification {:id "GoogleCloudAdvisorynotificationsV1Notification",
                                                  :description "A notification object for notifying customers about security and privacy issues.",
                                                  :properties {:notificationType {:enum ["NOTIFICATION_TYPE_UNSPECIFIED"
                                                                                         "NOTIFICATION_TYPE_SECURITY_PRIVACY_ADVISORY"
                                                                                         "NOTIFICATION_TYPE_SENSITIVE_ACTIONS"
                                                                                         "NOTIFICATION_TYPE_SECURITY_MSA"
                                                                                         "NOTIFICATION_TYPE_THREAT_HORIZONS"],
                                                                                  :enumDescriptions ["Default type"
                                                                                                     "Security and privacy advisory notifications"
                                                                                                     "Sensitive action notifications"
                                                                                                     "General security MSA"
                                                                                                     "Threat horizons MSA"],
                                                                                  :type "string",
                                                                                  :description "Type of notification"},
                                                               :name {:type "string",
                                                                      :description "The resource name of the notification. Format: organizations/{organization}/locations/{location}/notifications/{notification} or projects/{project}/locations/{location}/notifications/{notification}."},
                                                               :createTime {:format "google-datetime",
                                                                            :readOnly true,
                                                                            :description "Output only. Time the notification was created.",
                                                                            :type "string"},
                                                               :messages {:items {:$ref "GoogleCloudAdvisorynotificationsV1Message"},
                                                                          :description "A list of messages in the notification.",
                                                                          :type "array"},
                                                               :subject {:$ref "GoogleCloudAdvisorynotificationsV1Subject",
                                                                         :description "The subject line of the notification."}},
                                                  :type "object"}}
