{:Target {:id "Target",
          :type "object",
          :description "Information about the object modified by the event.",
          :properties {:id {:type "string",
                            :description "The ID of the target. For example, in Google Drive, this is the file or folder ID."},
                       :mimeType {:type "string",
                                  :description "The MIME type of the target."},
                       :name {:type "string",
                              :description "The name of the target. For example, in Google Drive, this is the title of the file."}}},
 :Rename {:id "Rename",
          :type "object",
          :description "Contains information about a renametype event.",
          :properties {:newTitle {:type "string",
                                  :description "The new title."},
                       :oldTitle {:type "string",
                                  :description "The old title."}}},
 :Permission {:id "Permission",
              :type "object",
              :description "Contains information about the permissions and type of access allowed with regards to a Google Drive object. This is a subset of the fields contained in a corresponding Drive Permissions object.",
              :properties {:name {:type "string",
                                  :description "The name of the user or group the permission applies to."},
                           :permissionId {:type "string",
                                          :description "The ID for this permission. Corresponds to the Drive API's permission ID returned as part of the Drive Permissions resource."},
                           :role {:type "string",
                                  :description "Indicates the Google Drive permissions role. The role determines a user's ability to read, write, or comment on the file.",
                                  :enum ["commenter"
                                         "fileOrganizer"
                                         "owner"
                                         "publishedReader"
                                         "reader"
                                         "writer"],
                                  :enumDescriptions [""
                                                     ""
                                                     ""
                                                     ""
                                                     ""
                                                     ""]},
                           :type {:type "string",
                                  :description "Indicates how widely permissions are granted.",
                                  :enum ["anyone"
                                         "domain"
                                         "group"
                                         "user"],
                                  :enumDescriptions ["" "" "" ""]},
                           :user {:$ref "User",
                                  :description "The user's information if the type is USER."},
                           :withLink {:type "boolean",
                                      :description "Whether the permission requires a link to the file."}}},
 :Event {:id "Event",
         :type "object",
         :description "Represents the changes associated with an action taken by a user.",
         :properties {:move {:$ref "Move",
                             :description "Extra information for move type events, such as changes in an object's parents."},
                      :fromUserDeletion {:type "boolean",
                                         :description "Whether this event is caused by a user being deleted."},
                      :rename {:$ref "Rename",
                               :description "Extra information for rename type events, such as the old and new names."},
                      :eventTimeMillis {:type "string",
                                        :description "The time at which the event occurred formatted as Unix time in milliseconds.",
                                        :format "uint64"},
                      :permissionChanges {:type "array",
                                          :description "Extra information for permissionChange type events, such as the user or group the new permission applies to.",
                                          :items {:$ref "PermissionChange"}},
                      :additionalEventTypes {:type "array",
                                             :description "Additional event types. Some events may have multiple types when multiple actions are part of a single event. For example, creating a document, renaming it, and sharing it may be part of a single file-creation event.",
                                             :items {:type "string",
                                                     :enum ["comment"
                                                            "create"
                                                            "edit"
                                                            "emptyTrash"
                                                            "move"
                                                            "permissionChange"
                                                            "rename"
                                                            "trash"
                                                            "unknown"
                                                            "untrash"
                                                            "upload"],
                                                     :enumDescriptions [""
                                                                        ""
                                                                        ""
                                                                        ""
                                                                        ""
                                                                        ""
                                                                        ""
                                                                        ""
                                                                        ""
                                                                        ""
                                                                        ""]}},
                      :primaryEventType {:type "string",
                                         :description "The main type of event that occurred.",
                                         :enum ["comment"
                                                "create"
                                                "edit"
                                                "emptyTrash"
                                                "move"
                                                "permissionChange"
                                                "rename"
                                                "trash"
                                                "unknown"
                                                "untrash"
                                                "upload"],
                                         :enumDescriptions [""
                                                            ""
                                                            ""
                                                            ""
                                                            ""
                                                            ""
                                                            ""
                                                            ""
                                                            ""
                                                            ""
                                                            ""]},
                      :target {:$ref "Target",
                               :description "Information specific to the Target object modified by the event."},
                      :user {:$ref "User",
                             :description "Represents the user responsible for the event."}}},
 :User {:id "User",
        :type "object",
        :description "A representation of a user.",
        :properties {:isDeleted {:type "boolean",
                                 :description "A boolean which indicates whether the specified User was deleted. If true, name, photo and permission_id will be omitted."},
                     :isMe {:type "boolean",
                            :description "Whether the user is the authenticated user."},
                     :name {:type "string",
                            :description "The displayable name of the user."},
                     :permissionId {:type "string",
                                    :description "The permission ID associated with this user. Equivalent to the Drive API's permission ID for this user, returned as part of the Drive Permissions resource."},
                     :photo {:$ref "Photo",
                             :description "The profile photo of the user. Not present if the user has no profile photo."}}},
 :Move {:id "Move",
        :type "object",
        :description "Contains information about changes in an object's parents as a result of a move type event.",
        :properties {:addedParents {:type "array",
                                    :description "The added parent(s).",
                                    :items {:$ref "Parent"}},
                     :removedParents {:type "array",
                                      :description "The removed parent(s).",
                                      :items {:$ref "Parent"}}}},
 :Photo {:id "Photo",
         :type "object",
         :description "Photo information for a user.",
         :properties {:url {:type "string",
                            :description "The URL of the photo."}}},
 :PermissionChange {:id "PermissionChange",
                    :type "object",
                    :description "Contains information about a Drive object's permissions that changed as a result of a permissionChange type event.",
                    :properties {:addedPermissions {:type "array",
                                                    :description "Lists all Permission objects added.",
                                                    :items {:$ref "Permission"}},
                                 :removedPermissions {:type "array",
                                                      :description "Lists all Permission objects removed.",
                                                      :items {:$ref "Permission"}}}},
 :Parent {:id "Parent",
          :type "object",
          :description "Contains information about a parent object. For example, a folder in Drive is a parent for all files within it.",
          :properties {:id {:type "string",
                            :description "The parent's ID."},
                       :isRoot {:type "boolean",
                                :description "Whether this is the root folder."},
                       :title {:type "string",
                               :description "The parent's title."}}},
 :ListActivitiesResponse {:id "ListActivitiesResponse",
                          :type "object",
                          :description "The response from the list request. Contains a list of activities and a token to retrieve the next page of results.",
                          :properties {:activities {:type "array",
                                                    :description "List of activities.",
                                                    :items {:$ref "Activity"}},
                                       :nextPageToken {:type "string",
                                                       :description "Token for the next page of results."}}},
 :Activity {:id "Activity",
            :type "object",
            :description "An Activity resource is a combined view of multiple events. An activity has a list of individual events and a combined view of the common fields among all events.",
            :properties {:combinedEvent {:$ref "Event",
                                         :description "The fields common to all of the singleEvents that make up the Activity."},
                         :singleEvents {:type "array",
                                        :description "A list of all the Events that make up the Activity.",
                                        :items {:$ref "Event"}}}}}
