{:Table {:id "Table",
         :description "Represents a table.",
         :type "object",
         :properties {:hiveOptions {:description "Options of a Hive table.",
                                    :$ref "HiveTableOptions"},
                      :name {:description "Output only. The resource name. Format: projects/{project_id_or_number}/locations/{location_id}/catalogs/{catalog_id}/databases/{database_id}/tables/{table_id}",
                             :readOnly true,
                             :type "string"},
                      :createTime {:description "Output only. The creation time of the table.",
                                   :readOnly true,
                                   :type "string",
                                   :format "google-datetime"},
                      :updateTime {:description "Output only. The last modification time of the table.",
                                   :readOnly true,
                                   :type "string",
                                   :format "google-datetime"},
                      :deleteTime {:description "Output only. The deletion time of the table. Only set after the table is deleted.",
                                   :readOnly true,
                                   :type "string",
                                   :format "google-datetime"},
                      :expireTime {:description "Output only. The time when this table is considered expired. Only set after the table is deleted.",
                                   :readOnly true,
                                   :type "string",
                                   :format "google-datetime"},
                      :type {:description "The table type.",
                             :type "string",
                             :enumDescriptions ["The type is not specified."
                                                "Represents a table compatible with Hive Metastore tables."],
                             :enum ["TYPE_UNSPECIFIED" "HIVE"]},
                      :etag {:description "The checksum of a table object computed by the server based on the value of other fields. It may be sent on update requests to ensure the client has an up-to-date value before proceeding. It is only checked for update table operations.",
                             :type "string"}}},
 :ListTablesResponse {:id "ListTablesResponse",
                      :description "Response message for the ListTables method.",
                      :type "object",
                      :properties {:tables {:description "The tables from the specified database.",
                                            :type "array",
                                            :items {:$ref "Table"}},
                                   :nextPageToken {:description "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
                                                   :type "string"}}},
 :ListCatalogsResponse {:id "ListCatalogsResponse",
                        :description "Response message for the ListCatalogs method.",
                        :type "object",
                        :properties {:catalogs {:description "The catalogs from the specified project.",
                                                :type "array",
                                                :items {:$ref "Catalog"}},
                                     :nextPageToken {:description "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
                                                     :type "string"}}},
 :ListDatabasesResponse {:id "ListDatabasesResponse",
                         :description "Response message for the ListDatabases method.",
                         :type "object",
                         :properties {:databases {:description "The databases from the specified catalog.",
                                                  :type "array",
                                                  :items {:$ref "Database"}},
                                      :nextPageToken {:description "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
                                                      :type "string"}}},
 :Database {:id "Database",
            :description "Database is the container of tables.",
            :type "object",
            :properties {:hiveOptions {:description "Options of a Hive database.",
                                       :$ref "HiveDatabaseOptions"},
                         :name {:description "Output only. The resource name. Format: projects/{project_id_or_number}/locations/{location_id}/catalogs/{catalog_id}/databases/{database_id}",
                                :readOnly true,
                                :type "string"},
                         :createTime {:description "Output only. The creation time of the database.",
                                      :readOnly true,
                                      :type "string",
                                      :format "google-datetime"},
                         :updateTime {:description "Output only. The last modification time of the database.",
                                      :readOnly true,
                                      :type "string",
                                      :format "google-datetime"},
                         :deleteTime {:description "Output only. The deletion time of the database. Only set after the database is deleted.",
                                      :readOnly true,
                                      :type "string",
                                      :format "google-datetime"},
                         :expireTime {:description "Output only. The time when this database is considered expired. Only set after the database is deleted.",
                                      :readOnly true,
                                      :type "string",
                                      :format "google-datetime"},
                         :type {:description "The database type.",
                                :type "string",
                                :enumDescriptions ["The type is not specified."
                                                   "Represents a database storing tables compatible with Hive Metastore tables."],
                                :enum ["TYPE_UNSPECIFIED" "HIVE"]}}},
 :StorageDescriptor {:id "StorageDescriptor",
                     :description "Stores physical storage information of the data.",
                     :type "object",
                     :properties {:locationUri {:description "Cloud Storage folder URI where the table data is stored, starting with \"gs://\".",
                                                :type "string"},
                                  :inputFormat {:description "The fully qualified Java class name of the input format.",
                                                :type "string"},
                                  :outputFormat {:description "The fully qualified Java class name of the output format.",
                                                 :type "string"},
                                  :serdeInfo {:description "Serializer and deserializer information.",
                                              :$ref "SerDeInfo"}}},
 :SerDeInfo {:id "SerDeInfo",
             :description "Serializer and deserializer information.",
             :type "object",
             :properties {:serializationLib {:description "The fully qualified Java class name of the serialization library.",
                                             :type "string"}}},
 :Catalog {:id "Catalog",
           :description "Catalog is the container of databases.",
           :type "object",
           :properties {:name {:description "Output only. The resource name. Format: projects/{project_id_or_number}/locations/{location_id}/catalogs/{catalog_id}",
                               :readOnly true,
                               :type "string"},
                        :createTime {:description "Output only. The creation time of the catalog.",
                                     :readOnly true,
                                     :type "string",
                                     :format "google-datetime"},
                        :updateTime {:description "Output only. The last modification time of the catalog.",
                                     :readOnly true,
                                     :type "string",
                                     :format "google-datetime"},
                        :deleteTime {:description "Output only. The deletion time of the catalog. Only set after the catalog is deleted.",
                                     :readOnly true,
                                     :type "string",
                                     :format "google-datetime"},
                        :expireTime {:description "Output only. The time when this catalog is considered expired. Only set after the catalog is deleted.",
                                     :readOnly true,
                                     :type "string",
                                     :format "google-datetime"}}},
 :RenameTableRequest {:id "RenameTableRequest",
                      :description "Request message for the RenameTable method in MetastoreService",
                      :type "object",
                      :properties {:newName {:description "Required. The new `name` for the specified table, must be in the same database. Format: projects/{project_id_or_number}/locations/{location_id}/catalogs/{catalog_id}/databases/{database_id}/tables/{table_id}",
                                             :type "string"}}},
 :HiveTableOptions {:id "HiveTableOptions",
                    :description "Options of a Hive table.",
                    :type "object",
                    :properties {:parameters {:description "Stores user supplied Hive table parameters.",
                                              :type "object",
                                              :additionalProperties {:type "string"}},
                                 :tableType {:description "Hive table type. For example, MANAGED_TABLE, EXTERNAL_TABLE.",
                                             :type "string"},
                                 :storageDescriptor {:description "Stores physical storage information of the data.",
                                                     :$ref "StorageDescriptor"}}},
 :HiveDatabaseOptions {:id "HiveDatabaseOptions",
                       :description "Options of a Hive database.",
                       :type "object",
                       :properties {:locationUri {:description "Cloud Storage folder URI where the database data is stored, starting with \"gs://\".",
                                                  :type "string"},
                                    :parameters {:description "Stores user supplied Hive database parameters.",
                                                 :type "object",
                                                 :additionalProperties {:type "string"}}}}}
