{:BlogUserInfo {:id "BlogUserInfo",
                :type "object",
                :properties {:blog {:$ref "Blog",
                                    :description "The Blog resource."},
                             :blog_user_info {:$ref "BlogPerUserInfo",
                                              :description "Information about a User for the Blog."},
                             :kind {:type "string",
                                    :description "The kind of this entity. Always blogger#blogUserInfo",
                                    :default "blogger#blogUserInfo"}}},
 :PostPerUserInfo {:id "PostPerUserInfo",
                   :type "object",
                   :properties {:blogId {:type "string",
                                         :description "ID of the Blog that the post resource belongs to."},
                                :hasEditAccess {:type "boolean",
                                                :description "True if the user has Author level access to the post."},
                                :kind {:type "string",
                                       :description "The kind of this entity. Always blogger#postPerUserInfo",
                                       :default "blogger#postPerUserInfo"},
                                :postId {:type "string",
                                         :description "ID of the Post resource."},
                                :userId {:type "string",
                                         :description "ID of the User."}}},
 :Post {:id "Post",
        :type "object",
        :properties {:labels {:type "array",
                              :description "The list of labels this Post was tagged with.",
                              :items {:type "string"}},
                     :titleLink {:type "string",
                                 :description "The title link URL, similar to atom's related link."},
                     :content {:type "string",
                               :description "The content of the Post. May contain HTML markup."},
                     :updated {:type "string",
                               :description "RFC 3339 date-time when this Post was last updated.",
                               :format "date-time"},
                     :images {:type "array",
                              :description "Display image for the Post.",
                              :items {:type "object",
                                      :properties {:url {:type "string"}}}},
                     :selfLink {:type "string",
                                :description "The API REST URL to fetch this resource from."},
                     :etag {:type "string",
                            :description "Etag of the resource."},
                     :title {:type "string",
                             :description "The title of the Post."},
                     :author {:type "object",
                              :description "The author of this Post.",
                              :properties {:displayName {:type "string",
                                                         :description "The display name."},
                                           :id {:type "string",
                                                :description "The identifier of the Post creator."},
                                           :image {:type "object",
                                                   :description "The Post author's avatar.",
                                                   :properties {:url {:type "string",
                                                                      :description "The Post author's avatar URL."}}},
                                           :url {:type "string",
                                                 :description "The URL of the Post creator's Profile page."}}},
                     :replies {:type "object",
                               :description "The container of comments on this Post.",
                               :properties {:items {:type "array",
                                                    :description "The List of Comments for this Post.",
                                                    :items {:$ref "Comment"}},
                                            :selfLink {:type "string",
                                                       :description "The URL of the comments on this post."},
                                            :totalItems {:type "string",
                                                         :description "The count of comments on this post.",
                                                         :format "int64"}}},
                     :status {:type "string",
                              :description "Status of the post. Only set for admin-level requests"},
                     :customMetaData {:type "string",
                                      :description "The JSON meta-data for the Post."},
                     :id {:type "string",
                          :description "The identifier of this Post."},
                     :kind {:type "string",
                            :description "The kind of this entity. Always blogger#post",
                            :default "blogger#post"},
                     :url {:type "string",
                           :description "The URL where this Post is displayed."},
                     :readerComments {:type "string",
                                      :description "Comment control and display setting for readers of this post."},
                     :location {:type "object",
                                :description "The location for geotagged posts.",
                                :properties {:lat {:type "number",
                                                   :description "Location's latitude.",
                                                   :format "double"},
                                             :lng {:type "number",
                                                   :description "Location's longitude.",
                                                   :format "double"},
                                             :name {:type "string",
                                                    :description "Location name."},
                                             :span {:type "string",
                                                    :description "Location's viewport span. Can be used when rendering a map preview."}}},
                     :blog {:type "object",
                            :description "Data about the blog containing this Post.",
                            :properties {:id {:type "string",
                                              :description "The identifier of the Blog that contains this Post."}}},
                     :published {:type "string",
                                 :description "RFC 3339 date-time when this Post was published.",
                                 :format "date-time"}}},
 :CommentList {:id "CommentList",
               :type "object",
               :properties {:etag {:type "string",
                                   :description "Etag of the response."},
                            :items {:type "array",
                                    :description "The List of Comments for a Post.",
                                    :items {:$ref "Comment"}},
                            :kind {:type "string",
                                   :description "The kind of this entry. Always blogger#commentList",
                                   :default "blogger#commentList"},
                            :nextPageToken {:type "string",
                                            :description "Pagination token to fetch the next page, if one exists."},
                            :prevPageToken {:type "string",
                                            :description "Pagination token to fetch the previous page, if one exists."}}},
 :Comment {:id "Comment",
           :type "object",
           :properties {:inReplyTo {:type "object",
                                    :description "Data about the comment this is in reply to.",
                                    :properties {:id {:type "string",
                                                      :description "The identified of the parent of this comment."}}},
                        :content {:type "string",
                                  :description "The actual content of the comment. May include HTML markup."},
                        :updated {:type "string",
                                  :description "RFC 3339 date-time when this comment was last updated.",
                                  :format "date-time"},
                        :selfLink {:type "string",
                                   :description "The API REST URL to fetch this resource from."},
                        :author {:type "object",
                                 :description "The author of this Comment.",
                                 :properties {:displayName {:type "string",
                                                            :description "The display name."},
                                              :id {:type "string",
                                                   :description "The identifier of the Comment creator."},
                                              :image {:type "object",
                                                      :description "The comment creator's avatar.",
                                                      :properties {:url {:type "string",
                                                                         :description "The comment creator's avatar URL."}}},
                                              :url {:type "string",
                                                    :description "The URL of the Comment creator's Profile page."}}},
                        :status {:type "string",
                                 :description "The status of the comment (only populated for admin users)"},
                        :id {:type "string",
                             :description "The identifier for this resource."},
                        :kind {:type "string",
                               :description "The kind of this entry. Always blogger#comment",
                               :default "blogger#comment"},
                        :post {:type "object",
                               :description "Data about the post containing this comment.",
                               :properties {:id {:type "string",
                                                 :description "The identifier of the post containing this comment."}}},
                        :blog {:type "object",
                               :description "Data about the blog containing this comment.",
                               :properties {:id {:type "string",
                                                 :description "The identifier of the blog containing this comment."}}},
                        :published {:type "string",
                                    :description "RFC 3339 date-time when this comment was published.",
                                    :format "date-time"}}},
 :BlogList {:id "BlogList",
            :type "object",
            :properties {:blogUserInfos {:type "array",
                                         :description "Admin level list of blog per-user information",
                                         :items {:$ref "BlogUserInfo"}},
                         :items {:type "array",
                                 :description "The list of Blogs this user has Authorship or Admin rights over.",
                                 :items {:$ref "Blog"}},
                         :kind {:type "string",
                                :description "The kind of this entity. Always blogger#blogList",
                                :default "blogger#blogList"}}},
 :Page {:id "Page",
        :type "object",
        :properties {:content {:type "string",
                               :description "The body content of this Page, in HTML."},
                     :updated {:type "string",
                               :description "RFC 3339 date-time when this Page was last updated.",
                               :format "date-time"},
                     :selfLink {:type "string",
                                :description "The API REST URL to fetch this resource from."},
                     :etag {:type "string",
                            :description "Etag of the resource."},
                     :title {:type "string",
                             :description "The title of this entity. This is the name displayed in the Admin user interface."},
                     :author {:type "object",
                              :description "The author of this Page.",
                              :properties {:displayName {:type "string",
                                                         :description "The display name."},
                                           :id {:type "string",
                                                :description "The identifier of the Page creator."},
                                           :image {:type "object",
                                                   :description "The page author's avatar.",
                                                   :properties {:url {:type "string",
                                                                      :description "The page author's avatar URL."}}},
                                           :url {:type "string",
                                                 :description "The URL of the Page creator's Profile page."}}},
                     :status {:type "string",
                              :description "The status of the page for admin resources (either LIVE or DRAFT)."},
                     :id {:type "string",
                          :description "The identifier for this resource."},
                     :kind {:type "string",
                            :description "The kind of this entity. Always blogger#page",
                            :default "blogger#page"},
                     :url {:type "string",
                           :description "The URL that this Page is displayed at."},
                     :blog {:type "object",
                            :description "Data about the blog containing this Page.",
                            :properties {:id {:type "string",
                                              :description "The identifier of the blog containing this page."}}},
                     :published {:type "string",
                                 :description "RFC 3339 date-time when this Page was published.",
                                 :format "date-time"}}},
 :Blog {:id "Blog",
        :type "object",
        :properties {:description {:type "string",
                                   :description "The description of this blog. This is displayed underneath the title."},
                     :locale {:type "object",
                              :description "The locale this Blog is set to.",
                              :properties {:country {:type "string",
                                                     :description "The country this blog's locale is set to."},
                                           :language {:type "string",
                                                      :description "The language this blog is authored in."},
                                           :variant {:type "string",
                                                     :description "The language variant this blog is authored in."}}},
                     :updated {:type "string",
                               :description "RFC 3339 date-time when this blog was last updated.",
                               :format "date-time"},
                     :name {:type "string",
                            :description "The name of this blog. This is displayed as the title."},
                     :selfLink {:type "string",
                                :description "The API REST URL to fetch this resource from."},
                     :pages {:type "object",
                             :description "The container of pages in this blog.",
                             :properties {:selfLink {:type "string",
                                                     :description "The URL of the container for pages in this blog."},
                                          :totalItems {:type "integer",
                                                       :description "The count of pages in this blog.",
                                                       :format "int32"}}},
                     :status {:type "string",
                              :description "The status of the blog."},
                     :customMetaData {:type "string",
                                      :description "The JSON custom meta-data for the Blog"},
                     :id {:type "string",
                          :description "The identifier for this resource."},
                     :kind {:type "string",
                            :description "The kind of this entry. Always blogger#blog",
                            :default "blogger#blog"},
                     :url {:type "string",
                           :description "The URL where this blog is published."},
                     :posts {:type "object",
                             :description "The container of posts in this blog.",
                             :properties {:items {:type "array",
                                                  :description "The List of Posts for this Blog.",
                                                  :items {:$ref "Post"}},
                                          :selfLink {:type "string",
                                                     :description "The URL of the container for posts in this blog."},
                                          :totalItems {:type "integer",
                                                       :description "The count of posts in this blog.",
                                                       :format "int32"}}},
                     :published {:type "string",
                                 :description "RFC 3339 date-time when this blog was published.",
                                 :format "date-time"}}},
 :User {:id "User",
        :type "object",
        :properties {:locale {:type "object",
                              :description "This user's locale",
                              :properties {:country {:type "string",
                                                     :description "The user's country setting."},
                                           :language {:type "string",
                                                      :description "The user's language setting."},
                                           :variant {:type "string",
                                                     :description "The user's language variant setting."}}},
                     :displayName {:type "string",
                                   :description "The display name."},
                     :selfLink {:type "string",
                                :description "The API REST URL to fetch this resource from."},
                     :created {:type "string",
                               :description "The timestamp of when this profile was created, in seconds since epoch.",
                               :format "date-time"},
                     :blogs {:type "object",
                             :description "The container of blogs for this user.",
                             :properties {:selfLink {:type "string",
                                                     :description "The URL of the Blogs for this user."}}},
                     :id {:type "string",
                          :description "The identifier for this User."},
                     :kind {:type "string",
                            :description "The kind of this entity. Always blogger#user",
                            :default "blogger#user"},
                     :url {:type "string",
                           :description "The user's profile page."},
                     :about {:type "string",
                             :description "Profile summary information."}}},
 :Pageviews {:id "Pageviews",
             :type "object",
             :properties {:blogId {:type "string",
                                   :description "Blog Id"},
                          :counts {:type "array",
                                   :description "The container of posts in this blog.",
                                   :items {:type "object",
                                           :properties {:count {:type "string",
                                                                :description "Count of page views for the given time range",
                                                                :format "int64"},
                                                        :timeRange {:type "string",
                                                                    :description "Time range the given count applies to"}}}},
                          :kind {:type "string",
                                 :description "The kind of this entry. Always blogger#page_views",
                                 :default "blogger#page_views"}}},
 :PageList {:id "PageList",
            :type "object",
            :properties {:etag {:type "string",
                                :description "Etag of the response."},
                         :items {:type "array",
                                 :description "The list of Pages for a Blog.",
                                 :items {:$ref "Page"}},
                         :kind {:type "string",
                                :description "The kind of this entity. Always blogger#pageList",
                                :default "blogger#pageList"},
                         :nextPageToken {:type "string",
                                         :description "Pagination token to fetch the next page, if one exists."}}},
 :BlogPerUserInfo {:id "BlogPerUserInfo",
                   :type "object",
                   :properties {:blogId {:type "string",
                                         :description "ID of the Blog resource"},
                                :hasAdminAccess {:type "boolean",
                                                 :description "True if the user has Admin level access to the blog."},
                                :kind {:type "string",
                                       :description "The kind of this entity. Always blogger#blogPerUserInfo",
                                       :default "blogger#blogPerUserInfo"},
                                :photosAlbumKey {:type "string",
                                                 :description "The Photo Album Key for the user when adding photos to the blog"},
                                :role {:type "string",
                                       :description "Access permissions that the user has for the blog (ADMIN, AUTHOR, or READER)."},
                                :userId {:type "string",
                                         :description "ID of the User"}}},
 :PostUserInfo {:id "PostUserInfo",
                :type "object",
                :properties {:kind {:type "string",
                                    :description "The kind of this entity. Always blogger#postUserInfo",
                                    :default "blogger#postUserInfo"},
                             :post {:$ref "Post",
                                    :description "The Post resource."},
                             :post_user_info {:$ref "PostPerUserInfo",
                                              :description "Information about a User for the Post."}}},
 :PostList {:id "PostList",
            :type "object",
            :properties {:etag {:type "string",
                                :description "Etag of the response."},
                         :items {:type "array",
                                 :description "The list of Posts for this Blog.",
                                 :items {:$ref "Post"}},
                         :kind {:type "string",
                                :description "The kind of this entity. Always blogger#postList",
                                :default "blogger#postList"},
                         :nextPageToken {:type "string",
                                         :description "Pagination token to fetch the next page, if one exists."}}},
 :PostUserInfosList {:id "PostUserInfosList",
                     :type "object",
                     :properties {:items {:type "array",
                                          :description "The list of Posts with User information for the post, for this Blog.",
                                          :items {:$ref "PostUserInfo"}},
                                  :kind {:type "string",
                                         :description "The kind of this entity. Always blogger#postList",
                                         :default "blogger#postUserInfosList"},
                                  :nextPageToken {:type "string",
                                                  :description "Pagination token to fetch the next page, if one exists."}}}}
