{:BlogUserInfo {:type "object",
                :id "BlogUserInfo",
                :properties {:blog_user_info {:description "Information about a User for the Blog.",
                                              :$ref "BlogPerUserInfo"},
                             :blog {:$ref "Blog",
                                    :description "The Blog resource."},
                             :kind {:description "The kind of this entity. Always blogger#blogUserInfo.",
                                    :type "string"}}},
 :PostPerUserInfo {:type "object",
                   :id "PostPerUserInfo",
                   :properties {:userId {:type "string",
                                         :description "ID of the User."},
                                :kind {:description "The kind of this entity. Always blogger#postPerUserInfo.",
                                       :type "string"},
                                :blogId {:description "ID of the Blog that the post resource belongs to.",
                                         :type "string"},
                                :postId {:type "string",
                                         :description "ID of the Post resource."},
                                :hasEditAccess {:type "boolean",
                                                :description "True if the user has Author level access to the post."}}},
 :Post {:properties {:labels {:description "The list of labels this Post was tagged with.",
                              :items {:type "string"},
                              :type "array"},
                     :titleLink {:description "The title link URL, similar to atom's related link.",
                                 :type "string"},
                     :content {:description "The content of the Post. May contain HTML markup.",
                               :type "string"},
                     :updated {:type "string",
                               :description "RFC 3339 date-time when this Post was last updated."},
                     :images {:type "array",
                              :description "Display image for the Post.",
                              :items {:type "object",
                                      :properties {:url {:type "string"}}}},
                     :selfLink {:type "string",
                                :description "The API REST URL to fetch this resource from."},
                     :etag {:type "string",
                            :description "Etag of the resource."},
                     :title {:type "string",
                             :description "The title of the Post."},
                     :author {:properties {:displayName {:type "string",
                                                         :description "The display name."},
                                           :url {:type "string",
                                                 :description "The URL of the creator's Profile page."},
                                           :id {:type "string",
                                                :description "The identifier of the creator."},
                                           :image {:description "The creator's avatar.",
                                                   :type "object",
                                                   :properties {:url {:type "string",
                                                                      :description "The creator's avatar URL."}}}},
                              :type "object",
                              :description "The author of this Post."},
                     :replies {:description "The container of comments on this Post.",
                               :type "object",
                               :properties {:selfLink {:type "string",
                                                       :description "The URL of the comments on this post."},
                                            :totalItems {:type "string",
                                                         :format "int64",
                                                         :description "The count of comments on this post."},
                                            :items {:description "The List of Comments for this Post.",
                                                    :items {:$ref "Comment"},
                                                    :type "array"}}},
                     :status {:enumDescriptions ["" "" "" ""],
                              :enum ["LIVE"
                                     "DRAFT"
                                     "SCHEDULED"
                                     "SOFT_TRASHED"],
                              :type "string",
                              :description "Status of the post. Only set for admin-level requests."},
                     :customMetaData {:type "string",
                                      :description "The JSON meta-data for the Post."},
                     :trashed {:description "RFC 3339 date-time when this Post was last trashed.",
                               :type "string"},
                     :id {:description "The identifier of this Post.",
                          :type "string"},
                     :kind {:type "string",
                            :description "The kind of this entity. Always blogger#post."},
                     :url {:type "string",
                           :description "The URL where this Post is displayed."},
                     :readerComments {:description "Comment control and display setting for readers of this post.",
                                      :enumDescriptions ["" "" ""],
                                      :enum ["ALLOW"
                                             "DONT_ALLOW_SHOW_EXISTING"
                                             "DONT_ALLOW_HIDE_EXISTING"],
                                      :type "string"},
                     :location {:properties {:lat {:format "double",
                                                   :description "Location's latitude.",
                                                   :type "number"},
                                             :lng {:format "double",
                                                   :type "number",
                                                   :description "Location's longitude."},
                                             :span {:description "Location's viewport span. Can be used when rendering a map preview.",
                                                    :type "string"},
                                             :name {:type "string",
                                                    :description "Location name."}},
                                :description "The location for geotagged posts.",
                                :type "object"},
                     :blog {:type "object",
                            :description "Data about the blog containing this Post.",
                            :properties {:id {:type "string",
                                              :description "The identifier of the Blog that contains this Post."}}},
                     :published {:description "RFC 3339 date-time when this Post was published.",
                                 :type "string"}},
        :id "Post",
        :type "object"},
 :CommentList {:type "object",
               :id "CommentList",
               :properties {:nextPageToken {:type "string",
                                            :description "Pagination token to fetch the next page, if one exists."},
                            :kind {:type "string",
                                   :description "The kind of this entry. Always blogger#commentList."},
                            :prevPageToken {:type "string",
                                            :description "Pagination token to fetch the previous page, if one exists."},
                            :items {:type "array",
                                    :items {:$ref "Comment"},
                                    :description "The List of Comments for a Post."},
                            :etag {:type "string",
                                   :description "Etag of the response."}}},
 :Comment {:type "object",
           :id "Comment",
           :properties {:inReplyTo {:properties {:id {:type "string",
                                                      :description "The identified of the parent of this comment."}},
                                    :type "object",
                                    :description "Data about the comment this is in reply to."},
                        :content {:description "The actual content of the comment. May include HTML markup.",
                                  :type "string"},
                        :updated {:type "string",
                                  :description "RFC 3339 date-time when this comment was last updated."},
                        :selfLink {:description "The API REST URL to fetch this resource from.",
                                   :type "string"},
                        :author {:type "object",
                                 :properties {:id {:description "The identifier of the creator.",
                                                   :type "string"},
                                              :url {:description "The URL of the creator's Profile page.",
                                                    :type "string"},
                                              :image {:properties {:url {:description "The creator's avatar URL.",
                                                                         :type "string"}},
                                                      :description "The creator's avatar.",
                                                      :type "object"},
                                              :displayName {:type "string",
                                                            :description "The display name."}},
                                 :description "The author of this Comment."},
                        :status {:enum ["LIVE"
                                        "EMPTIED"
                                        "PENDING"
                                        "SPAM"],
                                 :type "string",
                                 :enumDescriptions ["" "" "" ""],
                                 :description "The status of the comment (only populated for admin users)."},
                        :id {:type "string",
                             :description "The identifier for this resource."},
                        :kind {:description "The kind of this entry. Always blogger#comment.",
                               :type "string"},
                        :post {:description "Data about the post containing this comment.",
                               :properties {:id {:type "string",
                                                 :description "The identifier of the post containing this comment."}},
                               :type "object"},
                        :blog {:type "object",
                               :description "Data about the blog containing this comment.",
                               :properties {:id {:description "The identifier of the blog containing this comment.",
                                                 :type "string"}}},
                        :published {:description "RFC 3339 date-time when this comment was published.",
                                    :type "string"}}},
 :BlogList {:type "object",
            :properties {:kind {:type "string",
                                :description "The kind of this entity. Always blogger#blogList."},
                         :items {:items {:$ref "Blog"},
                                 :description "The list of Blogs this user has Authorship or Admin rights over.",
                                 :type "array"},
                         :blogUserInfos {:description "Admin level list of blog per-user information.",
                                         :type "array",
                                         :items {:$ref "BlogUserInfo"}}},
            :id "BlogList"},
 :Page {:id "Page",
        :properties {:content {:description "The body content of this Page, in HTML.",
                               :type "string"},
                     :updated {:description "RFC 3339 date-time when this Page was last updated.",
                               :type "string"},
                     :selfLink {:description "The API REST URL to fetch this resource from.",
                                :type "string"},
                     :etag {:description "Etag of the resource.",
                            :type "string"},
                     :title {:type "string",
                             :description "The title of this entity. This is the name displayed in the Admin user interface."},
                     :author {:type "object",
                              :description "The author of this Page.",
                              :properties {:url {:type "string",
                                                 :description "The URL of the creator's Profile page."},
                                           :id {:description "The identifier of the creator.",
                                                :type "string"},
                                           :image {:properties {:url {:description "The creator's avatar URL.",
                                                                      :type "string"}},
                                                   :description "The creator's avatar.",
                                                   :type "object"},
                                           :displayName {:type "string",
                                                         :description "The display name."}}},
                     :status {:enumDescriptions ["" "" ""],
                              :type "string",
                              :description "The status of the page for admin resources (either LIVE or DRAFT).",
                              :enum ["LIVE" "DRAFT" "SOFT_TRASHED"]},
                     :trashed {:description "RFC 3339 date-time when this Page was trashed.",
                               :type "string"},
                     :id {:description "The identifier for this resource.",
                          :type "string"},
                     :kind {:type "string",
                            :description "The kind of this entity. Always blogger#page."},
                     :url {:type "string",
                           :description "The URL that this Page is displayed at."},
                     :blog {:properties {:id {:description "The identifier of the blog containing this page.",
                                              :type "string"}},
                            :description "Data about the blog containing this Page.",
                            :type "object"},
                     :published {:type "string",
                                 :description "RFC 3339 date-time when this Page was published."}},
        :type "object"},
 :Blog {:type "object",
        :id "Blog",
        :properties {:description {:type "string",
                                   :description "The description of this blog. This is displayed underneath the title."},
                     :locale {:description "The locale this Blog is set to.",
                              :properties {:variant {:type "string",
                                                     :description "The language variant this blog is authored in."},
                                           :country {:type "string",
                                                     :description "The country this blog's locale is set to."},
                                           :language {:description "The language this blog is authored in.",
                                                      :type "string"}},
                              :type "object"},
                     :updated {:description "RFC 3339 date-time when this blog was last updated.",
                               :type "string"},
                     :name {:type "string",
                            :description "The name of this blog. This is displayed as the title."},
                     :selfLink {:type "string",
                                :description "The API REST URL to fetch this resource from."},
                     :pages {:description "The container of pages in this blog.",
                             :type "object",
                             :properties {:selfLink {:description "The URL of the container for pages in this blog.",
                                                     :type "string"},
                                          :totalItems {:description "The count of pages in this blog.",
                                                       :format "int32",
                                                       :type "integer"}}},
                     :status {:description "The status of the blog.",
                              :type "string",
                              :enumDescriptions ["" ""],
                              :enum ["LIVE" "DELETED"]},
                     :customMetaData {:description "The JSON custom meta-data for the Blog.",
                                      :type "string"},
                     :id {:type "string",
                          :description "The identifier for this resource."},
                     :kind {:type "string",
                            :description "The kind of this entry. Always blogger#blog."},
                     :url {:type "string",
                           :description "The URL where this blog is published."},
                     :posts {:type "object",
                             :description "The container of posts in this blog.",
                             :properties {:totalItems {:type "integer",
                                                       :format "int32",
                                                       :description "The count of posts in this blog."},
                                          :items {:items {:$ref "Post"},
                                                  :type "array",
                                                  :description "The List of Posts for this Blog."},
                                          :selfLink {:type "string",
                                                     :description "The URL of the container for posts in this blog."}}},
                     :published {:type "string",
                                 :description "RFC 3339 date-time when this blog was published."}}},
 :User {:type "object",
        :properties {:locale {:type "object",
                              :properties {:variant {:description "The language variant this blog is authored in.",
                                                     :type "string"},
                                           :language {:type "string",
                                                      :description "The language this blog is authored in."},
                                           :country {:type "string",
                                                     :description "The country this blog's locale is set to."}},
                              :description "This user's locale"},
                     :displayName {:type "string",
                                   :description "The display name."},
                     :selfLink {:type "string",
                                :description "The API REST URL to fetch this resource from."},
                     :created {:description "The timestamp of when this profile was created, in seconds since epoch.",
                               :type "string"},
                     :blogs {:description "The container of blogs for this user.",
                             :type "object",
                             :properties {:selfLink {:type "string",
                                                     :description "The URL of the Blogs for this user."}}},
                     :id {:description "The identifier for this User.",
                          :type "string"},
                     :kind {:type "string",
                            :description "The kind of this entity. Always blogger#user."},
                     :url {:type "string",
                           :description "The user's profile page."},
                     :about {:description "Profile summary information.",
                             :type "string"}},
        :id "User"},
 :Pageviews {:properties {:counts {:items {:properties {:count {:type "string",
                                                                :description "Count of page views for the given time range.",
                                                                :format "int64"},
                                                        :timeRange {:description "Time range the given count applies to.",
                                                                    :enum ["ALL_TIME"
                                                                           "THIRTY_DAYS"
                                                                           "SEVEN_DAYS"],
                                                                    :type "string",
                                                                    :enumDescriptions [""
                                                                                       ""
                                                                                       ""]}},
                                           :type "object"},
                                   :type "array",
                                   :description "The container of posts in this blog."},
                          :blogId {:type "string",
                                   :description "Blog Id."},
                          :kind {:description "The kind of this entry. Always blogger#page_views.",
                                 :type "string"}},
             :id "Pageviews",
             :type "object"},
 :PageList {:type "object",
            :properties {:kind {:type "string",
                                :description "The kind of this entity. Always blogger#pageList."},
                         :etag {:type "string",
                                :description "Etag of the response."},
                         :nextPageToken {:description "Pagination token to fetch the next page, if one exists.",
                                         :type "string"},
                         :items {:type "array",
                                 :description "The list of Pages for a Blog.",
                                 :items {:$ref "Page"}}},
            :id "PageList"},
 :BlogPerUserInfo {:properties {:kind {:description "The kind of this entity. Always blogger#blogPerUserInfo.",
                                       :type "string"},
                                :role {:description "Access permissions that the user has for the blog (ADMIN, AUTHOR, or READER).",
                                       :enumDescriptions ["" "" "" ""],
                                       :enum ["VIEW_TYPE_UNSPECIFIED"
                                              "READER"
                                              "AUTHOR"
                                              "ADMIN"],
                                       :type "string"},
                                :hasAdminAccess {:description "True if the user has Admin level access to the blog.",
                                                 :type "boolean"},
                                :blogId {:type "string",
                                         :description "ID of the Blog resource."},
                                :photosAlbumKey {:description "The Photo Album Key for the user when adding photos to the blog.",
                                                 :type "string"},
                                :userId {:description "ID of the User.",
                                         :type "string"}},
                   :id "BlogPerUserInfo",
                   :type "object"},
 :PostUserInfo {:type "object",
                :id "PostUserInfo",
                :properties {:kind {:type "string",
                                    :description "The kind of this entity. Always blogger#postUserInfo."},
                             :post {:$ref "Post",
                                    :description "The Post resource."},
                             :post_user_info {:$ref "PostPerUserInfo",
                                              :description "Information about a User for the Post."}}},
 :PostList {:properties {:nextPageToken {:type "string",
                                         :description "Pagination token to fetch the next page, if one exists."},
                         :prevPageToken {:description "Pagination token to fetch the previous page, if one exists.",
                                         :type "string"},
                         :kind {:description "The kind of this entity. Always blogger#postList.",
                                :type "string"},
                         :items {:items {:$ref "Post"},
                                 :type "array",
                                 :description "The list of Posts for this Blog."},
                         :etag {:description "Etag of the response.",
                                :type "string"}},
            :id "PostList",
            :type "object"},
 :PostUserInfosList {:type "object",
                     :id "PostUserInfosList",
                     :properties {:kind {:type "string",
                                         :description "The kind of this entity. Always blogger#postList."},
                                  :nextPageToken {:type "string",
                                                  :description "Pagination token to fetch the next page, if one exists."},
                                  :items {:description "The list of Posts with User information for the post, for this Blog.",
                                          :type "array",
                                          :items {:$ref "PostUserInfo"}}}}}
