{:BlogUserInfo {:type "object",
                :id "BlogUserInfo",
                :properties {:kind {:type "string",
                                    :description "The kind of this entity. Always blogger#blogUserInfo."},
                             :blog_user_info {:$ref "BlogPerUserInfo",
                                              :description "Information about a User for the Blog."},
                             :blog {:$ref "Blog",
                                    :description "The Blog resource."}}},
 :PostPerUserInfo {:properties {:hasEditAccess {:type "boolean",
                                                :description "True if the user has Author level access to the post."},
                                :kind {:description "The kind of this entity. Always blogger#postPerUserInfo.",
                                       :type "string"},
                                :blogId {:type "string",
                                         :description "ID of the Blog that the post resource belongs to."},
                                :userId {:type "string",
                                         :description "ID of the User."},
                                :postId {:type "string",
                                         :description "ID of the Post resource."}},
                   :type "object",
                   :id "PostPerUserInfo"},
 :Post {:properties {:labels {:description "The list of labels this Post was tagged with.",
                              :type "array",
                              :items {:type "string"}},
                     :titleLink {:type "string",
                                 :description "The title link URL, similar to atom's related link."},
                     :content {:description "The content of the Post. May contain HTML markup.",
                               :type "string"},
                     :updated {:type "string",
                               :description "RFC 3339 date-time when this Post was last updated."},
                     :images {:type "array",
                              :items {:type "object",
                                      :properties {:url {:type "string"}}},
                              :description "Display image for the Post."},
                     :selfLink {:type "string",
                                :description "The API REST URL to fetch this resource from."},
                     :etag {:type "string",
                            :description "Etag of the resource."},
                     :title {:type "string",
                             :description "The title of the Post."},
                     :author {:properties {:url {:description "The URL of the creator's Profile page.",
                                                 :type "string"},
                                           :image {:description "The creator's avatar.",
                                                   :type "object",
                                                   :properties {:url {:type "string",
                                                                      :description "The creator's avatar URL."}}},
                                           :id {:type "string",
                                                :description "The identifier of the creator."},
                                           :displayName {:type "string",
                                                         :description "The display name."}},
                              :type "object",
                              :description "The author of this Post."},
                     :replies {:properties {:totalItems {:format "int64",
                                                         :type "string",
                                                         :description "The count of comments on this post."},
                                            :selfLink {:description "The URL of the comments on this post.",
                                                       :type "string"},
                                            :items {:type "array",
                                                    :description "The List of Comments for this Post.",
                                                    :items {:$ref "Comment"}}},
                               :type "object",
                               :description "The container of comments on this Post."},
                     :status {:enumDescriptions ["" "" ""],
                              :description "Status of the post. Only set for admin-level requests.",
                              :enum ["LIVE" "DRAFT" "SCHEDULED"],
                              :type "string"},
                     :customMetaData {:type "string",
                                      :description "The JSON meta-data for the Post."},
                     :id {:type "string",
                          :description "The identifier of this Post."},
                     :kind {:type "string",
                            :description "The kind of this entity. Always blogger#post."},
                     :url {:description "The URL where this Post is displayed.",
                           :type "string"},
                     :readerComments {:description "Comment control and display setting for readers of this post.",
                                      :enumDescriptions ["" "" ""],
                                      :enum ["ALLOW"
                                             "DONT_ALLOW_SHOW_EXISTING"
                                             "DONT_ALLOW_HIDE_EXISTING"],
                                      :type "string"},
                     :location {:type "object",
                                :description "The location for geotagged posts.",
                                :properties {:lng {:format "double",
                                                   :description "Location's longitude.",
                                                   :type "number"},
                                             :name {:description "Location name.",
                                                    :type "string"},
                                             :span {:description "Location's viewport span. Can be used when rendering a map preview.",
                                                    :type "string"},
                                             :lat {:description "Location's latitude.",
                                                   :format "double",
                                                   :type "number"}}},
                     :blog {:properties {:id {:type "string",
                                              :description "The identifier of the Blog that contains this Post."}},
                            :type "object",
                            :description "Data about the blog containing this Post."},
                     :published {:description "RFC 3339 date-time when this Post was published.",
                                 :type "string"}},
        :type "object",
        :id "Post"},
 :CommentList {:id "CommentList",
               :properties {:prevPageToken {:description "Pagination token to fetch the previous page, if one exists.",
                                            :type "string"},
                            :kind {:description "The kind of this entry. Always blogger#commentList.",
                                   :type "string"},
                            :nextPageToken {:description "Pagination token to fetch the next page, if one exists.",
                                            :type "string"},
                            :items {:description "The List of Comments for a Post.",
                                    :items {:$ref "Comment"},
                                    :type "array"},
                            :etag {:description "Etag of the response.",
                                   :type "string"}},
               :type "object"},
 :Comment {:type "object",
           :id "Comment",
           :properties {:inReplyTo {:properties {:id {:type "string",
                                                      :description "The identified of the parent of this comment."}},
                                    :description "Data about the comment this is in reply to.",
                                    :type "object"},
                        :content {:description "The actual content of the comment. May include HTML markup.",
                                  :type "string"},
                        :updated {:type "string",
                                  :description "RFC 3339 date-time when this comment was last updated."},
                        :selfLink {:type "string",
                                   :description "The API REST URL to fetch this resource from."},
                        :author {:description "The author of this Comment.",
                                 :type "object",
                                 :properties {:id {:type "string",
                                                   :description "The identifier of the creator."},
                                              :displayName {:description "The display name.",
                                                            :type "string"},
                                              :url {:type "string",
                                                    :description "The URL of the creator's Profile page."},
                                              :image {:properties {:url {:description "The creator's avatar URL.",
                                                                         :type "string"}},
                                                      :description "The creator's avatar.",
                                                      :type "object"}}},
                        :status {:type "string",
                                 :enumDescriptions ["" "" "" ""],
                                 :description "The status of the comment (only populated for admin users).",
                                 :enum ["LIVE"
                                        "EMPTIED"
                                        "PENDING"
                                        "SPAM"]},
                        :id {:type "string",
                             :description "The identifier for this resource."},
                        :kind {:type "string",
                               :description "The kind of this entry. Always blogger#comment."},
                        :post {:properties {:id {:description "The identifier of the post containing this comment.",
                                                 :type "string"}},
                               :description "Data about the post containing this comment.",
                               :type "object"},
                        :blog {:properties {:id {:description "The identifier of the blog containing this comment.",
                                                 :type "string"}},
                               :description "Data about the blog containing this comment.",
                               :type "object"},
                        :published {:description "RFC 3339 date-time when this comment was published.",
                                    :type "string"}}},
 :BlogList {:id "BlogList",
            :type "object",
            :properties {:items {:description "The list of Blogs this user has Authorship or Admin rights over.",
                                 :items {:$ref "Blog"},
                                 :type "array"},
                         :kind {:type "string",
                                :description "The kind of this entity. Always blogger#blogList."},
                         :blogUserInfos {:items {:$ref "BlogUserInfo"},
                                         :type "array",
                                         :description "Admin level list of blog per-user information."}}},
 :Page {:properties {:content {:type "string",
                               :description "The body content of this Page, in HTML."},
                     :updated {:description "RFC 3339 date-time when this Page was last updated.",
                               :type "string"},
                     :selfLink {:type "string",
                                :description "The API REST URL to fetch this resource from."},
                     :etag {:type "string",
                            :description "Etag of the resource."},
                     :title {:type "string",
                             :description "The title of this entity. This is the name displayed in the Admin user interface."},
                     :author {:type "object",
                              :properties {:image {:type "object",
                                                   :properties {:url {:description "The creator's avatar URL.",
                                                                      :type "string"}},
                                                   :description "The creator's avatar."},
                                           :displayName {:description "The display name.",
                                                         :type "string"},
                                           :url {:description "The URL of the creator's Profile page.",
                                                 :type "string"},
                                           :id {:type "string",
                                                :description "The identifier of the creator."}},
                              :description "The author of this Page."},
                     :status {:enumDescriptions ["" ""],
                              :type "string",
                              :description "The status of the page for admin resources (either LIVE or DRAFT).",
                              :enum ["LIVE" "DRAFT"]},
                     :id {:description "The identifier for this resource.",
                          :type "string"},
                     :kind {:description "The kind of this entity. Always blogger#page.",
                            :type "string"},
                     :url {:type "string",
                           :description "The URL that this Page is displayed at."},
                     :blog {:description "Data about the blog containing this Page.",
                            :type "object",
                            :properties {:id {:description "The identifier of the blog containing this page.",
                                              :type "string"}}},
                     :published {:description "RFC 3339 date-time when this Page was published.",
                                 :type "string"}},
        :type "object",
        :id "Page"},
 :Blog {:id "Blog",
        :type "object",
        :properties {:description {:type "string",
                                   :description "The description of this blog. This is displayed underneath the title."},
                     :locale {:type "object",
                              :description "The locale this Blog is set to.",
                              :properties {:country {:description "The country this blog's locale is set to.",
                                                     :type "string"},
                                           :variant {:description "The language variant this blog is authored in.",
                                                     :type "string"},
                                           :language {:description "The language this blog is authored in.",
                                                      :type "string"}}},
                     :updated {:description "RFC 3339 date-time when this blog was last updated.",
                               :type "string"},
                     :name {:type "string",
                            :description "The name of this blog. This is displayed as the title."},
                     :selfLink {:description "The API REST URL to fetch this resource from.",
                                :type "string"},
                     :pages {:type "object",
                             :properties {:totalItems {:type "integer",
                                                       :format "int32",
                                                       :description "The count of pages in this blog."},
                                          :selfLink {:type "string",
                                                     :description "The URL of the container for pages in this blog."}},
                             :description "The container of pages in this blog."},
                     :status {:enum ["LIVE" "DELETED"],
                              :description "The status of the blog.",
                              :type "string",
                              :enumDescriptions ["" ""]},
                     :customMetaData {:description "The JSON custom meta-data for the Blog.",
                                      :type "string"},
                     :id {:type "string",
                          :description "The identifier for this resource."},
                     :kind {:type "string",
                            :description "The kind of this entry. Always blogger#blog."},
                     :url {:description "The URL where this blog is published.",
                           :type "string"},
                     :posts {:type "object",
                             :properties {:selfLink {:type "string",
                                                     :description "The URL of the container for posts in this blog."},
                                          :totalItems {:format "int32",
                                                       :description "The count of posts in this blog.",
                                                       :type "integer"},
                                          :items {:description "The List of Posts for this Blog.",
                                                  :type "array",
                                                  :items {:$ref "Post"}}},
                             :description "The container of posts in this blog."},
                     :published {:description "RFC 3339 date-time when this blog was published.",
                                 :type "string"}}},
 :User {:properties {:locale {:properties {:language {:type "string",
                                                      :description "The language this blog is authored in."},
                                           :country {:type "string",
                                                     :description "The country this blog's locale is set to."},
                                           :variant {:description "The language variant this blog is authored in.",
                                                     :type "string"}},
                              :description "This user's locale",
                              :type "object"},
                     :displayName {:type "string",
                                   :description "The display name."},
                     :selfLink {:type "string",
                                :description "The API REST URL to fetch this resource from."},
                     :created {:type "string",
                               :description "The timestamp of when this profile was created, in seconds since epoch."},
                     :blogs {:description "The container of blogs for this user.",
                             :type "object",
                             :properties {:selfLink {:description "The URL of the Blogs for this user.",
                                                     :type "string"}}},
                     :id {:description "The identifier for this User.",
                          :type "string"},
                     :kind {:type "string",
                            :description "The kind of this entity. Always blogger#user."},
                     :url {:type "string",
                           :description "The user's profile page."},
                     :about {:type "string",
                             :description "Profile summary information."}},
        :id "User",
        :type "object"},
 :Pageviews {:properties {:kind {:type "string",
                                 :description "The kind of this entry. Always blogger#page_views."},
                          :counts {:type "array",
                                   :description "The container of posts in this blog.",
                                   :items {:type "object",
                                           :properties {:count {:description "Count of page views for the given time range.",
                                                                :type "string",
                                                                :format "int64"},
                                                        :timeRange {:description "Time range the given count applies to.",
                                                                    :enum ["ALL_TIME"
                                                                           "THIRTY_DAYS"
                                                                           "SEVEN_DAYS"],
                                                                    :enumDescriptions [""
                                                                                       ""
                                                                                       ""],
                                                                    :type "string"}}}},
                          :blogId {:type "string",
                                   :description "Blog Id."}},
             :id "Pageviews",
             :type "object"},
 :PageList {:type "object",
            :id "PageList",
            :properties {:kind {:description "The kind of this entity. Always blogger#pageList.",
                                :type "string"},
                         :etag {:type "string",
                                :description "Etag of the response."},
                         :items {:description "The list of Pages for a Blog.",
                                 :items {:$ref "Page"},
                                 :type "array"},
                         :nextPageToken {:description "Pagination token to fetch the next page, if one exists.",
                                         :type "string"}}},
 :BlogPerUserInfo {:properties {:hasAdminAccess {:type "boolean",
                                                 :description "True if the user has Admin level access to the blog."},
                                :photosAlbumKey {:type "string",
                                                 :description "The Photo Album Key for the user when adding photos to the blog."},
                                :kind {:type "string",
                                       :description "The kind of this entity. Always blogger#blogPerUserInfo."},
                                :blogId {:type "string",
                                         :description "ID of the Blog resource."},
                                :role {:enum ["VIEW_TYPE_UNSPECIFIED"
                                              "READER"
                                              "AUTHOR"
                                              "ADMIN"],
                                       :description "Access permissions that the user has for the blog (ADMIN, AUTHOR, or READER).",
                                       :enumDescriptions ["" "" "" ""],
                                       :type "string"},
                                :userId {:description "ID of the User.",
                                         :type "string"}},
                   :id "BlogPerUserInfo",
                   :type "object"},
 :PostUserInfo {:properties {:post_user_info {:description "Information about a User for the Post.",
                                              :$ref "PostPerUserInfo"},
                             :kind {:type "string",
                                    :description "The kind of this entity. Always blogger#postUserInfo."},
                             :post {:description "The Post resource.",
                                    :$ref "Post"}},
                :type "object",
                :id "PostUserInfo"},
 :PostList {:type "object",
            :id "PostList",
            :properties {:nextPageToken {:description "Pagination token to fetch the next page, if one exists.",
                                         :type "string"},
                         :etag {:type "string",
                                :description "Etag of the response."},
                         :items {:description "The list of Posts for this Blog.",
                                 :type "array",
                                 :items {:$ref "Post"}},
                         :kind {:description "The kind of this entity. Always blogger#postList.",
                                :type "string"},
                         :prevPageToken {:description "Pagination token to fetch the previous page, if one exists.",
                                         :type "string"}}},
 :PostUserInfosList {:properties {:nextPageToken {:description "Pagination token to fetch the next page, if one exists.",
                                                  :type "string"},
                                  :items {:items {:$ref "PostUserInfo"},
                                          :description "The list of Posts with User information for the post, for this Blog.",
                                          :type "array"},
                                  :kind {:description "The kind of this entity. Always blogger#postList.",
                                         :type "string"}},
                     :id "PostUserInfosList",
                     :type "object"}}
