{:ContactCenter {:id "ContactCenter",
                 :description "Message describing ContactCenter object Next ID: 22",
                 :type "object",
                 :properties {:labels {:description "Labels as key value pairs",
                                       :type "object",
                                       :additionalProperties {:type "string"}},
                              :customerDomainPrefix {:description "Required. Immutable. At least 2 and max 16 char long, must conform to [RFC 1035](https://www.ietf.org/rfc/rfc1035.txt).",
                                                     :type "string"},
                              :displayName {:description "Required. A user friendly name for the ContactCenter.",
                                            :type "string"},
                              :name {:description "name of resource",
                                     :type "string"},
                              :createTime {:description "Output only. [Output only] Create time stamp",
                                           :readOnly true,
                                           :type "string",
                                           :format "google-datetime"},
                              :samlParams {:description "Optional. Params that sets up Google as IdP.",
                                           :$ref "SAMLParams"},
                              :privateComponents {:description "Output only. A list of UJET components that should be privately accessed. This field is set by reading settings from the data plane. For more information about the format of the component please refer to go/ccaip-vpc-sc-org-policy. This field is must be fully populated only for Create/Update resource operations. The main use case for this field is OrgPolicy checks via CPE.",
                                                  :readOnly true,
                                                  :type "array",
                                                  :items {:type "string"}},
                              :state {:description "Output only. The state of this contact center.",
                                      :readOnly true,
                                      :type "string",
                                      :enumDescriptions ["The default value. This value is used if the state is omitted."
                                                         "State DEPLOYING"
                                                         "State DEPLOYED"
                                                         "State TERMINATING"
                                                         "State FAILED"
                                                         "State TERMINATING_FAILED"
                                                         "State TERMINATED"
                                                         "State IN_GRACE_PERIOD"],
                                      :enum ["STATE_UNSPECIFIED"
                                             "STATE_DEPLOYING"
                                             "STATE_DEPLOYED"
                                             "STATE_TERMINATING"
                                             "STATE_FAILED"
                                             "STATE_TERMINATING_FAILED"
                                             "STATE_TERMINATED"
                                             "STATE_IN_GRACE_PERIOD"]},
                              :normal {:description "Optional. Normal release channel.",
                                       :$ref "Normal"},
                              :early {:description "Optional. Early release channel.",
                                      :$ref "Early"},
                              :updateTime {:description "Output only. [Output only] Update time stamp",
                                           :readOnly true,
                                           :type "string",
                                           :format "google-datetime"},
                              :adminUser {:description "Optional. Info about the first admin user, such as given name and family name.",
                                          :$ref "AdminUser"},
                              :ccaipManagedUsers {:description "Optional. Whether to enable users to be created in the CCAIP-instance concurrently to having users in Cloud identity",
                                                  :type "boolean"},
                              :kmsKey {:description "Immutable. The KMS key name to encrypt the user input (`ContactCenter`).",
                                       :type "string"},
                              :instanceConfig {:description "The configuration of this instance, it is currently immutable once created.",
                                               :$ref "InstanceConfig"},
                              :uris {:description "Output only. URIs to access the deployed ContactCenters.",
                                     :readOnly true,
                                     :$ref "URIs"},
                              :userEmail {:description "Optional. Email address of the first admin user.",
                                          :type "string"}}},
 :Normal {:id "Normal",
          :description "Instances in this Channel will receive updates after all instances in `Early` were updated + 2 days.",
          :type "object",
          :properties {}},
 :Operation {:id "Operation",
             :description "This resource represents a long-running operation that is the result of a network API call.",
             :type "object",
             :properties {:name {:description "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
                                 :type "string"},
                          :metadata {:description "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
                                     :type "object",
                                     :additionalProperties {:type "any",
                                                            :description "Properties of the object. Contains field @type with type URL."}},
                          :done {:description "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
                                 :type "boolean"},
                          :error {:description "The error result of the operation in case of failure or cancellation.",
                                  :$ref "Status"},
                          :response {:description "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
                                     :type "object",
                                     :additionalProperties {:type "any",
                                                            :description "Properties of the object. Contains field @type with type URL."}}}},
 :CancelOperationRequest {:id "CancelOperationRequest",
                          :description "The request message for Operations.CancelOperation.",
                          :type "object",
                          :properties {}},
 :Early {:id "Early",
         :description "First Channel to receive the updates. Meant to dev/test instances",
         :type "object",
         :properties {}},
 :AdminUser {:id "AdminUser",
             :description "Message storing info about the first admin user. Next ID: 3",
             :type "object",
             :properties {:givenName {:description "Optional. First/given name of the first admin user.",
                                      :type "string"},
                          :familyName {:description "Optional. Last/family name of the first admin user.",
                                       :type "string"}}},
 :Empty {:id "Empty",
         :description "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
         :type "object",
         :properties {}},
 :ListLocationsResponse {:id "ListLocationsResponse",
                         :description "The response message for Locations.ListLocations.",
                         :type "object",
                         :properties {:locations {:description "A list of locations that matches the specified filter in the request.",
                                                  :type "array",
                                                  :items {:$ref "Location"}},
                                      :nextPageToken {:description "The standard List next-page token.",
                                                      :type "string"}}},
 :InstanceConfig {:id "InstanceConfig",
                  :description "Message storing the instance configuration.",
                  :type "object",
                  :properties {:instanceSize {:description "The instance size of this the instance configuration.",
                                              :type "string",
                                              :enumDescriptions ["The default value. This value is used if the state is omitted."
                                                                 "Instance Size STANDARD_SMALL."
                                                                 "Instance Size STANDARD_MEDIUM."
                                                                 "Instance Size STANDARD_LARGE."
                                                                 "Instance Size STANDARD_XLARGE."
                                                                 "Instance Size STANDARD_2XLARGE."
                                                                 "Instance Size STANDARD_3XLARGE."
                                                                 "Instance Size DEV_EXTRA_SMALL."
                                                                 "Instance Size MULTIREGION_SMALL"
                                                                 "Instance Size MULTIREGION_MEDIUM"
                                                                 "Instance Size MULTIREGION_LARGE"
                                                                 "Instance Size MULTIREGION_XLARGE"
                                                                 "Instance Size MULTIREGION_2XLARGE."
                                                                 "Instance Size MULTIREGION_3XLARGE."],
                                              :enum ["INSTANCE_SIZE_UNSPECIFIED"
                                                     "STANDARD_SMALL"
                                                     "STANDARD_MEDIUM"
                                                     "STANDARD_LARGE"
                                                     "STANDARD_XLARGE"
                                                     "STANDARD_2XLARGE"
                                                     "STANDARD_3XLARGE"
                                                     "DEV_XSMALL"
                                                     "MULTIREGION_SMALL"
                                                     "MULTIREGION_MEDIUM"
                                                     "MULTIREGION_LARGE"
                                                     "MULTIREGION_XLARGE"
                                                     "MULTIREGION_2XLARGE"
                                                     "MULTIREGION_3XLARGE"]}}},
 :GoogleCloudCommonOperationMetadata {:id "GoogleCloudCommonOperationMetadata",
                                      :description "Represents the metadata of the long-running operation.",
                                      :type "object",
                                      :properties {:createTime {:description "Output only. The time the operation was created.",
                                                                :readOnly true,
                                                                :type "string",
                                                                :format "google-datetime"},
                                                   :endTime {:description "Output only. The time the operation finished running.",
                                                             :readOnly true,
                                                             :type "string",
                                                             :format "google-datetime"},
                                                   :target {:description "Output only. Server-defined resource path for the target of the operation.",
                                                            :readOnly true,
                                                            :type "string"},
                                                   :verb {:description "Output only. Name of the verb executed by the operation.",
                                                          :readOnly true,
                                                          :type "string"},
                                                   :statusDetail {:description "Output only. Human-readable status of the operation, if any.",
                                                                  :readOnly true,
                                                                  :type "string"},
                                                   :cancelRequested {:description "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
                                                                     :readOnly true,
                                                                     :type "boolean"},
                                                   :apiVersion {:description "Output only. API version used to start the operation.",
                                                                :readOnly true,
                                                                :type "string"}}},
 :SAMLParams {:id "SAMLParams",
              :description "Message storing SAML params to enable Google as IDP.",
              :type "object",
              :properties {:ssoUri {:description "Single sign-on URL",
                                    :type "string"},
                           :entityId {:description "Entity id URL",
                                      :type "string"},
                           :certificate {:description "SAML certificate",
                                         :type "string"},
                           :userEmail {:description "Email address of the first admin users.",
                                       :deprecated true,
                                       :type "string"},
                           :emailMapping {:description "IdP field that maps to the user’s email address",
                                          :type "string"}}},
 :URIs {:id "URIs",
        :description "Message storing the URIs of the ContactCenter.",
        :type "object",
        :properties {:rootUri {:description "Root Uri of the ContactCenter.",
                               :type "string"},
                     :mediaUri {:description "Media Uri of the ContactCenter.",
                                :type "string"},
                     :virtualAgentStreamingServiceUri {:description "Virtual Agent Streaming Service Uri of the ContactCenter.",
                                                       :type "string"},
                     :chatBotUri {:description "Chat Bot Uri of the ContactCenter",
                                  :type "string"}}},
 :ListContactCentersResponse {:id "ListContactCentersResponse",
                              :description "Message for response to listing ContactCenters",
                              :type "object",
                              :properties {:contactCenters {:description "The list of ContactCenter",
                                                            :type "array",
                                                            :items {:$ref "ContactCenter"}},
                                           :nextPageToken {:description "A token identifying a page of results the server should return.",
                                                           :type "string"},
                                           :unreachable {:description "Locations that could not be reached.",
                                                         :type "array",
                                                         :items {:type "string"}}}},
 :OperationMetadata {:id "OperationMetadata",
                     :description "Represents the metadata of the long-running operation.",
                     :type "object",
                     :properties {:createTime {:description "Output only. The time the operation was created.",
                                               :readOnly true,
                                               :type "string",
                                               :format "google-datetime"},
                                  :endTime {:description "Output only. The time the operation finished running.",
                                            :readOnly true,
                                            :type "string",
                                            :format "google-datetime"},
                                  :target {:description "Output only. Server-defined resource path for the target of the operation.",
                                           :readOnly true,
                                           :type "string"},
                                  :verb {:description "Output only. Name of the verb executed by the operation.",
                                         :readOnly true,
                                         :type "string"},
                                  :statusMessage {:description "Output only. Human-readable status of the operation, if any.",
                                                  :readOnly true,
                                                  :type "string"},
                                  :requestedCancellation {:description "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
                                                          :readOnly true,
                                                          :type "boolean"},
                                  :apiVersion {:description "Output only. API version used to start the operation.",
                                               :readOnly true,
                                               :type "string"},
                                  :contactCenter {:description "Contact center information for this request",
                                                  :$ref "ContactCenter"}}},
 :ListOperationsResponse {:id "ListOperationsResponse",
                          :description "The response message for Operations.ListOperations.",
                          :type "object",
                          :properties {:operations {:description "A list of operations that matches the specified filter in the request.",
                                                    :type "array",
                                                    :items {:$ref "Operation"}},
                                       :nextPageToken {:description "The standard List next-page token.",
                                                       :type "string"}}},
 :Location {:id "Location",
            :description "A resource that represents a Google Cloud location.",
            :type "object",
            :properties {:name {:description "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
                                :type "string"},
                         :locationId {:description "The canonical id for this location. For example: `\"us-east1\"`.",
                                      :type "string"},
                         :displayName {:description "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
                                       :type "string"},
                         :labels {:description "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
                                  :type "object",
                                  :additionalProperties {:type "string"}},
                         :metadata {:description "Service-specific metadata. For example the available capacity at the given location.",
                                    :type "object",
                                    :additionalProperties {:type "any",
                                                           :description "Properties of the object. Contains field @type with type URL."}}}},
 :ContactCenterQuota {:id "ContactCenterQuota",
                      :description "Represents a quota for contact centers.",
                      :type "object",
                      :properties {:contactCenterCountLimit {:description "Deprecated: Use the Quota fields instead. Reflects the count limit of contact centers on a billing account.",
                                                             :deprecated true,
                                                             :type "integer",
                                                             :format "int32"},
                                   :contactCenterCountSum {:description "Deprecated: Use the Quota fields instead. Reflects the count sum of contact centers on a billing account.",
                                                           :deprecated true,
                                                           :type "integer",
                                                           :format "int32"},
                                   :quotas {:description "Quota details per contact center instance type.",
                                            :type "array",
                                            :items {:$ref "Quota"}}}},
 :Quota {:id "Quota",
         :description "Quota details.",
         :type "object",
         :properties {:contactCenterCountLimit {:description "Reflects the count limit of contact centers on a billing account.",
                                                :type "integer",
                                                :format "int32"},
                      :contactCenterCountSum {:description "Reflects the count sum of contact centers on a billing account.",
                                              :type "integer",
                                              :format "int32"},
                      :contactCenterInstanceSize {:description "Contact center instance type.",
                                                  :type "string",
                                                  :enumDescriptions ["The default value. This value is used if the state is omitted."
                                                                     "Instance Size STANDARD_SMALL."
                                                                     "Instance Size STANDARD_MEDIUM."
                                                                     "Instance Size STANDARD_LARGE."
                                                                     "Instance Size STANDARD_XLARGE."
                                                                     "Instance Size STANDARD_2XLARGE."
                                                                     "Instance Size STANDARD_3XLARGE."
                                                                     "Instance Size DEV_EXTRA_SMALL."
                                                                     "Instance Size MULTIREGION_SMALL"
                                                                     "Instance Size MULTIREGION_MEDIUM"
                                                                     "Instance Size MULTIREGION_LARGE"
                                                                     "Instance Size MULTIREGION_XLARGE"
                                                                     "Instance Size MULTIREGION_2XLARGE."
                                                                     "Instance Size MULTIREGION_3XLARGE."],
                                                  :enum ["INSTANCE_SIZE_UNSPECIFIED"
                                                         "STANDARD_SMALL"
                                                         "STANDARD_MEDIUM"
                                                         "STANDARD_LARGE"
                                                         "STANDARD_XLARGE"
                                                         "STANDARD_2XLARGE"
                                                         "STANDARD_3XLARGE"
                                                         "DEV_XSMALL"
                                                         "MULTIREGION_SMALL"
                                                         "MULTIREGION_MEDIUM"
                                                         "MULTIREGION_LARGE"
                                                         "MULTIREGION_XLARGE"
                                                         "MULTIREGION_2XLARGE"
                                                         "MULTIREGION_3XLARGE"]}}},
 :Status {:id "Status",
          :description "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
          :type "object",
          :properties {:code {:description "The status code, which should be an enum value of google.rpc.Code.",
                              :type "integer",
                              :format "int32"},
                       :message {:description "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
                                 :type "string"},
                       :details {:description "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
                                 :type "array",
                                 :items {:type "object",
                                         :additionalProperties {:type "any",
                                                                :description "Properties of the object. Contains field @type with type URL."}}}}}}
