{:Context {:id "Context",
           :type "object",
           :properties {:facets {:type "array",
                                 :items {:type "array",
                                         :items {:type "object",
                                                 :properties {:anchor {:type "string"},
                                                              :label {:type "string"},
                                                              :label_with_op {:type "string"}}}}},
                        :title {:type "string"}}},
 :Promotion {:id "Promotion",
             :type "object",
             :properties {:bodyLines {:type "array",
                                      :items {:type "object",
                                              :properties {:htmlTitle {:type "string"},
                                                           :link {:type "string"},
                                                           :title {:type "string"},
                                                           :url {:type "string"}}}},
                          :displayLink {:type "string"},
                          :htmlTitle {:type "string"},
                          :image {:type "object",
                                  :properties {:height {:type "integer",
                                                        :format "int32"},
                                               :source {:type "string"},
                                               :width {:type "integer",
                                                       :format "int32"}}},
                          :link {:type "string"},
                          :title {:type "string"}}},
 :Query {:id "Query",
         :type "object",
         :properties {:excludeTerms {:type "string"},
                      :relatedSite {:type "string"},
                      :fileType {:type "string"},
                      :inputEncoding {:type "string"},
                      :searchType {:type "string"},
                      :siteSearch {:type "string"},
                      :imgSize {:type "string"},
                      :orTerms {:type "string"},
                      :googleHost {:type "string"},
                      :cr {:type "string"},
                      :title {:type "string"},
                      :outputEncoding {:type "string"},
                      :hq {:type "string"},
                      :filter {:type "string"},
                      :totalResults {:type "string", :format "int64"},
                      :imgColorType {:type "string"},
                      :exactTerms {:type "string"},
                      :hl {:type "string"},
                      :rights {:type "string"},
                      :imgDominantColor {:type "string"},
                      :language {:type "string"},
                      :imgType {:type "string"},
                      :cx {:type "string"},
                      :count {:type "integer", :format "int32"},
                      :startPage {:type "integer", :format "int32"},
                      :gl {:type "string"},
                      :disableCnTwTranslation {:type "string"},
                      :dateRestrict {:type "string"},
                      :searchTerms {:type "string"},
                      :safe {:type "string"},
                      :siteSearchFilter {:type "string"},
                      :lowRange {:type "string"},
                      :startIndex {:type "integer", :format "int32"},
                      :sort {:type "string"},
                      :linkSite {:type "string"},
                      :highRange {:type "string"}}},
 :Result {:id "Result",
          :type "object",
          :properties {:labels {:type "array",
                                :items {:type "object",
                                        :properties {:displayName {:type "string"},
                                                     :label_with_op {:type "string"},
                                                     :name {:type "string"}}}},
                       :pagemap {:type "object",
                                 :additionalProperties {:type "array",
                                                        :items {:type "object",
                                                                :additionalProperties {:type "any"}}}},
                       :displayLink {:type "string"},
                       :fileFormat {:type "string"},
                       :snippet {:type "string"},
                       :htmlSnippet {:type "string"},
                       :mime {:type "string"},
                       :title {:type "string"},
                       :htmlTitle {:type "string"},
                       :link {:type "string"},
                       :kind {:type "string",
                              :default "customsearch#result"},
                       :image {:type "object",
                               :properties {:byteSize {:type "integer",
                                                       :format "int32"},
                                            :contextLink {:type "string"},
                                            :height {:type "integer",
                                                     :format "int32"},
                                            :thumbnailHeight {:type "integer",
                                                              :format "int32"},
                                            :thumbnailLink {:type "string"},
                                            :thumbnailWidth {:type "integer",
                                                             :format "int32"},
                                            :width {:type "integer",
                                                    :format "int32"}}},
                       :htmlFormattedUrl {:type "string"},
                       :cacheId {:type "string"},
                       :formattedUrl {:type "string"}}},
 :Search {:id "Search",
          :type "object",
          :properties {:context {:$ref "Context"},
                       :items {:type "array", :items {:$ref "Result"}},
                       :kind {:type "string",
                              :default "customsearch#search"},
                       :promotions {:type "array",
                                    :items {:$ref "Promotion"}},
                       :queries {:type "object",
                                 :additionalProperties {:type "array",
                                                        :items {:$ref "Query"}}},
                       :searchInformation {:type "object",
                                           :properties {:formattedSearchTime {:type "string"},
                                                        :formattedTotalResults {:type "string"},
                                                        :searchTime {:type "number",
                                                                     :format "double"},
                                                        :totalResults {:type "string",
                                                                       :format "int64"}}},
                       :spelling {:type "object",
                                  :properties {:correctedQuery {:type "string"},
                                               :htmlCorrectedQuery {:type "string"}}},
                       :url {:type "object",
                             :properties {:template {:type "string",
                                                     :default "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"},
                                          :type {:type "string",
                                                 :default "application/json"}}}}}}
