{:InitiatePortabilityArchiveResponse {:type "object",
                                      :properties {:archiveJobId {:type "string",
                                                                  :description "The archive job ID that is initiated in the API. This can be used to get the state of the job."}},
                                      :id "InitiatePortabilityArchiveResponse",
                                      :description "Response from initiating an Archive job."},
 :RetryPortabilityArchiveRequest {:id "RetryPortabilityArchiveRequest",
                                  :description "Request to retry a failed Portability Archive job.",
                                  :type "object",
                                  :properties {}},
 :ResetAuthorizationRequest {:description "Request to reset exhausted OAuth scopes.",
                             :properties {},
                             :type "object",
                             :id "ResetAuthorizationRequest"},
 :Empty {:description "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
         :type "object",
         :id "Empty",
         :properties {}},
 :PortabilityArchiveState {:properties {:name {:description "The resource name of ArchiveJob's PortabilityArchiveState singleton. The format is: archiveJobs/{archive_job}/portabilityArchiveState. archive_job is the job ID provided in the request.",
                                               :type "string"},
                                        :urls {:type "array",
                                               :description "If the state is complete, this method returns the signed URLs of the objects in the Cloud Storage bucket.",
                                               :items {:type "string"}},
                                        :state {:type "string",
                                                :enum ["STATE_UNSPECIFIED"
                                                       "IN_PROGRESS"
                                                       "COMPLETE"
                                                       "FAILED"
                                                       "CANCELLED"],
                                                :enumDescriptions ["Default value. This value is unused."
                                                                   "The job is in progress."
                                                                   "The job is complete."
                                                                   "The job failed."
                                                                   "The job is cancelled."],
                                                :description "Resource that represents the state of the Archive job."}},
                           :description "Resource that contains the state of an Archive job.",
                           :id "PortabilityArchiveState",
                           :type "object"},
 :InitiatePortabilityArchiveRequest {:id "InitiatePortabilityArchiveRequest",
                                     :properties {:resources {:type "array",
                                                              :items {:type "string"},
                                                              :description "The resources from which you're exporting data. These values have a 1:1 correspondence with the OAuth scopes."}},
                                     :type "object",
                                     :description "Request to kick off an Archive job."},
 :RetryPortabilityArchiveResponse {:type "object",
                                   :description "Response from retrying a Portability Archive.",
                                   :properties {:archiveJobId {:type "string",
                                                               :description "The archive job ID that is initiated by the retry endpoint. This can be used to get the state of the new job."}},
                                   :id "RetryPortabilityArchiveResponse"}}
