{:RestResource {:type "object",
                :id "RestResource",
                :properties {:resources {:type "object",
                                         :additionalProperties {:description "Description for any sub-resources on this resource.",
                                                                :$ref "RestResource"},
                                         :description "Sub-resources on this resource."},
                             :methods {:type "object",
                                       :description "Methods on this resource.",
                                       :additionalProperties {:$ref "RestMethod",
                                                              :description "Description for any methods on this resource."}},
                             :deprecated {:type "boolean",
                                          :description "Whether this resource is deprecated."}}},
 :RestDescription {:properties {:description {:type "string",
                                              :description "The description of this API."},
                                :features {:items {:type "string"},
                                           :type "array",
                                           :description "A list of supported features for this API."},
                                :labels {:description "Labels for the status of this API, such as labs or deprecated.",
                                         :type "array",
                                         :items {:type "string"}},
                                :documentationLink {:type "string",
                                                    :description "A link to human readable documentation for the API."},
                                :revision {:description "The version of this API.",
                                           :type "string"},
                                :protocol {:type "string",
                                           :default "rest",
                                           :description "The protocol described by this document."},
                                :name {:description "The name of this API.",
                                       :type "string"},
                                :rootUrl {:description "The root URL under which all API services live.",
                                          :type "string"},
                                :batchPath {:description "The path for REST batch requests.",
                                            :type "string"},
                                :etag {:type "string",
                                       :readOnly true,
                                       :description "The ETag for this response."},
                                :baseUrl {:type "string",
                                          :description "[DEPRECATED] The base URL for REST requests."},
                                :auth {:type "object",
                                       :properties {:oauth2 {:type "object",
                                                             :properties {:scopes {:type "object",
                                                                                   :description "Available OAuth 2.0 scopes.",
                                                                                   :additionalProperties {:description "The scope value.",
                                                                                                          :properties {:description {:description "Description of scope.",
                                                                                                                                     :type "string"}},
                                                                                                          :type "object"}}},
                                                             :description "OAuth 2.0 authentication information."}},
                                       :description "Authentication information."},
                                :icons {:type "object",
                                        :description "Links to 16x16 and 32x32 icons representing the API.",
                                        :properties {:x16 {:description "The URL of the 16x16 icon.",
                                                           :type "string"},
                                                     :x32 {:type "string",
                                                           :description "The URL of the 32x32 icon."}}},
                                :canonicalName {:description "Indicates how the API name should be capitalized and split into various parts. Useful for generating pretty class names.",
                                                :type "string"},
                                :title {:description "The title of this API.",
                                        :type "string"},
                                :endpoints {:items {:type "object",
                                                    :properties {:description {:type "string",
                                                                               :description "A string describing the host designated by the URL"},
                                                                 :location {:description "The location of the endpoint",
                                                                            :type "string"},
                                                                 :deprecated {:description "Whether this endpoint is deprecated",
                                                                              :type "boolean"},
                                                                 :endpointUrl {:description "The URL of the endpoint target host",
                                                                               :type "string"}},
                                                    :description "A single endpoint object"},
                                            :description "A list of location-based endpoint objects for this API. Each object contains the endpoint URL, location, description and deprecation status.",
                                            :type "array"},
                                :ownerName {:type "string",
                                            :description "The name of the owner of this API. See ownerDomain."},
                                :methods {:description "API-level methods for this API.",
                                          :additionalProperties {:description "An individual method description.",
                                                                 :$ref "RestMethod"},
                                          :type "object"},
                                :schemas {:description "The schemas for this API.",
                                          :additionalProperties {:description "An individual schema description.",
                                                                 :$ref "JsonSchema"},
                                          :type "object"},
                                :id {:description "The ID of this API.",
                                     :type "string"},
                                :kind {:type "string",
                                       :default "discovery#restDescription",
                                       :description "The kind for this response."},
                                :version_module {:type "boolean"},
                                :packagePath {:description "The package of the owner of this API. See ownerDomain.",
                                              :type "string"},
                                :exponentialBackoffDefault {:description "Enable exponential backoff for suitable methods in the generated clients.",
                                                            :type "boolean"},
                                :version {:type "string",
                                          :description "The version of this API."},
                                :discoveryVersion {:type "string",
                                                   :default "v1",
                                                   :description "Indicate the version of the Discovery API used to generate this doc."},
                                :resources {:additionalProperties {:$ref "RestResource",
                                                                   :description "An individual resource description. Contains methods and sub-resources related to this resource."},
                                            :description "The resources in this API.",
                                            :type "object"},
                                :ownerDomain {:type "string",
                                              :description "The domain of the owner of this API. Together with the ownerName and a packagePath values, this can be used to generate a library for this API which would have a unique fully qualified name."},
                                :parameters {:type "object",
                                             :additionalProperties {:description "Description of a single parameter.",
                                                                    :$ref "JsonSchema"},
                                             :description "Common parameters that apply across all apis."},
                                :servicePath {:type "string",
                                              :description "The base path for all REST requests."},
                                :basePath {:description "[DEPRECATED] The base path for REST requests.",
                                           :type "string"}},
                   :type "object",
                   :id "RestDescription"},
 :DirectoryList {:id "DirectoryList",
                 :type "object",
                 :properties {:kind {:default "discovery#directoryList",
                                     :description "The kind for this response.",
                                     :type "string"},
                              :items {:items {:properties {:description {:description "The description of this API.",
                                                                         :type "string"},
                                                           :labels {:items {:type "string"},
                                                                    :type "array",
                                                                    :description "Labels for the status of this API, such as labs or deprecated."},
                                                           :discoveryLink {:description "A link to the discovery document.",
                                                                           :type "string"},
                                                           :documentationLink {:description "A link to human readable documentation for the API.",
                                                                               :type "string"},
                                                           :name {:description "The name of the API.",
                                                                  :type "string"},
                                                           :icons {:properties {:x32 {:type "string",
                                                                                      :description "The URL of the 32x32 icon."},
                                                                                :x16 {:type "string",
                                                                                      :description "The URL of the 16x16 icon."}},
                                                                   :description "Links to 16x16 and 32x32 icons representing the API.",
                                                                   :type "object"},
                                                           :title {:description "The title of this API.",
                                                                   :type "string"},
                                                           :discoveryRestUrl {:type "string",
                                                                              :description "The URL for the discovery REST document."},
                                                           :id {:description "The id of this API.",
                                                                :type "string"},
                                                           :kind {:type "string",
                                                                  :default "discovery#directoryItem",
                                                                  :description "The kind for this response."},
                                                           :preferred {:description "True if this version is the preferred version to use.",
                                                                       :type "boolean"},
                                                           :version {:description "The version of the API.",
                                                                     :type "string"}},
                                              :type "object"},
                                      :type "array",
                                      :description "The individual directory entries. One entry per api/version pair."},
                              :discoveryVersion {:default "v1",
                                                 :description "Indicate the version of the Discovery API used to generate this doc.",
                                                 :type "string"}}},
 :RestMethod {:properties {:response {:properties {:$ref {:description "Schema ID for the response schema.",
                                                          :type "string"}},
                                      :description "The schema for the response.",
                                      :type "object"},
                           :scopes {:items {:type "string"},
                                    :description "OAuth 2.0 scopes applicable to this method.",
                                    :type "array"},
                           :description {:description "Description of this method.",
                                         :type "string"},
                           :path {:type "string",
                                  :description "The URI path of this REST method. Should be used in conjunction with the basePath property at the api-level."},
                           :supportsMediaDownload {:description "Whether this method supports media downloads.",
                                                   :type "boolean"},
                           :supportsMediaUpload {:description "Whether this method supports media uploads.",
                                                 :type "boolean"},
                           :request {:type "object",
                                     :description "The schema for the request.",
                                     :properties {:parameterName {:type "string",
                                                                  :description "parameter name."},
                                                  :$ref {:type "string",
                                                         :description "Schema ID for the request schema."}}},
                           :mediaUpload {:type "object",
                                         :properties {:protocols {:type "object",
                                                                  :description "Supported upload protocols.",
                                                                  :properties {:resumable {:type "object",
                                                                                           :description "Supports the Resumable Media Upload protocol.",
                                                                                           :properties {:path {:description "The URI path to be used for upload. Should be used in conjunction with the basePath property at the api-level.",
                                                                                                               :type "string"},
                                                                                                        :multipart {:type "boolean",
                                                                                                                    :description "True if this endpoint supports uploading multipart media.",
                                                                                                                    :default "true"}}},
                                                                               :simple {:properties {:path {:type "string",
                                                                                                            :description "The URI path to be used for upload. Should be used in conjunction with the basePath property at the api-level."},
                                                                                                     :multipart {:type "boolean",
                                                                                                                 :default "true",
                                                                                                                 :description "True if this endpoint supports upload multipart media."}},
                                                                                        :type "object",
                                                                                        :description "Supports uploading as a single HTTP request."}}},
                                                      :accept {:type "array",
                                                               :items {:type "string"},
                                                               :description "MIME Media Ranges for acceptable media uploads to this method."},
                                                      :maxSize {:type "string",
                                                                :description "Maximum size of a media upload, such as \"1MB\", \"2GB\" or \"3TB\"."}},
                                         :description "Media upload parameters."},
                           :useMediaDownloadService {:type "boolean",
                                                     :description "Indicates that downloads from this method should use the download service URL (i.e. \"/download\"). Only applies if the method supports media download."},
                           :etagRequired {:description "Whether this method requires an ETag to be specified. The ETag is sent as an HTTP If-Match or If-None-Match header.",
                                          :type "boolean"},
                           :deprecated {:description "Whether this method is deprecated.",
                                        :type "boolean"},
                           :id {:description "A unique ID for this method. This property can be used to match methods between different versions of Discovery.",
                                :type "string"},
                           :supportsSubscription {:type "boolean",
                                                  :description "Whether this method supports subscriptions."},
                           :parameterOrder {:description "Ordered list of required parameters, serves as a hint to clients on how to structure their method signatures. The array is ordered such that the \"most-significant\" parameter appears first.",
                                            :type "array",
                                            :items {:type "string"}},
                           :httpMethod {:description "HTTP method used by this method.",
                                        :type "string"},
                           :flatPath {:type "string",
                                      :description "The URI path of this REST method in (RFC 6570) format without level 2 features ({+var}). Supplementary to the path property."},
                           :parameters {:description "Details for all parameters in this method.",
                                        :additionalProperties {:description "Details for a single parameter in this method.",
                                                               :$ref "JsonSchema"},
                                        :type "object"}},
              :id "RestMethod",
              :type "object"},
 :JsonSchema {:properties {:description {:type "string",
                                         :description "A description of this object."},
                           :enum {:type "array",
                                  :items {:type "string"},
                                  :description "Values this parameter may take (if it is an enum)."},
                           :properties {:additionalProperties {:$ref "JsonSchema",
                                                               :description "A single property of this object. The value is itself a JSON Schema object describing this property."},
                                        :description "If this is a schema for an object, list the schema for each property of this object.",
                                        :type "object"},
                           :additionalProperties {:$ref "JsonSchema",
                                                  :description "If this is a schema for an object, this property is the schema for any additional properties with dynamic keys on this object."},
                           :format {:type "string",
                                    :description "An additional regular expression or key that helps constrain the value. For more details see: http://tools.ietf.org/html/draft-zyp-json-schema-03#section-5.23"},
                           :variant {:description "In a variant data type, the value of one property is used to determine how to interpret the entire entity. Its value must exist in a map of descriminant values to schema names.",
                                     :properties {:map {:type "array",
                                                        :description "The map of discriminant value to schema to use for parsing..",
                                                        :items {:properties {:$ref {:type "string"},
                                                                             :type_value {:type "string"}},
                                                                :type "object"}},
                                                  :discriminant {:description "The name of the type discriminant property.",
                                                                 :type "string"}},
                                     :type "object"},
                           :default {:type "string",
                                     :description "The default value of this property (if one exists)."},
                           :maximum {:description "The maximum value of this parameter.",
                                     :type "string"},
                           :type {:description "The value type for this schema. A list of values can be found here: http://tools.ietf.org/html/draft-zyp-json-schema-03#section-5.1",
                                  :type "string"},
                           :enumDescriptions {:description "The descriptions for the enums. Each position maps to the corresponding value in the \"enum\" array.",
                                              :type "array",
                                              :items {:type "string"}},
                           :readOnly {:description "The value is read-only, generated by the service. The value cannot be modified by the client. If the value is included in a POST, PUT, or PATCH request, it is ignored by the service.",
                                      :type "boolean"},
                           :deprecated {:description "Whether the parameter is deprecated.",
                                        :type "boolean"},
                           :id {:type "string",
                                :description "Unique identifier for this schema."},
                           :minimum {:description "The minimum value of this parameter.",
                                     :type "string"},
                           :enumDeprecated {:items {:type "boolean"},
                                            :description "The deprecation status for the enums. Each position maps to the corresponding value in the \"enum\" array.",
                                            :type "array"},
                           :annotations {:description "Additional information about this property.",
                                         :type "object",
                                         :properties {:required {:items {:type "string"},
                                                                 :type "array",
                                                                 :description "A list of methods for which this property is required on requests."}}},
                           :items {:description "If this is a schema for an array, this property is the schema for each element in the array.",
                                   :$ref "JsonSchema"},
                           :$ref {:type "string",
                                  :description "A reference to another schema. The value of this property is the \"id\" of another schema."},
                           :location {:type "string",
                                      :description "Whether this parameter goes in the query or the path for REST requests."},
                           :required {:description "Whether the parameter is required.",
                                      :type "boolean"},
                           :pattern {:description "The regular expression this parameter must conform to. Uses Java 6 regex format: http://docs.oracle.com/javase/6/docs/api/java/util/regex/Pattern.html",
                                     :type "string"},
                           :repeated {:description "Whether this parameter may appear multiple times.",
                                      :type "boolean"}},
              :type "object",
              :id "JsonSchema"}}
