{:RestMethod {:type "object",
              :id "RestMethod",
              :properties {:response {:type "object",
                                      :properties {:$ref {:type "string",
                                                          :description "Schema ID for the response schema."}},
                                      :description "The schema for the response."},
                           :scopes {:description "OAuth 2.0 scopes applicable to this method.",
                                    :items {:type "string"},
                                    :type "array"},
                           :description {:description "Description of this method.",
                                         :type "string"},
                           :path {:description "The URI path of this REST method. Should be used in conjunction with the basePath property at the api-level.",
                                  :type "string"},
                           :supportsMediaDownload {:description "Whether this method supports media downloads.",
                                                   :type "boolean"},
                           :supportsMediaUpload {:description "Whether this method supports media uploads.",
                                                 :type "boolean"},
                           :request {:properties {:parameterName {:type "string",
                                                                  :description "parameter name."},
                                                  :$ref {:type "string",
                                                         :description "Schema ID for the request schema."}},
                                     :description "The schema for the request.",
                                     :type "object"},
                           :mediaUpload {:description "Media upload parameters.",
                                         :properties {:protocols {:type "object",
                                                                  :properties {:resumable {:type "object",
                                                                                           :properties {:path {:description "The URI path to be used for upload. Should be used in conjunction with the basePath property at the api-level.",
                                                                                                               :type "string"},
                                                                                                        :multipart {:description "True if this endpoint supports uploading multipart media.",
                                                                                                                    :default "true",
                                                                                                                    :type "boolean"}},
                                                                                           :description "Supports the Resumable Media Upload protocol."},
                                                                               :simple {:properties {:multipart {:default "true",
                                                                                                                 :type "boolean",
                                                                                                                 :description "True if this endpoint supports upload multipart media."},
                                                                                                     :path {:type "string",
                                                                                                            :description "The URI path to be used for upload. Should be used in conjunction with the basePath property at the api-level."}},
                                                                                        :type "object",
                                                                                        :description "Supports uploading as a single HTTP request."}},
                                                                  :description "Supported upload protocols."},
                                                      :accept {:type "array",
                                                               :description "MIME Media Ranges for acceptable media uploads to this method.",
                                                               :items {:type "string"}},
                                                      :maxSize {:description "Maximum size of a media upload, such as \"1MB\", \"2GB\" or \"3TB\".",
                                                                :type "string"}},
                                         :type "object"},
                           :useMediaDownloadService {:description "Indicates that downloads from this method should use the download service URL (i.e. \"/download\"). Only applies if the method supports media download.",
                                                     :type "boolean"},
                           :etagRequired {:type "boolean",
                                          :description "Whether this method requires an ETag to be specified. The ETag is sent as an HTTP If-Match or If-None-Match header."},
                           :id {:type "string",
                                :description "A unique ID for this method. This property can be used to match methods between different versions of Discovery."},
                           :supportsSubscription {:description "Whether this method supports subscriptions.",
                                                  :type "boolean"},
                           :parameterOrder {:description "Ordered list of required parameters, serves as a hint to clients on how to structure their method signatures. The array is ordered such that the \"most-significant\" parameter appears first.",
                                            :items {:type "string"},
                                            :type "array"},
                           :httpMethod {:type "string",
                                        :description "HTTP method used by this method."},
                           :flatPath {:type "string",
                                      :description "The URI path of this REST method in (RFC 6570) format without level 2 features ({+var}). Supplementary to the path property."},
                           :parameters {:additionalProperties {:description "Details for a single parameter in this method.",
                                                               :$ref "JsonSchema"},
                                        :description "Details for all parameters in this method.",
                                        :type "object"}}},
 :RestResource {:properties {:methods {:additionalProperties {:description "Description for any methods on this resource.",
                                                              :$ref "RestMethod"},
                                       :type "object",
                                       :description "Methods on this resource."},
                             :resources {:additionalProperties {:$ref "RestResource",
                                                                :description "Description for any sub-resources on this resource."},
                                         :type "object",
                                         :description "Sub-resources on this resource."}},
                :type "object",
                :id "RestResource"},
 :JsonSchema {:id "JsonSchema",
              :properties {:description {:description "A description of this object.",
                                         :type "string"},
                           :enum {:description "Values this parameter may take (if it is an enum).",
                                  :type "array",
                                  :items {:type "string"}},
                           :properties {:additionalProperties {:description "A single property of this object. The value is itself a JSON Schema object describing this property.",
                                                               :$ref "JsonSchema"},
                                        :description "If this is a schema for an object, list the schema for each property of this object.",
                                        :type "object"},
                           :additionalProperties {:$ref "JsonSchema",
                                                  :description "If this is a schema for an object, this property is the schema for any additional properties with dynamic keys on this object."},
                           :format {:type "string",
                                    :description "An additional regular expression or key that helps constrain the value. For more details see: http://tools.ietf.org/html/draft-zyp-json-schema-03#section-5.23"},
                           :variant {:type "object",
                                     :description "In a variant data type, the value of one property is used to determine how to interpret the entire entity. Its value must exist in a map of descriminant values to schema names.",
                                     :properties {:discriminant {:type "string",
                                                                 :description "The name of the type discriminant property."},
                                                  :map {:items {:properties {:type_value {:type "string"},
                                                                             :$ref {:type "string"}},
                                                                :type "object"},
                                                        :description "The map of discriminant value to schema to use for parsing..",
                                                        :type "array"}}},
                           :default {:type "string",
                                     :description "The default value of this property (if one exists)."},
                           :maximum {:description "The maximum value of this parameter.",
                                     :type "string"},
                           :type {:description "The value type for this schema. A list of values can be found here: http://tools.ietf.org/html/draft-zyp-json-schema-03#section-5.1",
                                  :type "string"},
                           :enumDescriptions {:type "array",
                                              :items {:type "string"},
                                              :description "The descriptions for the enums. Each position maps to the corresponding value in the \"enum\" array."},
                           :readOnly {:type "boolean",
                                      :description "The value is read-only, generated by the service. The value cannot be modified by the client. If the value is included in a POST, PUT, or PATCH request, it is ignored by the service."},
                           :id {:type "string",
                                :description "Unique identifier for this schema."},
                           :minimum {:type "string",
                                     :description "The minimum value of this parameter."},
                           :annotations {:properties {:required {:type "array",
                                                                 :description "A list of methods for which this property is required on requests.",
                                                                 :items {:type "string"}}},
                                         :description "Additional information about this property.",
                                         :type "object"},
                           :items {:description "If this is a schema for an array, this property is the schema for each element in the array.",
                                   :$ref "JsonSchema"},
                           :$ref {:type "string",
                                  :description "A reference to another schema. The value of this property is the \"id\" of another schema."},
                           :location {:description "Whether this parameter goes in the query or the path for REST requests.",
                                      :type "string"},
                           :required {:type "boolean",
                                      :description "Whether the parameter is required."},
                           :pattern {:type "string",
                                     :description "The regular expression this parameter must conform to. Uses Java 6 regex format: http://docs.oracle.com/javase/6/docs/api/java/util/regex/Pattern.html"},
                           :repeated {:type "boolean",
                                      :description "Whether this parameter may appear multiple times."}},
              :type "object"},
 :DirectoryList {:id "DirectoryList",
                 :type "object",
                 :properties {:discoveryVersion {:type "string",
                                                 :default "v1",
                                                 :description "Indicate the version of the Discovery API used to generate this doc."},
                              :items {:items {:properties {:description {:description "The description of this API.",
                                                                         :type "string"},
                                                           :labels {:items {:type "string"},
                                                                    :type "array",
                                                                    :description "Labels for the status of this API, such as labs or deprecated."},
                                                           :discoveryLink {:type "string",
                                                                           :description "A link to the discovery document."},
                                                           :documentationLink {:type "string",
                                                                               :description "A link to human readable documentation for the API."},
                                                           :name {:description "The name of the API.",
                                                                  :type "string"},
                                                           :icons {:description "Links to 16x16 and 32x32 icons representing the API.",
                                                                   :type "object",
                                                                   :properties {:x32 {:type "string",
                                                                                      :description "The URL of the 32x32 icon."},
                                                                                :x16 {:type "string",
                                                                                      :description "The URL of the 16x16 icon."}}},
                                                           :title {:type "string",
                                                                   :description "The title of this API."},
                                                           :discoveryRestUrl {:type "string",
                                                                              :description "The URL for the discovery REST document."},
                                                           :id {:type "string",
                                                                :description "The id of this API."},
                                                           :kind {:type "string",
                                                                  :default "discovery#directoryItem",
                                                                  :description "The kind for this response."},
                                                           :preferred {:description "True if this version is the preferred version to use.",
                                                                       :type "boolean"},
                                                           :version {:description "The version of the API.",
                                                                     :type "string"}},
                                              :type "object"},
                                      :description "The individual directory entries. One entry per api/version pair.",
                                      :type "array"},
                              :kind {:description "The kind for this response.",
                                     :default "discovery#directoryList",
                                     :type "string"}}},
 :RestDescription {:properties {:description {:description "The description of this API.",
                                              :type "string"},
                                :features {:description "A list of supported features for this API.",
                                           :items {:type "string"},
                                           :type "array"},
                                :labels {:description "Labels for the status of this API, such as labs or deprecated.",
                                         :type "array",
                                         :items {:type "string"}},
                                :documentationLink {:type "string",
                                                    :description "A link to human readable documentation for the API."},
                                :revision {:description "The version of this API.",
                                           :type "string"},
                                :protocol {:description "The protocol described by this document.",
                                           :type "string",
                                           :default "rest"},
                                :name {:type "string",
                                       :description "The name of this API."},
                                :rootUrl {:description "The root URL under which all API services live.",
                                          :type "string"},
                                :batchPath {:type "string",
                                            :description "The path for REST batch requests."},
                                :etag {:type "string",
                                       :description "The ETag for this response.",
                                       :readOnly true},
                                :baseUrl {:type "string",
                                          :description "[DEPRECATED] The base URL for REST requests."},
                                :auth {:type "object",
                                       :description "Authentication information.",
                                       :properties {:oauth2 {:properties {:scopes {:type "object",
                                                                                   :description "Available OAuth 2.0 scopes.",
                                                                                   :additionalProperties {:description "The scope value.",
                                                                                                          :properties {:description {:description "Description of scope.",
                                                                                                                                     :type "string"}},
                                                                                                          :type "object"}}},
                                                             :type "object",
                                                             :description "OAuth 2.0 authentication information."}}},
                                :icons {:description "Links to 16x16 and 32x32 icons representing the API.",
                                        :type "object",
                                        :properties {:x16 {:description "The URL of the 16x16 icon.",
                                                           :type "string"},
                                                     :x32 {:type "string",
                                                           :description "The URL of the 32x32 icon."}}},
                                :canonicalName {:description "Indicates how the API name should be capitalized and split into various parts. Useful for generating pretty class names.",
                                                :type "string"},
                                :title {:description "The title of this API.",
                                        :type "string"},
                                :ownerName {:description "The name of the owner of this API. See ownerDomain.",
                                            :type "string"},
                                :methods {:description "API-level methods for this API.",
                                          :type "object",
                                          :additionalProperties {:$ref "RestMethod",
                                                                 :description "An individual method description."}},
                                :schemas {:type "object",
                                          :additionalProperties {:description "An individual schema description.",
                                                                 :$ref "JsonSchema"},
                                          :description "The schemas for this API."},
                                :id {:type "string",
                                     :description "The ID of this API."},
                                :kind {:description "The kind for this response.",
                                       :type "string",
                                       :default "discovery#restDescription"},
                                :version_module {:type "boolean"},
                                :packagePath {:type "string",
                                              :description "The package of the owner of this API. See ownerDomain."},
                                :exponentialBackoffDefault {:description "Enable exponential backoff for suitable methods in the generated clients.",
                                                            :type "boolean"},
                                :version {:description "The version of this API.",
                                          :type "string"},
                                :discoveryVersion {:description "Indicate the version of the Discovery API used to generate this doc.",
                                                   :type "string",
                                                   :default "v1"},
                                :resources {:additionalProperties {:description "An individual resource description. Contains methods and sub-resources related to this resource.",
                                                                   :$ref "RestResource"},
                                            :description "The resources in this API.",
                                            :type "object"},
                                :ownerDomain {:description "The domain of the owner of this API. Together with the ownerName and a packagePath values, this can be used to generate a library for this API which would have a unique fully qualified name.",
                                              :type "string"},
                                :parameters {:description "Common parameters that apply across all apis.",
                                             :type "object",
                                             :additionalProperties {:description "Description of a single parameter.",
                                                                    :$ref "JsonSchema"}},
                                :servicePath {:description "The base path for all REST requests.",
                                              :type "string"},
                                :basePath {:description "[DEPRECATED] The base path for REST requests.",
                                           :type "string"}},
                   :id "RestDescription",
                   :type "object"}}
