{:GoogleFactcheckingFactchecktoolsV1alpha1Claim {:id "GoogleFactcheckingFactchecktoolsV1alpha1Claim",
                                                 :type "object",
                                                 :properties {:text {:type "string",
                                                                     :description "The claim text. For instance, \"Crime has doubled in the last 2 years.\""},
                                                              :claimant {:type "string",
                                                                         :description "A person or organization stating the claim. For instance, \"John Doe\"."},
                                                              :claimDate {:type "string",
                                                                          :format "google-datetime",
                                                                          :description "The date that the claim was made."},
                                                              :claimReview {:type "array",
                                                                            :items {:$ref "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReview"},
                                                                            :description "One or more reviews of this claim (namely, a fact-checking article)."}},
                                                 :description "Information about the claim."},
 :GoogleFactcheckingFactchecktoolsV1alpha1ClaimRating {:description "Information about the claim rating.",
                                                       :properties {:ratingExplanation {:type "string",
                                                                                        :description "Corresponds to `ClaimReview.reviewRating.ratingExplanation`."},
                                                                    :worstRating {:format "int32",
                                                                                  :type "integer",
                                                                                  :description "For numeric ratings, the worst value possible in the scale from worst to best. Corresponds to `ClaimReview.reviewRating.worstRating`."},
                                                                    :bestRating {:description "For numeric ratings, the best value possible in the scale from worst to best. Corresponds to `ClaimReview.reviewRating.bestRating`.",
                                                                                 :format "int32",
                                                                                 :type "integer"},
                                                                    :ratingValue {:format "int32",
                                                                                  :type "integer",
                                                                                  :description "A numeric rating of this claim, in the range worstRating — bestRating inclusive. Corresponds to `ClaimReview.reviewRating.ratingValue`."},
                                                                    :imageUrl {:type "string",
                                                                               :description "Corresponds to `ClaimReview.reviewRating.image`."},
                                                                    :textualRating {:description "The truthfulness rating as a human-readible short word or phrase. Corresponds to `ClaimReview.reviewRating.alternateName`.",
                                                                                    :type "string"}},
                                                       :type "object",
                                                       :id "GoogleFactcheckingFactchecktoolsV1alpha1ClaimRating"},
 :GoogleFactcheckingFactchecktoolsV1alpha1Publisher {:type "object",
                                                     :id "GoogleFactcheckingFactchecktoolsV1alpha1Publisher",
                                                     :description "Information about the publisher.",
                                                     :properties {:site {:type "string",
                                                                         :description "Host-level site name, without the protocol or \"www\" prefix. For instance, \"awesomefactchecks.com\". This value of this field is based purely on the claim review URL."},
                                                                  :name {:description "The name of this publisher. For instance, \"Awesome Fact Checks\".",
                                                                         :type "string"}}},
 :GoogleFactcheckingFactchecktoolsV1alpha1ListClaimReviewMarkupPagesResponse {:description "Response from listing `ClaimReview` markup.",
                                                                              :id "GoogleFactcheckingFactchecktoolsV1alpha1ListClaimReviewMarkupPagesResponse",
                                                                              :type "object",
                                                                              :properties {:claimReviewMarkupPages {:type "array",
                                                                                                                    :description "The result list of pages of `ClaimReview` markup.",
                                                                                                                    :items {:$ref "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkupPage"}},
                                                                                           :nextPageToken {:type "string",
                                                                                                           :description "The next pagination token in the Search response. It should be used as the `page_token` for the following request. An empty value means no more results."}}},
 :GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewAuthor {:id "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewAuthor",
                                                             :properties {:imageUrl {:description "Corresponds to `ClaimReview.author.image`.",
                                                                                     :type "string"},
                                                                          :name {:type "string",
                                                                                 :description "Name of the organization that is publishing the fact check. Corresponds to `ClaimReview.author.name`."}},
                                                             :type "object",
                                                             :description "Information about the claim review author."},
 :GoogleFactcheckingFactchecktoolsV1alpha1FactCheckedClaimSearchResponse {:properties {:nextPageToken {:description "The next pagination token in the Search response. It should be used as the `page_token` for the following request. An empty value means no more results.",
                                                                                                       :type "string"},
                                                                                       :claims {:items {:$ref "GoogleFactcheckingFactchecktoolsV1alpha1Claim"},
                                                                                                :type "array",
                                                                                                :description "The list of claims and all of their associated information."}},
                                                                          :description "Response from searching fact-checked claims.",
                                                                          :type "object",
                                                                          :id "GoogleFactcheckingFactchecktoolsV1alpha1FactCheckedClaimSearchResponse"},
 :GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkup {:id "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkup",
                                                             :description "Fields for an individual `ClaimReview` element. Except for sub-messages that group fields together, each of these fields correspond those in https://schema.org/ClaimReview. We list the precise mapping for each field.",
                                                             :type "object",
                                                             :properties {:claimDate {:type "string",
                                                                                      :description "The date when the claim was made or entered public discourse. Corresponds to `ClaimReview.itemReviewed.datePublished`."},
                                                                          :claimLocation {:description "The location where this claim was made. Corresponds to `ClaimReview.itemReviewed.name`.",
                                                                                          :type "string"},
                                                                          :claimReviewed {:type "string",
                                                                                          :description "A short summary of the claim being evaluated. Corresponds to `ClaimReview.claimReviewed`."},
                                                                          :url {:description "This field is optional, and will default to the page URL. We provide this field to allow you the override the default value, but the only permitted override is the page URL plus an optional anchor link (\"page jump\"). Corresponds to `ClaimReview.url`",
                                                                                :type "string"},
                                                                          :rating {:$ref "GoogleFactcheckingFactchecktoolsV1alpha1ClaimRating",
                                                                                   :description "Info about the rating of this claim review."},
                                                                          :claimAppearances {:type "array",
                                                                                             :items {:type "string"},
                                                                                             :description "A list of links to works in which this claim appears, aside from the one specified in `claim_first_appearance`. Corresponds to `ClaimReview.itemReviewed[@type=Claim].appearance.url`."},
                                                                          :claimAuthor {:description "Info about the author of this claim.",
                                                                                        :$ref "GoogleFactcheckingFactchecktoolsV1alpha1ClaimAuthor"},
                                                                          :claimFirstAppearance {:description "A link to a work in which this claim first appears. Corresponds to `ClaimReview.itemReviewed[@type=Claim].firstAppearance.url`.",
                                                                                                 :type "string"}}},
 :GoogleProtobufEmpty {:id "GoogleProtobufEmpty",
                       :type "object",
                       :properties {},
                       :description "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`."},
 :GoogleFactcheckingFactchecktoolsV1alpha1ClaimAuthor {:properties {:imageUrl {:type "string",
                                                                               :description "Corresponds to `ClaimReview.itemReviewed.author.image`."},
                                                                    :name {:description "A person or organization stating the claim. For instance, \"John Doe\". Corresponds to `ClaimReview.itemReviewed.author.name`.",
                                                                           :type "string"},
                                                                    :jobTitle {:type "string",
                                                                               :description "Corresponds to `ClaimReview.itemReviewed.author.jobTitle`."},
                                                                    :sameAs {:type "string",
                                                                             :description "Corresponds to `ClaimReview.itemReviewed.author.sameAs`."}},
                                                       :type "object",
                                                       :id "GoogleFactcheckingFactchecktoolsV1alpha1ClaimAuthor",
                                                       :description "Information about the claim author."},
 :GoogleFactcheckingFactchecktoolsV1alpha1ClaimReview {:properties {:url {:description "The URL of this claim review.",
                                                                          :type "string"},
                                                                    :languageCode {:description "The language this review was written in. For instance, \"en\" or \"de\".",
                                                                                   :type "string"},
                                                                    :publisher {:$ref "GoogleFactcheckingFactchecktoolsV1alpha1Publisher",
                                                                                :description "The publisher of this claim review."},
                                                                    :title {:type "string",
                                                                            :description "The title of this claim review, if it can be determined."},
                                                                    :reviewDate {:type "string",
                                                                                 :description "The date the claim was reviewed.",
                                                                                 :format "google-datetime"},
                                                                    :textualRating {:type "string",
                                                                                    :description "Textual rating. For instance, \"Mostly false\"."}},
                                                       :type "object",
                                                       :description "Information about a claim review.",
                                                       :id "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReview"},
 :GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkupPage {:type "object",
                                                                 :id "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkupPage",
                                                                 :properties {:name {:type "string",
                                                                                     :description "The name of this `ClaimReview` markup page resource, in the form of `pages/{page_id}`. Except for update requests, this field is output-only and should not be set by the user."},
                                                                              :claimReviewAuthor {:$ref "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewAuthor",
                                                                                                  :description "Info about the author of this claim review. Similar to the above, semantically these are page-level fields, and each `ClaimReview` on this page will contain the same values."},
                                                                              :claimReviewMarkups {:description "A list of individual claim reviews for this page. Each item in the list corresponds to one `ClaimReview` element.",
                                                                                                   :items {:$ref "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkup"},
                                                                                                   :type "array"},
                                                                              :pageUrl {:description "The URL of the page associated with this `ClaimReview` markup. While every individual `ClaimReview` has its own URL field, semantically this is a page-level field, and each `ClaimReview` on this page will use this value unless individually overridden. Corresponds to `ClaimReview.url`",
                                                                                        :type "string"},
                                                                              :versionId {:description "The version ID for this markup. Except for update requests, this field is output-only and should not be set by the user.",
                                                                                          :type "string"},
                                                                              :publishDate {:description "The date when the fact check was published. Similar to the URL, semantically this is a page-level field, and each `ClaimReview` on this page will contain the same value. Corresponds to `ClaimReview.datePublished`",
                                                                                            :type "string"}},
                                                                 :description "Holds one or more instances of `ClaimReview` markup for a webpage."}}
