{:GoogleFirebaseStorageControlplaneV1betaMigrateLocationDestructivelyMetadata {:properties {:state {:enum ["STATE_UNSPECIFIED"
                                                                                                           "PENDING"
                                                                                                           "CREATING_TEMP_BUCKET"
                                                                                                           "TRANSFERRING_TO_TEMP"
                                                                                                           "DELETING_SOURCE_BUCKET"
                                                                                                           "CREATING_DESTINATION_BUCKET"
                                                                                                           "TRANSFERRING_TO_DESTINATION"
                                                                                                           "DELETING_TEMP_BUCKET"
                                                                                                           "SUCCEEDED"
                                                                                                           "FAILED"
                                                                                                           "ROLLING_BACK"
                                                                                                           "ROLLED_BACK"],
                                                                                                    :type "string",
                                                                                                    :description "The current state of the migration.",
                                                                                                    :enumDescriptions ["Unspecified state. Should not be used."
                                                                                                                       "The MigrateLocationDestructively request has passed precondition checks and the bucket migration will begin soon."
                                                                                                                       "Generating a unique bucket name, storing the source -> temp mapping in Spanner, and actually creating the temporary bucket via Bigstore."
                                                                                                                       "The first STS transfer to move all objects from the source bucket to the temp bucket is underway."
                                                                                                                       "The source bucket is being emptied and deleted."
                                                                                                                       "The source bucket is being recreated in the new location."
                                                                                                                       "The second STS transfer to move all objects from the temp bucket to the final bucket is underway."
                                                                                                                       "The temp bucket is being emptied and deleted."
                                                                                                                       "All stages of the migration have completed and the operation has been marked done and updated with a response."
                                                                                                                       "The migration failed at some stage and it is not possible to continue retrying that stage. Manual recovery may be needed. Rollback is either impossible at this stage, or has been attempted and failed."
                                                                                                                       "The migration has encountered a permanent failure and is now being rolled back so that the source bucket is restored to its original state."
                                                                                                                       "The migration has been successfully rolled back."]},
                                                                                            :lastUpdateTime {:format "google-datetime",
                                                                                                             :description "The time the LRO was last updated.",
                                                                                                             :type "string"},
                                                                                            :createTime {:description "The time the LRO was created.",
                                                                                                         :type "string",
                                                                                                         :format "google-datetime"}},
                                                                               :id "GoogleFirebaseStorageControlplaneV1betaMigrateLocationDestructivelyMetadata",
                                                                               :type "object",
                                                                               :description "Metadata for MigrateLocationDestructively LRO."},
 :GoogleFirebaseStorageControlplaneV1alphaMigrateLocationDestructivelyMetadata {:id "GoogleFirebaseStorageControlplaneV1alphaMigrateLocationDestructivelyMetadata",
                                                                                :description "Metadata for MigrateLocationDestructively LRO.",
                                                                                :properties {:state {:type "string",
                                                                                                     :enum ["STATE_UNSPECIFIED"
                                                                                                            "PENDING"
                                                                                                            "CREATING_TEMP_BUCKET"
                                                                                                            "TRANSFERRING_TO_TEMP"
                                                                                                            "DELETING_SOURCE_BUCKET"
                                                                                                            "CREATING_DESTINATION_BUCKET"
                                                                                                            "TRANSFERRING_TO_DESTINATION"
                                                                                                            "DELETING_TEMP_BUCKET"
                                                                                                            "SUCCEEDED"
                                                                                                            "FAILED"
                                                                                                            "ROLLING_BACK"
                                                                                                            "ROLLED_BACK"],
                                                                                                     :description "The current state of the migration.",
                                                                                                     :enumDescriptions ["Unspecified state. Should not be used."
                                                                                                                        "The MigrateLocationDestructively request has passed precondition checks and the bucket migration will begin soon."
                                                                                                                        "Generating a unique bucket name, storing the source -> temp mapping in Spanner, and actually creating the temporary bucket via Bigstore."
                                                                                                                        "The first STS transfer to move all objects from the source bucket to the temp bucket is underway."
                                                                                                                        "The source bucket is being emptied and deleted."
                                                                                                                        "The source bucket is being recreated in the new location."
                                                                                                                        "The second STS transfer to move all objects from the temp bucket to the final bucket is underway."
                                                                                                                        "The temp bucket is being emptied and deleted."
                                                                                                                        "All stages of the migration have completed and the operation has been marked done and updated with a response."
                                                                                                                        "The migration failed at some stage and it is not possible to continue retrying that stage. Manual recovery may be needed. Rollback is either impossible at this stage, or has been attempted and failed."
                                                                                                                        "The migration has encountered a permanent failure and is now being rolled back so that the source bucket is restored to its original state."
                                                                                                                        "The migration has been successfully rolled back."]},
                                                                                             :lastUpdateTime {:type "string",
                                                                                                              :format "google-datetime",
                                                                                                              :description "The time the LRO was last updated."},
                                                                                             :createTime {:description "The time the LRO was created.",
                                                                                                          :type "string",
                                                                                                          :format "google-datetime"}},
                                                                                :type "object"},
 :Bucket {:type "object",
          :properties {:name {:description "Resource name of the bucket.",
                              :type "string"},
                       :location {:type "string",
                                  :description "Output only. Location of the storage bucket.",
                                  :readOnly true},
                       :reconciling {:description "Output only. Represents whether a bucket is being moved to a new location, in which case reconciling is set to true.",
                                     :type "boolean",
                                     :readOnly true}},
          :id "Bucket",
          :description "A storage bucket and its relation to a parent Firebase project."},
 :AddFirebaseRequest {:description "The request used to link a Google Cloud Storage bucket to a Firebase project.",
                      :id "AddFirebaseRequest",
                      :properties {},
                      :type "object"},
 :RemoveFirebaseRequest {:type "object",
                         :properties {},
                         :id "RemoveFirebaseRequest",
                         :description "The request used to unlink a Google Cloud Storage bucket from a Firebase project."},
 :ListBucketsResponse {:type "object",
                       :properties {:nextPageToken {:type "string",
                                                    :description "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."},
                                    :buckets {:items {:$ref "Bucket"},
                                              :type "array",
                                              :description "The list of linked buckets."}},
                       :id "ListBucketsResponse",
                       :description "The response returned by `ListBuckets`."},
 :Empty {:properties {},
         :description "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
         :type "object",
         :id "Empty"}}
