{:Bucket {:id "Bucket",
          :description "A storage bucket and its relation to a parent Firebase project.",
          :type "object",
          :properties {:name {:description "Output only. Resource name of the bucket.",
                              :readOnly true,
                              :type "string"}}},
 :ListBucketsResponse {:id "ListBucketsResponse",
                       :description "The response returned by `ListBuckets`.",
                       :type "object",
                       :properties {:buckets {:description "The list of linked buckets.",
                                              :type "array",
                                              :items {:$ref "Bucket"}},
                                    :nextPageToken {:description "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
                                                    :type "string"}}},
 :AddFirebaseRequest {:id "AddFirebaseRequest",
                      :description "The request used to link a Google Cloud Storage bucket to a Firebase project.",
                      :type "object",
                      :properties {}},
 :RemoveFirebaseRequest {:id "RemoveFirebaseRequest",
                         :description "The request used to unlink a Google Cloud Storage bucket from a Firebase project.",
                         :type "object",
                         :properties {}},
 :Empty {:id "Empty",
         :description "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
         :type "object",
         :properties {}},
 :GoogleFirebaseStorageControlplaneV1alphaMigrateLocationDestructivelyMetadata {:id "GoogleFirebaseStorageControlplaneV1alphaMigrateLocationDestructivelyMetadata",
                                                                                :description "Metadata for MigrateLocationDestructively LRO.",
                                                                                :type "object",
                                                                                :properties {:state {:description "The current state of the migration.",
                                                                                                     :type "string",
                                                                                                     :enumDescriptions ["Unspecified state. Should not be used."
                                                                                                                        "The MigrateLocationDestructively request has passed precondition checks and the bucket migration will begin soon."
                                                                                                                        "Generating a unique bucket name, storing the source -> temp mapping in Spanner, and actually creating the temporary bucket via Bigstore."
                                                                                                                        "The first STS transfer to move all objects from the source bucket to the temp bucket is underway."
                                                                                                                        "The source bucket is being emptied and deleted."
                                                                                                                        "The source bucket is being recreated in the new location."
                                                                                                                        "The second STS transfer to move all objects from the temp bucket to the final bucket is underway."
                                                                                                                        "The temp bucket is being emptied and deleted."
                                                                                                                        "All stages of the migration have completed and the operation has been marked done and updated with a response."
                                                                                                                        "The migration failed at some stage and it is not possible to continue retrying that stage. Manual recovery may be needed. Rollback is either impossible at this stage, or has been attempted and failed."
                                                                                                                        "The migration has encountered a permanent failure and is now being rolled back so that the source bucket is restored to its original state."
                                                                                                                        "The migration has been successfully rolled back."],
                                                                                                     :enum ["STATE_UNSPECIFIED"
                                                                                                            "PENDING"
                                                                                                            "CREATING_TEMP_BUCKET"
                                                                                                            "TRANSFERRING_TO_TEMP"
                                                                                                            "DELETING_SOURCE_BUCKET"
                                                                                                            "CREATING_DESTINATION_BUCKET"
                                                                                                            "TRANSFERRING_TO_DESTINATION"
                                                                                                            "DELETING_TEMP_BUCKET"
                                                                                                            "SUCCEEDED"
                                                                                                            "FAILED"
                                                                                                            "ROLLING_BACK"
                                                                                                            "ROLLED_BACK"]},
                                                                                             :createTime {:description "The time the LRO was created.",
                                                                                                          :type "string",
                                                                                                          :format "google-datetime"},
                                                                                             :lastUpdateTime {:description "The time the LRO was last updated.",
                                                                                                              :type "string",
                                                                                                              :format "google-datetime"}}},
 :GoogleFirebaseStorageControlplaneV1betaMigrateLocationDestructivelyMetadata {:id "GoogleFirebaseStorageControlplaneV1betaMigrateLocationDestructivelyMetadata",
                                                                               :description "Metadata for MigrateLocationDestructively LRO.",
                                                                               :type "object",
                                                                               :properties {:state {:description "The current state of the migration.",
                                                                                                    :type "string",
                                                                                                    :enumDescriptions ["Unspecified state. Should not be used."
                                                                                                                       "The MigrateLocationDestructively request has passed precondition checks and the bucket migration will begin soon."
                                                                                                                       "Generating a unique bucket name, storing the source -> temp mapping in Spanner, and actually creating the temporary bucket via Bigstore."
                                                                                                                       "The first STS transfer to move all objects from the source bucket to the temp bucket is underway."
                                                                                                                       "The source bucket is being emptied and deleted."
                                                                                                                       "The source bucket is being recreated in the new location."
                                                                                                                       "The second STS transfer to move all objects from the temp bucket to the final bucket is underway."
                                                                                                                       "The temp bucket is being emptied and deleted."
                                                                                                                       "All stages of the migration have completed and the operation has been marked done and updated with a response."
                                                                                                                       "The migration failed at some stage and it is not possible to continue retrying that stage. Manual recovery may be needed. Rollback is either impossible at this stage, or has been attempted and failed."
                                                                                                                       "The migration has encountered a permanent failure and is now being rolled back so that the source bucket is restored to its original state."
                                                                                                                       "The migration has been successfully rolled back."],
                                                                                                    :enum ["STATE_UNSPECIFIED"
                                                                                                           "PENDING"
                                                                                                           "CREATING_TEMP_BUCKET"
                                                                                                           "TRANSFERRING_TO_TEMP"
                                                                                                           "DELETING_SOURCE_BUCKET"
                                                                                                           "CREATING_DESTINATION_BUCKET"
                                                                                                           "TRANSFERRING_TO_DESTINATION"
                                                                                                           "DELETING_TEMP_BUCKET"
                                                                                                           "SUCCEEDED"
                                                                                                           "FAILED"
                                                                                                           "ROLLING_BACK"
                                                                                                           "ROLLED_BACK"]},
                                                                                            :createTime {:description "The time the LRO was created.",
                                                                                                         :type "string",
                                                                                                         :format "google-datetime"},
                                                                                            :lastUpdateTime {:description "The time the LRO was last updated.",
                                                                                                             :type "string",
                                                                                                             :format "google-datetime"}}}}
