{:AddFirebaseRequest {:id "AddFirebaseRequest",
                      :properties {},
                      :type "object",
                      :description "The request used to link a Google Cloud Storage bucket to a Firebase project."},
 :ListBucketsResponse {:id "ListBucketsResponse",
                       :type "object",
                       :properties {:buckets {:items {:$ref "Bucket"},
                                              :type "array",
                                              :description "The list of linked buckets."},
                                    :nextPageToken {:description "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
                                                    :type "string"}},
                       :description "The response returned by `ListBuckets`."},
 :Empty {:description "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
         :type "object",
         :properties {},
         :id "Empty"},
 :RemoveFirebaseRequest {:properties {},
                         :type "object",
                         :description "The request used to unlink a Google Cloud Storage bucket from a Firebase project.",
                         :id "RemoveFirebaseRequest"},
 :Bucket {:description "A storage bucket and its relation to a parent Firebase project.",
          :type "object",
          :id "Bucket",
          :properties {:reconciling {:type "boolean",
                                     :description "Output only. Represents whether a bucket is being moved to a new location, in which case reconciling is set to true.",
                                     :readOnly true},
                       :name {:description "Resource name of the bucket.",
                              :type "string"}}}}
