{:EventsResetMultipleForAllRequest {:id "EventsResetMultipleForAllRequest",
                                    :description "Multiple events reset all request.",
                                    :properties {:event_ids {:items {:type "string"},
                                                             :description "The IDs of events to reset.",
                                                             :type "array"},
                                                 :kind {:type "string",
                                                        :description "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#eventsResetMultipleForAllRequest`."}},
                                    :type "object"},
 :AchievementResetAllResponse {:properties {:results {:items {:$ref "AchievementResetResponse"},
                                                      :description "The achievement reset results.",
                                                      :type "array"},
                                            :kind {:type "string",
                                                   :description "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetAllResponse`."}},
                               :type "object",
                               :id "AchievementResetAllResponse",
                               :description "Achievement reset all response."},
 :GamesPlayerLevelResource {:type "object",
                            :description "1P/3P metadata about a user's level.",
                            :id "GamesPlayerLevelResource",
                            :properties {:minExperiencePoints {:format "int64",
                                                               :description "The minimum experience points for this level.",
                                                               :type "string"},
                                         :maxExperiencePoints {:description "The maximum experience points for this level.",
                                                               :format "int64",
                                                               :type "string"},
                                         :level {:type "integer",
                                                 :format "int32",
                                                 :description "The level for the user."}}},
 :GamesPlayerExperienceInfoResource {:description "1P/3P metadata about the player's experience.",
                                     :type "object",
                                     :properties {:currentLevel {:description "The current level of the player.",
                                                                 :$ref "GamesPlayerLevelResource"},
                                                  :currentExperiencePoints {:description "The current number of experience points for the player.",
                                                                            :type "string",
                                                                            :format "int64"},
                                                  :lastLevelUpTimestampMillis {:format "int64",
                                                                               :type "string",
                                                                               :description "The timestamp when the player was leveled up, in millis since Unix epoch UTC."},
                                                  :nextLevel {:description "The next level of the player. If the current level is the maximum level, this should be same as the current level.",
                                                              :$ref "GamesPlayerLevelResource"}},
                                     :id "GamesPlayerExperienceInfoResource"},
 :ScoresResetMultipleForAllRequest {:type "object",
                                    :properties {:leaderboard_ids {:description "The IDs of leaderboards to reset.",
                                                                   :type "array",
                                                                   :items {:type "string"}},
                                                 :kind {:description "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#scoresResetMultipleForAllRequest`.",
                                                        :type "string"}},
                                    :id "ScoresResetMultipleForAllRequest"},
 :HiddenPlayerList {:id "HiddenPlayerList",
                    :properties {:kind {:type "string",
                                        :description "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#hiddenPlayerList`."},
                                 :nextPageToken {:type "string",
                                                 :description "The pagination token for the next page of results."},
                                 :items {:description "The players.",
                                         :type "array",
                                         :items {:$ref "HiddenPlayer"}}},
                    :type "object",
                    :description "A list of hidden players."},
 :PlayerScoreResetAllResponse {:id "PlayerScoreResetAllResponse",
                               :type "object",
                               :description "A list of leaderboard reset resources.",
                               :properties {:kind {:type "string",
                                                   :description "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#playerScoreResetAllResponse`."},
                                            :results {:type "array",
                                                      :items {:$ref "PlayerScoreResetResponse"},
                                                      :description "The leaderboard reset results."}}},
 :ProfileSettings {:id "ProfileSettings",
                   :properties {:profileVisible {:type "boolean"},
                                :kind {:type "string",
                                       :description "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#profileSettings`."}},
                   :type "object",
                   :description "Profile settings"},
 :PlayerScoreResetResponse {:description "A list of reset leaderboard entry resources.",
                            :properties {:kind {:description "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#playerScoreResetResponse`.",
                                                :type "string"},
                                         :definitionId {:description "The ID of an leaderboard for which player state has been updated.",
                                                        :type "string"},
                                         :resetScoreTimeSpans {:type "array",
                                                               :description "The time spans of the updated score. Possible values are: - \"`ALL_TIME`\" - The score is an all-time score. - \"`WEEKLY`\" - The score is a weekly score. - \"`DAILY`\" - The score is a daily score. ",
                                                               :items {:type "string"}}},
                            :type "object",
                            :id "PlayerScoreResetResponse"},
 :HiddenPlayer {:properties {:kind {:type "string",
                                    :description "Output only. Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#hiddenPlayer`.",
                                    :readOnly true},
                             :hiddenTimeMillis {:type "string",
                                                :readOnly true,
                                                :description "Output only. The time this player was hidden.",
                                                :format "int64"},
                             :player {:readOnly true,
                                      :description "Output only. The player information.",
                                      :$ref "Player"}},
                :description "The HiddenPlayer resource.",
                :id "HiddenPlayer",
                :type "object"},
 :AchievementResetMultipleForAllRequest {:properties {:achievement_ids {:items {:type "string"},
                                                                        :description "The IDs of achievements to reset.",
                                                                        :type "array"},
                                                      :kind {:description "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetMultipleForAllRequest`.",
                                                             :type "string"}},
                                         :type "object",
                                         :id "AchievementResetMultipleForAllRequest"},
 :Player {:type "object",
          :properties {:bannerUrlPortrait {:description "The url to the portrait mode player banner image.",
                                           :type "string"},
                       :originalPlayerId {:description "The player ID that was used for this player the first time they signed into the game in question. This is only populated for calls to player.get for the requesting player, only if the player ID has subsequently changed, and only to clients that support remapping player IDs.",
                                          :type "string"},
                       :avatarImageUrl {:type "string",
                                        :description "The base URL for the image that represents the player."},
                       :displayName {:description "The name to display for the player.",
                                     :type "string"},
                       :name {:description "An object representation of the individual components of the player's name. For some players, these fields may not be present.",
                              :type "object",
                              :properties {:givenName {:description "The given name of this player. In some places, this is known as the first name.",
                                                       :type "string"},
                                           :familyName {:description "The family name of this player. In some places, this is known as the last name.",
                                                        :type "string"}}},
                       :playerId {:type "string",
                                  :description "The ID of the player."},
                       :title {:description "The player's title rewarded for their game activities.",
                               :type "string"},
                       :profileSettings {:description "The player's profile settings. Controls whether or not the player's profile is visible to other players.",
                                         :$ref "ProfileSettings"},
                       :kind {:description "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#player`.",
                              :type "string"},
                       :bannerUrlLandscape {:description "The url to the landscape mode player banner image.",
                                            :type "string"},
                       :experienceInfo {:description "An object to represent Play Game experience information for the player.",
                                        :$ref "GamesPlayerExperienceInfoResource"}},
          :description "A Player resource.",
          :id "Player"},
 :AchievementResetResponse {:id "AchievementResetResponse",
                            :type "object",
                            :properties {:updateOccurred {:type "boolean",
                                                          :description "Flag to indicate if the requested update actually occurred."},
                                         :currentState {:type "string",
                                                        :description "The current state of the achievement. This is the same as the initial state of the achievement. Possible values are: - \"`HIDDEN`\"- Achievement is hidden. - \"`REVEALED`\" - Achievement is revealed. - \"`UNLOCKED`\" - Achievement is unlocked. "},
                                         :kind {:type "string",
                                                :description "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetResponse`."},
                                         :definitionId {:type "string",
                                                        :description "The ID of an achievement for which player state has been updated."}},
                            :description "An achievement reset response."}}
