{:LeaderboardConfiguration {:properties {:scoreMin {:description "Minimum score that can be posted to this leaderboard.",
                                                    :format "int64",
                                                    :type "string"},
                                         :kind {:description "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#leaderboardConfiguration`.",
                                                :type "string"},
                                         :id {:description "The ID of the leaderboard.",
                                              :type "string"},
                                         :scoreMax {:description "Maximum score that can be posted to this leaderboard.",
                                                    :format "int64",
                                                    :type "string"},
                                         :published {:description "The read-only published data of the leaderboard.",
                                                     :$ref "LeaderboardConfigurationDetail"},
                                         :scoreOrder {:enum ["SCORE_ORDER_UNSPECIFIED"
                                                             "LARGER_IS_BETTER"
                                                             "SMALLER_IS_BETTER"],
                                                      :type "string",
                                                      :enumDescriptions ["Default value. This value is unused."
                                                                         "Larger scores posted are ranked higher."
                                                                         "Smaller scores posted are ranked higher."]},
                                         :draft {:$ref "LeaderboardConfigurationDetail",
                                                 :description "The draft data of the leaderboard."},
                                         :token {:description "The token for this resource.",
                                                 :type "string"}},
                            :id "LeaderboardConfiguration",
                            :description "An leaderboard configuration resource.",
                            :type "object"},
 :ImageConfiguration {:properties {:kind {:type "string",
                                          :description "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#imageConfiguration`."},
                                   :url {:type "string",
                                         :description "The url for this image."},
                                   :resourceId {:type "string",
                                                :description "The resource ID of resource which the image belongs to."},
                                   :imageType {:description "The image type for the image.",
                                               :enum ["IMAGE_TYPE_UNSPECIFIED"
                                                      "ACHIEVEMENT_ICON"
                                                      "LEADERBOARD_ICON"],
                                               :type "string",
                                               :enumDescriptions ["Default value. This value is unused."
                                                                  "The icon image for an achievement resource."
                                                                  "The icon image for a leaderboard resource."]}},
                      :description "An image configuration resource.",
                      :id "ImageConfiguration",
                      :type "object"},
 :GamesNumberFormatConfiguration {:id "GamesNumberFormatConfiguration",
                                  :properties {:numberFormatType {:description "The formatting for the number.",
                                                                  :enumDescriptions ["Default value. This value is unused."
                                                                                     "Numbers are formatted to have no digits or fixed number of digits after the decimal point according to locale. An optional custom unit can be added."
                                                                                     "Numbers are formatted to hours, minutes and seconds."
                                                                                     "Numbers are formatted to currency according to locale."],
                                                                  :type "string",
                                                                  :enum ["NUMBER_FORMAT_TYPE_UNSPECIFIED"
                                                                         "NUMERIC"
                                                                         "TIME_DURATION"
                                                                         "CURRENCY"]},
                                               :suffix {:description "An optional suffix for the NUMERIC format type. These strings follow the same plural rules as all Android string resources.",
                                                        :$ref "GamesNumberAffixConfiguration"},
                                               :currencyCode {:description "The curreny code string. Only used for CURRENCY format type.",
                                                              :type "string"},
                                               :numDecimalPlaces {:format "int32",
                                                                  :type "integer",
                                                                  :description "The number of decimal places for number. Only used for NUMERIC format type."}},
                                  :description "A number format resource.",
                                  :type "object"},
 :AchievementConfiguration {:description "An achievement configuration resource.",
                            :id "AchievementConfiguration",
                            :properties {:token {:description "The token for this resource.",
                                                 :type "string"},
                                         :id {:type "string",
                                              :description "The ID of the achievement."},
                                         :kind {:description "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#achievementConfiguration`.",
                                                :type "string"},
                                         :draft {:$ref "AchievementConfigurationDetail",
                                                 :description "The draft data of the achievement."},
                                         :initialState {:type "string",
                                                        :description "The initial state of the achievement.",
                                                        :enum ["INITIAL_STATE_UNSPECIFIED"
                                                               "HIDDEN"
                                                               "REVEALED"],
                                                        :enumDescriptions ["Default value. This value is unused."
                                                                           "Achievement is hidden."
                                                                           "Achievement is revealed."]},
                                         :stepsToUnlock {:description "Steps to unlock. Only applicable to incremental achievements.",
                                                         :type "integer",
                                                         :format "int32"},
                                         :published {:$ref "AchievementConfigurationDetail",
                                                     :description "The read-only published data of the achievement."},
                                         :achievementType {:description "The type of the achievement.",
                                                           :enum ["ACHIEVEMENT_TYPE_UNSPECIFIED"
                                                                  "STANDARD"
                                                                  "INCREMENTAL"],
                                                           :enumDescriptions ["Default value. This value is unused."
                                                                              "Achievement is either locked or unlocked."
                                                                              "Achievement is incremental."],
                                                           :type "string"}},
                            :type "object"},
 :AchievementConfigurationDetail {:properties {:name {:$ref "LocalizedStringBundle",
                                                      :description "Localized strings for the achievement name."},
                                               :pointValue {:format "int32",
                                                            :description "Point value for the achievement.",
                                                            :type "integer"},
                                               :sortRank {:description "The sort rank of this achievement. Writes to this field are ignored.",
                                                          :format "int32",
                                                          :type "integer"},
                                               :description {:$ref "LocalizedStringBundle",
                                                             :description "Localized strings for the achievement description."},
                                               :kind {:type "string",
                                                      :description "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#achievementConfigurationDetail`."},
                                               :iconUrl {:description "The icon url of this achievement. Writes to this field are ignored.",
                                                         :type "string"}},
                                  :type "object",
                                  :id "AchievementConfigurationDetail",
                                  :description "An achievement configuration detail."},
 :LocalizedStringBundle {:properties {:kind {:type "string",
                                             :description "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#localizedStringBundle`."},
                                      :translations {:description "The locale strings.",
                                                     :type "array",
                                                     :items {:$ref "LocalizedString"}}},
                         :id "LocalizedStringBundle",
                         :type "object",
                         :description "A localized string bundle resource."},
 :LeaderboardConfigurationDetail {:description "A leaderboard configuration detail.",
                                  :id "LeaderboardConfigurationDetail",
                                  :properties {:scoreFormat {:description "The score formatting for the leaderboard.",
                                                             :$ref "GamesNumberFormatConfiguration"},
                                               :sortRank {:format "int32",
                                                          :type "integer",
                                                          :description "The sort rank of this leaderboard. Writes to this field are ignored."},
                                               :name {:$ref "LocalizedStringBundle",
                                                      :description "Localized strings for the leaderboard name."},
                                               :kind {:description "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#leaderboardConfigurationDetail`.",
                                                      :type "string"},
                                               :iconUrl {:description "The icon url of this leaderboard. Writes to this field are ignored.",
                                                         :type "string"}},
                                  :type "object"},
 :GamesNumberAffixConfiguration {:id "GamesNumberAffixConfiguration",
                                 :type "object",
                                 :properties {:many {:description "When the language requires special treatment of \"large\" numbers (as with numbers ending 11-99 in Maltese).",
                                                     :$ref "LocalizedStringBundle"},
                                              :few {:description "When the language requires special treatment of \"small\" numbers (as with 2, 3, and 4 in Czech; or numbers ending 2, 3, or 4 but not 12, 13, or 14 in Polish).",
                                                    :$ref "LocalizedStringBundle"},
                                              :zero {:description "When the language requires special treatment of the number 0 (as in Arabic).",
                                                     :$ref "LocalizedStringBundle"},
                                              :two {:description "When the language requires special treatment of numbers like two (as with 2 in Welsh, or 102 in Slovenian).",
                                                    :$ref "LocalizedStringBundle"},
                                              :other {:$ref "LocalizedStringBundle",
                                                      :description "When the language does not require special treatment of the given quantity (as with all numbers in Chinese, or 42 in English)."},
                                              :one {:description "When the language requires special treatment of numbers like one (as with the number 1 in English and most other languages; in Russian, any number ending in 1 but not ending in 11 is in this class).",
                                                    :$ref "LocalizedStringBundle"}},
                                 :description "A number affix resource."},
 :AchievementConfigurationListResponse {:id "AchievementConfigurationListResponse",
                                        :description "A ListConfigurations response.",
                                        :properties {:kind {:description "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#achievementConfigurationListResponse`.",
                                                            :type "string"},
                                                     :nextPageToken {:description "The pagination token for the next page of results.",
                                                                     :type "string"},
                                                     :items {:items {:$ref "AchievementConfiguration"},
                                                             :description "The achievement configurations.",
                                                             :type "array"}},
                                        :type "object"},
 :LeaderboardConfigurationListResponse {:description "A ListConfigurations response.",
                                        :type "object",
                                        :properties {:items {:description "The leaderboard configurations.",
                                                             :type "array",
                                                             :items {:$ref "LeaderboardConfiguration"}},
                                                     :nextPageToken {:type "string",
                                                                     :description "The pagination token for the next page of results."},
                                                     :kind {:description "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#leaderboardConfigurationListResponse`.",
                                                            :type "string"}},
                                        :id "LeaderboardConfigurationListResponse"},
 :LocalizedString {:properties {:locale {:description "The locale string.",
                                         :type "string"},
                                :kind {:description "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#localizedString`.",
                                       :type "string"},
                                :value {:type "string",
                                        :description "The string value."}},
                   :id "LocalizedString",
                   :type "object",
                   :description "A localized string resource."}}
