{:LeaderboardConfiguration {:properties {:published {:$ref "LeaderboardConfigurationDetail",
                                                     :description "The read-only published data of the leaderboard."},
                                         :token {:description "The token for this resource.",
                                                 :type "string"},
                                         :kind {:description "Uniquely identifies the type of this resource. Value is always the fixed\nstring <code>gamesConfiguration#leaderboardConfiguration</code>.",
                                                :type "string"},
                                         :scoreMin {:type "string",
                                                    :description "Minimum score that can be posted to this leaderboard.",
                                                    :format "int64"},
                                         :scoreMax {:description "Maximum score that can be posted to this leaderboard.",
                                                    :format "int64",
                                                    :type "string"},
                                         :scoreOrder {:enumDescriptions ["Default value. This value is unused."
                                                                         "Larger scores posted are ranked higher."
                                                                         "Smaller scores posted are ranked higher."],
                                                      :enum ["SCORE_ORDER_UNSPECIFIED"
                                                             "LARGER_IS_BETTER"
                                                             "SMALLER_IS_BETTER"],
                                                      :type "string"},
                                         :id {:type "string",
                                              :description "The ID of the leaderboard."},
                                         :draft {:$ref "LeaderboardConfigurationDetail",
                                                 :description "The draft data of the leaderboard."}},
                            :id "LeaderboardConfiguration",
                            :description "An leaderboard configuration resource.",
                            :type "object"},
 :ImageConfiguration {:description "An image configuration resource.",
                      :type "object",
                      :properties {:kind {:description "Uniquely identifies the type of this resource. Value is always the fixed\nstring <code>gamesConfiguration#imageConfiguration</code>.",
                                          :type "string"},
                                   :imageType {:type "string",
                                               :enumDescriptions ["Default value. This value is unused."
                                                                  "The icon image for an achievement resource."
                                                                  "The icon image for a leaderboard resource."],
                                               :enum ["IMAGE_TYPE_UNSPECIFIED"
                                                      "ACHIEVEMENT_ICON"
                                                      "LEADERBOARD_ICON"],
                                               :description "The image type for the image."},
                                   :url {:type "string",
                                         :description "The url for this image."},
                                   :resourceId {:description "The resource ID of resource which the image belongs to.",
                                                :type "string"}},
                      :id "ImageConfiguration"},
 :GamesNumberFormatConfiguration {:id "GamesNumberFormatConfiguration",
                                  :description "A number format resource.",
                                  :type "object",
                                  :properties {:numberFormatType {:enumDescriptions ["Default value. This value is unused."
                                                                                     "Numbers are formatted to have no digits or fixed number of digits after\nthe decimal point according to locale. An optional custom unit can be\nadded."
                                                                                     "Numbers are formatted to hours, minutes and seconds."
                                                                                     "Numbers are formatted to currency according to locale."],
                                                                  :enum ["NUMBER_FORMAT_TYPE_UNSPECIFIED"
                                                                         "NUMERIC"
                                                                         "TIME_DURATION"
                                                                         "CURRENCY"],
                                                                  :description "The formatting for the number.",
                                                                  :type "string"},
                                               :numDecimalPlaces {:description "The number of decimal places for number. Only used for NUMERIC format type.",
                                                                  :format "int32",
                                                                  :type "integer"},
                                               :currencyCode {:description "The curreny code string. Only used for CURRENCY format type.",
                                                              :type "string"},
                                               :suffix {:$ref "GamesNumberAffixConfiguration",
                                                        :description "An optional suffix for the NUMERIC format type.  These strings follow the\nsame <a\nhref=\"http://developer.android.com/guide/topics/resources/string-resource.html#Plurals\">\nplural rules</a> as all Android string resources."}}},
 :AchievementConfiguration {:description "An achievement configuration resource.",
                            :type "object",
                            :properties {:published {:$ref "AchievementConfigurationDetail",
                                                     :description "The read-only published data of the achievement."},
                                         :achievementType {:enumDescriptions ["Default value. This value is unused."
                                                                              "Achievement is either locked or unlocked."
                                                                              "Achievement is incremental."],
                                                           :enum ["ACHIEVEMENT_TYPE_UNSPECIFIED"
                                                                  "STANDARD"
                                                                  "INCREMENTAL"],
                                                           :description "The type of the achievement.",
                                                           :type "string"},
                                         :kind {:type "string",
                                                :description "Uniquely identifies the type of this resource. Value is always the fixed\nstring <code>gamesConfiguration#achievementConfiguration</code>."},
                                         :token {:description "The token for this resource.",
                                                 :type "string"},
                                         :initialState {:enumDescriptions ["Default value. This value is unused."
                                                                           "Achievement is hidden."
                                                                           "Achievement is revealed."],
                                                        :enum ["INITIAL_STATE_UNSPECIFIED"
                                                               "HIDDEN"
                                                               "REVEALED"],
                                                        :description "The initial state of the achievement.",
                                                        :type "string"},
                                         :stepsToUnlock {:description "Steps to unlock.  Only applicable to incremental achievements.",
                                                         :format "int32",
                                                         :type "integer"},
                                         :id {:description "The ID of the achievement.",
                                              :type "string"},
                                         :draft {:description "The draft data of the achievement.",
                                                 :$ref "AchievementConfigurationDetail"}},
                            :id "AchievementConfiguration"},
 :AchievementConfigurationDetail {:description "An achievement configuration detail.",
                                  :type "object",
                                  :properties {:kind {:description "Uniquely identifies the type of this resource. Value is always the fixed\nstring <code>gamesConfiguration#achievementConfigurationDetail</code>.",
                                                      :type "string"},
                                               :description {:description "Localized strings for the achievement description.",
                                                             :$ref "LocalizedStringBundle"},
                                               :pointValue {:description "Point value for the achievement.",
                                                            :format "int32",
                                                            :type "integer"},
                                               :sortRank {:description "The sort rank of this achievement. Writes to this field are ignored.",
                                                          :format "int32",
                                                          :type "integer"},
                                               :name {:description "Localized strings for the achievement name.",
                                                      :$ref "LocalizedStringBundle"},
                                               :iconUrl {:type "string",
                                                         :description "The icon url of this achievement. Writes to this field are ignored."}},
                                  :id "AchievementConfigurationDetail"},
 :LocalizedStringBundle {:type "object",
                         :properties {:kind {:description "Uniquely identifies the type of this resource. Value is always the fixed\nstring <code>gamesConfiguration#localizedStringBundle</code>.",
                                             :type "string"},
                                      :translations {:description "The locale strings.",
                                                     :type "array",
                                                     :items {:$ref "LocalizedString"}}},
                         :id "LocalizedStringBundle",
                         :description "A localized string bundle resource."},
 :LeaderboardConfigurationDetail {:description "A leaderboard configuration detail.",
                                  :type "object",
                                  :properties {:name {:$ref "LocalizedStringBundle",
                                                      :description "Localized strings for the leaderboard name."},
                                               :iconUrl {:type "string",
                                                         :description "The icon url of this leaderboard. Writes to this field are ignored."},
                                               :sortRank {:description "The sort rank of this leaderboard. Writes to this field are ignored.",
                                                          :format "int32",
                                                          :type "integer"},
                                               :kind {:description "Uniquely identifies the type of this resource. Value is always the fixed\nstring <code>gamesConfiguration#leaderboardConfigurationDetail</code>.",
                                                      :type "string"},
                                               :scoreFormat {:description "The score formatting for the leaderboard.",
                                                             :$ref "GamesNumberFormatConfiguration"}},
                                  :id "LeaderboardConfigurationDetail"},
 :GamesNumberAffixConfiguration {:properties {:zero {:description "When the language requires special treatment of the number 0 (as in\nArabic).",
                                                     :$ref "LocalizedStringBundle"},
                                              :other {:description "When the language does not require special treatment of the given quantity\n(as with all numbers in Chinese, or 42 in English).",
                                                      :$ref "LocalizedStringBundle"},
                                              :two {:$ref "LocalizedStringBundle",
                                                    :description "When the language requires special treatment of numbers like two (as with 2\nin Welsh, or 102 in Slovenian)."},
                                              :many {:description "When the language requires special treatment of \"large\" numbers (as with\nnumbers ending 11-99 in Maltese).",
                                                     :$ref "LocalizedStringBundle"},
                                              :few {:$ref "LocalizedStringBundle",
                                                    :description "When the language requires special treatment of \"small\" numbers (as with 2,\n3, and 4 in Czech; or numbers ending 2, 3, or 4 but not 12, 13, or 14 in\nPolish)."},
                                              :one {:description "When the language requires special treatment of numbers like one (as with\nthe number 1 in English and most other languages; in Russian, any number\nending in 1 but not ending in 11 is in this class).",
                                                    :$ref "LocalizedStringBundle"}},
                                 :id "GamesNumberAffixConfiguration",
                                 :description "A number affix resource.",
                                 :type "object"},
 :AchievementConfigurationListResponse {:description "A ListConfigurations response.",
                                        :type "object",
                                        :properties {:items {:description "The achievement configurations.",
                                                             :type "array",
                                                             :items {:$ref "AchievementConfiguration"}},
                                                     :nextPageToken {:description "The pagination token for the next page of results.",
                                                                     :type "string"},
                                                     :kind {:description "Uniquely identifies the type of this resource. Value is always the fixed\nstring\n<code>gamesConfiguration#achievementConfigurationListResponse</code>.",
                                                            :type "string"}},
                                        :id "AchievementConfigurationListResponse"},
 :LeaderboardConfigurationListResponse {:type "object",
                                        :properties {:nextPageToken {:description "The pagination token for the next page of results.",
                                                                     :type "string"},
                                                     :kind {:description "Uniquely identifies the type of this resource. Value is always the fixed\nstring\n<code>gamesConfiguration#leaderboardConfigurationListResponse</code>.",
                                                            :type "string"},
                                                     :items {:description "The leaderboard configurations.",
                                                             :type "array",
                                                             :items {:$ref "LeaderboardConfiguration"}}},
                                        :id "LeaderboardConfigurationListResponse",
                                        :description "A ListConfigurations response."},
 :LocalizedString {:description "A localized string resource.",
                   :type "object",
                   :properties {:value {:description "The string value.",
                                        :type "string"},
                                :locale {:description "The locale string.",
                                         :type "string"},
                                :kind {:description "Uniquely identifies the type of this resource. Value is always the fixed\nstring <code>gamesConfiguration#localizedString</code>.",
                                       :type "string"}},
                   :id "LocalizedString"}}
