{:EventsResetMultipleForAllRequest {:properties {:kind {:description "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#eventsResetMultipleForAllRequest`.",
                                                        :type "string"},
                                                 :event_ids {:description "The IDs of events to reset.",
                                                             :items {:type "string"},
                                                             :type "array"}},
                                    :type "object",
                                    :id "EventsResetMultipleForAllRequest",
                                    :description "Multiple events reset all request."},
 :AchievementResetAllResponse {:properties {:results {:description "The achievement reset results.",
                                                      :type "array",
                                                      :items {:$ref "AchievementResetResponse"}},
                                            :kind {:description "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetAllResponse`.",
                                                   :type "string"}},
                               :id "AchievementResetAllResponse",
                               :type "object",
                               :description "Achievement reset all response."},
 :GamesPlayerLevelResource {:type "object",
                            :description "1P/3P metadata about a user's level.",
                            :properties {:minExperiencePoints {:format "int64",
                                                               :type "string",
                                                               :description "The minimum experience points for this level."},
                                         :maxExperiencePoints {:description "The maximum experience points for this level.",
                                                               :type "string",
                                                               :format "int64"},
                                         :level {:type "integer",
                                                 :format "int32",
                                                 :description "The level for the user."}},
                            :id "GamesPlayerLevelResource"},
 :GamesPlayerExperienceInfoResource {:properties {:nextLevel {:$ref "GamesPlayerLevelResource",
                                                              :description "The next level of the player. If the current level is the maximum level, this should be same as the current level."},
                                                  :lastLevelUpTimestampMillis {:description "The timestamp when the player was leveled up, in millis since Unix epoch UTC.",
                                                                               :format "int64",
                                                                               :type "string"},
                                                  :currentLevel {:description "The current level of the player.",
                                                                 :$ref "GamesPlayerLevelResource"},
                                                  :currentExperiencePoints {:format "int64",
                                                                            :description "The current number of experience points for the player.",
                                                                            :type "string"}},
                                     :id "GamesPlayerExperienceInfoResource",
                                     :description "1P/3P metadata about the player's experience.",
                                     :type "object"},
 :ScoresResetMultipleForAllRequest {:id "ScoresResetMultipleForAllRequest",
                                    :properties {:kind {:type "string",
                                                        :description "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#scoresResetMultipleForAllRequest`."},
                                                 :leaderboard_ids {:items {:type "string"},
                                                                   :description "The IDs of leaderboards to reset.",
                                                                   :type "array"}},
                                    :type "object"},
 :HiddenPlayerList {:description "A list of hidden players.",
                    :id "HiddenPlayerList",
                    :properties {:items {:description "The players.",
                                         :type "array",
                                         :items {:$ref "HiddenPlayer"}},
                                 :nextPageToken {:type "string",
                                                 :description "The pagination token for the next page of results."},
                                 :kind {:type "string",
                                        :description "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#hiddenPlayerList`."}},
                    :type "object"},
 :PlayerScoreResetAllResponse {:description "A list of leaderboard reset resources.",
                               :properties {:results {:type "array",
                                                      :description "The leaderboard reset results.",
                                                      :items {:$ref "PlayerScoreResetResponse"}},
                                            :kind {:description "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#playerScoreResetAllResponse`.",
                                                   :type "string"}},
                               :id "PlayerScoreResetAllResponse",
                               :type "object"},
 :ProfileSettings {:type "object",
                   :properties {:kind {:description "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#profileSettings`.",
                                       :type "string"},
                                :profileVisible {:type "boolean"}},
                   :id "ProfileSettings",
                   :description "Profile settings"},
 :PlayerScoreResetResponse {:id "PlayerScoreResetResponse",
                            :type "object",
                            :properties {:resetScoreTimeSpans {:items {:type "string"},
                                                               :description "The time spans of the updated score. Possible values are: - \"`ALL_TIME`\" - The score is an all-time score. - \"`WEEKLY`\" - The score is a weekly score. - \"`DAILY`\" - The score is a daily score. ",
                                                               :type "array"},
                                         :kind {:type "string",
                                                :description "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#playerScoreResetResponse`."},
                                         :definitionId {:type "string",
                                                        :description "The ID of an leaderboard for which player state has been updated."}},
                            :description "A list of reset leaderboard entry resources."},
 :HiddenPlayer {:id "HiddenPlayer",
                :description "The HiddenPlayer resource.",
                :properties {:player {:description "Output only. The player information.",
                                      :readOnly true,
                                      :$ref "Player"},
                             :hiddenTimeMillis {:type "string",
                                                :format "int64",
                                                :description "Output only. The time this player was hidden.",
                                                :readOnly true},
                             :kind {:description "Output only. Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#hiddenPlayer`.",
                                    :type "string",
                                    :readOnly true}},
                :type "object"},
 :AchievementResetMultipleForAllRequest {:type "object",
                                         :id "AchievementResetMultipleForAllRequest",
                                         :properties {:achievement_ids {:type "array",
                                                                        :items {:type "string"},
                                                                        :description "The IDs of achievements to reset."},
                                                      :kind {:description "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetMultipleForAllRequest`.",
                                                             :type "string"}}},
 :Player {:type "object",
          :description "A Player resource.",
          :id "Player",
          :properties {:bannerUrlPortrait {:description "The url to the portrait mode player banner image.",
                                           :type "string"},
                       :originalPlayerId {:description "The player ID that was used for this player the first time they signed into the game in question. This is only populated for calls to player.get for the requesting player, only if the player ID has subsequently changed, and only to clients that support remapping player IDs.",
                                          :type "string"},
                       :avatarImageUrl {:type "string",
                                        :description "The base URL for the image that represents the player."},
                       :displayName {:description "The name to display for the player.",
                                     :type "string"},
                       :name {:properties {:familyName {:type "string",
                                                        :description "The family name of this player. In some places, this is known as the last name."},
                                           :givenName {:description "The given name of this player. In some places, this is known as the first name.",
                                                       :type "string"}},
                              :type "object",
                              :description "An object representation of the individual components of the player's name. For some players, these fields may not be present."},
                       :playerId {:type "string",
                                  :description "The ID of the player."},
                       :title {:description "The player's title rewarded for their game activities.",
                               :type "string"},
                       :profileSettings {:description "The player's profile settings. Controls whether or not the player's profile is visible to other players.",
                                         :$ref "ProfileSettings"},
                       :kind {:type "string",
                              :description "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#player`."},
                       :bannerUrlLandscape {:description "The url to the landscape mode player banner image.",
                                            :type "string"},
                       :experienceInfo {:$ref "GamesPlayerExperienceInfoResource",
                                        :description "An object to represent Play Game experience information for the player."}}},
 :AchievementResetResponse {:type "object",
                            :description "An achievement reset response.",
                            :properties {:updateOccurred {:type "boolean",
                                                          :description "Flag to indicate if the requested update actually occurred."},
                                         :definitionId {:type "string",
                                                        :description "The ID of an achievement for which player state has been updated."},
                                         :currentState {:type "string",
                                                        :description "The current state of the achievement. This is the same as the initial state of the achievement. Possible values are: - \"`HIDDEN`\"- Achievement is hidden. - \"`REVEALED`\" - Achievement is revealed. - \"`UNLOCKED`\" - Achievement is unlocked. "},
                                         :kind {:type "string",
                                                :description "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetResponse`."}},
                            :id "AchievementResetResponse"}}
