{:EventsResetMultipleForAllRequest {:id "EventsResetMultipleForAllRequest",
                                    :description "Multiple events reset all request.",
                                    :type "object",
                                    :properties {:kind {:description "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#eventsResetMultipleForAllRequest`.",
                                                        :type "string"},
                                                 :event_ids {:description "The IDs of events to reset.",
                                                             :type "array",
                                                             :items {:type "string"}}}},
 :AchievementResetAllResponse {:id "AchievementResetAllResponse",
                               :description "Achievement reset all response.",
                               :type "object",
                               :properties {:kind {:description "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetAllResponse`.",
                                                   :type "string"},
                                            :results {:description "The achievement reset results.",
                                                      :type "array",
                                                      :items {:$ref "AchievementResetResponse"}}}},
 :GamesPlayerLevelResource {:id "GamesPlayerLevelResource",
                            :description "1P/3P metadata about a user's level.",
                            :type "object",
                            :properties {:level {:description "The level for the user.",
                                                 :type "integer",
                                                 :format "int32"},
                                         :minExperiencePoints {:description "The minimum experience points for this level.",
                                                               :type "string",
                                                               :format "int64"},
                                         :maxExperiencePoints {:description "The maximum experience points for this level.",
                                                               :type "string",
                                                               :format "int64"}}},
 :GamesPlayerExperienceInfoResource {:id "GamesPlayerExperienceInfoResource",
                                     :description "1P/3P metadata about the player's experience.",
                                     :type "object",
                                     :properties {:currentExperiencePoints {:description "The current number of experience points for the player.",
                                                                            :type "string",
                                                                            :format "int64"},
                                                  :lastLevelUpTimestampMillis {:description "The timestamp when the player was leveled up, in millis since Unix epoch UTC.",
                                                                               :type "string",
                                                                               :format "int64"},
                                                  :currentLevel {:description "The current level of the player.",
                                                                 :$ref "GamesPlayerLevelResource"},
                                                  :nextLevel {:description "The next level of the player. If the current level is the maximum level, this should be same as the current level.",
                                                              :$ref "GamesPlayerLevelResource"}}},
 :ScoresResetMultipleForAllRequest {:id "ScoresResetMultipleForAllRequest",
                                    :type "object",
                                    :properties {:kind {:description "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#scoresResetMultipleForAllRequest`.",
                                                        :type "string"},
                                                 :leaderboard_ids {:description "The IDs of leaderboards to reset.",
                                                                   :type "array",
                                                                   :items {:type "string"}}}},
 :HiddenPlayerList {:id "HiddenPlayerList",
                    :description "A list of hidden players.",
                    :type "object",
                    :properties {:kind {:description "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#hiddenPlayerList`.",
                                        :type "string"},
                                 :items {:description "The players.",
                                         :type "array",
                                         :items {:$ref "HiddenPlayer"}},
                                 :nextPageToken {:description "The pagination token for the next page of results.",
                                                 :type "string"}}},
 :PlayerScoreResetAllResponse {:id "PlayerScoreResetAllResponse",
                               :description "A list of leaderboard reset resources.",
                               :type "object",
                               :properties {:kind {:description "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#playerScoreResetAllResponse`.",
                                                   :type "string"},
                                            :results {:description "The leaderboard reset results.",
                                                      :type "array",
                                                      :items {:$ref "PlayerScoreResetResponse"}}}},
 :ProfileSettings {:id "ProfileSettings",
                   :description "Profile settings",
                   :type "object",
                   :properties {:kind {:description "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#profileSettings`.",
                                       :type "string"},
                                :profileVisible {:type "boolean"}}},
 :PlayerScoreResetResponse {:id "PlayerScoreResetResponse",
                            :description "A list of reset leaderboard entry resources.",
                            :type "object",
                            :properties {:kind {:description "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#playerScoreResetResponse`.",
                                                :type "string"},
                                         :definitionId {:description "The ID of an leaderboard for which player state has been updated.",
                                                        :type "string"},
                                         :resetScoreTimeSpans {:description "The time spans of the updated score. Possible values are: - \"`ALL_TIME`\" - The score is an all-time score. - \"`WEEKLY`\" - The score is a weekly score. - \"`DAILY`\" - The score is a daily score. ",
                                                               :type "array",
                                                               :items {:type "string"}}}},
 :HiddenPlayer {:id "HiddenPlayer",
                :description "The HiddenPlayer resource.",
                :type "object",
                :properties {:kind {:description "Output only. Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#hiddenPlayer`.",
                                    :readOnly true,
                                    :type "string"},
                             :player {:description "Output only. The player information.",
                                      :readOnly true,
                                      :$ref "Player"},
                             :hiddenTimeMillis {:description "Output only. The time this player was hidden.",
                                                :readOnly true,
                                                :type "string",
                                                :format "int64"}}},
 :AchievementResetMultipleForAllRequest {:id "AchievementResetMultipleForAllRequest",
                                         :type "object",
                                         :properties {:kind {:description "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetMultipleForAllRequest`.",
                                                             :type "string"},
                                                      :achievement_ids {:description "The IDs of achievements to reset.",
                                                                        :type "array",
                                                                        :items {:type "string"}}}},
 :Player {:id "Player",
          :description "A Player resource.",
          :type "object",
          :properties {:bannerUrlPortrait {:description "The url to the portrait mode player banner image.",
                                           :type "string"},
                       :originalPlayerId {:description "The player ID that was used for this player the first time they signed into the game in question. This is only populated for calls to player.get for the requesting player, only if the player ID has subsequently changed, and only to clients that support remapping player IDs.",
                                          :type "string"},
                       :avatarImageUrl {:description "The base URL for the image that represents the player.",
                                        :type "string"},
                       :displayName {:description "The name to display for the player.",
                                     :type "string"},
                       :name {:description "An object representation of the individual components of the player's name. For some players, these fields may not be present.",
                              :type "object",
                              :properties {:givenName {:description "The given name of this player. In some places, this is known as the first name.",
                                                       :type "string"},
                                           :familyName {:description "The family name of this player. In some places, this is known as the last name.",
                                                        :type "string"}}},
                       :playerId {:description "The ID of the player.",
                                  :type "string"},
                       :title {:description "The player's title rewarded for their game activities.",
                               :type "string"},
                       :profileSettings {:description "The player's profile settings. Controls whether or not the player's profile is visible to other players.",
                                         :$ref "ProfileSettings"},
                       :kind {:description "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#player`.",
                              :type "string"},
                       :bannerUrlLandscape {:description "The url to the landscape mode player banner image.",
                                            :type "string"},
                       :experienceInfo {:description "An object to represent Play Game experience information for the player.",
                                        :$ref "GamesPlayerExperienceInfoResource"}}},
 :AchievementResetResponse {:id "AchievementResetResponse",
                            :description "An achievement reset response.",
                            :type "object",
                            :properties {:kind {:description "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetResponse`.",
                                                :type "string"},
                                         :definitionId {:description "The ID of an achievement for which player state has been updated.",
                                                        :type "string"},
                                         :updateOccurred {:description "Flag to indicate if the requested update actually occurred.",
                                                          :type "boolean"},
                                         :currentState {:description "The current state of the achievement. This is the same as the initial state of the achievement. Possible values are: - \"`HIDDEN`\"- Achievement is hidden. - \"`REVEALED`\" - Achievement is revealed. - \"`UNLOCKED`\" - Achievement is unlocked. ",
                                                        :type "string"}}}}
