{:LeaderboardConfiguration {:type "object",
                            :properties {:id {:description "The ID of the leaderboard.",
                                              :type "string"},
                                         :draft {:$ref "LeaderboardConfigurationDetail",
                                                 :description "The draft data of the leaderboard."},
                                         :scoreMin {:description "Minimum score that can be posted to this leaderboard.",
                                                    :type "string",
                                                    :format "int64"},
                                         :scoreMax {:description "Maximum score that can be posted to this leaderboard.",
                                                    :type "string",
                                                    :format "int64"},
                                         :kind {:type "string",
                                                :description "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#leaderboardConfiguration`."},
                                         :scoreOrder {:enum ["SCORE_ORDER_UNSPECIFIED"
                                                             "LARGER_IS_BETTER"
                                                             "SMALLER_IS_BETTER"],
                                                      :type "string",
                                                      :enumDescriptions ["Default value. This value is unused."
                                                                         "Larger scores posted are ranked higher."
                                                                         "Smaller scores posted are ranked higher."]},
                                         :published {:description "The read-only published data of the leaderboard.",
                                                     :$ref "LeaderboardConfigurationDetail"},
                                         :token {:description "The token for this resource.",
                                                 :type "string"}},
                            :id "LeaderboardConfiguration",
                            :description "An leaderboard configuration resource."},
 :ImageConfiguration {:description "An image configuration resource.",
                      :type "object",
                      :id "ImageConfiguration",
                      :properties {:imageType {:enum ["IMAGE_TYPE_UNSPECIFIED"
                                                      "ACHIEVEMENT_ICON"
                                                      "LEADERBOARD_ICON"],
                                               :type "string",
                                               :description "The image type for the image.",
                                               :enumDescriptions ["Default value. This value is unused."
                                                                  "The icon image for an achievement resource."
                                                                  "The icon image for a leaderboard resource."]},
                                   :url {:type "string",
                                         :description "The url for this image."},
                                   :kind {:description "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#imageConfiguration`.",
                                          :type "string"},
                                   :resourceId {:type "string",
                                                :description "The resource ID of resource which the image belongs to."}}},
 :GamesNumberFormatConfiguration {:type "object",
                                  :properties {:numberFormatType {:description "The formatting for the number.",
                                                                  :enumDescriptions ["Default value. This value is unused."
                                                                                     "Numbers are formatted to have no digits or fixed number of digits after the decimal point according to locale. An optional custom unit can be added."
                                                                                     "Numbers are formatted to hours, minutes and seconds."
                                                                                     "Numbers are formatted to currency according to locale."],
                                                                  :enum ["NUMBER_FORMAT_TYPE_UNSPECIFIED"
                                                                         "NUMERIC"
                                                                         "TIME_DURATION"
                                                                         "CURRENCY"],
                                                                  :type "string"},
                                               :numDecimalPlaces {:description "The number of decimal places for number. Only used for NUMERIC format type.",
                                                                  :format "int32",
                                                                  :type "integer"},
                                               :currencyCode {:type "string",
                                                              :description "The curreny code string. Only used for CURRENCY format type."},
                                               :suffix {:$ref "GamesNumberAffixConfiguration",
                                                        :description "An optional suffix for the NUMERIC format type. These strings follow the same plural rules as all Android string resources."}},
                                  :description "A number format resource.",
                                  :id "GamesNumberFormatConfiguration"},
 :AchievementConfiguration {:properties {:kind {:description "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#achievementConfiguration`.",
                                                :type "string"},
                                         :token {:type "string",
                                                 :description "The token for this resource."},
                                         :stepsToUnlock {:type "integer",
                                                         :format "int32",
                                                         :description "Steps to unlock. Only applicable to incremental achievements."},
                                         :draft {:description "The draft data of the achievement.",
                                                 :$ref "AchievementConfigurationDetail"},
                                         :initialState {:enumDescriptions ["Default value. This value is unused."
                                                                           "Achievement is hidden."
                                                                           "Achievement is revealed."],
                                                        :enum ["INITIAL_STATE_UNSPECIFIED"
                                                               "HIDDEN"
                                                               "REVEALED"],
                                                        :type "string",
                                                        :description "The initial state of the achievement."},
                                         :achievementType {:enum ["ACHIEVEMENT_TYPE_UNSPECIFIED"
                                                                  "STANDARD"
                                                                  "INCREMENTAL"],
                                                           :type "string",
                                                           :enumDescriptions ["Default value. This value is unused."
                                                                              "Achievement is either locked or unlocked."
                                                                              "Achievement is incremental."],
                                                           :description "The type of the achievement."},
                                         :id {:description "The ID of the achievement.",
                                              :type "string"},
                                         :published {:$ref "AchievementConfigurationDetail",
                                                     :description "The read-only published data of the achievement."}},
                            :id "AchievementConfiguration",
                            :description "An achievement configuration resource.",
                            :type "object"},
 :AchievementConfigurationDetail {:description "An achievement configuration detail.",
                                  :type "object",
                                  :properties {:name {:description "Localized strings for the achievement name.",
                                                      :$ref "LocalizedStringBundle"},
                                               :pointValue {:description "Point value for the achievement.",
                                                            :format "int32",
                                                            :type "integer"},
                                               :description {:$ref "LocalizedStringBundle",
                                                             :description "Localized strings for the achievement description."},
                                               :sortRank {:description "The sort rank of this achievement. Writes to this field are ignored.",
                                                          :type "integer",
                                                          :format "int32"},
                                               :kind {:type "string",
                                                      :description "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#achievementConfigurationDetail`."},
                                               :iconUrl {:description "The icon url of this achievement. Writes to this field are ignored.",
                                                         :type "string"}},
                                  :id "AchievementConfigurationDetail"},
 :LocalizedStringBundle {:type "object",
                         :id "LocalizedStringBundle",
                         :properties {:kind {:description "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#localizedStringBundle`.",
                                             :type "string"},
                                      :translations {:description "The locale strings.",
                                                     :type "array",
                                                     :items {:$ref "LocalizedString"}}},
                         :description "A localized string bundle resource."},
 :LeaderboardConfigurationDetail {:properties {:kind {:type "string",
                                                      :description "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#leaderboardConfigurationDetail`."},
                                               :scoreFormat {:$ref "GamesNumberFormatConfiguration",
                                                             :description "The score formatting for the leaderboard."},
                                               :name {:$ref "LocalizedStringBundle",
                                                      :description "Localized strings for the leaderboard name."},
                                               :sortRank {:format "int32",
                                                          :description "The sort rank of this leaderboard. Writes to this field are ignored.",
                                                          :type "integer"},
                                               :iconUrl {:description "The icon url of this leaderboard. Writes to this field are ignored.",
                                                         :type "string"}},
                                  :id "LeaderboardConfigurationDetail",
                                  :type "object",
                                  :description "A leaderboard configuration detail."},
 :GamesNumberAffixConfiguration {:type "object",
                                 :description "A number affix resource.",
                                 :properties {:zero {:$ref "LocalizedStringBundle",
                                                     :description "When the language requires special treatment of the number 0 (as in Arabic)."},
                                              :few {:$ref "LocalizedStringBundle",
                                                    :description "When the language requires special treatment of \"small\" numbers (as with 2, 3, and 4 in Czech; or numbers ending 2, 3, or 4 but not 12, 13, or 14 in Polish)."},
                                              :many {:$ref "LocalizedStringBundle",
                                                     :description "When the language requires special treatment of \"large\" numbers (as with numbers ending 11-99 in Maltese)."},
                                              :two {:description "When the language requires special treatment of numbers like two (as with 2 in Welsh, or 102 in Slovenian).",
                                                    :$ref "LocalizedStringBundle"},
                                              :other {:$ref "LocalizedStringBundle",
                                                      :description "When the language does not require special treatment of the given quantity (as with all numbers in Chinese, or 42 in English)."},
                                              :one {:$ref "LocalizedStringBundle",
                                                    :description "When the language requires special treatment of numbers like one (as with the number 1 in English and most other languages; in Russian, any number ending in 1 but not ending in 11 is in this class)."}},
                                 :id "GamesNumberAffixConfiguration"},
 :AchievementConfigurationListResponse {:properties {:nextPageToken {:description "The pagination token for the next page of results.",
                                                                     :type "string"},
                                                     :items {:type "array",
                                                             :description "The achievement configurations.",
                                                             :items {:$ref "AchievementConfiguration"}},
                                                     :kind {:type "string",
                                                            :description "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#achievementConfigurationListResponse`."}},
                                        :description "A ListConfigurations response.",
                                        :id "AchievementConfigurationListResponse",
                                        :type "object"},
 :LeaderboardConfigurationListResponse {:properties {:kind {:type "string",
                                                            :description "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#leaderboardConfigurationListResponse`."},
                                                     :items {:description "The leaderboard configurations.",
                                                             :type "array",
                                                             :items {:$ref "LeaderboardConfiguration"}},
                                                     :nextPageToken {:type "string",
                                                                     :description "The pagination token for the next page of results."}},
                                        :description "A ListConfigurations response.",
                                        :id "LeaderboardConfigurationListResponse",
                                        :type "object"},
 :LocalizedString {:id "LocalizedString",
                   :description "A localized string resource.",
                   :properties {:locale {:type "string",
                                         :description "The locale string."},
                                :value {:type "string",
                                        :description "The string value."},
                                :kind {:description "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#localizedString`.",
                                       :type "string"}},
                   :type "object"}}
