{:Groups {:type "object",
          :properties {:kind {:type "string",
                              :description "The kind of insert resource this is."},
                       :responseCode {:description "The status of the insert request.",
                                      :type "string"}},
          :id "Groups",
          :description "JSON response template for groups migration API."}}
