{:Groups {:type "object",
          :properties {:responseCode {:description "The status of the insert request.",
                                      :type "string"},
                       :kind {:type "string",
                              :description "The kind of insert resource this is."}},
          :id "Groups",
          :description "JSON response template for groups migration API."}}
