{:QueryRequestInput {:description "Device ID inputs to QueryRequest.",
                     :type "object",
                     :properties {:payload {:description "Payload containing third-party device IDs.",
                                            :$ref "QueryRequestPayload"}},
                     :id "QueryRequestInput"},
 :SyncRequest {:type "object",
               :id "SyncRequest",
               :description "Request type for the [`Sync`](#google.home.graph.v1.HomeGraphApiService.Sync) call.",
               :properties {:agentUserId {:description "Required. Third-party user ID.",
                                          :type "string"},
                            :requestId {:type "string",
                                        :description "Request ID used for debugging."}}},
 :QueryResponse {:type "object",
                 :properties {:requestId {:description "Request ID used for debugging. Copied from the request.",
                                          :type "string"},
                              :payload {:$ref "QueryResponsePayload",
                                        :description "Device states for the devices given in the request."}},
                 :id "QueryResponse",
                 :description "Response type for the [`Query`](#google.home.graph.v1.HomeGraphApiService.Query) call. This should follow the same format as the Google smart home `action.devices.QUERY` [response](https://developers.home.google.com/cloud-to-cloud/intents/query). Example: ```json { \"requestId\": \"ff36a3cc-ec34-11e6-b1a0-64510650abcf\", \"payload\": { \"devices\": { \"123\": { \"on\": true, \"online\": true }, \"456\": { \"on\": true, \"online\": true, \"brightness\": 80, \"color\": { \"name\": \"cerulean\", \"spectrumRGB\": 31655 } } } } } ```"},
 :StateAndNotificationPayload {:properties {:devices {:description "The devices for updating state and sending notifications.",
                                                      :$ref "ReportStateAndNotificationDevice"}},
                               :id "StateAndNotificationPayload",
                               :description "Payload containing the state and notification information for devices.",
                               :type "object"},
 :QueryRequestPayload {:id "QueryRequestPayload",
                       :description "Payload containing device IDs.",
                       :type "object",
                       :properties {:devices {:type "array",
                                              :description "Third-party device IDs for which to get the device states.",
                                              :items {:$ref "AgentDeviceId"}}}},
 :ReportStateAndNotificationDevice {:type "object",
                                    :id "ReportStateAndNotificationDevice",
                                    :description "The states and notifications specific to a device.",
                                    :properties {:states {:additionalProperties {:type "any",
                                                                                 :description "Properties of the object."},
                                                          :description "States of devices to update. See the **Device STATES** section of the individual trait [reference guides](https://developers.home.google.com/cloud-to-cloud/traits).",
                                                          :type "object"},
                                                 :notifications {:additionalProperties {:description "Properties of the object.",
                                                                                        :type "any"},
                                                                 :description "Notifications metadata for devices. See the **Device NOTIFICATIONS** section of the individual trait [reference guides](https://developers.home.google.com/cloud-to-cloud/traits).",
                                                                 :type "object"}}},
 :DeviceNames {:id "DeviceNames",
               :properties {:nicknames {:items {:type "string"},
                                        :type "array",
                                        :description "Additional names provided by the user for the device."},
                            :name {:type "string",
                                   :description "Primary name of the device, generally provided by the user."},
                            :defaultNames {:description "List of names provided by the manufacturer rather than the user, such as serial numbers, SKUs, etc.",
                                           :items {:type "string"},
                                           :type "array"}},
               :description "Identifiers used to describe the device.",
               :type "object"},
 :SyncResponse {:properties {:requestId {:description "Request ID used for debugging. Copied from the request.",
                                         :type "string"},
                             :payload {:description "Devices associated with the third-party user.",
                                       :$ref "SyncResponsePayload"}},
                :type "object",
                :description "Response type for the [`Sync`](#google.home.graph.v1.HomeGraphApiService.Sync) call. This should follow the same format as the Google smart home `action.devices.SYNC` [response](https://developers.home.google.com/cloud-to-cloud/intents/sync). Example: ```json { \"requestId\": \"ff36a3cc-ec34-11e6-b1a0-64510650abcf\", \"payload\": { \"agentUserId\": \"1836.15267389\", \"devices\": [{ \"id\": \"123\", \"type\": \"action.devices.types.OUTLET\", \"traits\": [ \"action.devices.traits.OnOff\" ], \"name\": { \"defaultNames\": [\"My Outlet 1234\"], \"name\": \"Night light\", \"nicknames\": [\"wall plug\"] }, \"willReportState\": false, \"deviceInfo\": { \"manufacturer\": \"lights-out-inc\", \"model\": \"hs1234\", \"hwVersion\": \"3.2\", \"swVersion\": \"11.4\" }, \"customData\": { \"fooValue\": 74, \"barValue\": true, \"bazValue\": \"foo\" } }] } } ```",
                :id "SyncResponse"},
 :AgentOtherDeviceId {:type "object",
                      :id "AgentOtherDeviceId",
                      :properties {:agentId {:type "string",
                                             :description "Project ID for your smart home Action."},
                                   :deviceId {:description "Unique third-party device ID.",
                                              :type "string"}},
                      :description "Alternate third-party device ID."},
 :DeviceInfo {:properties {:manufacturer {:description "Device manufacturer.",
                                          :type "string"},
                           :hwVersion {:type "string",
                                       :description "Device hardware version."},
                           :model {:description "Device model.",
                                   :type "string"},
                           :swVersion {:description "Device software version.",
                                       :type "string"}},
              :type "object",
              :id "DeviceInfo",
              :description "Device information."},
 :QueryRequest {:properties {:inputs {:items {:$ref "QueryRequestInput"},
                                      :description "Required. Inputs containing third-party device IDs for which to get the device states.",
                                      :type "array"},
                             :agentUserId {:type "string",
                                           :description "Required. Third-party user ID."},
                             :requestId {:description "Request ID used for debugging.",
                                         :type "string"}},
                :id "QueryRequest",
                :type "object",
                :description "Request type for the [`Query`](#google.home.graph.v1.HomeGraphApiService.Query) call."},
 :RequestSyncDevicesRequest {:description "Request type for the [`RequestSyncDevices`](#google.home.graph.v1.HomeGraphApiService.RequestSyncDevices) call.",
                             :properties {:async {:type "boolean",
                                                  :description "Optional. If set, the request will be added to a queue and a response will be returned immediately. This enables concurrent requests for the given `agent_user_id`, but the caller will not receive any error responses."},
                                          :agentUserId {:description "Required. Third-party user ID.",
                                                        :type "string"}},
                             :id "RequestSyncDevicesRequest",
                             :type "object"},
 :Empty {:properties {},
         :id "Empty",
         :type "object",
         :description "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"},
 :ReportStateAndNotificationResponse {:id "ReportStateAndNotificationResponse",
                                      :properties {:requestId {:description "Request ID copied from ReportStateAndNotificationRequest.",
                                                               :type "string"}},
                                      :description "Response type for the [`ReportStateAndNotification`](#google.home.graph.v1.HomeGraphApiService.ReportStateAndNotification) call.",
                                      :type "object"},
 :SyncResponsePayload {:properties {:devices {:description "Devices associated with the third-party user.",
                                              :type "array",
                                              :items {:$ref "Device"}},
                                    :agentUserId {:description "Third-party user ID",
                                                  :type "string"}},
                       :description "Payload containing device information.",
                       :type "object",
                       :id "SyncResponsePayload"},
 :AgentDeviceId {:description "Third-party device ID for one device.",
                 :id "AgentDeviceId",
                 :type "object",
                 :properties {:id {:description "Third-party device ID.",
                                   :type "string"}}},
 :ReportStateAndNotificationRequest {:id "ReportStateAndNotificationRequest",
                                     :description "Request type for the [`ReportStateAndNotification`](#google.home.graph.v1.HomeGraphApiService.ReportStateAndNotification) call. It may include states, notifications, or both. States and notifications are defined per `device_id` (for example, \"123\" and \"456\" in the following example). Example: ```json { \"requestId\": \"ff36a3cc-ec34-11e6-b1a0-64510650abcf\", \"agentUserId\": \"1234\", \"payload\": { \"devices\": { \"states\": { \"123\": { \"on\": true }, \"456\": { \"on\": true, \"brightness\": 10 } }, } } } ```",
                                     :properties {:payload {:$ref "StateAndNotificationPayload",
                                                            :description "Required. State of devices to update and notification metadata for devices."},
                                                  :followUpToken {:type "string",
                                                                  :description "Deprecated.",
                                                                  :deprecated true},
                                                  :agentUserId {:description "Required. Third-party user ID.",
                                                                :type "string"},
                                                  :eventId {:type "string",
                                                            :description "Unique identifier per event (for example, a doorbell press)."},
                                                  :requestId {:type "string",
                                                              :description "Request ID used for debugging."}},
                                     :type "object"},
 :QueryResponsePayload {:type "object",
                        :id "QueryResponsePayload",
                        :properties {:devices {:description "States of the devices. Map of third-party device ID to struct of device states.",
                                               :additionalProperties {:additionalProperties {:description "Properties of the object.",
                                                                                             :type "any"},
                                                                      :type "object"},
                                               :type "object"}},
                        :description "Payload containing device states information."},
 :Device {:id "Device",
          :type "object",
          :properties {:notificationSupportedByAgent {:description "Indicates whether your smart home Action will report notifications to Google for this device via ReportStateAndNotification. If your smart home Action enables users to control device notifications, you should update this field and call RequestSyncDevices.",
                                                      :type "boolean"},
                       :willReportState {:type "boolean",
                                         :description "Indicates whether your smart home Action will report state of this device to Google via ReportStateAndNotification."},
                       :deviceInfo {:description "Device manufacturer, model, hardware version, and software version.",
                                    :$ref "DeviceInfo"},
                       :otherDeviceIds {:items {:$ref "AgentOtherDeviceId"},
                                        :type "array",
                                        :description "Alternate IDs associated with this device. This is used to identify cloud synced devices enabled for [local fulfillment](https://developers.home.google.com/local-home/overview)."},
                       :name {:$ref "DeviceNames",
                              :description "Names given to this device by your smart home Action."},
                       :type {:type "string",
                              :description "Hardware type of the device. See [device types](https://developers.home.google.com/cloud-to-cloud/guides)."},
                       :roomHint {:type "string",
                                  :description "Suggested name for the room where this device is installed. Google attempts to use this value during user setup."},
                       :id {:description "Third-party device ID.",
                            :type "string"},
                       :structureHint {:description "Suggested name for the structure where this device is installed. Google attempts to use this value during user setup.",
                                       :type "string"},
                       :attributes {:description "Attributes for the traits supported by the device.",
                                    :type "object",
                                    :additionalProperties {:description "Properties of the object.",
                                                           :type "any"}},
                       :customData {:type "object",
                                    :description "Custom device attributes stored in Home Graph and provided to your smart home Action in each [QUERY](https://developers.home.google.com/cloud-to-cloud/intents/query) and [EXECUTE](https://developers.home.google.com/cloud-to-cloud/intents/execute) intent. Data in this object has a few constraints: No sensitive information, including but not limited to Personally Identifiable Information.",
                                    :additionalProperties {:type "any",
                                                           :description "Properties of the object."}},
                       :traits {:items {:type "string"},
                                :description "Traits supported by the device. See [device traits](https://developers.home.google.com/cloud-to-cloud/traits).",
                                :type "array"}},
          :description "Third-party device definition."},
 :RequestSyncDevicesResponse {:properties {},
                              :id "RequestSyncDevicesResponse",
                              :type "object",
                              :description "Response type for the [`RequestSyncDevices`](#google.home.graph.v1.HomeGraphApiService.RequestSyncDevices) call. Intentionally empty upon success. An HTTP response code is returned with more details upon failure."}}
