{:QueryRequestInput {:id "QueryRequestInput",
                     :type "object",
                     :properties {:payload {:description "Payload containing third-party device IDs.",
                                            :$ref "QueryRequestPayload"}},
                     :description "Device ID inputs to QueryRequest."},
 :SyncRequest {:properties {:requestId {:type "string",
                                        :description "Request ID used for debugging."},
                            :agentUserId {:description "Required. Third-party user ID.",
                                          :type "string"}},
               :id "SyncRequest",
               :type "object",
               :description "Request type for the [`Sync`](#google.home.graph.v1.HomeGraphApiService.Sync) call."},
 :QueryResponse {:type "object",
                 :id "QueryResponse",
                 :description "Response type for the [`Query`](#google.home.graph.v1.HomeGraphApiService.Query) call. This should follow the same format as the Google smart home `action.devices.QUERY` [response](https://developers.google.com/assistant/smarthome/reference/intent/query). # Example ```json { \"requestId\": \"ff36a3cc-ec34-11e6-b1a0-64510650abcf\", \"payload\": { \"devices\": { \"123\": { \"on\": true, \"online\": true }, \"456\": { \"on\": true, \"online\": true, \"brightness\": 80, \"color\": { \"name\": \"cerulean\", \"spectrumRGB\": 31655 } } } } } ```",
                 :properties {:payload {:description "Device states for the devices given in the request.",
                                        :$ref "QueryResponsePayload"},
                              :requestId {:description "Request ID used for debugging. Copied from the request.",
                                          :type "string"}}},
 :StateAndNotificationPayload {:id "StateAndNotificationPayload",
                               :properties {:devices {:$ref "ReportStateAndNotificationDevice",
                                                      :description "The devices for updating state and sending notifications."}},
                               :description "Payload containing the state and notification information for devices.",
                               :type "object"},
 :QueryRequestPayload {:type "object",
                       :description "Payload containing device IDs.",
                       :properties {:devices {:items {:$ref "AgentDeviceId"},
                                              :description "Third-party device IDs for which to get the device states.",
                                              :type "array"}},
                       :id "QueryRequestPayload"},
 :ReportStateAndNotificationDevice {:description "The states and notifications specific to a device.",
                                    :properties {:notifications {:description "Notifications metadata for devices. See the **Device NOTIFICATIONS** section of the individual trait [reference guides](https://developers.google.com/assistant/smarthome/traits).",
                                                                 :additionalProperties {:type "any",
                                                                                        :description "Properties of the object."},
                                                                 :type "object"},
                                                 :states {:type "object",
                                                          :additionalProperties {:description "Properties of the object.",
                                                                                 :type "any"},
                                                          :description "States of devices to update. See the **Device STATES** section of the individual trait [reference guides](https://developers.google.com/assistant/smarthome/traits)."}},
                                    :id "ReportStateAndNotificationDevice",
                                    :type "object"},
 :DeviceNames {:type "object",
               :id "DeviceNames",
               :description "Identifiers used to describe the device.",
               :properties {:defaultNames {:description "List of names provided by the manufacturer rather than the user, such as serial numbers, SKUs, etc.",
                                           :items {:type "string"},
                                           :type "array"},
                            :name {:description "Primary name of the device, generally provided by the user.",
                                   :type "string"},
                            :nicknames {:items {:type "string"},
                                        :type "array",
                                        :description "Additional names provided by the user for the device."}}},
 :SyncResponse {:type "object",
                :properties {:requestId {:type "string",
                                         :description "Request ID used for debugging. Copied from the request."},
                             :payload {:description "Devices associated with the third-party user.",
                                       :$ref "SyncResponsePayload"}},
                :description "Response type for the [`Sync`](#google.home.graph.v1.HomeGraphApiService.Sync) call. This should follow the same format as the Google smart home `action.devices.SYNC` [response](https://developers.google.com/assistant/smarthome/reference/intent/sync). # Example ```json { \"requestId\": \"ff36a3cc-ec34-11e6-b1a0-64510650abcf\", \"payload\": { \"agentUserId\": \"1836.15267389\", \"devices\": [{ \"id\": \"123\", \"type\": \"action.devices.types.OUTLET\", \"traits\": [ \"action.devices.traits.OnOff\" ], \"name\": { \"defaultNames\": [\"My Outlet 1234\"], \"name\": \"Night light\", \"nicknames\": [\"wall plug\"] }, \"willReportState\": false, \"deviceInfo\": { \"manufacturer\": \"lights-out-inc\", \"model\": \"hs1234\", \"hwVersion\": \"3.2\", \"swVersion\": \"11.4\" }, \"customData\": { \"fooValue\": 74, \"barValue\": true, \"bazValue\": \"foo\" } }] } } ```",
                :id "SyncResponse"},
 :AgentOtherDeviceId {:description "Alternate third-party device ID.",
                      :properties {:agentId {:type "string",
                                             :description "Project ID for your smart home Action."},
                                   :deviceId {:type "string",
                                              :description "Unique third-party device ID."}},
                      :id "AgentOtherDeviceId",
                      :type "object"},
 :DeviceInfo {:type "object",
              :id "DeviceInfo",
              :description "Device information.",
              :properties {:hwVersion {:type "string",
                                       :description "Device hardware version."},
                           :manufacturer {:type "string",
                                          :description "Device manufacturer."},
                           :swVersion {:description "Device software version.",
                                       :type "string"},
                           :model {:type "string",
                                   :description "Device model."}}},
 :QueryRequest {:type "object",
                :properties {:inputs {:description "Required. Inputs containing third-party device IDs for which to get the device states.",
                                      :type "array",
                                      :items {:$ref "QueryRequestInput"}},
                             :agentUserId {:description "Required. Third-party user ID.",
                                           :type "string"},
                             :requestId {:description "Request ID used for debugging.",
                                         :type "string"}},
                :id "QueryRequest",
                :description "Request type for the [`Query`](#google.home.graph.v1.HomeGraphApiService.Query) call."},
 :RequestSyncDevicesRequest {:type "object",
                             :id "RequestSyncDevicesRequest",
                             :properties {:agentUserId {:type "string",
                                                        :description "Required. Third-party user ID."},
                                          :async {:description "Optional. If set, the request will be added to a queue and a response will be returned immediately. This enables concurrent requests for the given `agent_user_id`, but the caller will not receive any error responses.",
                                                  :type "boolean"}},
                             :description "Request type for the [`RequestSyncDevices`](#google.home.graph.v1.HomeGraphApiService.RequestSyncDevices) call."},
 :Empty {:description "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
         :id "Empty",
         :properties {},
         :type "object"},
 :ReportStateAndNotificationResponse {:id "ReportStateAndNotificationResponse",
                                      :type "object",
                                      :properties {:requestId {:description "Request ID copied from ReportStateAndNotificationRequest.",
                                                               :type "string"}},
                                      :description "Response type for the [`ReportStateAndNotification`](#google.home.graph.v1.HomeGraphApiService.ReportStateAndNotification) call."},
 :SyncResponsePayload {:id "SyncResponsePayload",
                       :type "object",
                       :properties {:devices {:description "Devices associated with the third-party user.",
                                              :type "array",
                                              :items {:$ref "Device"}},
                                    :agentUserId {:description "Third-party user ID",
                                                  :type "string"}},
                       :description "Payload containing device information."},
 :AgentDeviceId {:type "object",
                 :id "AgentDeviceId",
                 :description "Third-party device ID for one device.",
                 :properties {:id {:type "string",
                                   :description "Third-party device ID."}}},
 :ReportStateAndNotificationRequest {:properties {:payload {:$ref "StateAndNotificationPayload",
                                                            :description "Required. State of devices to update and notification metadata for devices."},
                                                  :followUpToken {:type "string",
                                                                  :description "Deprecated."},
                                                  :requestId {:type "string",
                                                              :description "Request ID used for debugging."},
                                                  :eventId {:description "Unique identifier per event (for example, a doorbell press).",
                                                            :type "string"},
                                                  :agentUserId {:type "string",
                                                                :description "Required. Third-party user ID."}},
                                     :type "object",
                                     :id "ReportStateAndNotificationRequest",
                                     :description "Request type for the [`ReportStateAndNotification`](#google.home.graph.v1.HomeGraphApiService.ReportStateAndNotification) call. It may include states, notifications, or both. States and notifications are defined per `device_id` (for example, \"123\" and \"456\" in the following example). # Example ```json { \"requestId\": \"ff36a3cc-ec34-11e6-b1a0-64510650abcf\", \"agentUserId\": \"1234\", \"payload\": { \"devices\": { \"states\": { \"123\": { \"on\": true }, \"456\": { \"on\": true, \"brightness\": 10 } }, } } } ```"},
 :QueryResponsePayload {:type "object",
                        :properties {:devices {:description "States of the devices. Map of third-party device ID to struct of device states.",
                                               :additionalProperties {:additionalProperties {:description "Properties of the object.",
                                                                                             :type "any"},
                                                                      :type "object"},
                                               :type "object"}},
                        :id "QueryResponsePayload",
                        :description "Payload containing device states information."},
 :Device {:description "Third-party device definition. Next ID = 14",
          :id "Device",
          :properties {:notificationSupportedByAgent {:type "boolean",
                                                      :description "Indicates whether your smart home Action will report notifications to Google for this device via ReportStateAndNotification. If your smart home Action enables users to control device notifications, you should update this field and call RequestSyncDevices."},
                       :willReportState {:type "boolean",
                                         :description "Indicates whether your smart home Action will report state of this device to Google via ReportStateAndNotification."},
                       :deviceInfo {:$ref "DeviceInfo",
                                    :description "Device manufacturer, model, hardware version, and software version."},
                       :otherDeviceIds {:type "array",
                                        :items {:$ref "AgentOtherDeviceId"},
                                        :description "Alternate IDs associated with this device. This is used to identify cloud synced devices enabled for [local fulfillment](https://developers.google.com/assistant/smarthome/concepts/local)."},
                       :name {:$ref "DeviceNames",
                              :description "Names given to this device by your smart home Action."},
                       :type {:type "string",
                              :description "Hardware type of the device. See [device types](https://developers.google.com/assistant/smarthome/guides)."},
                       :roomHint {:type "string",
                                  :description "Suggested name for the room where this device is installed. Google attempts to use this value during user setup."},
                       :id {:type "string",
                            :description "Third-party device ID."},
                       :structureHint {:description "Suggested name for the structure where this device is installed. Google attempts to use this value during user setup.",
                                       :type "string"},
                       :attributes {:description "Attributes for the traits supported by the device.",
                                    :additionalProperties {:type "any",
                                                           :description "Properties of the object."},
                                    :type "object"},
                       :customData {:type "object",
                                    :additionalProperties {:description "Properties of the object.",
                                                           :type "any"},
                                    :description "Custom device attributes stored in Home Graph and provided to your smart home Action in each [QUERY](https://developers.google.com/assistant/smarthome/reference/intent/query) and [EXECUTE](https://developers.google.com/assistant/smarthome/reference/intent/execute) intent. Data in this object has a few constraints: No sensitive information, including but not limited to Personally Identifiable Information."},
                       :traits {:description "Traits supported by the device. See [device traits](https://developers.google.com/assistant/smarthome/traits).",
                                :items {:type "string"},
                                :type "array"}},
          :type "object"},
 :RequestSyncDevicesResponse {:properties {},
                              :type "object",
                              :id "RequestSyncDevicesResponse",
                              :description "Response type for the [`RequestSyncDevices`](#google.home.graph.v1.HomeGraphApiService.RequestSyncDevices) call. Intentionally empty upon success. An HTTP response code is returned with more details upon failure."}}
