{:QueryRequestInput {:properties {:payload {:description "Payload containing third-party device IDs.",
                                            :$ref "QueryRequestPayload"}},
                     :type "object",
                     :description "Device ID inputs to QueryRequest.",
                     :id "QueryRequestInput"},
 :SyncRequest {:description "Request type for the [`Sync`](#google.home.graph.v1.HomeGraphApiService.Sync) call.",
               :type "object",
               :id "SyncRequest",
               :properties {:requestId {:type "string",
                                        :description "Request ID used for debugging."},
                            :agentUserId {:description "Required. Third-party user ID.",
                                          :type "string"}}},
 :QueryResponse {:description "Response type for the [`Query`](#google.home.graph.v1.HomeGraphApiService.Query) call. This should follow the same format as the Google smart home `action.devices.QUERY` [response](https://developers.home.google.com/cloud-to-cloud/intents/query). Example: ```json { \"requestId\": \"ff36a3cc-ec34-11e6-b1a0-64510650abcf\", \"payload\": { \"devices\": { \"123\": { \"on\": true, \"online\": true }, \"456\": { \"on\": true, \"online\": true, \"brightness\": 80, \"color\": { \"name\": \"cerulean\", \"spectrumRGB\": 31655 } } } } } ```",
                 :id "QueryResponse",
                 :properties {:payload {:$ref "QueryResponsePayload",
                                        :description "Device states for the devices given in the request."},
                              :requestId {:description "Request ID used for debugging. Copied from the request.",
                                          :type "string"}},
                 :type "object"},
 :StateAndNotificationPayload {:type "object",
                               :description "Payload containing the state and notification information for devices.",
                               :properties {:devices {:$ref "ReportStateAndNotificationDevice",
                                                      :description "The devices for updating state and sending notifications."}},
                               :id "StateAndNotificationPayload"},
 :QueryRequestPayload {:properties {:devices {:items {:$ref "AgentDeviceId"},
                                              :description "Third-party device IDs for which to get the device states.",
                                              :type "array"}},
                       :type "object",
                       :description "Payload containing device IDs.",
                       :id "QueryRequestPayload"},
 :ReportStateAndNotificationDevice {:properties {:states {:additionalProperties {:type "any",
                                                                                 :description "Properties of the object."},
                                                          :description "States of devices to update. See the **Device STATES** section of the individual trait [reference guides](https://developers.home.google.com/cloud-to-cloud/traits).",
                                                          :type "object"},
                                                 :notifications {:description "Notifications metadata for devices. See the **Device NOTIFICATIONS** section of the individual trait [reference guides](https://developers.home.google.com/cloud-to-cloud/traits).",
                                                                 :additionalProperties {:type "any",
                                                                                        :description "Properties of the object."},
                                                                 :type "object"}},
                                    :id "ReportStateAndNotificationDevice",
                                    :description "The states and notifications specific to a device.",
                                    :type "object"},
 :DeviceNames {:id "DeviceNames",
               :description "Identifiers used to describe the device.",
               :properties {:name {:type "string",
                                   :description "Primary name of the device, generally provided by the user."},
                            :defaultNames {:items {:type "string"},
                                           :description "List of names provided by the manufacturer rather than the user, such as serial numbers, SKUs, etc.",
                                           :type "array"},
                            :nicknames {:description "Additional names provided by the user for the device.",
                                        :items {:type "string"},
                                        :type "array"}},
               :type "object"},
 :SyncResponse {:description "Response type for the [`Sync`](#google.home.graph.v1.HomeGraphApiService.Sync) call. This should follow the same format as the Google smart home `action.devices.SYNC` [response](https://developers.home.google.com/cloud-to-cloud/intents/sync). Example: ```json { \"requestId\": \"ff36a3cc-ec34-11e6-b1a0-64510650abcf\", \"payload\": { \"agentUserId\": \"1836.15267389\", \"devices\": [{ \"id\": \"123\", \"type\": \"action.devices.types.OUTLET\", \"traits\": [ \"action.devices.traits.OnOff\" ], \"name\": { \"defaultNames\": [\"My Outlet 1234\"], \"name\": \"Night light\", \"nicknames\": [\"wall plug\"] }, \"willReportState\": false, \"deviceInfo\": { \"manufacturer\": \"lights-out-inc\", \"model\": \"hs1234\", \"hwVersion\": \"3.2\", \"swVersion\": \"11.4\" }, \"customData\": { \"fooValue\": 74, \"barValue\": true, \"bazValue\": \"foo\" } }] } } ```",
                :type "object",
                :id "SyncResponse",
                :properties {:requestId {:type "string",
                                         :description "Request ID used for debugging. Copied from the request."},
                             :payload {:$ref "SyncResponsePayload",
                                       :description "Devices associated with the third-party user."}}},
 :AgentOtherDeviceId {:type "object",
                      :properties {:agentId {:type "string",
                                             :description "Project ID for your smart home Action."},
                                   :deviceId {:type "string",
                                              :description "Unique third-party device ID."}},
                      :description "Alternate third-party device ID.",
                      :id "AgentOtherDeviceId"},
 :DeviceInfo {:type "object",
              :properties {:model {:type "string",
                                   :description "Device model."},
                           :hwVersion {:type "string",
                                       :description "Device hardware version."},
                           :swVersion {:description "Device software version.",
                                       :type "string"},
                           :manufacturer {:description "Device manufacturer.",
                                          :type "string"}},
              :id "DeviceInfo",
              :description "Device information."},
 :QueryRequest {:type "object",
                :id "QueryRequest",
                :properties {:inputs {:items {:$ref "QueryRequestInput"},
                                      :type "array",
                                      :description "Required. Inputs containing third-party device IDs for which to get the device states."},
                             :requestId {:type "string",
                                         :description "Request ID used for debugging."},
                             :agentUserId {:type "string",
                                           :description "Required. Third-party user ID."}},
                :description "Request type for the [`Query`](#google.home.graph.v1.HomeGraphApiService.Query) call."},
 :RequestSyncDevicesRequest {:id "RequestSyncDevicesRequest",
                             :description "Request type for the [`RequestSyncDevices`](#google.home.graph.v1.HomeGraphApiService.RequestSyncDevices) call.",
                             :type "object",
                             :properties {:async {:description "Optional. If set, the request will be added to a queue and a response will be returned immediately. This enables concurrent requests for the given `agent_user_id`, but the caller will not receive any error responses.",
                                                  :type "boolean"},
                                          :agentUserId {:type "string",
                                                        :description "Required. Third-party user ID."}}},
 :Empty {:description "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
         :type "object",
         :properties {},
         :id "Empty"},
 :ReportStateAndNotificationResponse {:description "Response type for the [`ReportStateAndNotification`](#google.home.graph.v1.HomeGraphApiService.ReportStateAndNotification) call.",
                                      :type "object",
                                      :id "ReportStateAndNotificationResponse",
                                      :properties {:requestId {:type "string",
                                                               :description "Request ID copied from ReportStateAndNotificationRequest."}}},
 :SyncResponsePayload {:id "SyncResponsePayload",
                       :description "Payload containing device information.",
                       :type "object",
                       :properties {:devices {:type "array",
                                              :description "Devices associated with the third-party user.",
                                              :items {:$ref "Device"}},
                                    :agentUserId {:type "string",
                                                  :description "Third-party user ID"}}},
 :AgentDeviceId {:properties {:id {:type "string",
                                   :description "Third-party device ID."}},
                 :description "Third-party device ID for one device.",
                 :id "AgentDeviceId",
                 :type "object"},
 :ReportStateAndNotificationRequest {:properties {:payload {:$ref "StateAndNotificationPayload",
                                                            :description "Required. State of devices to update and notification metadata for devices."},
                                                  :eventId {:type "string",
                                                            :description "Unique identifier per event (for example, a doorbell press)."},
                                                  :followUpToken {:deprecated true,
                                                                  :type "string",
                                                                  :description "Deprecated."},
                                                  :agentUserId {:type "string",
                                                                :description "Required. Third-party user ID."},
                                                  :requestId {:type "string",
                                                              :description "Request ID used for debugging."}},
                                     :type "object",
                                     :description "Request type for the [`ReportStateAndNotification`](#google.home.graph.v1.HomeGraphApiService.ReportStateAndNotification) call. It may include states, notifications, or both. States and notifications are defined per `device_id` (for example, \"123\" and \"456\" in the following example). Example: ```json { \"requestId\": \"ff36a3cc-ec34-11e6-b1a0-64510650abcf\", \"agentUserId\": \"1234\", \"payload\": { \"devices\": { \"states\": { \"123\": { \"on\": true }, \"456\": { \"on\": true, \"brightness\": 10 } }, } } } ```",
                                     :id "ReportStateAndNotificationRequest"},
 :QueryResponsePayload {:description "Payload containing device states information.",
                        :id "QueryResponsePayload",
                        :properties {:devices {:additionalProperties {:additionalProperties {:type "any",
                                                                                             :description "Properties of the object."},
                                                                      :type "object"},
                                               :description "States of the devices. Map of third-party device ID to struct of device states.",
                                               :type "object"}},
                        :type "object"},
 :Device {:type "object",
          :properties {:notificationSupportedByAgent {:description "Indicates whether your smart home Action will report notifications to Google for this device via ReportStateAndNotification. If your smart home Action enables users to control device notifications, you should update this field and call RequestSyncDevices.",
                                                      :type "boolean"},
                       :willReportState {:description "Indicates whether your smart home Action will report state of this device to Google via ReportStateAndNotification.",
                                         :type "boolean"},
                       :deviceInfo {:description "Device manufacturer, model, hardware version, and software version.",
                                    :$ref "DeviceInfo"},
                       :otherDeviceIds {:items {:$ref "AgentOtherDeviceId"},
                                        :description "Alternate IDs associated with this device. This is used to identify cloud synced devices enabled for [local fulfillment](https://developers.home.google.com/local-home/overview).",
                                        :type "array"},
                       :name {:$ref "DeviceNames",
                              :description "Names given to this device by your smart home Action."},
                       :type {:description "Hardware type of the device. See [device types](https://developers.home.google.com/cloud-to-cloud/guides).",
                              :type "string"},
                       :roomHint {:type "string",
                                  :description "Suggested name for the room where this device is installed. Google attempts to use this value during user setup."},
                       :id {:type "string",
                            :description "Third-party device ID."},
                       :structureHint {:type "string",
                                       :description "Suggested name for the structure where this device is installed. Google attempts to use this value during user setup."},
                       :attributes {:additionalProperties {:type "any",
                                                           :description "Properties of the object."},
                                    :type "object",
                                    :description "Attributes for the traits supported by the device."},
                       :customData {:additionalProperties {:description "Properties of the object.",
                                                           :type "any"},
                                    :description "Custom device attributes stored in Home Graph and provided to your smart home Action in each [QUERY](https://developers.home.google.com/cloud-to-cloud/intents/query) and [EXECUTE](https://developers.home.google.com/cloud-to-cloud/intents/execute) intent. Data in this object has a few constraints: No sensitive information, including but not limited to Personally Identifiable Information.",
                                    :type "object"},
                       :traits {:type "array",
                                :description "Traits supported by the device. See [device traits](https://developers.home.google.com/cloud-to-cloud/traits).",
                                :items {:type "string"}}},
          :description "Third-party device definition.",
          :id "Device"},
 :RequestSyncDevicesResponse {:type "object",
                              :id "RequestSyncDevicesResponse",
                              :properties {},
                              :description "Response type for the [`RequestSyncDevices`](#google.home.graph.v1.HomeGraphApiService.RequestSyncDevices) call. Intentionally empty upon success. An HTTP response code is returned with more details upon failure."}}
