{:PublishUrlNotificationResponse {:description "Output for PublishUrlNotification",
                                  :properties {:urlNotificationMetadata {:$ref "UrlNotificationMetadata",
                                                                         :description "Description of the notification events received for this URL."}},
                                  :id "PublishUrlNotificationResponse",
                                  :type "object"},
 :UrlNotification {:properties {:notifyTime {:type "string",
                                             :description "Creation timestamp for this notification. Users should _not_ specify it, the field is ignored at the request time.",
                                             :format "google-datetime"},
                                :type {:type "string",
                                       :enumDescriptions ["Unspecified."
                                                          "The given URL (Web document) has been updated."
                                                          "The given URL (Web document) has been deleted."],
                                       :enum ["URL_NOTIFICATION_TYPE_UNSPECIFIED"
                                              "URL_UPDATED"
                                              "URL_DELETED"],
                                       :description "The URL life cycle event that Google is being notified about."},
                                :url {:description "The object of this notification. The URL must be owned by the publisher of this notification and, in case of `URL_UPDATED` notifications, it _must_ be crawlable by Google.",
                                      :type "string"}},
                   :description "`UrlNotification` is the resource used in all Indexing API calls. It describes one event in the life cycle of a Web Document.",
                   :id "UrlNotification",
                   :type "object"},
 :UrlNotificationMetadata {:description "Summary of the most recent Indexing API notifications successfully received, for a given URL.",
                           :properties {:url {:type "string",
                                              :description "URL to which this metadata refers."},
                                        :latestRemove {:description "Latest notification received with type `URL_REMOVED`.",
                                                       :$ref "UrlNotification"},
                                        :latestUpdate {:description "Latest notification received with type `URL_UPDATED`.",
                                                       :$ref "UrlNotification"}},
                           :id "UrlNotificationMetadata",
                           :type "object"}}
