{:UrlNotification {:properties {:url {:type "string",
                                      :description "The object of this notification. The URL must be owned by the publisher of this notification and, in case of `URL_UPDATED` notifications, it _must_ be crawlable by Google."},
                                :notifyTime {:description "Creation timestamp for this notification. Users should _not_ specify it, the field is ignored at the request time.",
                                             :type "string",
                                             :format "google-datetime"},
                                :type {:enumDescriptions ["Unspecified."
                                                          "The given URL (Web document) has been updated."
                                                          "The given URL (Web document) has been deleted."],
                                       :type "string",
                                       :description "The URL life cycle event that Google is being notified about.",
                                       :enum ["URL_NOTIFICATION_TYPE_UNSPECIFIED"
                                              "URL_UPDATED"
                                              "URL_DELETED"]}},
                   :id "UrlNotification",
                   :description "`UrlNotification` is the resource used in all Indexing API calls. It describes one event in the life cycle of a Web Document.",
                   :type "object"},
 :PublishUrlNotificationResponse {:properties {:urlNotificationMetadata {:$ref "UrlNotificationMetadata",
                                                                         :description "Description of the notification events received for this URL."}},
                                  :type "object",
                                  :description "Output for PublishUrlNotification",
                                  :id "PublishUrlNotificationResponse"},
 :UrlNotificationMetadata {:type "object",
                           :description "Summary of the most recent Indexing API notifications successfully received, for a given URL.",
                           :properties {:latestRemove {:description "Latest notification received with type `URL_REMOVED`.",
                                                       :$ref "UrlNotification"},
                                        :url {:type "string",
                                              :description "URL to which this metadata refers."},
                                        :latestUpdate {:$ref "UrlNotification",
                                                       :description "Latest notification received with type `URL_UPDATED`."}},
                           :id "UrlNotificationMetadata"}}
