{:Group {:type "object",
         :id "Group",
         :properties {:email {:description "The group email.",
                              :type "string"}},
         :description "Describes a single Group."},
 :BatchCreatePermissionsRequest {:properties {:requests {:items {:$ref "CreatePermissionRequest"},
                                                         :type "array",
                                                         :description "The request message specifying the resources to create."}},
                                 :id "BatchCreatePermissionsRequest",
                                 :description "The request to add one or more permissions on the note. Currently, only the `WRITER` role may be specified. If adding a permission fails, then the entire request fails and no changes are made.",
                                 :type "object"},
 :ListItem {:description "A single list item in a note's list.",
            :id "ListItem",
            :type "object",
            :properties {:text {:$ref "TextContent",
                                :description "The text of this item. Length must be less than 1,000 characters."},
                         :checked {:description "Whether this item has been checked off or not.",
                                   :type "boolean"},
                         :childListItems {:type "array",
                                          :items {:$ref "ListItem"},
                                          :description "If set, list of list items nested under this list item. Only one level of nesting is allowed."}}},
 :Permission {:type "object",
              :description "A single permission on the note. Associates a `member` with a `role`.",
              :properties {:family {:$ref "Family",
                                    :description "Output only. The Google Family to which this role applies.",
                                    :readOnly true},
                           :group {:description "Output only. The group to which this role applies.",
                                   :$ref "Group",
                                   :readOnly true},
                           :email {:description "The email associated with the member. If set on create, the `email` field in the `User` or `Group` message must either be empty or match this field. On read, may be unset if the member does not have an associated email.",
                                   :type "string"},
                           :name {:type "string",
                                  :readOnly true,
                                  :description "Output only. The resource name."},
                           :role {:enum ["ROLE_UNSPECIFIED"
                                         "OWNER"
                                         "WRITER"],
                                  :type "string",
                                  :description "The role granted by this permission. The role determines the entity’s ability to read, write, and share notes.",
                                  :enumDescriptions ["An undefined role."
                                                     "A role granting full access. This role cannot be added or removed. Defined by the creator of the note."
                                                     "A role granting the ability to contribute content and modify note permissions."]},
                           :deleted {:description "Output only. Whether this member has been deleted. If the member is recovered, this value is set to false and the recovered member retains the role on the note.",
                                     :type "boolean",
                                     :readOnly true},
                           :user {:description "Output only. The user to whom this role applies.",
                                  :$ref "User",
                                  :readOnly true}},
              :id "Permission"},
 :BatchDeletePermissionsRequest {:id "BatchDeletePermissionsRequest",
                                 :description "The request to remove one or more permissions from a note. A permission with the `OWNER` role can't be removed. If removing a permission fails, then the entire request fails and no changes are made. Returns a 400 bad request error if a specified permission does not exist on the note.",
                                 :properties {:names {:description "Required. The names of the permissions to delete. Format: `notes/{note}/permissions/{permission}`",
                                                      :type "array",
                                                      :items {:type "string"}}},
                                 :type "object"},
 :Note {:properties {:permissions {:description "Output only. The list of permissions set on the note. Contains at least one entry for the note owner.",
                                   :items {:$ref "Permission"},
                                   :type "array",
                                   :readOnly true},
                     :trashTime {:description "Output only. When this note was trashed. If `trashed`, the note is eventually deleted. If the note is not trashed, this field is not set (and the trashed field is `false`).",
                                 :type "string",
                                 :format "google-datetime",
                                 :readOnly true},
                     :name {:description "Output only. The resource name of this note. See general note on identifiers in KeepService.",
                            :type "string",
                            :readOnly true},
                     :attachments {:type "array",
                                   :items {:$ref "Attachment"},
                                   :description "Output only. The attachments attached to this note.",
                                   :readOnly true},
                     :createTime {:readOnly true,
                                  :description "Output only. When this note was created.",
                                  :format "google-datetime",
                                  :type "string"},
                     :title {:description "The title of the note. Length must be less than 1,000 characters.",
                             :type "string"},
                     :updateTime {:format "google-datetime",
                                  :description "Output only. When this note was last modified.",
                                  :type "string",
                                  :readOnly true},
                     :trashed {:description "Output only. `true` if this note has been trashed. If trashed, the note is eventually deleted.",
                               :type "boolean",
                               :readOnly true},
                     :body {:description "The body of the note.",
                            :$ref "Section"}},
        :description "A single note.",
        :type "object",
        :id "Note"},
 :ListNotesResponse {:id "ListNotesResponse",
                     :type "object",
                     :properties {:notes {:type "array",
                                          :description "A page of notes.",
                                          :items {:$ref "Note"}},
                                  :nextPageToken {:type "string",
                                                  :description "Next page's `page_token` field."}},
                     :description "The response when listing a page of notes."},
 :Empty {:properties {},
         :id "Empty",
         :description "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
         :type "object"},
 :User {:type "object",
        :description "Describes a single user.",
        :properties {:email {:type "string",
                             :description "The user's email."}},
        :id "User"},
 :Attachment {:description "An attachment to a note.",
              :type "object",
              :properties {:mimeType {:type "array",
                                      :items {:type "string"},
                                      :description "The MIME types (IANA media types) in which the attachment is available."},
                           :name {:type "string",
                                  :description "The resource name;"}},
              :id "Attachment"},
 :Section {:id "Section",
           :type "object",
           :description "The content of the note.",
           :properties {:text {:description "Used if this section's content is a block of text. The length of the text content must be less than 20,000 characters.",
                               :$ref "TextContent"},
                        :list {:description "Used if this section's content is a list.",
                               :$ref "ListContent"}}},
 :TextContent {:id "TextContent",
               :description "The block of text for a single text section or list item.",
               :type "object",
               :properties {:text {:type "string",
                                   :description "The text of the note. The limits on this vary with the specific field using this type."}}},
 :Family {:properties {},
          :description "Describes a single Google Family.",
          :id "Family",
          :type "object"},
 :BatchCreatePermissionsResponse {:type "object",
                                  :properties {:permissions {:description "Permissions created.",
                                                             :type "array",
                                                             :items {:$ref "Permission"}}},
                                  :id "BatchCreatePermissionsResponse",
                                  :description "The response for creating permissions on a note."},
 :ListContent {:description "The list of items for a single list note.",
               :properties {:listItems {:description "The items in the list. The number of items must be less than 1,000.",
                                        :items {:$ref "ListItem"},
                                        :type "array"}},
               :type "object",
               :id "ListContent"},
 :CreatePermissionRequest {:description "The request to add a single permission on the note.",
                           :type "object",
                           :id "CreatePermissionRequest",
                           :properties {:parent {:type "string",
                                                 :description "Required. The parent note where this permission will be created. Format: `notes/{note}`"},
                                        :permission {:description "Required. The permission to create. One of Permission.email, User.email or Group.email must be supplied.",
                                                     :$ref "Permission"}}}}
