{:SearchResponse {:properties {:@type {:type "any",
                                       :description "The schema type of top-level JSON-LD object, e.g. ItemList."},
                               :itemListElement {:items {:type "any"},
                                                 :description "The item list of search results.",
                                                 :type "array"},
                               :@context {:type "any",
                                          :description "The local context applicable for the response. See more details at http://www.w3.org/TR/json-ld/#context-definitions."}},
                  :type "object",
                  :description "Response message includes the context and a list of matching results which contain the detail of associated entities.",
                  :id "SearchResponse"}}
