{:SearchResponse {:description "Response message includes the context and a list of matching results\nwhich contain the detail of associated entities.",
                  :type "object",
                  :properties {:@type {:description "The schema type of top-level JSON-LD object, e.g. ItemList.",
                                       :type "any"},
                               :@context {:description "The local context applicable for the response. See more details at\nhttp://www.w3.org/TR/json-ld/#context-definitions.",
                                          :type "any"},
                               :itemListElement {:description "The item list of search results.",
                                                 :type "array",
                                                 :items {:type "any"}}},
                  :id "SearchResponse"}}
