{:GoogleExampleLibraryagentV1Shelf {:type "object",
                                    :properties {:name {:description "Output only. The resource name of the shelf.\nShelf names have the form `shelves/{shelf_id}`.\nThe name is ignored when creating a shelf.",
                                                        :type "string"},
                                                 :theme {:description "The theme of the shelf",
                                                         :type "string"}},
                                    :id "GoogleExampleLibraryagentV1Shelf",
                                    :description "A Shelf contains a collection of books with a theme."},
 :GoogleExampleLibraryagentV1ListBooksResponse {:type "object",
                                                :properties {:books {:type "array",
                                                                     :items {:$ref "GoogleExampleLibraryagentV1Book"},
                                                                     :description "The list of books."},
                                                             :nextPageToken {:description "A token to retrieve next page of results.\nPass this value in the\nListBooksRequest.page_token\nfield in the subsequent call to `ListBooks` method to retrieve the next\npage of results.",
                                                                             :type "string"}},
                                                :id "GoogleExampleLibraryagentV1ListBooksResponse",
                                                :description "Response message for LibraryAgent.ListBooks."},
 :GoogleExampleLibraryagentV1ListShelvesResponse {:description "Response message for LibraryAgent.ListShelves.",
                                                  :type "object",
                                                  :properties {:shelves {:type "array",
                                                                         :items {:$ref "GoogleExampleLibraryagentV1Shelf"},
                                                                         :description "The list of shelves."},
                                                               :nextPageToken {:type "string",
                                                                               :description "A token to retrieve next page of results.\nPass this value in the\nListShelvesRequest.page_token\nfield in the subsequent call to `ListShelves` method to retrieve the next\npage of results."}},
                                                  :id "GoogleExampleLibraryagentV1ListShelvesResponse"},
 :GoogleExampleLibraryagentV1Book {:type "object",
                                   :properties {:title {:description "The title of the book.",
                                                        :type "string"},
                                                :name {:description "The resource name of the book.\nBook names have the form `shelves/{shelf_id}/books/{book_id}`.\nThe name is ignored when creating a book.",
                                                       :type "string"},
                                                :author {:description "The name of the book author.",
                                                         :type "string"},
                                                :read {:description "Value indicating whether the book has been read.",
                                                       :type "boolean"}},
                                   :id "GoogleExampleLibraryagentV1Book",
                                   :description "A single book in the library."}}
