{:GoogleExampleLibraryagentV1ListBooksResponse {:id "GoogleExampleLibraryagentV1ListBooksResponse",
                                                :type "object",
                                                :description "Response message for LibraryAgent.ListBooks.",
                                                :properties {:books {:items {:$ref "GoogleExampleLibraryagentV1Book"},
                                                                     :type "array",
                                                                     :description "The list of books."},
                                                             :nextPageToken {:type "string",
                                                                             :description "A token to retrieve next page of results. Pass this value in the ListBooksRequest.page_token field in the subsequent call to `ListBooks` method to retrieve the next page of results."}}},
 :GoogleExampleLibraryagentV1Book {:type "object",
                                   :properties {:author {:description "The name of the book author.",
                                                         :type "string"},
                                                :read {:type "boolean",
                                                       :description "Value indicating whether the book has been read."},
                                                :title {:description "The title of the book.",
                                                        :type "string"},
                                                :name {:description "The resource name of the book. Book names have the form `shelves/{shelf_id}/books/{book_id}`. The name is ignored when creating a book.",
                                                       :type "string"}},
                                   :description "A single book in the library.",
                                   :id "GoogleExampleLibraryagentV1Book"},
 :GoogleExampleLibraryagentV1Shelf {:type "object",
                                    :properties {:name {:description "Output only. The resource name of the shelf. Shelf names have the form `shelves/{shelf_id}`. The name is ignored when creating a shelf.",
                                                        :type "string"},
                                                 :theme {:type "string",
                                                         :description "The theme of the shelf"}},
                                    :id "GoogleExampleLibraryagentV1Shelf",
                                    :description "A Shelf contains a collection of books with a theme."},
 :GoogleExampleLibraryagentV1ListShelvesResponse {:type "object",
                                                  :description "Response message for LibraryAgent.ListShelves.",
                                                  :id "GoogleExampleLibraryagentV1ListShelvesResponse",
                                                  :properties {:shelves {:description "The list of shelves.",
                                                                         :items {:$ref "GoogleExampleLibraryagentV1Shelf"},
                                                                         :type "array"},
                                                               :nextPageToken {:description "A token to retrieve next page of results. Pass this value in the ListShelvesRequest.page_token field in the subsequent call to `ListShelves` method to retrieve the next page of results.",
                                                                               :type "string"}}}}
