{:GoogleExampleLibraryagentV1ListBooksResponse {:type "object",
                                                :properties {:nextPageToken {:description "A token to retrieve next page of results. Pass this value in the ListBooksRequest.page_token field in the subsequent call to `ListBooks` method to retrieve the next page of results.",
                                                                             :type "string"},
                                                             :books {:type "array",
                                                                     :description "The list of books.",
                                                                     :items {:$ref "GoogleExampleLibraryagentV1Book"}}},
                                                :description "Response message for LibraryAgent.ListBooks.",
                                                :id "GoogleExampleLibraryagentV1ListBooksResponse"},
 :GoogleExampleLibraryagentV1Book {:description "A single book in the library.",
                                   :type "object",
                                   :id "GoogleExampleLibraryagentV1Book",
                                   :properties {:title {:type "string",
                                                        :description "The title of the book."},
                                                :author {:type "string",
                                                         :description "The name of the book author."},
                                                :read {:type "boolean",
                                                       :description "Value indicating whether the book has been read."},
                                                :name {:description "The resource name of the book. Book names have the form `shelves/{shelf_id}/books/{book_id}`. The name is ignored when creating a book.",
                                                       :type "string"}}},
 :GoogleExampleLibraryagentV1ListShelvesResponse {:id "GoogleExampleLibraryagentV1ListShelvesResponse",
                                                  :description "Response message for LibraryAgent.ListShelves.",
                                                  :properties {:shelves {:items {:$ref "GoogleExampleLibraryagentV1Shelf"},
                                                                         :description "The list of shelves.",
                                                                         :type "array"},
                                                               :nextPageToken {:description "A token to retrieve next page of results. Pass this value in the ListShelvesRequest.page_token field in the subsequent call to `ListShelves` method to retrieve the next page of results.",
                                                                               :type "string"}},
                                                  :type "object"},
 :GoogleExampleLibraryagentV1Shelf {:properties {:name {:type "string",
                                                        :description "Output only. The resource name of the shelf. Shelf names have the form `shelves/{shelf_id}`. The name is ignored when creating a shelf."},
                                                 :theme {:description "The theme of the shelf",
                                                         :type "string"}},
                                    :description "A Shelf contains a collection of books with a theme.",
                                    :type "object",
                                    :id "GoogleExampleLibraryagentV1Shelf"}}
