{:LicenseAssignmentInsert {:description "Representation of a license assignment.",
                           :type "object",
                           :id "LicenseAssignmentInsert",
                           :properties {:userId {:type "string",
                                                 :annotations {:required ["licensing.licenseAssignments.insert"]},
                                                 :description "Email id of the user"}}},
 :LicenseAssignmentList {:id "LicenseAssignmentList",
                         :properties {:nextPageToken {:type "string",
                                                      :description "The token that you must submit in a subsequent request to retrieve additional license results matching your query parameters. The maxResults query string is related to the nextPageToken since maxResults determines how many entries are returned on each next page."},
                                      :items {:description "The LicenseAssignments in this page of results.",
                                              :items {:$ref "LicenseAssignment"},
                                              :type "array"},
                                      :kind {:description "Identifies the resource as a collection of LicenseAssignments.",
                                             :default "licensing#licenseAssignmentList",
                                             :type "string"},
                                      :etag {:description "ETag of the resource.",
                                             :type "string"}},
                         :type "object"},
 :LicenseAssignment {:type "object",
                     :properties {:userId {:type "string",
                                           :annotations {:required ["licensing.licenseAssignments.update"]},
                                           :description "The user's current primary email address. If the user's email address changes, use the new email address in your API requests. Since a userId is subject to change, do not use a userId value as a key for persistent data. This key could break if the current user's email address changes. If the userId is suspended, the license status changes."},
                                  :productId {:type "string",
                                              :annotations {:required ["licensing.licenseAssignments.update"]},
                                              :description "A product's unique identifier. For more information about products in this version of the API, see Product and SKU IDs."},
                                  :productName {:type "string",
                                                :description "Display Name of the product."},
                                  :skuId {:type "string",
                                          :annotations {:required ["licensing.licenseAssignments.update"]},
                                          :description "A product SKU's unique identifier. For more information about available SKUs in this version of the API, see Products and SKUs."},
                                  :etags {:description "ETag of the resource.",
                                          :type "string"},
                                  :kind {:type "string",
                                         :default "licensing#licenseAssignment",
                                         :description "Identifies the resource as a LicenseAssignment."},
                                  :skuName {:type "string",
                                            :description "Display Name of the sku of the product."},
                                  :selfLink {:description "Link to this page.",
                                             :type "string"}},
                     :description "Representation of a license assignment.",
                     :id "LicenseAssignment"}}
