{:GoogleAdsHomeservicesLocalservicesV1BookingLead {:description "Container for booking lead specific information.",
                                                   :type "object",
                                                   :id "GoogleAdsHomeservicesLocalservicesV1BookingLead",
                                                   :properties {:consumerPhoneNumber {:description "Consumer phone number associated with the booking lead.",
                                                                                      :type "string"},
                                                                :consumerEmail {:type "string",
                                                                                :description "Consumer email associated with the booking lead."},
                                                                :jobType {:type "string",
                                                                          :description "The job type of the specified lead."},
                                                                :customerName {:description "Name of the customer who created the lead.",
                                                                               :type "string"},
                                                                :bookingAppointmentTimestamp {:format "google-datetime",
                                                                                              :type "string",
                                                                                              :description "Timestamp of when service is provided by advertiser."}}},
 :GoogleAdsHomeservicesLocalservicesV1DetailedLeadReport {:id "GoogleAdsHomeservicesLocalservicesV1DetailedLeadReport",
                                                          :description "A Detailed Lead Report of a lead identified by their lead id and contains consumer, account, monetization, and lead data.",
                                                          :type "object",
                                                          :properties {:timezone {:description "Timezone of the particular provider associated to a lead.",
                                                                                  :$ref "GoogleTypeTimeZone"},
                                                                       :googleAdsLeadId {:format "int64",
                                                                                         :description "Unique identifier of a Detailed Lead Report.",
                                                                                         :type "string"},
                                                                       :disputeStatus {:type "string",
                                                                                       :description "Dispute status related to the lead."},
                                                                       :aggregatorInfo {:$ref "GoogleAdsHomeservicesLocalservicesV1AggregatorInfo",
                                                                                        :description "Aggregator specific information related to the lead."},
                                                                       :businessName {:type "string",
                                                                                      :description "Business name associated to the account."},
                                                                       :geo {:type "string",
                                                                             :description "Location of the associated account's home city."},
                                                                       :leadCreationTimestamp {:description "Timestamp of when the lead was created.",
                                                                                               :format "google-datetime",
                                                                                               :type "string"},
                                                                       :leadId {:format "int64",
                                                                                :type "string",
                                                                                :description "Deprecated in favor of google_ads_lead_id. Unique identifier of a Detailed Lead Report."},
                                                                       :leadCategory {:type "string",
                                                                                      :description "Lead category (e.g. hvac, plumber)"},
                                                                       :messageLead {:description "More information associated to only message leads.",
                                                                                     :$ref "GoogleAdsHomeservicesLocalservicesV1MessageLead"},
                                                                       :bookingLead {:description "More information associated to only booking leads.",
                                                                                     :$ref "GoogleAdsHomeservicesLocalservicesV1BookingLead"},
                                                                       :leadPrice {:type "number",
                                                                                   :description "Price of the lead (available only after it has been charged).",
                                                                                   :format "double"},
                                                                       :currencyCode {:description "Currency code.",
                                                                                      :type "string"},
                                                                       :accountId {:type "string",
                                                                                   :format "int64",
                                                                                   :description "Identifies account that received the lead."},
                                                                       :phoneLead {:$ref "GoogleAdsHomeservicesLocalservicesV1PhoneLead",
                                                                                   :description "More information associated to only phone leads."},
                                                                       :leadType {:enumDescriptions ["Not specified."
                                                                                                     "Message lead."
                                                                                                     "Phone call lead."
                                                                                                     "Booking lead."],
                                                                                  :type "string",
                                                                                  :enum ["LEAD_TYPE_UNSPECIFIED"
                                                                                         "MESSAGE"
                                                                                         "PHONE_CALL"
                                                                                         "BOOKING"],
                                                                                  :description "Lead type."},
                                                                       :chargeStatus {:enumDescriptions ["Not specified."
                                                                                                         "Charged."
                                                                                                         "Not charged."],
                                                                                      :enum ["CHARGE_STATUS_UNSPECIFIED"
                                                                                             "CHARGED"
                                                                                             "NOT_CHARGED"],
                                                                                      :description "Whether the lead has been charged.",
                                                                                      :type "string"}}},
 :GoogleAdsHomeservicesLocalservicesV1SearchDetailedLeadReportsResponse {:description "A page of the response received from the SearchDetailedLeadReports method. A paginated response where more pages are available has `next_page_token` set. This token can be used in a subsequent request to retrieve the next request page.",
                                                                         :id "GoogleAdsHomeservicesLocalservicesV1SearchDetailedLeadReportsResponse",
                                                                         :type "object",
                                                                         :properties {:nextPageToken {:type "string",
                                                                                                      :description "Pagination token to retrieve the next page of results. When `next_page_token` is not filled in, there is no next page and the list returned is the last page in the result set."},
                                                                                      :detailedLeadReports {:description "List of detailed lead reports uniquely identified by external lead id.",
                                                                                                            :type "array",
                                                                                                            :items {:$ref "GoogleAdsHomeservicesLocalservicesV1DetailedLeadReport"}}}},
 :GoogleAdsHomeservicesLocalservicesV1AccountReport {:properties {:averageFiveStarRating {:description "Average review rating score from 1-5 stars.",
                                                                                          :type "number",
                                                                                          :format "double"},
                                                                  :previousPeriodChargedLeads {:format "int64",
                                                                                               :description "Number of charged leads the account received in previous specified period.",
                                                                                               :type "string"},
                                                                  :aggregatorInfo {:$ref "GoogleAdsHomeservicesLocalservicesV1AggregatorInfo",
                                                                                   :description "Aggregator specific information related to the account."},
                                                                  :businessName {:description "Business name of the account.",
                                                                                 :type "string"},
                                                                  :previousPeriodPhoneCalls {:format "int64",
                                                                                             :type "string",
                                                                                             :description "Number of phone calls in previous specified period, including both connected and unconnected calls."},
                                                                  :impressionsLastTwoDays {:format "int64",
                                                                                           :type "string",
                                                                                           :description "Number of impressions that customers have had in the past 2 days."},
                                                                  :previousPeriodTotalCost {:description "Total cost of the account in previous specified period in the account's specified currency.",
                                                                                            :type "number",
                                                                                            :format "double"},
                                                                  :phoneLeadResponsiveness {:description "Phone lead responsiveness of the account for the past 90 days from current date. This is computed by taking the total number of connected calls from charged phone leads and dividing by the total number of calls received.",
                                                                                            :format "double",
                                                                                            :type "number"},
                                                                  :totalReview {:description "Total number of reviews the account has up to current date.",
                                                                                :type "integer",
                                                                                :format "int32"},
                                                                  :previousPeriodConnectedPhoneCalls {:description "Number of connected phone calls (duration over 30s) in previous specified period.",
                                                                                                      :format "int64",
                                                                                                      :type "string"},
                                                                  :currentPeriodConnectedPhoneCalls {:description "Number of connected phone calls (duration over 30s) in current specified period.",
                                                                                                     :format "int64",
                                                                                                     :type "string"},
                                                                  :currentPeriodPhoneCalls {:format "int64",
                                                                                            :description "Number of phone calls in current specified period, including both connected and unconnected calls.",
                                                                                            :type "string"},
                                                                  :averageWeeklyBudget {:description "Average weekly budget in the currency code of the account.",
                                                                                        :type "number",
                                                                                        :format "double"},
                                                                  :currencyCode {:type "string",
                                                                                 :description "Currency code of the account."},
                                                                  :currentPeriodTotalCost {:type "number",
                                                                                           :format "double",
                                                                                           :description "Total cost of the account in current specified period in the account's specified currency."},
                                                                  :currentPeriodChargedLeads {:type "string",
                                                                                              :format "int64",
                                                                                              :description "Number of charged leads the account received in current specified period."},
                                                                  :accountId {:type "string",
                                                                              :format "int64",
                                                                              :description "Unique identifier of the GLS account."}},
                                                     :id "GoogleAdsHomeservicesLocalservicesV1AccountReport",
                                                     :type "object",
                                                     :description "An Account Report of a GLS account identified by their account id containing aggregate data gathered from a particular date range. Next ID: 18"},
 :GoogleAdsHomeservicesLocalservicesV1MessageLead {:type "object",
                                                   :id "GoogleAdsHomeservicesLocalservicesV1MessageLead",
                                                   :properties {:postalCode {:type "string",
                                                                             :description "The postal code of the customer who created the lead."},
                                                                :consumerPhoneNumber {:type "string",
                                                                                      :description "Consumer phone number associated with the message lead."},
                                                                :customerName {:type "string",
                                                                               :description "Name of the customer who created the lead."},
                                                                :jobType {:type "string",
                                                                          :description "The job type of the specified lead."}},
                                                   :description "Container for message lead specific information."},
 :GoogleAdsHomeservicesLocalservicesV1AggregatorInfo {:description "Conatiner for aggregator specific information if lead is for an aggregator GLS account.",
                                                      :type "object",
                                                      :id "GoogleAdsHomeservicesLocalservicesV1AggregatorInfo",
                                                      :properties {:aggregatorProviderId {:description "Provider id (listed in aggregator system) which maps to a account id in GLS system.",
                                                                                          :type "string"}}},
 :GoogleAdsHomeservicesLocalservicesV1SearchAccountReportsResponse {:type "object",
                                                                    :properties {:accountReports {:description "List of account reports which maps 1:1 to a particular linked GLS account.",
                                                                                                  :type "array",
                                                                                                  :items {:$ref "GoogleAdsHomeservicesLocalservicesV1AccountReport"}},
                                                                                 :nextPageToken {:description "Pagination token to retrieve the next page of results. When `next_page_token` is not filled in, there is no next page and the list returned is the last page in the result set.",
                                                                                                 :type "string"}},
                                                                    :description "A page of the response received from the SearchAccountReports method. A paginated response where more pages are available has `next_page_token` set. This token can be used in a subsequent request to retrieve the next request page.",
                                                                    :id "GoogleAdsHomeservicesLocalservicesV1SearchAccountReportsResponse"},
 :GoogleTypeTimeZone {:description "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
                      :properties {:id {:description "IANA Time Zone Database time zone, e.g. \"America/New_York\".",
                                        :type "string"},
                                   :version {:type "string",
                                             :description "Optional. IANA Time Zone Database version number, e.g. \"2019a\"."}},
                      :type "object",
                      :id "GoogleTypeTimeZone"},
 :GoogleAdsHomeservicesLocalservicesV1PhoneLead {:type "object",
                                                 :properties {:chargedConnectedCallDurationSeconds {:format "google-duration",
                                                                                                    :type "string",
                                                                                                    :description "Duration of the charged phone call in seconds."},
                                                              :consumerPhoneNumber {:type "string",
                                                                                    :description "Consumer phone number associated with the phone lead."},
                                                              :chargedCallTimestamp {:format "google-datetime",
                                                                                     :type "string",
                                                                                     :description "Timestamp of the phone call which resulted in a charged phone lead."}},
                                                 :id "GoogleAdsHomeservicesLocalservicesV1PhoneLead",
                                                 :description "Container for phone lead specific information."}}
