{:GoogleAdsHomeservicesLocalservicesV1DetailedLeadReport {:description "A Detailed Lead Report of a lead identified by their lead id and contains consumer, account, monetization, and lead data.",
                                                          :type "object",
                                                          :id "GoogleAdsHomeservicesLocalservicesV1DetailedLeadReport",
                                                          :properties {:timezone {:$ref "GoogleTypeTimeZone",
                                                                                  :description "Timezone of the particular provider associated to a lead."},
                                                                       :disputeStatus {:description "Dispute status related to the lead.",
                                                                                       :type "string"},
                                                                       :aggregatorInfo {:description "Aggregator specific information related to the lead.",
                                                                                        :$ref "GoogleAdsHomeservicesLocalservicesV1AggregatorInfo"},
                                                                       :businessName {:description "Business name associated to the account.",
                                                                                      :type "string"},
                                                                       :geo {:type "string",
                                                                             :description "Location of the associated account's home city."},
                                                                       :leadCreationTimestamp {:type "string",
                                                                                               :description "Timestamp of when the lead was created.",
                                                                                               :format "google-datetime"},
                                                                       :leadId {:type "string",
                                                                                :description "Unique identifier of a Detailed Lead Report.",
                                                                                :format "int64"},
                                                                       :leadCategory {:description "Lead category (e.g. hvac, plumber)",
                                                                                      :type "string"},
                                                                       :messageLead {:$ref "GoogleAdsHomeservicesLocalservicesV1MessageLead",
                                                                                     :description "More information associated to only message leads."},
                                                                       :leadPrice {:description "Price of the lead (available only after it has been charged).",
                                                                                   :type "number",
                                                                                   :format "double"},
                                                                       :currencyCode {:type "string",
                                                                                      :description "Currency code."},
                                                                       :accountId {:type "string",
                                                                                   :description "Identifies account that received the lead.",
                                                                                   :format "int64"},
                                                                       :phoneLead {:description "More information associated to only phone leads.",
                                                                                   :$ref "GoogleAdsHomeservicesLocalservicesV1PhoneLead"},
                                                                       :leadType {:enumDescriptions ["Not specified."
                                                                                                     "Message lead."
                                                                                                     "Phone call lead."],
                                                                                  :enum ["LEAD_TYPE_UNSPECIFIED"
                                                                                         "MESSAGE"
                                                                                         "PHONE_CALL"],
                                                                                  :type "string",
                                                                                  :description "Lead type."},
                                                                       :chargeStatus {:enumDescriptions ["Not specified."
                                                                                                         "Charged."
                                                                                                         "Not charged."],
                                                                                      :type "string",
                                                                                      :enum ["CHARGE_STATUS_UNSPECIFIED"
                                                                                             "CHARGED"
                                                                                             "NOT_CHARGED"],
                                                                                      :description "Whether the lead has been charged."}}},
 :GoogleAdsHomeservicesLocalservicesV1PhoneLead {:id "GoogleAdsHomeservicesLocalservicesV1PhoneLead",
                                                 :type "object",
                                                 :description "Container for phone lead specific information.",
                                                 :properties {:consumerPhoneNumber {:description "Consumer phone number associated with the phone lead.",
                                                                                    :type "string"},
                                                              :chargedCallTimestamp {:format "google-datetime",
                                                                                     :type "string",
                                                                                     :description "Timestamp of the phone call which resulted in a charged phone lead."},
                                                              :chargedConnectedCallDurationSeconds {:type "string",
                                                                                                    :description "Duration of the charged phone call in seconds.",
                                                                                                    :format "google-duration"}}},
 :GoogleAdsHomeservicesLocalservicesV1AggregatorInfo {:properties {:aggregatorProviderId {:type "string",
                                                                                          :description "Provider id (listed in aggregator system) which maps to a account id in GLS system."}},
                                                      :id "GoogleAdsHomeservicesLocalservicesV1AggregatorInfo",
                                                      :type "object",
                                                      :description "Conatiner for aggregator specific information if lead is for an aggregator GLS account."},
 :GoogleTypeTimeZone {:description "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
                      :properties {:id {:type "string",
                                        :description "IANA Time Zone Database time zone, e.g. \"America/New_York\"."},
                                   :version {:type "string",
                                             :description "Optional. IANA Time Zone Database version number, e.g. \"2019a\"."}},
                      :type "object",
                      :id "GoogleTypeTimeZone"},
 :GoogleAdsHomeservicesLocalservicesV1MessageLead {:type "object",
                                                   :properties {:consumerPhoneNumber {:type "string",
                                                                                      :description "Consumer phone number associated with the message lead."},
                                                                :jobType {:description "The job type of the specified lead.",
                                                                          :type "string"},
                                                                :postalCode {:type "string",
                                                                             :description "The postal code of the customer who created the lead."},
                                                                :customerName {:type "string",
                                                                               :description "Name of the customer who created the lead."}},
                                                   :id "GoogleAdsHomeservicesLocalservicesV1MessageLead",
                                                   :description "Container for message lead specific information."},
 :GoogleAdsHomeservicesLocalservicesV1AccountReport {:properties {:averageFiveStarRating {:description "Average review rating score from 1-5 stars.",
                                                                                          :format "double",
                                                                                          :type "number"},
                                                                  :previousPeriodChargedLeads {:description "Number of charged leads the account received in previous specified period.",
                                                                                               :format "int64",
                                                                                               :type "string"},
                                                                  :aggregatorInfo {:description "Aggregator specific information related to the account.",
                                                                                   :$ref "GoogleAdsHomeservicesLocalservicesV1AggregatorInfo"},
                                                                  :businessName {:description "Business name of the account.",
                                                                                 :type "string"},
                                                                  :previousPeriodPhoneCalls {:type "string",
                                                                                             :description "Number of phone calls in previous specified period, including both connected and unconnected calls.",
                                                                                             :format "int64"},
                                                                  :impressionsLastTwoDays {:format "int64",
                                                                                           :type "string",
                                                                                           :description "Number of impressions that customers have had in the past 2 days."},
                                                                  :previousPeriodTotalCost {:description "Total cost of the account in previous specified period in the account's specified currency.",
                                                                                            :type "number",
                                                                                            :format "double"},
                                                                  :phoneLeadResponsiveness {:format "double",
                                                                                            :type "number",
                                                                                            :description "Phone lead responsiveness of the account for the past 90 days from current date. This is computed by taking the total number of connected calls from charged phone leads and dividing by the total number of calls received."},
                                                                  :totalReview {:type "integer",
                                                                                :description "Total number of reviews the account has up to current date.",
                                                                                :format "int32"},
                                                                  :previousPeriodConnectedPhoneCalls {:type "string",
                                                                                                      :description "Number of connected phone calls (duration over 30s) in previous specified period.",
                                                                                                      :format "int64"},
                                                                  :currentPeriodConnectedPhoneCalls {:format "int64",
                                                                                                     :description "Number of connected phone calls (duration over 30s) in current specified period.",
                                                                                                     :type "string"},
                                                                  :currentPeriodPhoneCalls {:format "int64",
                                                                                            :description "Number of phone calls in current specified period, including both connected and unconnected calls.",
                                                                                            :type "string"},
                                                                  :averageWeeklyBudget {:description "Average weekly budget in the currency code of the account.",
                                                                                        :format "double",
                                                                                        :type "number"},
                                                                  :currencyCode {:description "Currency code of the account.",
                                                                                 :type "string"},
                                                                  :currentPeriodTotalCost {:type "number",
                                                                                           :description "Total cost of the account in current specified period in the account's specified currency.",
                                                                                           :format "double"},
                                                                  :currentPeriodChargedLeads {:description "Number of charged leads the account received in current specified period.",
                                                                                              :type "string",
                                                                                              :format "int64"},
                                                                  :accountId {:description "Unique identifier of the GLS account.",
                                                                              :format "int64",
                                                                              :type "string"}},
                                                     :description "An Account Report of a GLS account identified by their account id containing aggregate data gathered from a particular date range. Next ID: 18",
                                                     :id "GoogleAdsHomeservicesLocalservicesV1AccountReport",
                                                     :type "object"},
 :GoogleAdsHomeservicesLocalservicesV1SearchAccountReportsResponse {:description "A page of the response received from the SearchAccountReports method. A paginated response where more pages are available has `next_page_token` set. This token can be used in a subsequent request to retrieve the next request page.",
                                                                    :id "GoogleAdsHomeservicesLocalservicesV1SearchAccountReportsResponse",
                                                                    :type "object",
                                                                    :properties {:accountReports {:description "List of account reports which maps 1:1 to a particular linked GLS account.",
                                                                                                  :items {:$ref "GoogleAdsHomeservicesLocalservicesV1AccountReport"},
                                                                                                  :type "array"},
                                                                                 :nextPageToken {:description "Pagination token to retrieve the next page of results. When `next_page_token` is not filled in, there is no next page and the list returned is the last page in the result set.",
                                                                                                 :type "string"}}},
 :GoogleAdsHomeservicesLocalservicesV1SearchDetailedLeadReportsResponse {:type "object",
                                                                         :id "GoogleAdsHomeservicesLocalservicesV1SearchDetailedLeadReportsResponse",
                                                                         :properties {:nextPageToken {:description "Pagination token to retrieve the next page of results. When `next_page_token` is not filled in, there is no next page and the list returned is the last page in the result set.",
                                                                                                      :type "string"},
                                                                                      :detailedLeadReports {:items {:$ref "GoogleAdsHomeservicesLocalservicesV1DetailedLeadReport"},
                                                                                                            :description "List of detailed lead reports uniquely identified by external lead id.",
                                                                                                            :type "array"}},
                                                                         :description "A page of the response received from the SearchDetailedLeadReports method. A paginated response where more pages are available has `next_page_token` set. This token can be used in a subsequent request to retrieve the next request page."}}
