{:ListProductsResponse {:id "ListProductsResponse",
                        :type "object",
                        :properties {:nextPageToken {:description "The token for the retrieval of the next page of product statuses.",
                                                     :type "string"},
                                     :products {:description "List of the products.",
                                                :type "array",
                                                :items {:$ref "Product"}}}},
 :Product {:id "Product",
           :description "Product data.",
           :type "object",
           :properties {:parent {:type "string",
                                 :description "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account."},
                        :name {:description "Name in the format `{target_country}:{content_language}:{product_id}`. `target_country` - The target country of the product as a CLDR territory code (for example, US). `content_language` - The content language of the product as a two-letter ISO 639-1 language code (for example, en). `product_id` - The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id.",
                               :type "string"},
                        :issues {:items {:$ref "Issue"},
                                 :description "A server-generated list of issues associated with the product.",
                                 :type "array"},
                        :productId {:description "The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id.",
                                    :type "string"},
                        :attributes {:description "Attributes of the product uploaded to the Manufacturer Center. Manually edited attributes are taken into account.",
                                     :$ref "Attributes"},
                        :destinationStatuses {:type "array",
                                              :description "The status of the destinations.",
                                              :items {:$ref "DestinationStatus"}},
                        :targetCountry {:description "The target country of the product as a CLDR territory code (for example, US).",
                                        :type "string"},
                        :contentLanguage {:type "string",
                                          :description "The content language of the product as a two-letter ISO 639-1 language code (for example, en)."}}},
 :Image {:id "Image",
         :description "An image.",
         :properties {:status {:description "The status of the image. @OutputOnly",
                               :enum ["STATUS_UNSPECIFIED"
                                      "PENDING_PROCESSING"
                                      "PENDING_CRAWL"
                                      "OK"
                                      "ROBOTED"
                                      "XROBOTED"
                                      "CRAWL_ERROR"
                                      "PROCESSING_ERROR"
                                      "DECODING_ERROR"
                                      "TOO_BIG"
                                      "CRAWL_SKIPPED"
                                      "HOSTLOADED"
                                      "HTTP_404"],
                               :type "string",
                               :enumDescriptions ["The image status is unspecified. Should not be used."
                                                  "The image was uploaded and is being processed."
                                                  "The image crawl is still pending."
                                                  "The image was processed and it meets the requirements."
                                                  "The image URL is protected by robots.txt file and cannot be crawled."
                                                  "The image URL is protected by X-Robots-Tag and cannot be crawled."
                                                  "There was an error while crawling the image."
                                                  "The image cannot be processed."
                                                  "The image cannot be decoded."
                                                  "The image is too big."
                                                  "The image was manually overridden and will not be crawled."
                                                  "The image crawl was postponed to avoid overloading the host."
                                                  "The image URL returned a \"404 Not Found\" error."]},
                      :type {:description "The type of the image, i.e., crawled or uploaded. @OutputOnly",
                             :type "string",
                             :enumDescriptions ["Type is unspecified. Should not be used."
                                                "The image was crawled from a provided URL."
                                                "The image was uploaded."],
                             :enum ["TYPE_UNSPECIFIED"
                                    "CRAWLED"
                                    "UPLOADED"]},
                      :imageUrl {:type "string",
                                 :description "The URL of the image. For crawled images, this is the provided URL. For uploaded images, this is a serving URL from Google if the image has been processed successfully."}},
         :type "object"},
 :DestinationStatus {:properties {:status {:type "string",
                                           :enum ["UNKNOWN"
                                                  "ACTIVE"
                                                  "PENDING"
                                                  "DISAPPROVED"],
                                           :description "The status of the destination.",
                                           :enumDescriptions ["Unspecified status, never used."
                                                              "The product is used for this destination."
                                                              "The decision is still pending."
                                                              "The product is disapproved. Please look at the issues."]},
                                  :destination {:description "The name of the destination.",
                                                :type "string"}},
                     :description "The destination status.",
                     :id "DestinationStatus",
                     :type "object"},
 :Empty {:id "Empty",
         :properties {},
         :description "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
         :type "object"},
 :Price {:description "A price.",
         :id "Price",
         :type "object",
         :properties {:currency {:description "The currency in which the price is denoted.",
                                 :type "string"},
                      :amount {:type "string",
                               :description "The numeric value of the price."}}},
 :ProductDetail {:id "ProductDetail",
                 :properties {:attributeName {:type "string",
                                              :description "The name of the attribute."},
                              :attributeValue {:type "string",
                                               :description "The value of the attribute."},
                              :sectionName {:type "string",
                                            :description "A short section name that can be reused between multiple product details."}},
                 :type "object",
                 :description "A product detail of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productdetail."},
 :Attributes {:properties {:description {:description "The description of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#description.",
                                         :type "string"},
                           :mpn {:type "string",
                                 :description "The Manufacturer Part Number (MPN) of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#mpn."},
                           :format {:description "The format of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#format.",
                                    :type "string"},
                           :ageGroup {:description "The target age group of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#agegroup.",
                                      :type "string"},
                           :sizeSystem {:type "string",
                                        :description "The size system of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#sizesystem."},
                           :suggestedRetailPrice {:description "The suggested retail price (MSRP) of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#price.",
                                                  :$ref "Price"},
                           :flavor {:type "string",
                                    :description "The flavor of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#flavor."},
                           :color {:type "string",
                                   :description "The color of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#color."},
                           :productLine {:type "string",
                                         :description "The name of the group of products related to the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productline."},
                           :capacity {:description "The capacity of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#capacity.",
                                      :$ref "Capacity"},
                           :includedDestination {:type "array",
                                                 :description "A list of included destinations.",
                                                 :items {:type "string"}},
                           :additionalImageLink {:type "array",
                                                 :description "The additional images of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#addlimage.",
                                                 :items {:$ref "Image"}},
                           :productPageUrl {:type "string",
                                            :description "The URL of the detail page of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productpage."},
                           :releaseDate {:description "The release date of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#release.",
                                         :type "string"},
                           :productDetail {:items {:$ref "ProductDetail"},
                                           :description "The details of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productdetail.",
                                           :type "array"},
                           :productName {:type "string",
                                         :description "The canonical name of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productname."},
                           :sizeType {:items {:type "string"},
                                      :type "array",
                                      :description "The size type of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#sizetype."},
                           :size {:type "string",
                                  :description "The size of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#size."},
                           :brand {:type "string",
                                   :description "The brand name of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#brand."},
                           :title {:description "The title of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#title.",
                                   :type "string"},
                           :theme {:type "string",
                                   :description "The theme of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#theme."},
                           :excludedDestination {:items {:type "string"},
                                                 :type "array",
                                                 :description "A list of excluded destinations."},
                           :scent {:description "The scent of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#scent.",
                                   :type "string"},
                           :itemGroupId {:description "The item group id of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#itemgroupid.",
                                         :type "string"},
                           :productType {:items {:type "string"},
                                         :type "array",
                                         :description "The type or category of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#producttype."},
                           :disclosureDate {:type "string",
                                            :description "The disclosure date of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#disclosure."},
                           :featureDescription {:type "array",
                                                :description "The rich format description of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#featuredesc.",
                                                :items {:$ref "FeatureDescription"}},
                           :count {:description "The count of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#count.",
                                   :$ref "Count"},
                           :material {:description "The material of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#material.",
                                      :type "string"},
                           :videoLink {:type "array",
                                       :description "The videos of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#video.",
                                       :items {:type "string"}},
                           :gtin {:items {:type "string"},
                                  :type "array",
                                  :description "The Global Trade Item Number (GTIN) of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#gtin."},
                           :gender {:type "string",
                                    :description "The target gender of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#gender."},
                           :targetClientId {:description "The target client id. Should only be used in the accounts of the data partners.",
                                            :type "string"},
                           :productHighlight {:items {:type "string"},
                                              :description "The product highlights. For more information, see https://support.google.com/manufacturers/answer/10066942",
                                              :type "array"},
                           :imageLink {:description "The image of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#image.",
                                       :$ref "Image"},
                           :pattern {:type "string",
                                     :description "The pattern of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#pattern."},
                           :richProductContent {:items {:type "string"},
                                                :description "Rich product content. For more information, see https://support.google.com/manufacturers/answer/9389865",
                                                :type "array"}},
              :id "Attributes",
              :description "Attributes of the product. For more information, see https://support.google.com/manufacturers/answer/6124116.",
              :type "object"},
 :Count {:id "Count",
         :type "object",
         :description "The number of products in a single package. For more information, see https://support.google.com/manufacturers/answer/6124116#count.",
         :properties {:unit {:type "string",
                             :description "The unit in which these products are counted."},
                      :value {:format "int64",
                              :description "The numeric value of the number of products in a package.",
                              :type "string"}}},
 :FeatureDescription {:description "A feature description of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#featuredesc.",
                      :type "object",
                      :id "FeatureDescription",
                      :properties {:headline {:description "A short description of the feature.",
                                              :type "string"},
                                   :image {:$ref "Image",
                                           :description "An optional image describing the feature."},
                                   :text {:type "string",
                                          :description "A detailed description of the feature."}}},
 :Issue {:id "Issue",
         :description "Product issue.",
         :properties {:destination {:description "The destination this issue applies to.",
                                    :type "string"},
                      :attribute {:description "If present, the attribute that triggered the issue. For more information about attributes, see https://support.google.com/manufacturers/answer/6124116.",
                                  :type "string"},
                      :resolution {:type "string",
                                   :enumDescriptions ["Unspecified resolution, never used."
                                                      "The user who provided the data must act in order to resolve the issue (for example by correcting some data)."
                                                      "The issue will be resolved automatically (for example image crawl or Google review). No action is required now. Resolution might lead to another issue (for example if crawl fails)."],
                                   :description "What needs to happen to resolve the issue.",
                                   :enum ["RESOLUTION_UNSPECIFIED"
                                          "USER_ACTION"
                                          "PENDING_PROCESSING"]},
                      :title {:type "string",
                              :description "Short title describing the nature of the issue."},
                      :timestamp {:format "google-datetime",
                                  :description "The timestamp when this issue appeared.",
                                  :type "string"},
                      :severity {:description "The severity of the issue.",
                                 :enum ["SEVERITY_UNSPECIFIED"
                                        "ERROR"
                                        "WARNING"
                                        "INFO"],
                                 :enumDescriptions ["Unspecified severity, never used."
                                                    "Error severity. The issue prevents the usage of the whole item."
                                                    "Warning severity. The issue is either one that prevents the usage of the attribute that triggered it or one that will soon prevent the usage of the whole item."
                                                    "Info severity. The issue is one that doesn't require immediate attention. It is, for example, used to communicate which attributes are still pending review."],
                                 :type "string"},
                      :type {:type "string",
                             :description "The server-generated type of the issue, for example, “INCORRECT_TEXT_FORMATTING”, “IMAGE_NOT_SERVEABLE”, etc."},
                      :description {:type "string",
                                    :description "Longer description of the issue focused on how to resolve it."}},
         :type "object"},
 :Capacity {:id "Capacity",
            :type "object",
            :description "The capacity of a product. For more information, see https://support.google.com/manufacturers/answer/6124116#capacity.",
            :properties {:value {:format "int64",
                                 :description "The numeric value of the capacity.",
                                 :type "string"},
                         :unit {:description "The unit of the capacity, i.e., MB, GB, or TB.",
                                :type "string"}}}}
