{:ListQuestionsResponse {:id "ListQuestionsResponse",
                         :description "Response message for QuestionsAndAnswers.ListQuestions",
                         :type "object",
                         :properties {:questions {:description "The requested questions,",
                                                  :type "array",
                                                  :items {:$ref "Question"}},
                                      :totalSize {:description "The total number of questions posted for this location across all pages.",
                                                  :type "integer",
                                                  :format "int32"},
                                      :nextPageToken {:description "If the number of questions exceeds the requested max page size, this field is populated with a token to fetch the next page of questions on a subsequent call. If there are no more questions, this field is not present in the response.",
                                                      :type "string"}}},
 :Question {:id "Question",
            :description "Represents a single question and some of its answers.",
            :type "object",
            :properties {:name {:description "Immutable. The unique name for the question. locations/*/questions/* This field will be ignored if set during question creation.",
                                :type "string"},
                         :author {:description "Output only. The author of the question.",
                                  :readOnly true,
                                  :$ref "Author"},
                         :upvoteCount {:description "Output only. The number of upvotes for the question.",
                                       :readOnly true,
                                       :type "integer",
                                       :format "int32"},
                         :text {:description "Required. The text of the question. It should contain at least three words and the total length should be greater than or equal to 10 characters. The maximum length is 4096 characters.",
                                :type "string"},
                         :createTime {:description "Output only. The timestamp for when the question was written.",
                                      :readOnly true,
                                      :type "string",
                                      :format "google-datetime"},
                         :updateTime {:description "Output only. The timestamp for when the question was last modified.",
                                      :readOnly true,
                                      :type "string",
                                      :format "google-datetime"},
                         :topAnswers {:description "Output only. A list of answers to the question, sorted by upvotes. This may not be a complete list of answers depending on the request parameters (answers_per_question)",
                                      :readOnly true,
                                      :type "array",
                                      :items {:$ref "Answer"}},
                         :totalAnswerCount {:description "Output only. The total number of answers posted for this question.",
                                            :readOnly true,
                                            :type "integer",
                                            :format "int32"}}},
 :Author {:id "Author",
          :description "Represents the author of a question or answer",
          :type "object",
          :properties {:displayName {:description "The display name of the user",
                                     :type "string"},
                       :profilePhotoUri {:description "The profile photo URI of the user.",
                                         :type "string"},
                       :type {:description "The type of user the author is.",
                              :type "string",
                              :enumDescriptions ["This should not be used."
                                                 "A regular user."
                                                 "A Local Guide"
                                                 "The owner/manager of the location"],
                              :enum ["AUTHOR_TYPE_UNSPECIFIED"
                                     "REGULAR_USER"
                                     "LOCAL_GUIDE"
                                     "MERCHANT"]}}},
 :Answer {:id "Answer",
          :description "Represents an answer to a question",
          :type "object",
          :properties {:name {:description "Output only. The unique name for the answer locations/*/questions/*/answers/*",
                              :readOnly true,
                              :type "string"},
                       :author {:description "Output only. The author of the answer. Will only be set during list operations.",
                                :readOnly true,
                                :$ref "Author"},
                       :upvoteCount {:description "Output only. The number of upvotes for the answer.",
                                     :readOnly true,
                                     :type "integer",
                                     :format "int32"},
                       :text {:description "Required. The text of the answer. It should contain at least one non-whitespace character. The maximum length is 4096 characters.",
                              :type "string"},
                       :createTime {:description "Output only. The timestamp for when the answer was written. Only retrieved during ListResponse fetching.",
                                    :readOnly true,
                                    :type "string",
                                    :format "google-datetime"},
                       :updateTime {:description "Output only. The timestamp for when the answer was last modified.",
                                    :readOnly true,
                                    :type "string",
                                    :format "google-datetime"}}},
 :ListAnswersResponse {:id "ListAnswersResponse",
                       :description "Response message for QuestionsAndAnswers.ListAnswers",
                       :type "object",
                       :properties {:answers {:description "The requested answers.",
                                              :type "array",
                                              :items {:$ref "Answer"}},
                                    :totalSize {:description "The total number of answers posted for this question across all pages.",
                                                :type "integer",
                                                :format "int32"},
                                    :nextPageToken {:description "If the number of answers exceeds the requested max page size, this field is populated with a token to fetch the next page of answers on a subsequent call. If there are no more answers, this field is not present in the response.",
                                                    :type "string"}}},
 :Empty {:id "Empty",
         :description "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
         :type "object",
         :properties {}},
 :UpsertAnswerRequest {:id "UpsertAnswerRequest",
                       :description "Request message for QuestionsAndAnswers.UpsertAnswer",
                       :type "object",
                       :properties {:answer {:description "Required. The new answer.",
                                             :$ref "Answer"}}}}
