{:NotificationSetting {:description "A Google Pub/Sub topic where notifications can be published when a location is updated or has a new review. There will be only one notification setting resource per-account.",
                       :properties {:pubsubTopic {:type "string",
                                                  :description "Optional. The Google Pub/Sub topic that will receive notifications when locations managed by this account are updated. If unset, no notifications will be posted. The account mybusiness-api-pubsub@system.gserviceaccount.com must have at least Publish permissions on the Pub/Sub topic."},
                                    :notificationTypes {:items {:type "string",
                                                                :enumDescriptions ["No notification type. Will not match any notifications."
                                                                                   "The location has Google updates for review. The location_name field on the notification will provide the resource name of the location with Google updates."
                                                                                   "A new review has been added to the location. The review_name field on the notification will provide the resource name of the review that was added, and location_name will have the location's resource name."
                                                                                   "A review on the location has been updated. The review_name field on the notification will provide the resource name of the review that was added, and location_name will have the location's resource name."
                                                                                   "A new media item has been added to the location by a Google Maps user. The notification will provide the resource name of the new media item."
                                                                                   "A new question is added to the location. The notification will provide the resource name of question."
                                                                                   "A question of the location is updated. The notification will provide the resource name of question."
                                                                                   "A new answer is added to the location. The notification will provide the resource name of question and answer."
                                                                                   "An answer of the location is updated. The notification will provide the resource name of question and answer."
                                                                                   "Indicates whether there is a change in location metadata's duplicate location field."
                                                                                   "Indicates whether the location has a loss in voice of merchant status. Call GetVoiceOfMerchantState rpc for more details"],
                                                                :enum ["NOTIFICATION_TYPE_UNSPECIFIED"
                                                                       "GOOGLE_UPDATE"
                                                                       "NEW_REVIEW"
                                                                       "UPDATED_REVIEW"
                                                                       "NEW_CUSTOMER_MEDIA"
                                                                       "NEW_QUESTION"
                                                                       "UPDATED_QUESTION"
                                                                       "NEW_ANSWER"
                                                                       "UPDATED_ANSWER"
                                                                       "DUPLICATE_LOCATION"
                                                                       "LOSS_OF_VOICE_OF_MERCHANT"]},
                                                        :description "The types of notifications that will be sent to the Pub/Sub topic. To stop receiving notifications entirely, use NotificationSettings.UpdateNotificationSetting with an empty notification_types or set the pubsub_topic to an empty string.",
                                                        :type "array"},
                                    :name {:type "string",
                                           :description "Required. The resource name this setting is for. This is of the form `accounts/{account_id}/notificationSetting`."}},
                       :id "NotificationSetting",
                       :type "object"}}
