{:PosixAccount {:description "The POSIX account information associated with a Google account.",
                :type "object",
                :properties {:primary {:description "Only one POSIX account can be marked as primary.",
                                       :type "boolean"},
                             :operatingSystemType {:type "string",
                                                   :enumDescriptions ["The operating system type associated with the user account information is\nunspecified."
                                                                      "Linux user account information."
                                                                      "Windows user account information."],
                                                   :enum ["OPERATING_SYSTEM_TYPE_UNSPECIFIED"
                                                          "LINUX"
                                                          "WINDOWS"],
                                                   :description "The operating system type where this account applies."},
                             :uid {:type "string",
                                   :description "The user ID.",
                                   :format "int64"},
                             :name {:description "Output only. The canonical resource name.",
                                    :type "string"},
                             :username {:description "The username of the POSIX account.",
                                        :type "string"},
                             :gid {:type "string",
                                   :description "The default group ID.",
                                   :format "int64"},
                             :homeDirectory {:description "The path to the home directory for this account.",
                                             :type "string"},
                             :systemId {:description "System identifier for which account the username or uid applies to.\nBy default, the empty value is used.",
                                        :type "string"},
                             :gecos {:type "string",
                                     :description "The GECOS (user information) entry for this account."},
                             :shell {:description "The path to the logic shell for this account.",
                                     :type "string"},
                             :accountId {:description "Output only. A POSIX account identifier.",
                                         :type "string"}},
                :id "PosixAccount"},
 :LoginProfile {:type "object",
                :properties {:name {:description "Required. A unique user ID.",
                                    :type "string"},
                             :posixAccounts {:description "The list of POSIX accounts associated with the user.",
                                             :type "array",
                                             :items {:$ref "PosixAccount"}},
                             :sshPublicKeys {:description "A map from SSH public key fingerprint to the associated key object.",
                                             :type "object",
                                             :additionalProperties {:$ref "SshPublicKey"}}},
                :id "LoginProfile",
                :description "The user profile information used for logging in to a virtual machine on\nGoogle Compute Engine."},
 :Empty {:type "object",
         :properties {},
         :id "Empty",
         :description "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`."},
 :SshPublicKey {:id "SshPublicKey",
                :description "The SSH public key information associated with a Google account.",
                :type "object",
                :properties {:expirationTimeUsec {:description "An expiration time in microseconds since epoch.",
                                                  :format "int64",
                                                  :type "string"},
                             :fingerprint {:description "Output only. The SHA-256 fingerprint of the SSH public key.",
                                           :type "string"},
                             :key {:type "string",
                                   :description "Public key text in SSH format, defined by\n<a href=\"https://www.ietf.org/rfc/rfc4253.txt\" target=\"_blank\">RFC4253</a>\nsection 6.6."},
                             :name {:type "string",
                                    :description "Output only. The canonical resource name."}}},
 :ImportSshPublicKeyResponse {:id "ImportSshPublicKeyResponse",
                              :description "A response message for importing an SSH public key.",
                              :type "object",
                              :properties {:loginProfile {:$ref "LoginProfile",
                                                          :description "The login profile information for the user."}}}}
