{:LoginProfile {:description "The user profile information used for logging in to a virtual machine on Google Compute Engine.",
                :id "LoginProfile",
                :properties {:posixAccounts {:description "The list of POSIX accounts associated with the user.",
                                             :items {:$ref "PosixAccount"},
                                             :type "array"},
                             :sshPublicKeys {:description "A map from SSH public key fingerprint to the associated key object.",
                                             :additionalProperties {:$ref "SshPublicKey"},
                                             :type "object"},
                             :name {:type "string",
                                    :description "Required. A unique user ID."}},
                :type "object"},
 :Empty {:type "object",
         :id "Empty",
         :description "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
         :properties {}},
 :SshPublicKey {:id "SshPublicKey",
                :type "object",
                :properties {:key {:description "Public key text in SSH format, defined by RFC4253 section 6.6.",
                                   :type "string"},
                             :expirationTimeUsec {:type "string",
                                                  :format "int64",
                                                  :description "An expiration time in microseconds since epoch."},
                             :fingerprint {:type "string",
                                           :readOnly true,
                                           :description "Output only. The SHA-256 fingerprint of the SSH public key."},
                             :name {:readOnly true,
                                    :description "Output only. The canonical resource name.",
                                    :type "string"}},
                :description "The SSH public key information associated with a Google account."},
 :PosixAccount {:type "object",
                :id "PosixAccount",
                :description "The POSIX account information associated with a Google account.",
                :properties {:primary {:description "Only one POSIX account can be marked as primary.",
                                       :type "boolean"},
                             :operatingSystemType {:enumDescriptions ["The operating system type associated with the user account information is unspecified."
                                                                      "Linux user account information."
                                                                      "Windows user account information."],
                                                   :type "string",
                                                   :enum ["OPERATING_SYSTEM_TYPE_UNSPECIFIED"
                                                          "LINUX"
                                                          "WINDOWS"],
                                                   :description "The operating system type where this account applies."},
                             :uid {:description "The user ID.",
                                   :format "int64",
                                   :type "string"},
                             :name {:description "Output only. The canonical resource name.",
                                    :readOnly true,
                                    :type "string"},
                             :username {:type "string",
                                        :description "The username of the POSIX account."},
                             :gid {:type "string",
                                   :description "The default group ID.",
                                   :format "int64"},
                             :homeDirectory {:type "string",
                                             :description "The path to the home directory for this account."},
                             :systemId {:type "string",
                                        :description "System identifier for which account the username or uid applies to. By default, the empty value is used."},
                             :gecos {:type "string",
                                     :description "The GECOS (user information) entry for this account."},
                             :shell {:description "The path to the logic shell for this account.",
                                     :type "string"},
                             :accountId {:readOnly true,
                                         :type "string",
                                         :description "Output only. A POSIX account identifier."}}},
 :ImportSshPublicKeyResponse {:type "object",
                              :description "A response message for importing an SSH public key.",
                              :properties {:details {:type "string",
                                                     :description "Detailed information about import results."},
                                           :loginProfile {:$ref "LoginProfile",
                                                          :description "The login profile information for the user."}},
                              :id "ImportSshPublicKeyResponse"}}
