{:Environment {:description "Message containing environment configuration for a Lighthouse run.",
               :type "object",
               :properties {:networkUserAgent {:description "The user agent string that was sent over the network.",
                                               :type "string"},
                            :benchmarkIndex {:description "The benchmark index number that indicates rough device class.",
                                             :format "double",
                                             :type "number"},
                            :hostUserAgent {:type "string",
                                            :description "The user agent string of the version of Chrome used."}},
               :id "Environment"},
 :PagespeedApiPagespeedResponseV5 {:description "The Pagespeed API response object.",
                                   :type "object",
                                   :properties {:originLoadingExperience {:$ref "PagespeedApiLoadingExperienceV5",
                                                                          :description "Metrics of the aggregated page loading experience of the origin"},
                                                :kind {:description "Kind of result.",
                                                       :type "string"},
                                                :captchaResult {:description "The captcha verify result",
                                                                :type "string"},
                                                :lighthouseResult {:description "Lighthouse response for the audit url as an object.",
                                                                   :$ref "LighthouseResultV5"},
                                                :analysisUTCTimestamp {:type "string",
                                                                       :description "The UTC timestamp of this analysis."},
                                                :loadingExperience {:$ref "PagespeedApiLoadingExperienceV5",
                                                                    :description "Metrics of end users' page loading experience."},
                                                :version {:description "The version of PageSpeed used to generate these results.",
                                                          :$ref "PagespeedVersion"},
                                                :id {:description "Canonicalized and final URL for the document, after following page\nredirects (if any).",
                                                     :type "string"}},
                                   :id "PagespeedApiPagespeedResponseV5"},
 :Bucket {:description "A proportion of data in the total distribution, bucketed by a min/max\npercentage. Each bucket's range is bounded by min <= x < max, In\nmillisecond.",
          :type "object",
          :properties {:min {:type "integer",
                             :description "Lower bound for a bucket's range.",
                             :format "int32"},
                       :max {:description "Upper bound for a bucket's range.",
                             :format "int32",
                             :type "integer"},
                       :proportion {:description "The proportion of data in this bucket.",
                                    :format "double",
                                    :type "number"}},
          :id "Bucket"},
 :StackPack {:description "Message containing Stack Pack information.",
             :type "object",
             :properties {:descriptions {:additionalProperties {:type "string"},
                                         :description "The stack pack advice strings.",
                                         :type "object"},
                          :iconDataURL {:description "The stack pack icon data uri.",
                                        :type "string"},
                          :id {:type "string",
                               :description "The stack pack id."},
                          :title {:description "The stack pack title.",
                                  :type "string"}},
             :id "StackPack"},
 :LighthouseResultV5 {:properties {:runWarnings {:description "List of all run warnings in the LHR.  Will always output to at least `[]`.",
                                                 :type "array",
                                                 :items {:type "any"}},
                                   :audits {:additionalProperties {:$ref "LighthouseAuditResultV5"},
                                            :description "Map of audits in the LHR.",
                                            :type "object"},
                                   :stackPacks {:type "array",
                                                :items {:$ref "StackPack"},
                                                :description "The Stack Pack advice strings."},
                                   :categoryGroups {:additionalProperties {:$ref "CategoryGroupV5"},
                                                    :description "Map of category groups in the LHR.",
                                                    :type "object"},
                                   :lighthouseVersion {:type "string",
                                                       :description "The lighthouse version that was used to generate this LHR."},
                                   :runtimeError {:description "A top-level error message that, if present, indicates a serious enough\nproblem that this Lighthouse result may need to be discarded.",
                                                  :$ref "RuntimeError"},
                                   :categories {:$ref "Categories",
                                                :description "Map of categories in the LHR."},
                                   :userAgent {:description "The user agent that was used to run this LHR.",
                                               :type "string"},
                                   :timing {:description "Timing information for this LHR.",
                                            :$ref "Timing"},
                                   :requestedUrl {:description "The original requested url.",
                                                  :type "string"},
                                   :environment {:description "Environment settings that were used when making this LHR.",
                                                 :$ref "Environment"},
                                   :fetchTime {:description "The time that this run was fetched.",
                                               :type "string"},
                                   :configSettings {:description "The configuration settings for this LHR.",
                                                    :$ref "ConfigSettings"},
                                   :i18n {:description "The internationalization strings that are required to render the LHR.",
                                          :$ref "I18n"},
                                   :finalUrl {:description "The final resolved url that was audited.",
                                              :type "string"}},
                      :id "LighthouseResultV5",
                      :description "The Lighthouse result object.",
                      :type "object"},
 :Categories {:description "The categories in a Lighthouse run.",
              :type "object",
              :properties {:accessibility {:$ref "LighthouseCategoryV5",
                                           :description "The accessibility category, containing all accessibility related audits."},
                           :seo {:description "The Search-Engine-Optimization (SEO) category, containing all seo related\naudits.",
                                 :$ref "LighthouseCategoryV5"},
                           :performance {:$ref "LighthouseCategoryV5",
                                         :description "The performance category, containing all performance related audits."},
                           :best-practices {:$ref "LighthouseCategoryV5",
                                            :description "The best practices category, containing all best practices related\naudits."},
                           :pwa {:$ref "LighthouseCategoryV5",
                                 :description "The Progressive-Web-App (PWA) category, containing all pwa related\naudits."}},
              :id "Categories"},
 :CategoryGroupV5 {:description "Message containing a category",
                   :type "object",
                   :properties {:title {:description "The human readable title of the group",
                                        :type "string"},
                                :description {:description "The description of what the category is grouping",
                                              :type "string"}},
                   :id "CategoryGroupV5"},
 :PagespeedApiLoadingExperienceV5 {:description "The CrUX loading experience object that contains CrUX data breakdowns.",
                                   :type "object",
                                   :properties {:initial_url {:description "The requested URL, which may differ from the resolved \"id\".",
                                                              :type "string"},
                                                :id {:description "The url, pattern or origin which the metrics are on.",
                                                     :type "string"},
                                                :metrics {:additionalProperties {:$ref "UserPageLoadMetricV5"},
                                                          :description "The map of <metrics, data>.",
                                                          :type "object"},
                                                :overall_category {:description "The human readable speed \"category\" of the id.",
                                                                   :type "string"}},
                                   :id "PagespeedApiLoadingExperienceV5"},
 :I18n {:properties {:rendererFormattedStrings {:$ref "RendererFormattedStrings",
                                                :description "Internationalized strings that are formatted to the locale in\nconfigSettings."}},
        :id "I18n",
        :description "Message containing the i18n data for the LHR - Version 1.",
        :type "object"},
 :UserPageLoadMetricV5 {:properties {:metricId {:description "Identifies the type of the metric.",
                                                :type "string"},
                                     :formFactor {:type "string",
                                                  :description "Identifies the form factor of the metric being collected."},
                                     :median {:description "The median number of the metric, in millisecond.",
                                              :format "int32",
                                              :type "integer"},
                                     :percentile {:description "We use this field to store certain percentile value for this metric.\nFor v4, this field contains pc50.\nFor v5, this field contains pc90.",
                                                  :format "int32",
                                                  :type "integer"},
                                     :category {:type "string",
                                                :description "The category of the specific time metric."},
                                     :distributions {:description "Metric distributions. Proportions should sum up to 1.",
                                                     :type "array",
                                                     :items {:$ref "Bucket"}}},
                        :id "UserPageLoadMetricV5",
                        :description "A CrUX metric object for a single metric and form factor.",
                        :type "object"},
 :LighthouseAuditResultV5 {:description "An audit's result object in a Lighthouse result.",
                           :type "object",
                           :properties {:description {:description "The description of the audit.",
                                                      :type "string"},
                                        :explanation {:description "An explanation of the errors in the audit.",
                                                      :type "string"},
                                        :errorMessage {:description "An error message from a thrown error inside the audit.",
                                                       :type "string"},
                                        :scoreDisplayMode {:description "The enumerated score display mode.",
                                                           :type "string"},
                                        :warnings {:description "Possible warnings that occurred in the audit, can be null.",
                                                   :type "any"},
                                        :title {:description "The human readable title.",
                                                :type "string"},
                                        :numericValue {:description "A numeric value that has a meaning specific to the audit, e.g. the number\nof nodes in the DOM or the timestamp of a specific load event. More\ninformation can be found in the audit details, if present.",
                                                       :format "double",
                                                       :type "number"},
                                        :details {:description "Freeform details section of the audit.",
                                                  :type "object",
                                                  :additionalProperties {:description "Properties of the object.",
                                                                         :type "any"}},
                                        :id {:description "The audit's id.",
                                             :type "string"},
                                        :score {:description "The score of the audit, can be null.",
                                                :type "any"},
                                        :displayValue {:description "The value that should be displayed on the UI for this audit.",
                                                       :type "string"}},
                           :id "LighthouseAuditResultV5"},
 :PagespeedVersion {:properties {:major {:description "The major version number of PageSpeed used to generate these results.",
                                         :type "string"},
                                 :minor {:description "The minor version number of PageSpeed used to generate these results.",
                                         :type "string"}},
                    :id "PagespeedVersion",
                    :description "The Pagespeed Version object.",
                    :type "object"},
 :RendererFormattedStrings {:description "Message holding the formatted strings used in the renderer.",
                            :type "object",
                            :properties {:errorMissingAuditInfo {:description "The error string shown next to an erroring audit.",
                                                                 :type "string"},
                                         :varianceDisclaimer {:description "The disclaimer shown below a performance metric value.",
                                                              :type "string"},
                                         :crcLongestDurationLabel {:type "string",
                                                                   :description "The label for values shown in the summary of critical request chains."},
                                         :opportunityResourceColumnLabel {:description "The heading for the estimated page load savings opportunity of an\naudit.",
                                                                          :type "string"},
                                         :notApplicableAuditsGroupTitle {:type "string",
                                                                         :description "The heading shown above a list of audits that do not apply to a page."},
                                         :labDataTitle {:description "The title of the lab data performance category.",
                                                        :type "string"},
                                         :manualAuditsGroupTitle {:description "The heading shown above a list of audits that were not computerd in the\nrun.",
                                                                  :type "string"},
                                         :opportunitySavingsColumnLabel {:description "The heading for the estimated page load savings of opportunity audits.",
                                                                         :type "string"},
                                         :auditGroupExpandTooltip {:description "The tooltip text on an expandable chevron icon.",
                                                                   :type "string"},
                                         :passedAuditsGroupTitle {:description "The heading that is shown above a list of audits that are passing.",
                                                                  :type "string"},
                                         :errorLabel {:description "The label shown next to an audit or metric that has had an error.",
                                                      :type "string"},
                                         :crcInitialNavigation {:description "The label for the initial request in a critical request chain.",
                                                                :type "string"},
                                         :warningHeader {:description "The label shown above a bulleted list of warnings.",
                                                         :type "string"},
                                         :toplevelWarningsMessage {:description "The label shown preceding important warnings that may have invalidated\nan entire report.",
                                                                   :type "string"},
                                         :scorescaleLabel {:description "The label that explains the score gauges scale (0-49, 50-89, 90-100).",
                                                           :type "string"},
                                         :lsPerformanceCategoryDescription {:description "The disclaimer shown under performance explaning that the network can\nvary.",
                                                                            :type "string"}},
                            :id "RendererFormattedStrings"},
 :AuditRefs {:type "object",
             :properties {:weight {:description "The weight this audit's score has on the overall category score.",
                                   :format "double",
                                   :type "number"},
                          :id {:description "The audit ref id.",
                               :type "string"},
                          :group {:description "The category group that the audit belongs to (optional).",
                                  :type "string"}},
             :id "AuditRefs",
             :description "A light reference to an audit by id, used to group and weight audits in a\ngiven category."},
 :Timing {:description "Message containing the performance timing data for the Lighthouse run.",
          :type "object",
          :properties {:total {:description "The total duration of Lighthouse's run.",
                               :format "double",
                               :type "number"}},
          :id "Timing"},
 :ConfigSettings {:description "Message containing the configuration settings for the Lighthouse run.",
                  :type "object",
                  :properties {:onlyCategories {:description "List of categories of audits the run should conduct.",
                                                :type "any"},
                               :emulatedFormFactor {:description "The form factor the emulation should use.",
                                                    :type "string"},
                               :locale {:description "The locale setting.",
                                        :type "string"},
                               :channel {:description "How Lighthouse was run, e.g. from the Chrome extension or from the npm\nmodule.",
                                         :type "string"}},
                  :id "ConfigSettings"},
 :LighthouseCategoryV5 {:description "A Lighthouse category.",
                        :type "object",
                        :properties {:score {:description "The overall score of the category, the weighted average of all its audits.\n(The category's score, can be null.)",
                                             :type "any"},
                                     :id {:type "string",
                                          :description "The string identifier of the category."},
                                     :manualDescription {:description "A description for the manual audits in the category.",
                                                         :type "string"},
                                     :title {:type "string",
                                             :description "The human-friendly name of the category."},
                                     :description {:description "A more detailed description of the category and its importance.",
                                                   :type "string"},
                                     :auditRefs {:description "An array of references to all the audit members of this category.",
                                                 :type "array",
                                                 :items {:$ref "AuditRefs"}}},
                        :id "LighthouseCategoryV5"},
 :RuntimeError {:type "object",
                :properties {:code {:description "The enumerated Lighthouse Error code.",
                                    :type "string"},
                             :message {:description "A human readable message explaining the error code.",
                                       :type "string"}},
                :id "RuntimeError",
                :description "Message containing a runtime error config."}}
