{:Environment {:description "Message containing environment configuration for a Lighthouse run.",
               :id "Environment",
               :type "object",
               :properties {:networkUserAgent {:description "The user agent string that was sent over the network.",
                                               :type "string"},
                            :hostUserAgent {:type "string",
                                            :description "The user agent string of the version of Chrome used."},
                            :benchmarkIndex {:format "double",
                                             :type "number",
                                             :description "The benchmark index number that indicates rough device class."}}},
 :PagespeedApiPagespeedResponseV5 {:description "The Pagespeed API response object.",
                                   :type "object",
                                   :id "PagespeedApiPagespeedResponseV5",
                                   :properties {:version {:description "The version of PageSpeed used to generate these results.",
                                                          :$ref "PagespeedVersion"},
                                                :originLoadingExperience {:$ref "PagespeedApiLoadingExperienceV5",
                                                                          :description "Metrics of the aggregated page loading experience of the origin"},
                                                :lighthouseResult {:description "Lighthouse response for the audit url as an object.",
                                                                   :$ref "LighthouseResultV5"},
                                                :kind {:description "Kind of result.",
                                                       :type "string"},
                                                :id {:type "string",
                                                     :description "Canonicalized and final URL for the document, after following page redirects (if any)."},
                                                :loadingExperience {:$ref "PagespeedApiLoadingExperienceV5",
                                                                    :description "Metrics of end users' page loading experience."},
                                                :captchaResult {:type "string",
                                                                :description "The captcha verify result"},
                                                :analysisUTCTimestamp {:type "string",
                                                                       :description "The UTC timestamp of this analysis."}}},
 :Bucket {:description "A proportion of data in the total distribution, bucketed by a min/max percentage. Each bucket's range is bounded by min <= x < max, In millisecond.",
          :type "object",
          :id "Bucket",
          :properties {:min {:description "Lower bound for a bucket's range.",
                             :type "integer",
                             :format "int32"},
                       :max {:type "integer",
                             :description "Upper bound for a bucket's range.",
                             :format "int32"},
                       :proportion {:type "number",
                                    :format "double",
                                    :description "The proportion of data in this bucket."}}},
 :StackPack {:description "Message containing Stack Pack information.",
             :id "StackPack",
             :type "object",
             :properties {:descriptions {:description "The stack pack advice strings.",
                                         :type "object",
                                         :additionalProperties {:type "string"}},
                          :iconDataURL {:description "The stack pack icon data uri.",
                                        :type "string"},
                          :id {:type "string",
                               :description "The stack pack id."},
                          :title {:type "string",
                                  :description "The stack pack title."}}},
 :LighthouseResultV5 {:id "LighthouseResultV5",
                      :description "The Lighthouse result object.",
                      :properties {:runWarnings {:type "array",
                                                 :description "List of all run warnings in the LHR. Will always output to at least `[]`.",
                                                 :items {:type "any"}},
                                   :audits {:description "Map of audits in the LHR.",
                                            :additionalProperties {:$ref "LighthouseAuditResultV5"},
                                            :type "object"},
                                   :stackPacks {:description "The Stack Pack advice strings.",
                                                :type "array",
                                                :items {:$ref "StackPack"}},
                                   :categoryGroups {:type "object",
                                                    :description "Map of category groups in the LHR.",
                                                    :additionalProperties {:$ref "CategoryGroupV5"}},
                                   :lighthouseVersion {:type "string",
                                                       :description "The lighthouse version that was used to generate this LHR."},
                                   :runtimeError {:description "A top-level error message that, if present, indicates a serious enough problem that this Lighthouse result may need to be discarded.",
                                                  :$ref "RuntimeError"},
                                   :categories {:$ref "Categories",
                                                :description "Map of categories in the LHR."},
                                   :userAgent {:type "string",
                                               :description "The user agent that was used to run this LHR."},
                                   :timing {:$ref "Timing",
                                            :description "Timing information for this LHR."},
                                   :requestedUrl {:description "The original requested url.",
                                                  :type "string"},
                                   :environment {:$ref "Environment",
                                                 :description "Environment settings that were used when making this LHR."},
                                   :fetchTime {:type "string",
                                               :description "The time that this run was fetched."},
                                   :configSettings {:$ref "ConfigSettings",
                                                    :description "The configuration settings for this LHR."},
                                   :i18n {:description "The internationalization strings that are required to render the LHR.",
                                          :$ref "I18n"},
                                   :finalUrl {:type "string",
                                              :description "The final resolved url that was audited."}},
                      :type "object"},
 :Categories {:properties {:accessibility {:description "The accessibility category, containing all accessibility related audits.",
                                           :$ref "LighthouseCategoryV5"},
                           :seo {:$ref "LighthouseCategoryV5",
                                 :description "The Search-Engine-Optimization (SEO) category, containing all seo related audits."},
                           :performance {:description "The performance category, containing all performance related audits.",
                                         :$ref "LighthouseCategoryV5"},
                           :best-practices {:$ref "LighthouseCategoryV5",
                                            :description "The best practices category, containing all best practices related audits."},
                           :pwa {:$ref "LighthouseCategoryV5",
                                 :description "The Progressive-Web-App (PWA) category, containing all pwa related audits."}},
              :id "Categories",
              :description "The categories in a Lighthouse run.",
              :type "object"},
 :CategoryGroupV5 {:id "CategoryGroupV5",
                   :description "Message containing a category",
                   :properties {:title {:type "string",
                                        :description "The human readable title of the group"},
                                :description {:type "string",
                                              :description "The description of what the category is grouping"}},
                   :type "object"},
 :PagespeedApiLoadingExperienceV5 {:id "PagespeedApiLoadingExperienceV5",
                                   :properties {:id {:type "string",
                                                     :description "The url, pattern or origin which the metrics are on."},
                                                :metrics {:additionalProperties {:$ref "UserPageLoadMetricV5"},
                                                          :description "The map of .",
                                                          :type "object"},
                                                :overall_category {:description "The human readable speed \"category\" of the id.",
                                                                   :type "string"},
                                                :origin_fallback {:type "boolean",
                                                                  :description "True if the result is an origin fallback from a page, false otherwise."},
                                                :initial_url {:description "The requested URL, which may differ from the resolved \"id\".",
                                                              :type "string"}},
                                   :description "The CrUX loading experience object that contains CrUX data breakdowns.",
                                   :type "object"},
 :I18n {:type "object",
        :id "I18n",
        :properties {:rendererFormattedStrings {:description "Internationalized strings that are formatted to the locale in configSettings.",
                                                :$ref "RendererFormattedStrings"}},
        :description "Message containing the i18n data for the LHR - Version 1."},
 :UserPageLoadMetricV5 {:properties {:median {:format "int32",
                                              :description "The median number of the metric, in millisecond.",
                                              :type "integer"},
                                     :formFactor {:type "string",
                                                  :description "Identifies the form factor of the metric being collected."},
                                     :metricId {:type "string",
                                                :description "Identifies the type of the metric."},
                                     :percentile {:format "int32",
                                                  :type "integer",
                                                  :description "We use this field to store certain percentile value for this metric. For v4, this field contains pc50. For v5, this field contains pc90."},
                                     :distributions {:type "array",
                                                     :items {:$ref "Bucket"},
                                                     :description "Metric distributions. Proportions should sum up to 1."},
                                     :category {:type "string",
                                                :description "The category of the specific time metric."}},
                        :type "object",
                        :id "UserPageLoadMetricV5",
                        :description "A CrUX metric object for a single metric and form factor."},
 :LighthouseAuditResultV5 {:type "object",
                           :description "An audit's result object in a Lighthouse result.",
                           :id "LighthouseAuditResultV5",
                           :properties {:description {:description "The description of the audit.",
                                                      :type "string"},
                                        :explanation {:description "An explanation of the errors in the audit.",
                                                      :type "string"},
                                        :errorMessage {:description "An error message from a thrown error inside the audit.",
                                                       :type "string"},
                                        :scoreDisplayMode {:description "The enumerated score display mode.",
                                                           :type "string"},
                                        :warnings {:type "any",
                                                   :description "Possible warnings that occurred in the audit, can be null."},
                                        :title {:description "The human readable title.",
                                                :type "string"},
                                        :numericValue {:format "double",
                                                       :type "number",
                                                       :description "A numeric value that has a meaning specific to the audit, e.g. the number of nodes in the DOM or the timestamp of a specific load event. More information can be found in the audit details, if present."},
                                        :details {:description "Freeform details section of the audit.",
                                                  :type "object",
                                                  :additionalProperties {:description "Properties of the object.",
                                                                         :type "any"}},
                                        :id {:description "The audit's id.",
                                             :type "string"},
                                        :score {:type "any",
                                                :description "The score of the audit, can be null."},
                                        :displayValue {:type "string",
                                                       :description "The value that should be displayed on the UI for this audit."}}},
 :PagespeedVersion {:description "The Pagespeed Version object.",
                    :type "object",
                    :properties {:major {:description "The major version number of PageSpeed used to generate these results.",
                                         :type "string"},
                                 :minor {:description "The minor version number of PageSpeed used to generate these results.",
                                         :type "string"}},
                    :id "PagespeedVersion"},
 :RendererFormattedStrings {:description "Message holding the formatted strings used in the renderer.",
                            :id "RendererFormattedStrings",
                            :properties {:errorMissingAuditInfo {:description "The error string shown next to an erroring audit.",
                                                                 :type "string"},
                                         :varianceDisclaimer {:type "string",
                                                              :description "The disclaimer shown below a performance metric value."},
                                         :crcLongestDurationLabel {:description "The label for values shown in the summary of critical request chains.",
                                                                   :type "string"},
                                         :opportunityResourceColumnLabel {:description "The heading for the estimated page load savings opportunity of an audit.",
                                                                          :type "string"},
                                         :notApplicableAuditsGroupTitle {:description "The heading shown above a list of audits that do not apply to a page.",
                                                                         :type "string"},
                                         :labDataTitle {:type "string",
                                                        :description "The title of the lab data performance category."},
                                         :manualAuditsGroupTitle {:description "The heading shown above a list of audits that were not computerd in the run.",
                                                                  :type "string"},
                                         :opportunitySavingsColumnLabel {:description "The heading for the estimated page load savings of opportunity audits.",
                                                                         :type "string"},
                                         :auditGroupExpandTooltip {:type "string",
                                                                   :description "The tooltip text on an expandable chevron icon."},
                                         :passedAuditsGroupTitle {:description "The heading that is shown above a list of audits that are passing.",
                                                                  :type "string"},
                                         :errorLabel {:description "The label shown next to an audit or metric that has had an error.",
                                                      :type "string"},
                                         :crcInitialNavigation {:type "string",
                                                                :description "The label for the initial request in a critical request chain."},
                                         :warningHeader {:description "The label shown above a bulleted list of warnings.",
                                                         :type "string"},
                                         :toplevelWarningsMessage {:description "The label shown preceding important warnings that may have invalidated an entire report.",
                                                                   :type "string"},
                                         :scorescaleLabel {:description "The label that explains the score gauges scale (0-49, 50-89, 90-100).",
                                                           :type "string"},
                                         :lsPerformanceCategoryDescription {:description "The disclaimer shown under performance explaning that the network can vary.",
                                                                            :type "string"}},
                            :type "object"},
 :AuditRefs {:type "object",
             :id "AuditRefs",
             :properties {:id {:type "string",
                               :description "The audit ref id."},
                          :group {:type "string",
                                  :description "The category group that the audit belongs to (optional)."},
                          :weight {:format "double",
                                   :type "number",
                                   :description "The weight this audit's score has on the overall category score."}},
             :description "A light reference to an audit by id, used to group and weight audits in a given category."},
 :Timing {:properties {:total {:format "double",
                               :description "The total duration of Lighthouse's run.",
                               :type "number"}},
          :id "Timing",
          :description "Message containing the performance timing data for the Lighthouse run.",
          :type "object"},
 :ConfigSettings {:description "Message containing the configuration settings for the Lighthouse run.",
                  :type "object",
                  :properties {:locale {:description "The locale setting.",
                                        :type "string"},
                               :emulatedFormFactor {:type "string",
                                                    :description "The form factor the emulation should use."},
                               :channel {:type "string",
                                         :description "How Lighthouse was run, e.g. from the Chrome extension or from the npm module."},
                               :onlyCategories {:type "any",
                                                :description "List of categories of audits the run should conduct."}},
                  :id "ConfigSettings"},
 :LighthouseCategoryV5 {:properties {:id {:description "The string identifier of the category.",
                                          :type "string"},
                                     :manualDescription {:description "A description for the manual audits in the category.",
                                                         :type "string"},
                                     :score {:description "The overall score of the category, the weighted average of all its audits. (The category's score, can be null.)",
                                             :type "any"},
                                     :title {:type "string",
                                             :description "The human-friendly name of the category."},
                                     :description {:description "A more detailed description of the category and its importance.",
                                                   :type "string"},
                                     :auditRefs {:type "array",
                                                 :description "An array of references to all the audit members of this category.",
                                                 :items {:$ref "AuditRefs"}}},
                        :description "A Lighthouse category.",
                        :type "object",
                        :id "LighthouseCategoryV5"},
 :RuntimeError {:id "RuntimeError",
                :properties {:message {:type "string",
                                       :description "A human readable message explaining the error code."},
                             :code {:description "The enumerated Lighthouse Error code.",
                                    :type "string"}},
                :description "Message containing a runtime error config.",
                :type "object"}}
