{:CreateOrUpdateTagsRequest {:properties {:tags {:description "Tags to be inserted or updated.",
                                                 :type "array",
                                                 :items {:$ref "Tag"}}},
                             :description "Request message for CreateOrUpdateTags. VerifyToken.",
                             :id "CreateOrUpdateTagsRequest",
                             :type "object"},
 :CreateOrUpdateTagsResponse {:type "object",
                              :id "CreateOrUpdateTagsResponse",
                              :description "Response message for CreateOrUpdateTags.",
                              :properties {:tags {:type "array",
                                                  :description "All requested tags are returned, including pre-existing ones.",
                                                  :items {:$ref "Tag"}}}},
 :VerifyTokenResponse {:id "VerifyTokenResponse",
                       :properties {},
                       :description "Response message for VerifyToken.",
                       :type "object"},
 :VerifyTokenRequest {:properties {:persona {:type "string",
                                             :description "Required. Persona represented by the token. Format: personas/{persona}"}},
                      :id "VerifyTokenRequest",
                      :description "Request message for VerifyToken.",
                      :type "object"},
 :Tag {:description "A tag is associated with exactly one package name and user.",
       :properties {:stringValue {:description "A string value of the tag.",
                                  :type "string"},
                    :timeValue {:type "string",
                                :description "A time value of the tag.",
                                :format "google-datetime"},
                    :key {:type "string",
                          :description "Required. Key for the tag."},
                    :int64Value {:type "string",
                                 :format "int64",
                                 :description "A signed 64-bit integer value of the tag."},
                    :booleanValue {:type "boolean",
                                   :description "A boolean value of the tag."}},
       :type "object",
       :id "Tag"}}
