{:CustomApp {:type "object",
             :properties {:packageName {:readOnly true,
                                        :description "Output only. Package name of the created Android app. Only present in the API response.",
                                        :type "string"},
                          :title {:description "Title for the Android app.",
                                  :type "string"},
                          :languageCode {:type "string",
                                         :description "Default listing language in BCP 47 format."},
                          :organizations {:description "Organizations to which the custom app should be made available. If the request contains any organizations, then the app will be restricted to only these organizations. To support the organization linked to the developer account, the organization ID should be provided explicitly together with other organizations. If no organizations are provided, then the app is only available to the organization linked to the developer account.",
                                          :type "array",
                                          :items {:$ref "Organization"}}},
             :id "CustomApp",
             :description "This resource represents a custom app."},
 :Organization {:id "Organization",
                :type "object",
                :properties {:organizationName {:description "Optional. A human-readable name of the organization, to help recognize the organization.",
                                                :type "string"},
                             :organizationId {:description "Required. ID of the organization.",
                                              :type "string"}},
                :description "Represents an organization that can access a custom app."}}
