{:CustomApp {:description "This resource represents a custom app.",
             :properties {:packageName {:readOnly true,
                                        :type "string",
                                        :description "Output only. Package name of the created Android app. Only present in the API response."},
                          :languageCode {:description "Default listing language in BCP 47 format.",
                                         :type "string"},
                          :title {:description "Title for the Android app.",
                                  :type "string"}},
             :id "CustomApp",
             :type "object"}}
