{:PartitionConfig {:properties {:capacity {:description "The capacity configuration.",
                                           :$ref "Capacity"},
                                :count {:format "int64",
                                        :type "string",
                                        :description "The number of partitions in the topic. Must be at least 1. Once a topic has been created the number of partitions can be increased but not decreased. Message ordering is not guaranteed across a topic resize. For more information see https://cloud.google.com/pubsub/lite/docs/topics#scaling_capacity"},
                                :scale {:type "integer",
                                        :format "int32",
                                        :description "DEPRECATED: Use capacity instead which can express a superset of configurations. Every partition in the topic is allocated throughput equivalent to `scale` times the standard partition throughput (4 MiB/s). This is also reflected in the cost of this topic; a topic with `scale` of 2 and count of 10 is charged for 20 partitions. This value must be in the range [1,4]."}},
                   :id "PartitionConfig",
                   :type "object",
                   :description "The settings for a topic's partitions."},
 :ListTopicSubscriptionsResponse {:description "Response for ListTopicSubscriptions.",
                                  :id "ListTopicSubscriptionsResponse",
                                  :properties {:subscriptions {:type "array",
                                                               :items {:type "string"},
                                                               :description "The names of subscriptions attached to the topic. The order of the subscriptions is unspecified."},
                                               :nextPageToken {:type "string",
                                                               :description "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results."}},
                                  :type "object"},
 :ComputeHeadCursorResponse {:id "ComputeHeadCursorResponse",
                             :description "Response containing the head cursor for the requested topic and partition.",
                             :properties {:headCursor {:$ref "Cursor",
                                                       :description "The head cursor."}},
                             :type "object"},
 :DeliveryConfig {:id "DeliveryConfig",
                  :description "The settings for a subscription's message delivery.",
                  :type "object",
                  :properties {:deliveryRequirement {:description "The DeliveryRequirement for this subscription.",
                                                     :enumDescriptions ["Default value. This value is unused."
                                                                        "The server does not wait for a published message to be successfully written to storage before delivering it to subscribers."
                                                                        "The server will not deliver a published message to subscribers until the message has been successfully written to storage. This will result in higher end-to-end latency, but consistent delivery."],
                                                     :enum ["DELIVERY_REQUIREMENT_UNSPECIFIED"
                                                            "DELIVER_IMMEDIATELY"
                                                            "DELIVER_AFTER_STORED"],
                                                     :type "string"}}},
 :ComputeMessageStatsRequest {:description "Compute statistics about a range of messages in a given topic and partition.",
                              :id "ComputeMessageStatsRequest",
                              :type "object",
                              :properties {:partition {:description "Required. The partition for which we should compute message stats.",
                                                       :type "string",
                                                       :format "int64"},
                                           :endCursor {:description "The exclusive end of the range. The range is empty if end_cursor <= start_cursor. Specifying a start_cursor before the first message and an end_cursor after the last message will retrieve all messages.",
                                                       :$ref "Cursor"},
                                           :startCursor {:$ref "Cursor",
                                                         :description "The inclusive start of the range."}}},
 :TimeTarget {:description "A target publish or event time. Can be used for seeking to or retrieving the corresponding cursor.",
              :properties {:eventTime {:description "Request the cursor of the first message with event time greater than or equal to `event_time`. If messages are missing an event time, the publish time is used as a fallback. As event times are user supplied, subsequent messages may have event times less than `event_time` and should be filtered by the client, if necessary.",
                                       :type "string",
                                       :format "google-datetime"},
                           :publishTime {:description "Request the cursor of the first message with publish time greater than or equal to `publish_time`. All messages thereafter are guaranteed to have publish times >= `publish_time`.",
                                         :format "google-datetime",
                                         :type "string"}},
              :id "TimeTarget",
              :type "object"},
 :CommitCursorRequest {:properties {:partition {:description "The partition for which to update the cursor. Partitions are zero indexed, so `partition` must be in the range [0, topic.num_partitions).",
                                                :format "int64",
                                                :type "string"},
                                    :cursor {:$ref "Cursor",
                                             :description "The new value for the committed cursor."}},
                       :id "CommitCursorRequest",
                       :type "object",
                       :description "Request for CommitCursor."},
 :ListTopicsResponse {:description "Response for ListTopics.",
                      :id "ListTopicsResponse",
                      :properties {:nextPageToken {:description "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results.",
                                                   :type "string"},
                                   :topics {:items {:$ref "Topic"},
                                            :description "The list of topic in the requested parent. The order of the topics is unspecified.",
                                            :type "array"}},
                      :type "object"},
 :ComputeHeadCursorRequest {:type "object",
                            :description "Compute the current head cursor for a partition.",
                            :id "ComputeHeadCursorRequest",
                            :properties {:partition {:type "string",
                                                     :format "int64",
                                                     :description "Required. The partition for which we should compute the head cursor."}}},
 :ComputeMessageStatsResponse {:type "object",
                               :description "Response containing stats for messages in the requested topic and partition.",
                               :properties {:minimumPublishTime {:description "The minimum publish timestamp across these messages. Note that publish timestamps within a partition are not guaranteed to be non-decreasing. The timestamp will be unset if there are no messages.",
                                                                 :type "string",
                                                                 :format "google-datetime"},
                                            :minimumEventTime {:type "string",
                                                               :description "The minimum event timestamp across these messages. For the purposes of this computation, if a message does not have an event time, we use the publish time. The timestamp will be unset if there are no messages.",
                                                               :format "google-datetime"},
                                            :messageCount {:format "int64",
                                                           :description "The count of messages.",
                                                           :type "string"},
                                            :messageBytes {:description "The number of quota bytes accounted to these messages.",
                                                           :format "int64",
                                                           :type "string"}},
                               :id "ComputeMessageStatsResponse"},
 :ComputeTimeCursorRequest {:id "ComputeTimeCursorRequest",
                            :description "Compute the corresponding cursor for a publish or event time in a topic partition.",
                            :type "object",
                            :properties {:target {:description "Required. The target publish or event time. Specifying a future time will return an unset cursor.",
                                                  :$ref "TimeTarget"},
                                         :partition {:description "Required. The partition for which we should compute the cursor.",
                                                     :type "string",
                                                     :format "int64"}}},
 :ListPartitionCursorsResponse {:properties {:partitionCursors {:type "array",
                                                                :items {:$ref "PartitionCursor"},
                                                                :description "The partition cursors from this request."},
                                             :nextPageToken {:type "string",
                                                             :description "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."}},
                                :id "ListPartitionCursorsResponse",
                                :description "Response for ListPartitionCursors",
                                :type "object"},
 :ComputeTimeCursorResponse {:id "ComputeTimeCursorResponse",
                             :description "Response containing the cursor corresponding to a publish or event time in a topic partition.",
                             :type "object",
                             :properties {:cursor {:description "If present, the cursor references the first message with time greater than or equal to the specified target time. If such a message cannot be found, the cursor will be unset (i.e. `cursor` is not present).",
                                                   :$ref "Cursor"}}},
 :Empty {:id "Empty",
         :properties {},
         :type "object",
         :description "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`."},
 :Subscription {:id "Subscription",
                :description "Metadata about a subscription resource.",
                :type "object",
                :properties {:deliveryConfig {:$ref "DeliveryConfig",
                                              :description "The settings for this subscription's message delivery."},
                             :topic {:type "string",
                                     :description "The name of the topic this subscription is attached to. Structured like: projects/{project_number}/locations/{location}/topics/{topic_id}"},
                             :name {:description "The name of the subscription. Structured like: projects/{project_number}/locations/{location}/subscriptions/{subscription_id}",
                                    :type "string"}}},
 :CommitCursorResponse {:type "object",
                        :description "Response for CommitCursor.",
                        :id "CommitCursorResponse",
                        :properties {}},
 :RetentionConfig {:description "The settings for a topic's message retention.",
                   :properties {:period {:type "string",
                                         :format "google-duration",
                                         :description "How long a published message is retained. If unset, messages will be retained as long as the bytes retained for each partition is below `per_partition_bytes`."},
                                :perPartitionBytes {:type "string",
                                                    :format "int64",
                                                    :description "The provisioned storage, in bytes, per partition. If the number of bytes stored in any of the topic's partitions grows beyond this value, older messages will be dropped to make room for newer ones, regardless of the value of `period`."}},
                   :id "RetentionConfig",
                   :type "object"},
 :TopicPartitions {:type "object",
                   :description "Response for GetTopicPartitions.",
                   :properties {:partitionCount {:description "The number of partitions in the topic.",
                                                 :format "int64",
                                                 :type "string"}},
                   :id "TopicPartitions"},
 :Cursor {:properties {:offset {:format "int64",
                                :type "string",
                                :description "The offset of a message within a topic partition. Must be greater than or equal 0."}},
          :id "Cursor",
          :description "A cursor that describes the position of a message within a topic partition.",
          :type "object"},
 :PartitionCursor {:properties {:cursor {:$ref "Cursor",
                                         :description "The value of the cursor."},
                                :partition {:description "The partition this is for.",
                                            :format "int64",
                                            :type "string"}},
                   :id "PartitionCursor",
                   :type "object",
                   :description "A pair of a Cursor and the partition it is for."},
 :Capacity {:type "object",
            :properties {:publishMibPerSec {:type "integer",
                                            :format "int32",
                                            :description "Publish throughput capacity per partition in MiB/s. Must be >= 4 and <= 16."},
                         :subscribeMibPerSec {:format "int32",
                                              :type "integer",
                                              :description "Subscribe throughput capacity per partition in MiB/s. Must be >= 4 and <= 32."}},
            :description "The throughput capacity configuration for each partition.",
            :id "Capacity"},
 :Topic {:description "Metadata about a topic resource.",
         :id "Topic",
         :properties {:partitionConfig {:description "The settings for this topic's partitions.",
                                        :$ref "PartitionConfig"},
                      :retentionConfig {:$ref "RetentionConfig",
                                        :description "The settings for this topic's message retention."},
                      :name {:description "The name of the topic. Structured like: projects/{project_number}/locations/{location}/topics/{topic_id}",
                             :type "string"}},
         :type "object"},
 :ListSubscriptionsResponse {:id "ListSubscriptionsResponse",
                             :type "object",
                             :description "Response for ListSubscriptions.",
                             :properties {:subscriptions {:type "array",
                                                          :description "The list of subscriptions in the requested parent. The order of the subscriptions is unspecified.",
                                                          :items {:$ref "Subscription"}},
                                          :nextPageToken {:description "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results.",
                                                          :type "string"}}}}
