{:Entitlement {:properties {:expireTime {:format "google-datetime",
                                         :type "string",
                                         :description "Required. Expiration time of the entitlement. Entitlements that have expired over 30 days will be purged. Required. LINT.IfChange(expire_time) The max expire_time is 398 days from now(). LINT.ThenChange(//depot/google3/java/com/google/subscribewithgoogle/accountlinking/subscriptionlink/service/config/protoconf.pi:max_expiry_age)"},
                            :subscriptionToken {:type "string",
                                                :description "A source-specific subscription token. This is an opaque string that the publisher provides to Google. This token is opaque and has no meaning to Google."},
                            :detail {:type "string",
                                     :description "The detail field can carry a description of the SKU that corresponds to what the user has been granted access to. This description, which is opaque to Google, can be displayed in the Google user subscription console for users who linked the subscription to a Google Account. Max 80 character limit."},
                            :productId {:type "string",
                                        :description "Required. The publication's product ID that the user has access to. This is the same product ID as can be found in Schema.org markup (http://schema.org/productID). E.g. \"dailybugle.com:basic\""}},
               :type "object",
               :id "Entitlement",
               :description "A single entitlement for a publication reader"},
 :Reader {:description "A reader of a publication.",
          :properties {:createTime {:readOnly true,
                                    :format "google-datetime",
                                    :type "string",
                                    :description "Output only. Time the publication reader was created and associated with a Google user."},
                       :name {:readOnly true,
                              :description "Output only. The resource name of the reader. The last part of ppid in the resource name is the publisher provided id.",
                              :type "string"}},
          :type "object",
          :id "Reader"},
 :ReaderEntitlements {:properties {:name {:description "Output only. The resource name of the singleton.",
                                          :readOnly true,
                                          :type "string"},
                                   :entitlements {:type "array",
                                                  :items {:$ref "Entitlement"},
                                                  :description "All of the entitlements for a publication reader."}},
                      :id "ReaderEntitlements",
                      :description "A singleton containing all of a reader's entitlements for a publication.",
                      :type "object"},
 :DeleteReaderResponse {:id "DeleteReaderResponse",
                        :type "object",
                        :description "Response to deleting a reader of a publication.",
                        :properties {}}}
