{:GoogleCloudResourcesettingsV1ValueStringSet {:properties {:values {:items {:type "string"},
                                                                     :type "array",
                                                                     :description "The strings in the set"}},
                                               :description "A string set value that can hold a set of strings. The maximum length of each string is 200 characters and there can be a maximum of 50 strings in the string set.",
                                               :id "GoogleCloudResourcesettingsV1ValueStringSet",
                                               :type "object"},
 :GoogleCloudResourcesettingsV1ValueStringMap {:type "object",
                                               :id "GoogleCloudResourcesettingsV1ValueStringMap",
                                               :description "A string->string map value that can hold a map of string keys to string values. The maximum length of each string is 200 characters and there can be a maximum of 50 key-value pairs in the map.",
                                               :properties {:mappings {:description "The key-value pairs in the map",
                                                                       :additionalProperties {:type "string"},
                                                                       :type "object"}}},
 :GoogleCloudResourcesettingsV1Setting {:id "GoogleCloudResourcesettingsV1Setting",
                                        :properties {:localValue {:description "The configured value of the setting at the given parent resource, ignoring the resource hierarchy. The data type of Value must always be consistent with the data type defined in Setting.metadata.",
                                                                  :$ref "GoogleCloudResourcesettingsV1Value"},
                                                     :etag {:type "string",
                                                            :description "A fingerprint used for optimistic concurrency. See UpdateSetting for more details."},
                                                     :effectiveValue {:description "Output only. The effective value of the setting at the given parent resource, evaluated based on the resource hierarchy The effective value evaluates to one of the following options, in this order. If an option is not valid or doesn't exist, then the next option is used: 1. The local setting value on the given resource: Setting.local_value 2. If one of the given resource's ancestors in the resource hierarchy have a local setting value, the local value at the nearest such ancestor. 3. The setting's default value: SettingMetadata.default_value 4. An empty value, defined as a `Value` with all fields unset. The data type of Value must always be consistent with the data type defined in Setting.metadata.",
                                                                      :readOnly true,
                                                                      :$ref "GoogleCloudResourcesettingsV1Value"},
                                                     :metadata {:description "Output only. Metadata about a setting which is not editable by the end user.",
                                                                :$ref "GoogleCloudResourcesettingsV1SettingMetadata",
                                                                :readOnly true},
                                                     :name {:description "The resource name of the setting. Must be in one of the following forms: * `projects/{project_number}/settings/{setting_name}` * `folders/{folder_id}/settings/{setting_name}` * `organizations/{organization_id}/settings/{setting_name}` For example, \"/projects/123/settings/gcp-enableMyFeature\"",
                                                            :type "string"}},
                                        :type "object",
                                        :description "The schema for settings."},
 :GoogleCloudResourcesettingsV1Value {:properties {:durationValue {:description "Defines this value as being a Duration.",
                                                                   :type "string",
                                                                   :format "google-duration"},
                                                   :enumValue {:description "Defines this value as being a Enum.",
                                                               :$ref "GoogleCloudResourcesettingsV1ValueEnumValue"},
                                                   :stringSetValue {:$ref "GoogleCloudResourcesettingsV1ValueStringSet",
                                                                    :description "Defines this value as being a StringSet."},
                                                   :stringMapValue {:$ref "GoogleCloudResourcesettingsV1ValueStringMap",
                                                                    :description "Defines this value as being a StringMap."},
                                                   :booleanValue {:description "Defines this value as being a boolean value.",
                                                                  :type "boolean"},
                                                   :stringValue {:description "Defines this value as being a string value.",
                                                                 :type "string"}},
                                      :id "GoogleCloudResourcesettingsV1Value",
                                      :description "The data in a setting value.",
                                      :type "object"},
 :GoogleCloudResourcesettingsV1ListSettingsResponse {:properties {:settings {:description "A list of settings that are available at the specified Cloud resource.",
                                                                             :type "array",
                                                                             :items {:$ref "GoogleCloudResourcesettingsV1Setting"}},
                                                                  :nextPageToken {:type "string",
                                                                                  :description "Unused. A page token used to retrieve the next page."}},
                                                     :id "GoogleCloudResourcesettingsV1ListSettingsResponse",
                                                     :description "The response from ListSettings.",
                                                     :type "object"},
 :GoogleCloudResourcesettingsV1ValueEnumValue {:description "A enum value that can hold any enum type setting values. Each enum type is represented by a number, this representation is stored in the definitions.",
                                               :type "object",
                                               :properties {:value {:type "string",
                                                                    :description "The value of this enum"}},
                                               :id "GoogleCloudResourcesettingsV1ValueEnumValue"},
 :GoogleCloudResourcesettingsV1SettingMetadata {:properties {:readOnly {:type "boolean",
                                                                        :description "A flag indicating that values of this setting cannot be modified. See documentation for the specific setting for updates and reasons."},
                                                             :defaultValue {:description "The value provided by Setting.effective_value if no setting value is explicitly set. Note: not all settings have a default value.",
                                                                            :$ref "GoogleCloudResourcesettingsV1Value"},
                                                             :dataType {:enum ["DATA_TYPE_UNSPECIFIED"
                                                                               "BOOLEAN"
                                                                               "STRING"
                                                                               "STRING_SET"
                                                                               "ENUM_VALUE"
                                                                               "DURATION_VALUE"
                                                                               "STRING_MAP"],
                                                                        :enumDescriptions ["Unspecified data type."
                                                                                           "A boolean setting."
                                                                                           "A string setting."
                                                                                           "A string set setting."
                                                                                           "A Enum setting"
                                                                                           "A Duration setting"
                                                                                           "A string->string map setting"],
                                                                        :type "string",
                                                                        :description "The data type for this setting."},
                                                             :displayName {:type "string",
                                                                           :description "The human readable name for this setting."},
                                                             :description {:type "string",
                                                                           :description "A detailed description of what this setting does."}},
                                                :id "GoogleCloudResourcesettingsV1SettingMetadata",
                                                :description "Metadata about a setting which is not editable by the end user.",
                                                :type "object"}}
