{:GoogleSecuritySafebrowsingV5FullHash {:description "The full hash identified with one or more matches.",
                                        :type "object",
                                        :properties {:fullHash {:format "byte",
                                                                :type "string",
                                                                :description "The matching full hash. This is the SHA256 hash. The length will be exactly 32 bytes."},
                                                     :fullHashDetails {:items {:$ref "GoogleSecuritySafebrowsingV5FullHashFullHashDetail"},
                                                                       :type "array",
                                                                       :description "Unordered list. A repeated field identifying the details relevant to this full hash."}},
                                        :id "GoogleSecuritySafebrowsingV5FullHash"},
 :GoogleSecuritySafebrowsingV5FullHashFullHashDetail {:type "object",
                                                      :id "GoogleSecuritySafebrowsingV5FullHashFullHashDetail",
                                                      :properties {:attributes {:description "Unordered list. Additional attributes about those full hashes. This may be empty.",
                                                                                :type "array",
                                                                                :items {:enumDescriptions ["Unknown attribute. If this is returned by the server, the client shall disregard the enclosing `FullHashDetail` altogether."
                                                                                                           "Indicates that the threat_type should not be used for enforcement."
                                                                                                           "Indicates that the threat_type should only be used for enforcement on frames."],
                                                                                        :type "string",
                                                                                        :enum ["THREAT_ATTRIBUTE_UNSPECIFIED"
                                                                                               "CANARY"
                                                                                               "FRAME_ONLY"]}},
                                                                   :threatType {:type "string",
                                                                                :enum ["THREAT_TYPE_UNSPECIFIED"
                                                                                       "MALWARE"
                                                                                       "SOCIAL_ENGINEERING"
                                                                                       "UNWANTED_SOFTWARE"
                                                                                       "POTENTIALLY_HARMFUL_APPLICATION"],
                                                                                :description "The type of threat. This field will never be empty.",
                                                                                :enumDescriptions ["Unknown threat type. If this is returned by the server, the client shall disregard the enclosing `FullHashDetail` altogether."
                                                                                                   "Malware threat type. Malware is any software or mobile application specifically designed to harm a computer, a mobile device, the software it's running, or its users. Malware exhibits malicious behavior that can include installing software without user consent and installing harmful software such as viruses. More information can be found [here](https://developers.google.com/search/docs/monitor-debug/security/malware)."
                                                                                                   "Social engineering threat type. Social engineering pages falsely purport to act on behalf of a third party with the intention of confusing viewers into performing an action with which the viewer would only trust a true agent of that third party. Phishing is a type of social engineering that tricks the viewer into performing the specific action of providing information, such as login credentials. More information can be found [here](https://developers.google.com/search/docs/monitor-debug/security/social-engineering)."
                                                                                                   "Unwanted software threat type. Unwanted software is any software that does not adhere to [Google's Software Principles](https://www.google.com/about/software-principles.html) but isn't malware."
                                                                                                   "Potentially harmful application threat type [as used by Google Play Protect for the Play Store](https://developers.google.com/android/play-protect/potentially-harmful-applications)."]}},
                                                      :description "Details about a matching full hash. An important note about forward compatibility: new threat types and threat attributes may be added by the server at any time; those additions are considered minor version changes. It is Google's policy not to expose minor version numbers in APIs (see https://cloud.google.com/apis/design/versioning for the versioning policy), so clients MUST be prepared to receive `FullHashDetail` messages containing `ThreatType` enum values or `ThreatAttribute` enum values that are considered invalid by the client. Therefore, it is the client's responsibility to check for the validity of all `ThreatType` and `ThreatAttribute` enum values; if any value is considered invalid, the client MUST disregard the entire `FullHashDetail` message."},
 :GoogleSecuritySafebrowsingV5SearchHashesResponse {:description "The response returned after searching threat hashes. If nothing is found, the server will return an OK status (HTTP status code 200) with the `full_hashes` field empty, rather than returning a NOT_FOUND status (HTTP status code 404). **What's new in V5**: There is a separation between `FullHash` and `FullHashDetail`. In the case when a hash represents a site having multiple threats (e.g. both MALWARE and SOCIAL_ENGINEERING), the full hash does not need to be sent twice as in V4. Furthermore, the cache duration has been simplified into a single `cache_duration` field.",
                                                    :properties {:cacheDuration {:description "The client-side cache duration. The client MUST add this duration to the current time to determine the expiration time. The expiration time then applies to every hash prefix queried by the client in the request, regardless of how many full hashes are returned in the response. Even if the server returns no full hashes for a particular hash prefix, this fact MUST also be cached by the client. If and only if the field `full_hashes` is empty, the client MAY increase the `cache_duration` to determine a new expiration that is later than that specified by the server. In any case, the increased cache duration must not be longer than 24 hours. Important: the client MUST NOT assume that the server will return the same cache duration for all responses. The server MAY choose different cache durations for different responses depending on the situation.",
                                                                                 :format "google-duration",
                                                                                 :type "string"},
                                                                 :fullHashes {:description "Unordered list. The unordered list of full hashes found.",
                                                                              :type "array",
                                                                              :items {:$ref "GoogleSecuritySafebrowsingV5FullHash"}}},
                                                    :type "object",
                                                    :id "GoogleSecuritySafebrowsingV5SearchHashesResponse"}}
