{:SiteVerificationWebResourceListResponse {:id "SiteVerificationWebResourceListResponse",
                                           :properties {:items {:type "array",
                                                                :description "The list of sites that are owned by the authenticated user.",
                                                                :items {:$ref "SiteVerificationWebResourceResource"}}},
                                           :type "object"},
 :SiteVerificationWebResourceGettokenResponse {:id "SiteVerificationWebResourceGettokenResponse",
                                               :type "object",
                                               :properties {:token {:type "string",
                                                                    :description "The verification token. The token must be placed appropriately in order for verification to succeed."},
                                                            :method {:type "string",
                                                                     :description "The verification method to use in conjunction with this token. For FILE, the token should be placed in the top-level directory of the site, stored inside a file of the same name. For META, the token should be placed in the HEAD tag of the default page that is loaded for the site. For DNS, the token should be placed in a TXT record of the domain."}}},
 :SiteVerificationWebResourceResource {:type "object",
                                       :properties {:id {:type "string",
                                                         :description "The string used to identify this site. This value should be used in the \"id\" portion of the REST URL for the Get, Update, and Delete operations."},
                                                    :owners {:type "array",
                                                             :items {:type "string"},
                                                             :description "The email addresses of all verified owners."},
                                                    :site {:type "object",
                                                           :properties {:type {:type "string",
                                                                               :description "The site type. Can be SITE or INET_DOMAIN (domain name)."},
                                                                        :identifier {:type "string",
                                                                                     :description "The site identifier. If the type is set to SITE, the identifier is a URL. If the type is set to INET_DOMAIN, the site identifier is a domain name."}},
                                                           :description "The address and type of a site that is verified or will be verified."}},
                                       :id "SiteVerificationWebResourceResource"},
 :SiteVerificationWebResourceGettokenRequest {:type "object",
                                              :id "SiteVerificationWebResourceGettokenRequest",
                                              :properties {:site {:type "object",
                                                                  :properties {:type {:description "The type of resource to be verified. Can be SITE or INET_DOMAIN (domain name).",
                                                                                      :type "string"},
                                                                               :identifier {:type "string",
                                                                                            :description "The site identifier. If the type is set to SITE, the identifier is a URL. If the type is set to INET_DOMAIN, the site identifier is a domain name."}},
                                                                  :description "The site for which a verification token will be generated."},
                                                           :verificationMethod {:description "The verification method that will be used to verify this site. For sites, 'FILE' or 'META' methods may be used. For domains, only 'DNS' may be used.",
                                                                                :type "string"}}}}
