{:GoogleIdentityStsV1ExchangeTokenResponse {:type "object",
                                            :properties {:access_token {:description "An OAuth 2.0 security token, issued by Google, in response to the token exchange request.",
                                                                        :type "string"},
                                                         :expires_in {:type "integer",
                                                                      :description "The amount of time, in seconds, between the time when the `access_token` was issued and the time when the `access_token` will expire. This field is absent when the `subject_token` in the request is a Google-issued, short-lived access token. In this case, the `access_token` has the same expiration time as the `subject_token`.",
                                                                      :format "int32"},
                                                         :token_type {:type "string",
                                                                      :description "The type of `access_token`. Always has the value `Bearer`."},
                                                         :issued_token_type {:type "string",
                                                                             :description "The token type. Always matches the value of `requested_token_type` from the request."}},
                                            :description "Response message for ExchangeToken.",
                                            :id "GoogleIdentityStsV1ExchangeTokenResponse"},
 :GoogleIdentityStsV1ExchangeTokenRequest {:id "GoogleIdentityStsV1ExchangeTokenRequest",
                                           :type "object",
                                           :description "Request message for ExchangeToken.",
                                           :properties {:subjectTokenType {:type "string",
                                                                           :description "Required. An identifier that indicates the type of the security token in the `subject_token` parameter. Must be `urn:ietf:params:oauth:token-type:access_token`."},
                                                        :grantType {:description "Required. The grant type. Must be `urn:ietf:params:oauth:grant-type:token-exchange`, which indicates a token exchange.",
                                                                    :type "string"},
                                                        :options {:type "string",
                                                                  :description "A set of features that Security Token Service supports, in addition to the standard OAuth 2.0 token exchange, formatted as a serialized JSON object of Options."},
                                                        :requestedTokenType {:type "string",
                                                                             :description "Required. An identifier for the type of requested security token. Must be `urn:ietf:params:oauth:token-type:access_token`."},
                                                        :subjectToken {:type "string",
                                                                       :description "Required. The input token. You can use a Google-issued OAuth 2.0 access token with this field to obtain an access token with new security attributes applied, such as a Credential Access Boundary. If an access token already contains security attributes, you cannot apply additional security attributes."}}}}
