{:TaskLists {:type "object",
             :id "TaskLists",
             :properties {:nextPageToken {:description "Token that can be used to request the next page of this result.",
                                          :type "string"},
                          :etag {:description "ETag of the resource.",
                                 :type "string"},
                          :kind {:description "Type of the resource. This is always \"tasks#taskLists\".",
                                 :type "string"},
                          :items {:description "Collection of task lists.",
                                  :items {:$ref "TaskList"},
                                  :type "array"}}},
 :Task {:properties {:deleted {:description "Flag indicating whether the task has been deleted. The default is False.",
                               :type "boolean"},
                     :parent {:description "Parent task identifier. This field is omitted if it is a top-level task. This field is read-only. Use the \"move\" method to move the task under a different parent or to the top level.",
                              :type "string"},
                     :updated {:type "string",
                               :description "Last modification time of the task (as a RFC 3339 timestamp)."},
                     :completed {:description "Completion date of the task (as a RFC 3339 timestamp). This field is omitted if the task has not been completed.",
                                 :type "string"},
                     :selfLink {:description "URL pointing to this task. Used to retrieve, update, or delete this task.",
                                :type "string"},
                     :etag {:description "ETag of the resource.",
                            :type "string"},
                     :due {:type "string",
                           :description "Due date of the task (as a RFC 3339 timestamp). Optional. The due date only records date information; the time portion of the timestamp is discarded when setting the due date. It isn't possible to read or write the time that a task is due via the API."},
                     :title {:type "string",
                             :description "Title of the task."},
                     :status {:type "string",
                              :description "Status of the task. This is either \"needsAction\" or \"completed\"."},
                     :hidden {:type "boolean",
                              :description "Flag indicating whether the task is hidden. This is the case if the task had been marked completed when the task list was last cleared. The default is False. This field is read-only."},
                     :id {:description "Task identifier.",
                          :type "string"},
                     :kind {:type "string",
                            :description "Type of the resource. This is always \"tasks#task\"."},
                     :notes {:description "Notes describing the task. Optional.",
                             :type "string"},
                     :position {:type "string",
                                :description "String indicating the position of the task among its sibling tasks under the same parent task or at the top level. If this string is greater than another task's corresponding position string according to lexicographical ordering, the task is positioned after the other task under the same parent task (or at the top level). This field is read-only. Use the \"move\" method to move the task to another position."},
                     :links {:items {:properties {:description {:description "The description. In HTML speak: Everything between <a> and </a>.",
                                                                :type "string"},
                                                  :link {:type "string",
                                                         :description "The URL."},
                                                  :type {:description "Type of the link, e.g. \"email\".",
                                                         :type "string"}},
                                     :type "object"},
                             :description "Collection of links. This collection is read-only.",
                             :type "array"}},
        :type "object",
        :description "LINT.IfChange",
        :id "Task"},
 :Tasks {:id "Tasks",
         :type "object",
         :properties {:kind {:description "Type of the resource. This is always \"tasks#tasks\".",
                             :type "string"},
                      :items {:type "array",
                              :items {:$ref "Task"},
                              :description "Collection of tasks."},
                      :nextPageToken {:description "Token used to access the next page of this result.",
                                      :type "string"},
                      :etag {:type "string",
                             :description "ETag of the resource."}}},
 :TaskList {:type "object",
            :id "TaskList",
            :properties {:title {:description "Title of the task list.",
                                 :type "string"},
                         :kind {:description "Type of the resource. This is always \"tasks#taskList\".",
                                :type "string"},
                         :id {:type "string",
                              :description "Task list identifier."},
                         :etag {:description "ETag of the resource.",
                                :type "string"},
                         :updated {:description "Last modification time of the task list (as a RFC 3339 timestamp).",
                                   :type "string"},
                         :selfLink {:description "URL pointing to this task list. Used to retrieve, update, or delete this task list.",
                                    :type "string"}}}}
