{:Operation {:type "object",
             :description "This resource represents a long-running operation that is the result of a network API call.",
             :id "Operation",
             :properties {:metadata {:type "object",
                                     :description "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
                                     :additionalProperties {:description "Properties of the object. Contains field @type with type URL.",
                                                            :type "any"}},
                          :error {:$ref "Status",
                                  :description "The error result of the operation in case of failure or cancellation."},
                          :done {:type "boolean",
                                 :description "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."},
                          :response {:type "object",
                                     :additionalProperties {:description "Properties of the object. Contains field @type with type URL.",
                                                            :type "any"},
                                     :description "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."},
                          :name {:type "string",
                                 :description "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."}}},
 :AcceleratorType {:description "A accelerator type that a Node can be configured with.",
                   :type "object",
                   :id "AcceleratorType",
                   :properties {:type {:type "string",
                                       :description "the accelerator type."},
                                :name {:description "The resource name.",
                                       :type "string"}}},
 :StopNodeRequest {:properties {},
                   :type "object",
                   :id "StopNodeRequest",
                   :description "Request for StopNode."},
 :ListNodesResponse {:properties {:unreachable {:type "array",
                                                :description "Locations that could not be reached.",
                                                :items {:type "string"}},
                                  :nodes {:type "array",
                                          :items {:$ref "Node"},
                                          :description "The listed nodes."},
                                  :nextPageToken {:description "The next page token or empty if none.",
                                                  :type "string"}},
                     :description "Response for ListNodes.",
                     :type "object",
                     :id "ListNodesResponse"},
 :Symptom {:id "Symptom",
           :description "A Symptom instance.",
           :type "object",
           :properties {:createTime {:type "string",
                                     :format "google-datetime",
                                     :description "Timestamp when the Symptom is created."},
                        :workerId {:description "A string used to uniquely distinguish a worker within a TPU node.",
                                   :type "string"},
                        :details {:type "string",
                                  :description "Detailed information of the current Symptom."},
                        :symptomType {:enumDescriptions ["Unspecified symptom."
                                                         "TPU VM memory is low."
                                                         "TPU runtime is out of memory."
                                                         "TPU runtime execution has timed out."
                                                         "TPU runtime fails to construct a mesh that recognizes each TPU device's neighbors."
                                                         "TPU HBM is out of memory."],
                                      :description "Type of the Symptom.",
                                      :enum ["SYMPTOM_TYPE_UNSPECIFIED"
                                             "LOW_MEMORY"
                                             "OUT_OF_MEMORY"
                                             "EXECUTE_TIMED_OUT"
                                             "MESH_BUILD_FAIL"
                                             "HBM_OUT_OF_MEMORY"],
                                      :type "string"}}},
 :Empty {:id "Empty",
         :type "object",
         :description "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
         :properties {}},
 :StartNodeRequest {:description "Request for StartNode.",
                    :properties {},
                    :id "StartNodeRequest",
                    :type "object"},
 :TensorFlowVersion {:id "TensorFlowVersion",
                     :type "object",
                     :properties {:name {:type "string",
                                         :description "The resource name."},
                                  :version {:description "the tensorflow version.",
                                            :type "string"}},
                     :description "A tensorflow version that a Node can be configured with."},
 :SchedulingConfig {:description "Sets the scheduling options for this node.",
                    :id "SchedulingConfig",
                    :properties {:reserved {:type "boolean",
                                            :description "Whether the node is created under a reservation."},
                                 :preemptible {:description "Defines whether the node is preemptible.",
                                               :type "boolean"}},
                    :type "object"},
 :ListLocationsResponse {:type "object",
                         :properties {:nextPageToken {:description "The standard List next-page token.",
                                                      :type "string"},
                                      :locations {:description "A list of locations that matches the specified filter in the request.",
                                                  :type "array",
                                                  :items {:$ref "Location"}}},
                         :description "The response message for Locations.ListLocations.",
                         :id "ListLocationsResponse"},
 :ListTensorFlowVersionsResponse {:properties {:tensorflowVersions {:description "The listed nodes.",
                                                                    :type "array",
                                                                    :items {:$ref "TensorFlowVersion"}},
                                               :unreachable {:description "Locations that could not be reached.",
                                                             :type "array",
                                                             :items {:type "string"}},
                                               :nextPageToken {:description "The next page token or empty if none.",
                                                               :type "string"}},
                                  :description "Response for ListTensorFlowVersions.",
                                  :type "object",
                                  :id "ListTensorFlowVersionsResponse"},
 :Node {:id "Node",
        :properties {:description {:type "string",
                                   :description "The user-supplied description of the TPU. Maximum of 512 characters."},
                     :serviceAccount {:readOnly true,
                                      :type "string",
                                      :description "Output only. The service account used to run the tensor flow services within the node. To share resources, including Google Cloud Storage data, with the Tensorflow job running in the Node, this account must have permissions to that data."},
                     :labels {:type "object",
                              :additionalProperties {:type "string"},
                              :description "Resource labels to represent user-provided metadata."},
                     :acceleratorType {:type "string",
                                       :description "Required. The type of hardware accelerators associated with this node."},
                     :schedulingConfig {:$ref "SchedulingConfig",
                                        :description "The scheduling options for this node."},
                     :name {:description "Output only. Immutable. The name of the TPU",
                            :type "string",
                            :readOnly true},
                     :symptoms {:type "array",
                                :readOnly true,
                                :description "Output only. The Symptoms that have occurred to the TPU Node.",
                                :items {:$ref "Symptom"}},
                     :healthDescription {:readOnly true,
                                         :type "string",
                                         :description "Output only. If this field is populated, it contains a description of why the TPU Node is unhealthy."},
                     :createTime {:readOnly true,
                                  :format "google-datetime",
                                  :type "string",
                                  :description "Output only. The time when the node was created."},
                     :state {:readOnly true,
                             :enumDescriptions ["TPU node state is not known/set."
                                                "TPU node is being created."
                                                "TPU node has been created and is fully usable."
                                                "TPU node is restarting."
                                                "TPU node is undergoing reimaging."
                                                "TPU node is being deleted."
                                                "TPU node is being repaired and may be unusable. Details can be found in the `help_description` field."
                                                "TPU node is stopped."
                                                "TPU node is currently stopping."
                                                "TPU node is currently starting."
                                                "TPU node has been preempted. Only applies to Preemptible TPU Nodes."
                                                "TPU node has been terminated due to maintenance or has reached the end of its life cycle (for preemptible nodes)."
                                                "TPU node is currently hiding."
                                                "TPU node has been hidden."
                                                "TPU node is currently unhiding."],
                             :type "string",
                             :description "Output only. The current state for the TPU Node.",
                             :enum ["STATE_UNSPECIFIED"
                                    "CREATING"
                                    "READY"
                                    "RESTARTING"
                                    "REIMAGING"
                                    "DELETING"
                                    "REPAIRING"
                                    "STOPPED"
                                    "STOPPING"
                                    "STARTING"
                                    "PREEMPTED"
                                    "TERMINATED"
                                    "HIDING"
                                    "HIDDEN"
                                    "UNHIDING"]},
                     :port {:description "Output only. DEPRECATED! Use network_endpoints instead. The network port for the TPU Node as visible to Compute Engine instances.",
                            :type "string"},
                     :useServiceNetworking {:description "Whether the VPC peering for the node is set up through Service Networking API. The VPC Peering should be set up before provisioning the node. If this field is set, cidr_block field should not be specified. If the network, that you want to peer the TPU Node to, is Shared VPC networks, the node must be created with this this field enabled.",
                                            :type "boolean"},
                     :networkEndpoints {:readOnly true,
                                        :type "array",
                                        :items {:$ref "NetworkEndpoint"},
                                        :description "Output only. The network endpoints where TPU workers can be accessed and sent work. It is recommended that Tensorflow clients of the node reach out to the 0th entry in this map first."},
                     :health {:type "string",
                              :enum ["HEALTH_UNSPECIFIED"
                                     "HEALTHY"
                                     "DEPRECATED_UNHEALTHY"
                                     "TIMEOUT"
                                     "UNHEALTHY_TENSORFLOW"
                                     "UNHEALTHY_MAINTENANCE"],
                              :description "The health status of the TPU node.",
                              :enumDescriptions ["Health status is unknown: not initialized or failed to retrieve."
                                                 "The resource is healthy."
                                                 "The resource is unhealthy."
                                                 "The resource is unresponsive."
                                                 "The in-guest ML stack is unhealthy."
                                                 "The node is under maintenance/priority boost caused rescheduling and will resume running once rescheduled."]},
                     :ipAddress {:type "string",
                                 :description "Output only. DEPRECATED! Use network_endpoints instead. The network address for the TPU Node as visible to Compute Engine instances."},
                     :network {:description "The name of a network they wish to peer the TPU node to. It must be a preexisting Compute Engine network inside of the project on which this API has been activated. If none is provided, \"default\" will be used.",
                               :type "string"},
                     :tensorflowVersion {:description "Required. The version of Tensorflow running in the Node.",
                                         :type "string"},
                     :cidrBlock {:type "string",
                                 :description "The CIDR block that the TPU node will use when selecting an IP address. This CIDR block must be a /29 block; the Compute Engine networks API forbids a smaller block, and using a larger block would be wasteful (a node can only consume one IP address). Errors will occur if the CIDR block has already been used for a currently existing TPU node, the CIDR block conflicts with any subnetworks in the user's provided network, or the provided network is peered with another network that is using that CIDR block."}},
        :description "A TPU instance.",
        :type "object"},
 :ListAcceleratorTypesResponse {:description "Response for ListAcceleratorTypes.",
                                :properties {:unreachable {:type "array",
                                                           :description "Locations that could not be reached.",
                                                           :items {:type "string"}},
                                             :nextPageToken {:description "The next page token or empty if none.",
                                                             :type "string"},
                                             :acceleratorTypes {:items {:$ref "AcceleratorType"},
                                                                :description "The listed nodes.",
                                                                :type "array"}},
                                :id "ListAcceleratorTypesResponse",
                                :type "object"},
 :OperationMetadata {:properties {:cancelRequested {:description "[Output only] Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
                                                    :type "boolean"},
                                  :verb {:type "string",
                                         :description "[Output only] Name of the verb executed by the operation."},
                                  :createTime {:format "google-datetime",
                                               :description "[Output only] The time the operation was created.",
                                               :type "string"},
                                  :target {:type "string",
                                           :description "[Output only] Server-defined resource path for the target of the operation."},
                                  :endTime {:description "[Output only] The time the operation finished running.",
                                            :format "google-datetime",
                                            :type "string"},
                                  :statusDetail {:type "string",
                                                 :description "[Output only] Human-readable status of the operation, if any."},
                                  :apiVersion {:type "string",
                                               :description "[Output only] API version used to start the operation."}},
                     :type "object",
                     :id "OperationMetadata",
                     :description "Represents the metadata of the long-running operation."},
 :ListOperationsResponse {:properties {:operations {:type "array",
                                                    :items {:$ref "Operation"},
                                                    :description "A list of operations that matches the specified filter in the request."},
                                       :nextPageToken {:type "string",
                                                       :description "The standard List next-page token."}},
                          :type "object",
                          :id "ListOperationsResponse",
                          :description "The response message for Operations.ListOperations."},
 :Location {:type "object",
            :id "Location",
            :properties {:name {:type "string",
                                :description "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"},
                         :metadata {:additionalProperties {:type "any",
                                                           :description "Properties of the object. Contains field @type with type URL."},
                                    :type "object",
                                    :description "Service-specific metadata. For example the available capacity at the given location."},
                         :displayName {:type "string",
                                       :description "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."},
                         :labels {:additionalProperties {:type "string"},
                                  :type "object",
                                  :description "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"},
                         :locationId {:type "string",
                                      :description "The canonical id for this location. For example: `\"us-east1\"`."}},
            :description "A resource that represents Google Cloud Platform location."},
 :ReimageNodeRequest {:properties {:tensorflowVersion {:description "The version for reimage to create.",
                                                       :type "string"}},
                      :description "Request for ReimageNode.",
                      :id "ReimageNodeRequest",
                      :type "object"},
 :NetworkEndpoint {:type "object",
                   :id "NetworkEndpoint",
                   :properties {:port {:format "int32",
                                       :type "integer",
                                       :description "The port of this network endpoint."},
                                :ipAddress {:type "string",
                                            :description "The IP address of this network endpoint."}},
                   :description "A network endpoint over which a TPU worker can be reached."},
 :Status {:type "object",
          :id "Status",
          :description "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
          :properties {:details {:description "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
                                 :items {:additionalProperties {:type "any",
                                                                :description "Properties of the object. Contains field @type with type URL."},
                                         :type "object"},
                                 :type "array"},
                       :message {:type "string",
                                 :description "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."},
                       :code {:type "integer",
                              :format "int32",
                              :description "The status code, which should be an enum value of google.rpc.Code."}}}}
