{:Operation {:id "Operation",
             :description "This resource represents a long-running operation that is the result of a network API call.",
             :type "object",
             :properties {:name {:description "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
                                 :type "string"},
                          :metadata {:description "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
                                     :type "object",
                                     :additionalProperties {:type "any",
                                                            :description "Properties of the object. Contains field @type with type URL."}},
                          :done {:description "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
                                 :type "boolean"},
                          :error {:description "The error result of the operation in case of failure or cancellation.",
                                  :$ref "Status"},
                          :response {:description "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
                                     :type "object",
                                     :additionalProperties {:type "any",
                                                            :description "Properties of the object. Contains field @type with type URL."}}}},
 :Subnet {:id "Subnet",
          :description "The subnet in which to house the connector",
          :type "object",
          :properties {:name {:description "Subnet name (relative, not fully qualified). E.g. if the full subnet selfLink is https://compute.googleapis.com/compute/v1/projects/{project}/regions/{region}/subnetworks/{subnetName} the correct input for this field would be {subnetName}",
                              :type "string"},
                       :projectId {:description "Project in which the subnet exists. If not set, this project is assumed to be the project for which the connector create request was issued.",
                                   :type "string"}}},
 :ListLocationsResponse {:id "ListLocationsResponse",
                         :description "The response message for Locations.ListLocations.",
                         :type "object",
                         :properties {:locations {:description "A list of locations that matches the specified filter in the request.",
                                                  :type "array",
                                                  :items {:$ref "Location"}},
                                      :nextPageToken {:description "The standard List next-page token.",
                                                      :type "string"}}},
 :ListConnectorsResponse {:id "ListConnectorsResponse",
                          :description "Response for listing Serverless VPC Access connectors.",
                          :type "object",
                          :properties {:connectors {:description "List of Serverless VPC Access connectors.",
                                                    :type "array",
                                                    :items {:$ref "Connector"}},
                                       :nextPageToken {:description "Continuation token.",
                                                       :type "string"}}},
 :OperationMetadata {:id "OperationMetadata",
                     :description "Metadata for google.longrunning.Operation.",
                     :type "object",
                     :properties {:method {:description "Output only. Method that initiated the operation e.g. google.cloud.vpcaccess.v1.Connectors.CreateConnector.",
                                           :readOnly true,
                                           :type "string"},
                                  :createTime {:description "Output only. Time when the operation was created.",
                                               :readOnly true,
                                               :type "string",
                                               :format "google-datetime"},
                                  :endTime {:description "Output only. Time when the operation completed.",
                                            :readOnly true,
                                            :type "string",
                                            :format "google-datetime"},
                                  :target {:description "Output only. Name of the resource that this operation is acting on e.g. projects/my-project/locations/us-central1/connectors/v1.",
                                           :readOnly true,
                                           :type "string"}}},
 :OperationMetadataV1Beta1 {:id "OperationMetadataV1Beta1",
                            :description "Metadata for google.longrunning.Operation.",
                            :type "object",
                            :properties {:method {:description "Output only. Method that initiated the operation e.g. google.cloud.vpcaccess.v1beta1.Connectors.CreateConnector.",
                                                  :readOnly true,
                                                  :type "string"},
                                         :createTime {:description "Output only. Time when the operation was created.",
                                                      :readOnly true,
                                                      :type "string",
                                                      :format "google-datetime"},
                                         :endTime {:description "Output only. Time when the operation completed.",
                                                   :readOnly true,
                                                   :type "string",
                                                   :format "google-datetime"},
                                         :target {:description "Output only. Name of the resource that this operation is acting on e.g. projects/my-project/locations/us-central1/connectors/v1.",
                                                  :readOnly true,
                                                  :type "string"}}},
 :Connector {:id "Connector",
             :description "Definition of a Serverless VPC Access connector.",
             :type "object",
             :properties {:name {:description "The resource name in the format `projects/*/locations/*/connectors/*`.",
                                 :type "string"},
                          :ipCidrRange {:description "The range of internal addresses that follows RFC 4632 notation. Example: `10.132.0.0/28`.",
                                        :type "string"},
                          :minInstances {:description "Minimum value of instances in autoscaling group underlying the connector.",
                                         :type "integer",
                                         :format "int32"},
                          :state {:description "Output only. State of the VPC access connector.",
                                  :readOnly true,
                                  :type "string",
                                  :enumDescriptions ["Invalid state."
                                                     "Connector is deployed and ready to receive traffic."
                                                     "An Insert operation is in progress. Transient condition."
                                                     "A Delete operation is in progress. Transient condition."
                                                     "Connector is in a bad state, manual deletion recommended."
                                                     "The connector is being updated."],
                                  :enum ["STATE_UNSPECIFIED"
                                         "READY"
                                         "CREATING"
                                         "DELETING"
                                         "ERROR"
                                         "UPDATING"]},
                          :machineType {:description "Machine type of VM Instance underlying connector. Default is e2-micro",
                                        :type "string"},
                          :minThroughput {:description "Minimum throughput of the connector in Mbps. Refers to the expected throughput when using an `e2-micro` machine type. Value must be a multiple of 100 from 200 through 900. Must be lower than the value specified by --max-throughput. If both min-throughput and min-instances are provided, min-instances takes precedence over min-throughput. The use of `min-throughput` is discouraged in favor of `min-instances`.",
                                          :type "integer",
                                          :format "int32"},
                          :network {:description "Name of a VPC network.",
                                    :type "string"},
                          :maxInstances {:description "Maximum value of instances in autoscaling group underlying the connector.",
                                         :type "integer",
                                         :format "int32"},
                          :maxThroughput {:description "Maximum throughput of the connector in Mbps. Refers to the expected throughput when using an `e2-micro` machine type. Value must be a multiple of 100 from 300 through 1000. Must be higher than the value specified by --min-throughput. If both max-throughput and max-instances are provided, max-instances takes precedence over max-throughput. The use of `max-throughput` is discouraged in favor of `max-instances`.",
                                          :type "integer",
                                          :format "int32"},
                          :subnet {:description "The subnet in which to house the VPC Access Connector.",
                                   :$ref "Subnet"},
                          :connectedProjects {:description "Output only. List of projects using the connector.",
                                              :readOnly true,
                                              :type "array",
                                              :items {:type "string"}}}},
 :ListOperationsResponse {:id "ListOperationsResponse",
                          :description "The response message for Operations.ListOperations.",
                          :type "object",
                          :properties {:operations {:description "A list of operations that matches the specified filter in the request.",
                                                    :type "array",
                                                    :items {:$ref "Operation"}},
                                       :nextPageToken {:description "The standard List next-page token.",
                                                       :type "string"}}},
 :Location {:id "Location",
            :description "A resource that represents a Google Cloud location.",
            :type "object",
            :properties {:name {:description "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
                                :type "string"},
                         :locationId {:description "The canonical id for this location. For example: `\"us-east1\"`.",
                                      :type "string"},
                         :displayName {:description "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
                                       :type "string"},
                         :labels {:description "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
                                  :type "object",
                                  :additionalProperties {:type "string"}},
                         :metadata {:description "Service-specific metadata. For example the available capacity at the given location.",
                                    :type "object",
                                    :additionalProperties {:type "any",
                                                           :description "Properties of the object. Contains field @type with type URL."}}}},
 :OperationMetadataV1Alpha1 {:id "OperationMetadataV1Alpha1",
                             :description "Metadata for google.longrunning.Operation.",
                             :type "object",
                             :properties {:method {:description "Output only. Method that initiated the operation e.g. google.cloud.vpcaccess.v1alpha1.Connectors.CreateConnector.",
                                                   :readOnly true,
                                                   :type "string"},
                                          :insertTime {:description "Output only. Time when the operation was created.",
                                                       :readOnly true,
                                                       :type "string",
                                                       :format "google-datetime"},
                                          :endTime {:description "Output only. Time when the operation completed.",
                                                    :readOnly true,
                                                    :type "string",
                                                    :format "google-datetime"},
                                          :target {:description "Output only. Name of the resource that this operation is acting on e.g. projects/my-project/locations/us-central1/connectors/v1.",
                                                   :readOnly true,
                                                   :type "string"}}},
 :Status {:id "Status",
          :description "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
          :type "object",
          :properties {:code {:description "The status code, which should be an enum value of google.rpc.Code.",
                              :type "integer",
                              :format "int32"},
                       :message {:description "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
                                 :type "string"},
                       :details {:description "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
                                 :type "array",
                                 :items {:type "object",
                                         :additionalProperties {:type "any",
                                                                :description "Properties of the object. Contains field @type with type URL."}}}}}}
