{:Webfont {:description "Metadata describing a family of fonts.",
           :id "Webfont",
           :properties {:version {:type "string",
                                  :description "The font version."},
                        :variants {:items {:type "string"},
                                   :description "The available variants for the font.",
                                   :type "array"},
                        :files {:description "The font files (with all supported scripts) for each one of the available variants, as a key : value map.",
                                :type "object",
                                :additionalProperties {:type "string"}},
                        :kind {:type "string",
                               :description "This kind represents a webfont object in the webfonts service."},
                        :lastModified {:type "string",
                                       :description "The date (format \"yyyy-MM-dd\") the font was modified for the last time."},
                        :family {:description "The name of the font.",
                                 :type "string"},
                        :category {:type "string",
                                   :description "The category of the font."},
                        :subsets {:description "The scripts supported by the font.",
                                  :type "array",
                                  :items {:type "string"}}},
           :type "object"},
 :WebfontList {:type "object",
               :description "Response containing the list of fonts currently served by the Google Fonts API.",
               :id "WebfontList",
               :properties {:items {:description "The list of fonts currently served by the Google Fonts API.",
                                    :items {:$ref "Webfont"},
                                    :type "array"},
                            :kind {:description "This kind represents a list of webfont objects in the webfonts service.",
                                   :type "string"}}}}
