{:WebfontList {:properties {:kind {:type "string",
                                   :description "This kind represents a list of webfont objects in the webfonts service."},
                            :items {:items {:$ref "Webfont"},
                                    :type "array",
                                    :description "The list of fonts currently served by the Google Fonts API."}},
               :id "WebfontList",
               :type "object",
               :description "Response containing the list of fonts currently served by the Google Fonts API."},
 :Webfont {:type "object",
           :properties {:version {:type "string",
                                  :description "The font version."},
                        :subsets {:description "The scripts supported by the font.",
                                  :type "array",
                                  :items {:type "string"}},
                        :files {:description "The font files (with all supported scripts) for each one of the available variants, as a key : value map.",
                                :additionalProperties {:type "string"},
                                :type "object"},
                        :lastModified {:type "string",
                                       :description "The date (format \"yyyy-MM-dd\") the font was modified for the last time."},
                        :category {:description "The category of the font.",
                                   :type "string"},
                        :kind {:type "string",
                               :description "This kind represents a webfont object in the webfonts service."},
                        :family {:type "string",
                                 :description "The name of the font."},
                        :variants {:description "The available variants for the font.",
                                   :items {:type "string"},
                                   :type "array"}},
           :id "Webfont",
           :description "Metadata describing a family of fonts."}}
