{:Webfont {:id "Webfont",
           :type "object",
           :properties {:category {:type "string",
                                   :description "The category of the font."},
                        :family {:type "string",
                                 :description "The name of the font."},
                        :files {:type "object",
                                :description "The font files (with all supported scripts) for each one of the available variants, as a key : value map.",
                                :additionalProperties {:type "string",
                                                       :description "The font file URL (value) for an specific variant (key)."}},
                        :kind {:type "string",
                               :description "This kind represents a webfont object in the webfonts service.",
                               :default "webfonts#webfont"},
                        :lastModified {:type "string",
                                       :description "The date (format \"yyyy-MM-dd\") the font was modified for the last time.",
                                       :format "date"},
                        :subsets {:type "array",
                                  :description "The scripts supported by the font.",
                                  :items {:type "string"}},
                        :variants {:type "array",
                                   :description "The available variants for the font.",
                                   :items {:type "string"}},
                        :version {:type "string",
                                  :description "The font version."}}},
 :WebfontList {:id "WebfontList",
               :type "object",
               :properties {:items {:type "array",
                                    :description "The list of fonts currently served by the Google Fonts API.",
                                    :items {:$ref "Webfont"}},
                            :kind {:type "string",
                                   :description "This kind represents a list of webfont objects in the webfonts service.",
                                   :default "webfonts#webfontList"}}}}
