{:Error {:id "Error",
         :description "Error describes why the execution was abnormally terminated.",
         :properties {:payload {:type "string",
                                :description "Error payload returned by the execution, represented as a JSON string."},
                      :context {:type "string",
                                :description "Human readable error context, helpful for debugging purposes."}},
         :type "object"},
 :CancelExecutionRequest {:properties {},
                          :type "object",
                          :description "Request for the CancelExecution method.",
                          :id "CancelExecutionRequest"},
 :Execution {:description "A running instance of a [Workflow](/workflows/docs/reference/rest/v1beta/projects.locations.workflows).",
             :properties {:argument {:description "Input parameters of the execution represented as a JSON string. The size limit is 32KB.",
                                     :type "string"},
                          :result {:readOnly true,
                                   :type "string",
                                   :description "Output only. Output of the execution represented as a JSON string. The value can only be present if the execution's state is `SUCCEEDED`."},
                          :name {:description "Output only. The resource name of the execution. Format: projects/{project}/locations/{location}/workflows/{workflow}/executions/{execution}",
                                 :readOnly true,
                                 :type "string"},
                          :workflowRevisionId {:type "string",
                                               :readOnly true,
                                               :description "Output only. Revision of the workflow this execution is using."},
                          :error {:readOnly true,
                                  :$ref "Error",
                                  :description "Output only. The error which caused the execution to finish prematurely. The value is only present if the execution's state is `FAILED` or `CANCELLED`."},
                          :endTime {:format "google-datetime",
                                    :readOnly true,
                                    :type "string",
                                    :description "Output only. Marks the end of execution, successful or not."},
                          :startTime {:readOnly true,
                                      :type "string",
                                      :description "Output only. Marks the beginning of execution.",
                                      :format "google-datetime"},
                          :state {:description "Output only. Current state of the execution.",
                                  :readOnly true,
                                  :enumDescriptions ["Invalid state."
                                                     "The execution is in progress."
                                                     "The execution finished successfully."
                                                     "The execution failed with an error."
                                                     "The execution was stopped intentionally."],
                                  :type "string",
                                  :enum ["STATE_UNSPECIFIED"
                                         "ACTIVE"
                                         "SUCCEEDED"
                                         "FAILED"
                                         "CANCELLED"]}},
             :type "object",
             :id "Execution"},
 :ListExecutionsResponse {:type "object",
                          :description "Response for the ListExecutions method.",
                          :id "ListExecutionsResponse",
                          :properties {:executions {:items {:$ref "Execution"},
                                                    :type "array",
                                                    :description "The executions which match the request."},
                                       :nextPageToken {:type "string",
                                                       :description "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."}}}}
