{:ListJobsResponse {:description "Response message for ReportingService.ListJobs.",
                    :id "ListJobsResponse",
                    :properties {:jobs {:type "array",
                                        :items {:$ref "Job"},
                                        :description "The list of jobs."},
                                 :nextPageToken {:type "string",
                                                 :description "A token to retrieve next page of results. Pass this value in the ListJobsRequest.page_token field in the subsequent call to `ListJobs` method to retrieve the next page of results."}},
                    :type "object"},
 :ReportType {:properties {:deprecateTime {:type "string",
                                           :format "google-datetime",
                                           :description "The date/time when this report type was/will be deprecated."},
                           :id {:description "The ID of the report type (max. 100 characters).",
                                :type "string"},
                           :systemManaged {:description "True if this a system-managed report type; otherwise false. Reporting jobs for system-managed report types are created automatically and can thus not be used in the `CreateJob` method.",
                                           :type "boolean"},
                           :name {:type "string",
                                  :description "The name of the report type (max. 100 characters)."}},
              :description "A report type.",
              :id "ReportType",
              :type "object"},
 :GdataDiffVersionResponse {:description "gdata",
                            :properties {:objectVersion {:type "string",
                                                         :description "gdata"},
                                         :objectSizeBytes {:type "string",
                                                           :format "int64",
                                                           :description "gdata"}},
                            :type "object",
                            :id "GdataDiffVersionResponse"},
 :GdataContentTypeInfo {:description "gdata",
                        :id "GdataContentTypeInfo",
                        :type "object",
                        :properties {:fromHeader {:description "gdata",
                                                  :type "string"},
                                     :fromFileName {:type "string",
                                                    :description "gdata"},
                                     :fromBytes {:type "string",
                                                 :description "gdata"},
                                     :bestGuess {:type "string",
                                                 :description "gdata"},
                                     :fromUrlPath {:description "gdata",
                                                   :type "string"}}},
 :GdataMedia {:properties {:path {:type "string",
                                  :description "gdata"},
                           :sha256Hash {:type "string",
                                        :description "gdata",
                                        :format "byte"},
                           :algorithm {:description "gdata",
                                       :type "string"},
                           :hash {:description "gdata",
                                  :type "string"},
                           :contentTypeInfo {:description "gdata",
                                             :$ref "GdataContentTypeInfo"},
                           :diffChecksumsResponse {:$ref "GdataDiffChecksumsResponse",
                                                   :description "gdata"},
                           :objectId {:description "gdata",
                                      :$ref "GdataObjectId"},
                           :crc32cHash {:format "uint32",
                                        :description "gdata",
                                        :type "integer"},
                           :isPotentialRetry {:description "gdata",
                                              :type "boolean"},
                           :diffVersionResponse {:$ref "GdataDiffVersionResponse",
                                                 :description "gdata"},
                           :blobRef {:description "gdata",
                                     :format "byte",
                                     :type "string"},
                           :bigstoreObjectRef {:type "string",
                                               :format "byte",
                                               :description "gdata"},
                           :cosmoBinaryReference {:format "byte",
                                                  :type "string",
                                                  :description "gdata"},
                           :md5Hash {:description "gdata",
                                     :format "byte",
                                     :type "string"},
                           :token {:type "string",
                                   :description "gdata"},
                           :filename {:type "string",
                                      :description "gdata"},
                           :diffUploadResponse {:description "gdata",
                                                :$ref "GdataDiffUploadResponse"},
                           :sha1Hash {:description "gdata",
                                      :type "string",
                                      :format "byte"},
                           :diffDownloadResponse {:$ref "GdataDiffDownloadResponse",
                                                  :description "gdata"},
                           :compositeMedia {:description "gdata",
                                            :items {:$ref "GdataCompositeMedia"},
                                            :type "array"},
                           :referenceType {:type "string",
                                           :description "gdata",
                                           :enum ["PATH"
                                                  "BLOB_REF"
                                                  "INLINE"
                                                  "GET_MEDIA"
                                                  "COMPOSITE_MEDIA"
                                                  "BIGSTORE_REF"
                                                  "DIFF_VERSION_RESPONSE"
                                                  "DIFF_CHECKSUMS_RESPONSE"
                                                  "DIFF_DOWNLOAD_RESPONSE"
                                                  "DIFF_UPLOAD_REQUEST"
                                                  "DIFF_UPLOAD_RESPONSE"
                                                  "COSMO_BINARY_REFERENCE"
                                                  "ARBITRARY_BYTES"],
                                           :enumDescriptions ["gdata"
                                                              "gdata"
                                                              "gdata"
                                                              "gdata"
                                                              "gdata"
                                                              "gdata"
                                                              "gdata"
                                                              "gdata"
                                                              "gdata"
                                                              "gdata"
                                                              "gdata"
                                                              "gdata"
                                                              "gdata"]},
                           :length {:description "gdata",
                                    :type "string",
                                    :format "int64"},
                           :downloadParameters {:$ref "GdataDownloadParameters",
                                                :description "gdata"},
                           :blobstore2Info {:$ref "GdataBlobstore2Info",
                                            :description "gdata"},
                           :hashVerified {:description "gdata",
                                          :type "boolean"},
                           :contentType {:type "string",
                                         :description "gdata"},
                           :diffUploadRequest {:description "gdata",
                                               :$ref "GdataDiffUploadRequest"},
                           :timestamp {:format "uint64",
                                       :description "gdata",
                                       :type "string"},
                           :inline {:description "gdata",
                                    :format "byte",
                                    :type "string"},
                           :mediaId {:format "byte",
                                     :type "string",
                                     :description "gdata"}},
              :description "gdata",
              :type "object",
              :id "GdataMedia"},
 :Report {:id "Report",
          :properties {:createTime {:format "google-datetime",
                                    :description "The date/time when this report was created.",
                                    :type "string"},
                       :downloadUrl {:description "The URL from which the report can be downloaded (max. 1000 characters).",
                                     :type "string"},
                       :jobExpireTime {:description "The date/time when the job this report belongs to will expire/expired.",
                                       :type "string",
                                       :format "google-datetime"},
                       :jobId {:description "The ID of the job that created this report.",
                               :type "string"},
                       :endTime {:type "string",
                                 :format "google-datetime",
                                 :description "The end of the time period that the report instance covers. The value is exclusive."},
                       :startTime {:type "string",
                                   :format "google-datetime",
                                   :description "The start of the time period that the report instance covers. The value is inclusive."},
                       :id {:description "The server-generated ID of the report.",
                            :type "string"}},
          :type "object",
          :description "A report's metadata including the URL from which the report itself can be downloaded."},
 :GdataDiffChecksumsResponse {:description "gdata",
                              :type "object",
                              :properties {:chunkSizeBytes {:format "int64",
                                                            :type "string",
                                                            :description "gdata"},
                                           :checksumsLocation {:$ref "GdataCompositeMedia",
                                                               :description "gdata"},
                                           :objectVersion {:type "string",
                                                           :description "gdata"},
                                           :objectLocation {:description "gdata",
                                                            :$ref "GdataCompositeMedia"},
                                           :objectSizeBytes {:format "int64",
                                                             :description "gdata",
                                                             :type "string"}},
                              :id "GdataDiffChecksumsResponse"},
 :GdataObjectId {:id "GdataObjectId",
                 :type "object",
                 :properties {:objectName {:description "gdata",
                                           :type "string"},
                              :generation {:type "string",
                                           :description "gdata",
                                           :format "int64"},
                              :bucketName {:description "gdata",
                                           :type "string"}},
                 :description "gdata"},
 :GdataDiffUploadResponse {:description "gdata",
                           :id "GdataDiffUploadResponse",
                           :properties {:objectVersion {:description "gdata",
                                                        :type "string"},
                                        :originalObject {:$ref "GdataCompositeMedia",
                                                         :description "gdata"}},
                           :type "object"},
 :GdataDiffUploadRequest {:description "gdata",
                          :id "GdataDiffUploadRequest",
                          :type "object",
                          :properties {:checksumsInfo {:$ref "GdataCompositeMedia",
                                                       :description "gdata"},
                                       :objectInfo {:description "gdata",
                                                    :$ref "GdataCompositeMedia"},
                                       :objectVersion {:description "gdata",
                                                       :type "string"}}},
 :GdataDownloadParameters {:id "GdataDownloadParameters",
                           :type "object",
                           :description "gdata",
                           :properties {:ignoreRange {:description "gdata",
                                                      :type "boolean"},
                                        :allowGzipCompression {:description "gdata",
                                                               :type "boolean"}}},
 :GdataCompositeMedia {:id "GdataCompositeMedia",
                       :description "gdata",
                       :type "object",
                       :properties {:path {:description "gdata",
                                           :type "string"},
                                    :objectId {:description "gdata",
                                               :$ref "GdataObjectId"},
                                    :crc32cHash {:format "uint32",
                                                 :description "gdata",
                                                 :type "integer"},
                                    :blobRef {:type "string",
                                              :format "byte",
                                              :description "gdata"},
                                    :cosmoBinaryReference {:format "byte",
                                                           :type "string",
                                                           :description "gdata"},
                                    :md5Hash {:type "string",
                                              :format "byte",
                                              :description "gdata"},
                                    :sha1Hash {:description "gdata",
                                               :type "string",
                                               :format "byte"},
                                    :referenceType {:enumDescriptions ["gdata"
                                                                       "gdata"
                                                                       "gdata"
                                                                       "gdata"
                                                                       "gdata"],
                                                    :type "string",
                                                    :enum ["PATH"
                                                           "BLOB_REF"
                                                           "INLINE"
                                                           "BIGSTORE_REF"
                                                           "COSMO_BINARY_REFERENCE"],
                                                    :description "gdata"},
                                    :length {:type "string",
                                             :description "gdata",
                                             :format "int64"},
                                    :blobstore2Info {:$ref "GdataBlobstore2Info",
                                                     :description "gdata"},
                                    :inline {:type "string",
                                             :description "gdata",
                                             :format "byte"}}},
 :ListReportsResponse {:description "Response message for ReportingService.ListReports.",
                       :id "ListReportsResponse",
                       :type "object",
                       :properties {:nextPageToken {:type "string",
                                                    :description "A token to retrieve next page of results. Pass this value in the ListReportsRequest.page_token field in the subsequent call to `ListReports` method to retrieve the next page of results."},
                                    :reports {:type "array",
                                              :items {:$ref "Report"},
                                              :description "The list of report types."}}},
 :Empty {:description "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
         :type "object",
         :id "Empty",
         :properties {}},
 :GdataDiffDownloadResponse {:properties {:objectLocation {:description "gdata",
                                                           :$ref "GdataCompositeMedia"}},
                             :type "object",
                             :id "GdataDiffDownloadResponse",
                             :description "gdata"},
 :Job {:properties {:expireTime {:description "The date/time when this job will expire/expired. After a job expired, no new reports are generated.",
                                 :format "google-datetime",
                                 :type "string"},
                    :reportTypeId {:type "string",
                                   :description "The type of reports this job creates. Corresponds to the ID of a ReportType."},
                    :systemManaged {:description "True if this a system-managed job that cannot be modified by the user; otherwise false.",
                                    :type "boolean"},
                    :name {:description "The name of the job (max. 100 characters).",
                           :type "string"},
                    :createTime {:type "string",
                                 :format "google-datetime",
                                 :description "The creation date/time of the job."},
                    :id {:type "string",
                         :description "The server-generated ID of the job (max. 40 characters)."}},
       :id "Job",
       :type "object",
       :description "A job creating reports of a specific type."},
 :GdataBlobstore2Info {:id "GdataBlobstore2Info",
                       :properties {:uploadMetadataContainer {:format "byte",
                                                              :description "gdata",
                                                              :type "string"},
                                    :readToken {:description "gdata",
                                                :type "string"},
                                    :downloadReadHandle {:format "byte",
                                                         :type "string",
                                                         :description "gdata"},
                                    :blobId {:description "gdata",
                                             :type "string"},
                                    :blobGeneration {:description "gdata",
                                                     :format "int64",
                                                     :type "string"}},
                       :type "object",
                       :description "gdata"},
 :ListReportTypesResponse {:id "ListReportTypesResponse",
                           :description "Response message for ReportingService.ListReportTypes.",
                           :type "object",
                           :properties {:reportTypes {:description "The list of report types.",
                                                      :items {:$ref "ReportType"},
                                                      :type "array"},
                                        :nextPageToken {:description "A token to retrieve next page of results. Pass this value in the ListReportTypesRequest.page_token field in the subsequent call to `ListReportTypes` method to retrieve the next page of results.",
                                                        :type "string"}}}}
