{:ListJobsResponse {:type "object",
                    :id "ListJobsResponse",
                    :properties {:jobs {:type "array",
                                        :description "The list of jobs.",
                                        :items {:$ref "Job"}},
                                 :nextPageToken {:description "A token to retrieve next page of results. Pass this value in the ListJobsRequest.page_token field in the subsequent call to `ListJobs` method to retrieve the next page of results.",
                                                 :type "string"}},
                    :description "Response message for ReportingService.ListJobs."},
 :ReportType {:type "object",
              :id "ReportType",
              :properties {:id {:type "string",
                                :description "The ID of the report type (max. 100 characters)."},
                           :name {:type "string",
                                  :description "The name of the report type (max. 100 characters)."},
                           :deprecateTime {:description "The date/time when this report type was/will be deprecated.",
                                           :format "google-datetime",
                                           :type "string"},
                           :systemManaged {:type "boolean",
                                           :description "True if this a system-managed report type; otherwise false. Reporting jobs for system-managed report types are created automatically and can thus not be used in the `CreateJob` method."}},
              :description "A report type."},
 :GdataDiffVersionResponse {:properties {:objectVersion {:description "gdata",
                                                         :type "string"},
                                         :objectSizeBytes {:type "string",
                                                           :description "gdata",
                                                           :format "int64"}},
                            :type "object",
                            :description "gdata",
                            :id "GdataDiffVersionResponse"},
 :GdataContentTypeInfo {:description "gdata",
                        :type "object",
                        :id "GdataContentTypeInfo",
                        :properties {:fromBytes {:description "gdata",
                                                 :type "string"},
                                     :fromUrlPath {:description "gdata",
                                                   :type "string"},
                                     :fromFileName {:type "string",
                                                    :description "gdata"},
                                     :fromHeader {:type "string",
                                                  :description "gdata"},
                                     :bestGuess {:description "gdata",
                                                 :type "string"}}},
 :GdataMedia {:id "GdataMedia",
              :description "gdata",
              :type "object",
              :properties {:path {:type "string",
                                  :description "gdata"},
                           :sha256Hash {:type "string",
                                        :description "gdata",
                                        :format "byte"},
                           :algorithm {:deprecated true,
                                       :type "string",
                                       :description "gdata"},
                           :hash {:description "gdata",
                                  :type "string",
                                  :deprecated true},
                           :contentTypeInfo {:$ref "GdataContentTypeInfo",
                                             :description "gdata"},
                           :diffChecksumsResponse {:$ref "GdataDiffChecksumsResponse",
                                                   :description "gdata"},
                           :objectId {:$ref "GdataObjectId",
                                      :description "gdata"},
                           :crc32cHash {:format "uint32",
                                        :type "integer",
                                        :description "gdata"},
                           :isPotentialRetry {:type "boolean",
                                              :description "gdata"},
                           :diffVersionResponse {:$ref "GdataDiffVersionResponse",
                                                 :description "gdata"},
                           :blobRef {:deprecated true,
                                     :description "gdata",
                                     :format "byte",
                                     :type "string"},
                           :bigstoreObjectRef {:deprecated true,
                                               :format "byte",
                                               :type "string",
                                               :description "gdata"},
                           :cosmoBinaryReference {:type "string",
                                                  :format "byte",
                                                  :description "gdata"},
                           :md5Hash {:type "string",
                                     :format "byte",
                                     :description "gdata"},
                           :token {:type "string",
                                   :description "gdata"},
                           :filename {:description "gdata",
                                      :type "string"},
                           :diffUploadResponse {:$ref "GdataDiffUploadResponse",
                                                :description "gdata"},
                           :sha1Hash {:format "byte",
                                      :description "gdata",
                                      :type "string"},
                           :diffDownloadResponse {:description "gdata",
                                                  :$ref "GdataDiffDownloadResponse"},
                           :compositeMedia {:items {:$ref "GdataCompositeMedia"},
                                            :description "gdata",
                                            :type "array"},
                           :referenceType {:description "gdata",
                                           :type "string",
                                           :enum ["PATH"
                                                  "BLOB_REF"
                                                  "INLINE"
                                                  "GET_MEDIA"
                                                  "COMPOSITE_MEDIA"
                                                  "BIGSTORE_REF"
                                                  "DIFF_VERSION_RESPONSE"
                                                  "DIFF_CHECKSUMS_RESPONSE"
                                                  "DIFF_DOWNLOAD_RESPONSE"
                                                  "DIFF_UPLOAD_REQUEST"
                                                  "DIFF_UPLOAD_RESPONSE"
                                                  "COSMO_BINARY_REFERENCE"
                                                  "ARBITRARY_BYTES"],
                                           :enumDescriptions ["gdata"
                                                              "gdata"
                                                              "gdata"
                                                              "gdata"
                                                              "gdata"
                                                              "gdata"
                                                              "gdata"
                                                              "gdata"
                                                              "gdata"
                                                              "gdata"
                                                              "gdata"
                                                              "gdata"
                                                              "gdata"]},
                           :length {:description "gdata",
                                    :type "string",
                                    :format "int64"},
                           :downloadParameters {:description "gdata",
                                                :$ref "GdataDownloadParameters"},
                           :blobstore2Info {:description "gdata",
                                            :$ref "GdataBlobstore2Info"},
                           :hashVerified {:description "gdata",
                                          :type "boolean"},
                           :contentType {:description "gdata",
                                         :type "string"},
                           :diffUploadRequest {:$ref "GdataDiffUploadRequest",
                                               :description "gdata"},
                           :timestamp {:description "gdata",
                                       :format "uint64",
                                       :type "string"},
                           :inline {:description "gdata",
                                    :format "byte",
                                    :type "string"},
                           :mediaId {:format "byte",
                                     :description "gdata",
                                     :type "string"}}},
 :Report {:id "Report",
          :description "A report's metadata including the URL from which the report itself can be downloaded.",
          :properties {:createTime {:type "string",
                                    :format "google-datetime",
                                    :description "The date/time when this report was created."},
                       :jobId {:type "string",
                               :description "The ID of the job that created this report."},
                       :endTime {:format "google-datetime",
                                 :description "The end of the time period that the report instance covers. The value is exclusive.",
                                 :type "string"},
                       :downloadUrl {:type "string",
                                     :description "The URL from which the report can be downloaded (max. 1000 characters)."},
                       :startTime {:description "The start of the time period that the report instance covers. The value is inclusive.",
                                   :type "string",
                                   :format "google-datetime"},
                       :id {:type "string",
                            :description "The server-generated ID of the report."},
                       :jobExpireTime {:description "The date/time when the job this report belongs to will expire/expired.",
                                       :format "google-datetime",
                                       :type "string"}},
          :type "object"},
 :GdataDiffChecksumsResponse {:type "object",
                              :description "gdata",
                              :properties {:chunkSizeBytes {:description "gdata",
                                                            :format "int64",
                                                            :type "string"},
                                           :objectSizeBytes {:type "string",
                                                             :format "int64",
                                                             :description "gdata"},
                                           :checksumsLocation {:description "gdata",
                                                               :$ref "GdataCompositeMedia"},
                                           :objectLocation {:$ref "GdataCompositeMedia",
                                                            :description "gdata"},
                                           :objectVersion {:type "string",
                                                           :description "gdata"}},
                              :id "GdataDiffChecksumsResponse"},
 :GdataObjectId {:id "GdataObjectId",
                 :type "object",
                 :properties {:objectName {:type "string",
                                           :description "gdata"},
                              :generation {:format "int64",
                                           :type "string",
                                           :description "gdata"},
                              :bucketName {:type "string",
                                           :description "gdata"}},
                 :description "gdata"},
 :GdataDiffUploadResponse {:type "object",
                           :properties {:originalObject {:$ref "GdataCompositeMedia",
                                                         :description "gdata"},
                                        :objectVersion {:type "string",
                                                        :description "gdata"}},
                           :description "gdata",
                           :id "GdataDiffUploadResponse"},
 :GdataDiffUploadRequest {:properties {:checksumsInfo {:$ref "GdataCompositeMedia",
                                                       :description "gdata"},
                                       :objectInfo {:$ref "GdataCompositeMedia",
                                                    :description "gdata"},
                                       :objectVersion {:description "gdata",
                                                       :type "string"}},
                          :id "GdataDiffUploadRequest",
                          :description "gdata",
                          :type "object"},
 :GdataDownloadParameters {:properties {:ignoreRange {:description "gdata",
                                                      :type "boolean"},
                                        :allowGzipCompression {:type "boolean",
                                                               :description "gdata"}},
                           :description "gdata",
                           :type "object",
                           :id "GdataDownloadParameters"},
 :GdataCompositeMedia {:type "object",
                       :description "gdata",
                       :id "GdataCompositeMedia",
                       :properties {:path {:description "gdata",
                                           :type "string"},
                                    :objectId {:$ref "GdataObjectId",
                                               :description "gdata"},
                                    :crc32cHash {:format "uint32",
                                                 :type "integer",
                                                 :description "gdata"},
                                    :blobRef {:format "byte",
                                              :type "string",
                                              :description "gdata",
                                              :deprecated true},
                                    :cosmoBinaryReference {:description "gdata",
                                                           :type "string",
                                                           :format "byte"},
                                    :md5Hash {:format "byte",
                                              :type "string",
                                              :description "gdata"},
                                    :sha1Hash {:type "string",
                                               :description "gdata",
                                               :format "byte"},
                                    :referenceType {:enum ["PATH"
                                                           "BLOB_REF"
                                                           "INLINE"
                                                           "BIGSTORE_REF"
                                                           "COSMO_BINARY_REFERENCE"],
                                                    :type "string",
                                                    :description "gdata",
                                                    :enumDescriptions ["gdata"
                                                                       "gdata"
                                                                       "gdata"
                                                                       "gdata"
                                                                       "gdata"]},
                                    :length {:description "gdata",
                                             :format "int64",
                                             :type "string"},
                                    :blobstore2Info {:$ref "GdataBlobstore2Info",
                                                     :description "gdata"},
                                    :inline {:type "string",
                                             :description "gdata",
                                             :format "byte"}}},
 :ListReportsResponse {:description "Response message for ReportingService.ListReports.",
                       :id "ListReportsResponse",
                       :properties {:reports {:items {:$ref "Report"},
                                              :description "The list of report types.",
                                              :type "array"},
                                    :nextPageToken {:type "string",
                                                    :description "A token to retrieve next page of results. Pass this value in the ListReportsRequest.page_token field in the subsequent call to `ListReports` method to retrieve the next page of results."}},
                       :type "object"},
 :Empty {:properties {},
         :type "object",
         :id "Empty",
         :description "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"},
 :GdataDiffDownloadResponse {:type "object",
                             :description "gdata",
                             :id "GdataDiffDownloadResponse",
                             :properties {:objectLocation {:description "gdata",
                                                           :$ref "GdataCompositeMedia"}}},
 :Job {:properties {:name {:description "The name of the job (max. 100 characters).",
                           :type "string"},
                    :createTime {:type "string",
                                 :format "google-datetime",
                                 :description "The creation date/time of the job."},
                    :id {:description "The server-generated ID of the job (max. 40 characters).",
                         :type "string"},
                    :expireTime {:format "google-datetime",
                                 :type "string",
                                 :description "The date/time when this job will expire/expired. After a job expired, no new reports are generated."},
                    :systemManaged {:type "boolean",
                                    :description "True if this a system-managed job that cannot be modified by the user; otherwise false."},
                    :reportTypeId {:type "string",
                                   :description "The type of reports this job creates. Corresponds to the ID of a ReportType."}},
       :type "object",
       :description "A job creating reports of a specific type.",
       :id "Job"},
 :GdataBlobstore2Info {:properties {:readToken {:description "gdata",
                                                :type "string"},
                                    :blobId {:type "string",
                                             :description "gdata"},
                                    :downloadReadHandle {:description "gdata",
                                                         :format "byte",
                                                         :type "string"},
                                    :uploadMetadataContainer {:format "byte",
                                                              :type "string",
                                                              :description "gdata"},
                                    :blobGeneration {:type "string",
                                                     :format "int64",
                                                     :description "gdata"}},
                       :id "GdataBlobstore2Info",
                       :description "gdata",
                       :type "object"},
 :ListReportTypesResponse {:type "object",
                           :description "Response message for ReportingService.ListReportTypes.",
                           :properties {:nextPageToken {:description "A token to retrieve next page of results. Pass this value in the ListReportTypesRequest.page_token field in the subsequent call to `ListReportTypes` method to retrieve the next page of results.",
                                                        :type "string"},
                                        :reportTypes {:type "array",
                                                      :description "The list of report types.",
                                                      :items {:$ref "ReportType"}}},
                           :id "ListReportTypesResponse"}}
