{:ListJobsResponse {:properties {:jobs {:description "The list of jobs.",
                                        :type "array",
                                        :items {:$ref "Job"}},
                                 :nextPageToken {:description "A token to retrieve next page of results.\nPass this value in the\nListJobsRequest.page_token\nfield in the subsequent call to `ListJobs` method to retrieve the next\npage of results.",
                                                 :type "string"}},
                    :id "ListJobsResponse",
                    :description "Response message for ReportingService.ListJobs.",
                    :type "object"},
 :ReportType {:description "A report type.",
              :type "object",
              :properties {:id {:type "string",
                                :description "The ID of the report type (max. 100 characters)."},
                           :systemManaged {:description "True if this a system-managed report type; otherwise false. Reporting jobs\nfor system-managed report types are created automatically and can thus not\nbe used in the `CreateJob` method.",
                                           :type "boolean"},
                           :deprecateTime {:description "The date/time when this report type was/will be deprecated.",
                                           :format "google-datetime",
                                           :type "string"},
                           :name {:description "The name of the report type (max. 100 characters).",
                                  :type "string"}},
              :id "ReportType"},
 :GdataDiffVersionResponse {:description "gdata",
                            :type "object",
                            :properties {:objectSizeBytes {:description "gdata",
                                                           :format "int64",
                                                           :type "string"},
                                         :objectVersion {:type "string",
                                                         :description "gdata"}},
                            :id "GdataDiffVersionResponse"},
 :GdataContentTypeInfo {:description "gdata",
                        :type "object",
                        :properties {:bestGuess {:description "gdata",
                                                 :type "string"},
                                     :fromUrlPath {:description "gdata",
                                                   :type "string"},
                                     :fromHeader {:description "gdata",
                                                  :type "string"},
                                     :fromBytes {:description "gdata",
                                                 :type "string"},
                                     :fromFileName {:type "string",
                                                    :description "gdata"}},
                        :id "GdataContentTypeInfo"},
 :GdataMedia {:properties {:path {:description "gdata",
                                  :type "string"},
                           :sha256Hash {:description "gdata",
                                        :format "byte",
                                        :type "string"},
                           :algorithm {:description "gdata",
                                       :type "string"},
                           :hash {:type "string",
                                  :description "gdata"},
                           :contentTypeInfo {:$ref "GdataContentTypeInfo",
                                             :description "gdata"},
                           :diffChecksumsResponse {:$ref "GdataDiffChecksumsResponse",
                                                   :description "gdata"},
                           :objectId {:$ref "GdataObjectId",
                                      :description "gdata"},
                           :crc32cHash {:description "gdata",
                                        :format "uint32",
                                        :type "integer"},
                           :isPotentialRetry {:description "gdata",
                                              :type "boolean"},
                           :diffVersionResponse {:description "gdata",
                                                 :$ref "GdataDiffVersionResponse"},
                           :blobRef {:description "gdata",
                                     :format "byte",
                                     :type "string"},
                           :bigstoreObjectRef {:description "gdata",
                                               :format "byte",
                                               :type "string"},
                           :cosmoBinaryReference {:type "string",
                                                  :description "gdata",
                                                  :format "byte"},
                           :md5Hash {:description "gdata",
                                     :format "byte",
                                     :type "string"},
                           :token {:type "string",
                                   :description "gdata"},
                           :filename {:type "string",
                                      :description "gdata"},
                           :diffUploadResponse {:$ref "GdataDiffUploadResponse",
                                                :description "gdata"},
                           :sha1Hash {:description "gdata",
                                      :format "byte",
                                      :type "string"},
                           :diffDownloadResponse {:$ref "GdataDiffDownloadResponse",
                                                  :description "gdata"},
                           :compositeMedia {:description "gdata",
                                            :type "array",
                                            :items {:$ref "GdataCompositeMedia"}},
                           :referenceType {:enumDescriptions ["gdata"
                                                              "gdata"
                                                              "gdata"
                                                              "gdata"
                                                              "gdata"
                                                              "gdata"
                                                              "gdata"
                                                              "gdata"
                                                              "gdata"
                                                              "gdata"
                                                              "gdata"
                                                              "gdata"
                                                              "gdata"],
                                           :enum ["PATH"
                                                  "BLOB_REF"
                                                  "INLINE"
                                                  "GET_MEDIA"
                                                  "COMPOSITE_MEDIA"
                                                  "BIGSTORE_REF"
                                                  "DIFF_VERSION_RESPONSE"
                                                  "DIFF_CHECKSUMS_RESPONSE"
                                                  "DIFF_DOWNLOAD_RESPONSE"
                                                  "DIFF_UPLOAD_REQUEST"
                                                  "DIFF_UPLOAD_RESPONSE"
                                                  "COSMO_BINARY_REFERENCE"
                                                  "ARBITRARY_BYTES"],
                                           :description "gdata",
                                           :type "string"},
                           :length {:description "gdata",
                                    :format "int64",
                                    :type "string"},
                           :downloadParameters {:description "gdata",
                                                :$ref "GdataDownloadParameters"},
                           :blobstore2Info {:$ref "GdataBlobstore2Info",
                                            :description "gdata"},
                           :hashVerified {:description "gdata",
                                          :type "boolean"},
                           :contentType {:description "gdata",
                                         :type "string"},
                           :diffUploadRequest {:description "gdata",
                                               :$ref "GdataDiffUploadRequest"},
                           :timestamp {:description "gdata",
                                       :format "uint64",
                                       :type "string"},
                           :inline {:description "gdata",
                                    :format "byte",
                                    :type "string"},
                           :mediaId {:description "gdata",
                                     :format "byte",
                                     :type "string"}},
              :id "GdataMedia",
              :description "gdata",
              :type "object"},
 :Report {:description "A report's metadata including the URL from which the report itself can be\ndownloaded.",
          :type "object",
          :properties {:jobExpireTime {:description "The date/time when the job this report belongs to will expire/expired.",
                                       :format "google-datetime",
                                       :type "string"},
                       :endTime {:description "The end of the time period that the report instance covers. The value is\nexclusive.",
                                 :format "google-datetime",
                                 :type "string"},
                       :downloadUrl {:description "The URL from which the report can be downloaded (max. 1000 characters).",
                                     :type "string"},
                       :startTime {:type "string",
                                   :description "The start of the time period that the report instance covers. The value is\ninclusive.",
                                   :format "google-datetime"},
                       :createTime {:description "The date/time when this report was created.",
                                    :format "google-datetime",
                                    :type "string"},
                       :jobId {:type "string",
                               :description "The ID of the job that created this report."},
                       :id {:type "string",
                            :description "The server-generated ID of the report."}},
          :id "Report"},
 :GdataDiffChecksumsResponse {:description "gdata",
                              :type "object",
                              :properties {:chunkSizeBytes {:description "gdata",
                                                            :format "int64",
                                                            :type "string"},
                                           :checksumsLocation {:description "gdata",
                                                               :$ref "GdataCompositeMedia"},
                                           :objectSizeBytes {:description "gdata",
                                                             :format "int64",
                                                             :type "string"},
                                           :objectLocation {:description "gdata",
                                                            :$ref "GdataCompositeMedia"},
                                           :objectVersion {:description "gdata",
                                                           :type "string"}},
                              :id "GdataDiffChecksumsResponse"},
 :GdataObjectId {:description "gdata",
                 :type "object",
                 :properties {:objectName {:description "gdata",
                                           :type "string"},
                              :bucketName {:description "gdata",
                                           :type "string"},
                              :generation {:type "string",
                                           :description "gdata",
                                           :format "int64"}},
                 :id "GdataObjectId"},
 :GdataDiffUploadResponse {:properties {:objectVersion {:description "gdata",
                                                        :type "string"},
                                        :originalObject {:description "gdata",
                                                         :$ref "GdataCompositeMedia"}},
                           :id "GdataDiffUploadResponse",
                           :description "gdata",
                           :type "object"},
 :GdataDiffUploadRequest {:description "gdata",
                          :type "object",
                          :properties {:objectVersion {:description "gdata",
                                                       :type "string"},
                                       :objectInfo {:description "gdata",
                                                    :$ref "GdataCompositeMedia"},
                                       :checksumsInfo {:description "gdata",
                                                       :$ref "GdataCompositeMedia"}},
                          :id "GdataDiffUploadRequest"},
 :GdataDownloadParameters {:id "GdataDownloadParameters",
                           :description "gdata",
                           :type "object",
                           :properties {:allowGzipCompression {:description "gdata",
                                                               :type "boolean"},
                                        :ignoreRange {:description "gdata",
                                                      :type "boolean"}}},
 :GdataCompositeMedia {:description "gdata",
                       :type "object",
                       :properties {:path {:type "string",
                                           :description "gdata"},
                                    :objectId {:$ref "GdataObjectId",
                                               :description "gdata"},
                                    :crc32cHash {:description "gdata",
                                                 :format "uint32",
                                                 :type "integer"},
                                    :blobRef {:type "string",
                                              :description "gdata",
                                              :format "byte"},
                                    :cosmoBinaryReference {:description "gdata",
                                                           :format "byte",
                                                           :type "string"},
                                    :md5Hash {:description "gdata",
                                              :format "byte",
                                              :type "string"},
                                    :sha1Hash {:description "gdata",
                                               :format "byte",
                                               :type "string"},
                                    :referenceType {:enumDescriptions ["gdata"
                                                                       "gdata"
                                                                       "gdata"
                                                                       "gdata"
                                                                       "gdata"],
                                                    :enum ["PATH"
                                                           "BLOB_REF"
                                                           "INLINE"
                                                           "BIGSTORE_REF"
                                                           "COSMO_BINARY_REFERENCE"],
                                                    :description "gdata",
                                                    :type "string"},
                                    :length {:type "string",
                                             :description "gdata",
                                             :format "int64"},
                                    :blobstore2Info {:description "gdata",
                                                     :$ref "GdataBlobstore2Info"},
                                    :inline {:type "string",
                                             :description "gdata",
                                             :format "byte"}},
                       :id "GdataCompositeMedia"},
 :ListReportsResponse {:type "object",
                       :properties {:nextPageToken {:description "A token to retrieve next page of results.\nPass this value in the\nListReportsRequest.page_token\nfield in the subsequent call to `ListReports` method to retrieve the next\npage of results.",
                                                    :type "string"},
                                    :reports {:description "The list of report types.",
                                              :type "array",
                                              :items {:$ref "Report"}}},
                       :id "ListReportsResponse",
                       :description "Response message for ReportingService.ListReports."},
 :Empty {:properties {},
         :id "Empty",
         :description "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`.",
         :type "object"},
 :GdataDiffDownloadResponse {:description "gdata",
                             :type "object",
                             :properties {:objectLocation {:$ref "GdataCompositeMedia",
                                                           :description "gdata"}},
                             :id "GdataDiffDownloadResponse"},
 :Job {:description "A job creating reports of a specific type.",
       :type "object",
       :properties {:createTime {:description "The creation date/time of the job.",
                                 :format "google-datetime",
                                 :type "string"},
                    :reportTypeId {:description "The type of reports this job creates. Corresponds to the ID of a\nReportType.",
                                   :type "string"},
                    :expireTime {:description "The date/time when this job will expire/expired. After a job expired, no\nnew reports are generated.",
                                 :format "google-datetime",
                                 :type "string"},
                    :name {:description "The name of the job (max. 100 characters).",
                           :type "string"},
                    :systemManaged {:description "True if this a system-managed job that cannot be modified by the user;\notherwise false.",
                                    :type "boolean"},
                    :id {:description "The server-generated ID of the job (max. 40 characters).",
                         :type "string"}},
       :id "Job"},
 :GdataBlobstore2Info {:type "object",
                       :properties {:blobId {:type "string",
                                             :description "gdata"},
                                    :downloadReadHandle {:description "gdata",
                                                         :format "byte",
                                                         :type "string"},
                                    :readToken {:description "gdata",
                                                :type "string"},
                                    :uploadMetadataContainer {:description "gdata",
                                                              :format "byte",
                                                              :type "string"},
                                    :blobGeneration {:description "gdata",
                                                     :format "int64",
                                                     :type "string"}},
                       :id "GdataBlobstore2Info",
                       :description "gdata"},
 :ListReportTypesResponse {:type "object",
                           :properties {:reportTypes {:description "The list of report types.",
                                                      :type "array",
                                                      :items {:$ref "ReportType"}},
                                        :nextPageToken {:type "string",
                                                        :description "A token to retrieve next page of results.\nPass this value in the\nListReportTypesRequest.page_token\nfield in the subsequent call to `ListReportTypes` method to retrieve the\nnext page of results."}},
                           :id "ListReportTypesResponse",
                           :description "Response message for ReportingService.ListReportTypes."}}
